---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:525:\"Open Data API
  for RTR-Netztest\n For further information, please consult <https://www.netztest.at/en/Opendata>\n
  For high-volume requests, please contact RTR (netztest@rtr.at) for instructions
  regarding the parameter \"sender\". Users with a registered sender ID can be informed
  in case of major interface changes.\n Data accessible via the Open Data Interface
  are made available under Creative Commons Attribution 4.0 (CC BY 4.0). Regarding
  privacy policy and terms of use, please refer to https://www.rtr.at/en/tk/netztestterms.\";s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:20:\"RTR
  NetTest OpenData\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:17:\"RTR-Netztest-Team\";s:3:\"url\";s:23:\"https://www.netztest.at\";s:5:\"email\";s:15:\"netztest@rtr.at\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: data.netztest.at
basePath: /RMBTStatisticServer
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:10:\"CellInfo2G\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"lac\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:47170;s:11:\"description\";s:35:\"16-bit
  Location Area Code, 0..65535\";}s:3:\"cid\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:18804;s:11:\"description\";s:57:\"16-bit
  GSM Cell Identity described in TS 27.007, 0..65535\";}s:4:\"bsic\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:58;s:11:\"description\";s:32:\"6-bit
  Base Station Identity Code\";}s:5:\"arfcn\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1021;s:11:\"description\";s:37:\"16-bit
  GSM Absolute RF Channel Number\";}s:12:\"frequency_dl\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:934.39999999999998;s:11:\"description\";s:32:\"Frequency
  of the downlink in MHz\";s:8:\"readOnly\";b:1;}s:4:\"band\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:4:\"Band\";s:8:\"readOnly\";b:1;}}}s:10:\"CellInfo3G\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"lac\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2510;s:11:\"description\";s:35:\"16-bit
  Location Area Code, 0..65535\";}s:3:\"cid\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:9908484;s:11:\"description\";s:66:\"CID
  28-bit UMTS Cell Identity described in TS 25.331, 0..268435455\";}s:3:\"psc\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:27;s:11:\"description\";s:65:\"9-bit
  UMTS Primary Scrambling Code described in TS 25.331, 0..511\";}s:6:\"uarfcn\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10687;s:11:\"description\";s:38:\"16-bit
  UMTS Absolute RF Channel Number\";}s:12:\"frequency_dl\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:934.39999999999998;s:11:\"description\";s:32:\"Frequency
  of the downlink in MHz\";s:8:\"readOnly\";b:1;}s:4:\"band\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:4:\"Band\";s:8:\"readOnly\";b:1;}}}s:10:\"CellInfo4G\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"tac\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:6710;s:11:\"description\";s:25:\"16-bit
  Tracking Area Code\";}s:2:\"ci\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:189954;s:11:\"description\";s:20:\"28-bit
  Cell Identity\";}s:3:\"pci\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:35;s:11:\"description\";s:23:\"Physical
  Cell Id 0..503\";}s:6:\"earfcn\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2850;s:11:\"description\";s:33:\"18-bit
  Absolute RF Channel Number\";}s:12:\"frequency_dl\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:934.39999999999998;s:11:\"description\";s:32:\"Frequency
  of the downlink in MHz\";s:8:\"readOnly\";b:1;}s:4:\"band\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:4:\"Band\";s:8:\"readOnly\";b:1;}}}s:17:\"LocationGraphItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"bearing\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:195.40000000000001;s:11:\"description\";s:130:\"Direction
  of travel of the hosting device in degrees, where 0\xB0 \u2264 bearing < 360\xB0,
  counting clockwise relative to the true north\";}s:5:\"speed\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:22.399999999999999;s:11:\"description\";s:47:\"Speed
  of the client device in meters per second\";}s:8:\"altitude\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:300.39999999999998;s:11:\"description\";s:41:\"Altitude
  of the client position in meters\";}s:4:\"long\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:14.20882799;s:11:\"description\";s:33:\"Longitude
  of the client position.\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:47.760777859999997;s:11:\"description\";s:32:\"Latitude
  of the client position.\";}s:12:\"loc_accuracy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:8;s:11:\"description\";s:42:\"Estimation
  of accuracy of client location.\";}s:12:\"time_elapsed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:55;s:11:\"description\";s:61:\"The
  time elapsed since the start of the test in milliseconds.\";}s:7:\"loc_src\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"gps\";s:11:\"description\";s:67:\"Source
  for the geo location-data. Values: \u201Cgps\u201D, \u201Cnetwork\u201D.\";}}}s:11:\"OpenTestDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"open_uuid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"P9f2b7bb1-39ea-454e-aa97-538564d7f8f1\";s:11:\"description\";s:28:\"Open
  UUID identifying a test\";}s:14:\"open_test_uuid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"Oa1f286be-3c91-4f7d-b3d3-29d0e143e20d\";s:11:\"description\";s:28:\"Open
  UUID identifying a user\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"2018-07-15
  01:55\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:48.202902399999999;s:11:\"description\";s:32:\"Latitude
  of the client position.\";}s:4:\"long\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:16.396784100000001;s:11:\"description\";s:33:\"Longitude
  of the client position.\";}s:13:\"download_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:6903;s:11:\"description\";s:36:\"Download
  speed in kilobit per second\";}s:11:\"upload_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1565;s:11:\"description\";s:34:\"Upload
  speed in kilobit per second\";}s:7:\"ping_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:16.178334;s:11:\"description\";s:174:\"Median
  ping (round-trip time) in milliseconds, measured on the server side. In previous
  versions (before June 3rd 2015) this was the minimum ping measured on the client
  side.\";}s:15:\"signal_strength\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-56;s:11:\"description\";s:30:\"Signal
  strength (RSSI) in dBm.\";}s:8:\"lte_rsrp\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-81;s:11:\"description\";s:27:\"LTE
  signal strength in dBm.\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"RMBTws\";s:11:\"description\";s:314:\"Platform
  on which the test has been conducted. E.g.\n* \u201CAndroid\u201D (= Google Android
  App),\n* \u201CiOS\u201D (= Apple iOs App),\n* Applet (= Java applet test within
  a browser),\n* RMBTjs (= simple JavaScript test within a browser, without Java),\n*
  RMBTws (= advanced JavaScript test using WebSockets within the browser).\n\";}s:13:\"provider_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Provider\";s:11:\"description\";s:38:\"Name
  of the internet service provider.\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Sony
  Xperia Tablet Z LTE\";s:11:\"description\";s:24:\"Name of the device used.\";}s:12:\"loc_accuracy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:15.279999999999999;s:11:\"description\";s:51:\"Estimation
  of accuracy of client location in meters\";}s:23:\"download_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;s:11:\"description\";s:110:\"Classification
  for the download speed in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}s:21:\"upload_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:108:\"Classification
  for the upload speed in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}s:19:\"ping_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:3;s:11:\"description\";s:106:\"Classification
  for the ping speed in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}s:21:\"signal_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:3;s:11:\"description\";s:110:\"Classification
  for the signal quality in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}}}s:18:\"OpenTestDetailsDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":85:{s:9:\"open_uuid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"P9f2b7bb1-39ea-454e-aa97-538564d7f8f1\";s:11:\"description\";s:28:\"Open
  UUID identifying a test\";}s:14:\"open_test_uuid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"Oa1f286be-3c91-4f7d-b3d3-29d0e143e20d\";s:11:\"description\";s:28:\"Open
  UUID identifying a user\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"2018-07-15
  01:55\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:48.202902399999999;s:11:\"description\";s:32:\"Latitude
  of the client position.\";}s:4:\"long\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:16.396784100000001;s:11:\"description\";s:33:\"Longitude
  of the client position.\";}s:13:\"download_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:6903;s:11:\"description\";s:36:\"Download
  speed in kilobit per second\";}s:11:\"upload_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1565;s:11:\"description\";s:34:\"Upload
  speed in kilobit per second\";}s:7:\"ping_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:16.178334;s:11:\"description\";s:174:\"Median
  ping (round-trip time) in milliseconds, measured on the server side. In previous
  versions (before June 3rd 2015) this was the minimum ping measured on the client
  side.\";}s:15:\"signal_strength\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-56;s:11:\"description\";s:30:\"Signal
  strength (RSSI) in dBm.\";}s:8:\"lte_rsrp\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-81;s:11:\"description\";s:27:\"LTE
  signal strength in dBm.\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"RMBTws\";s:11:\"description\";s:314:\"Platform
  on which the test has been conducted. E.g.\n* \u201CAndroid\u201D (= Google Android
  App),\n* \u201CiOS\u201D (= Apple iOs App),\n* Applet (= Java applet test within
  a browser),\n* RMBTjs (= simple JavaScript test within a browser, without Java),\n*
  RMBTws (= advanced JavaScript test using WebSockets within the browser).\n\";}s:13:\"provider_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Provider\";s:11:\"description\";s:38:\"Name
  of the internet service provider.\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Sony
  Xperia Tablet Z LTE\";s:11:\"description\";s:24:\"Name of the device used.\";}s:12:\"loc_accuracy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:15.279999999999999;s:11:\"description\";s:51:\"Estimation
  of accuracy of client location in meters\";}s:23:\"download_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;s:11:\"description\";s:110:\"Classification
  for the download speed in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}s:21:\"upload_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:108:\"Classification
  for the upload speed in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}s:19:\"ping_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:3;s:11:\"description\";s:106:\"Classification
  for the ping speed in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}s:21:\"signal_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2;s:11:\"description\";s:65:\"Classification
  for the signal strength in a traffic-light system.\";}s:8:\"distance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:134;s:11:\"description\";s:43:\"The
  distance that the user moved in meters.\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"cat_technology\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"4G\";s:11:\"description\";s:72:\"Technology
  category of the network, e.g. \u201C3G\u201D, \u201C4G\u201D, \u201CWLAN\u201D.\";}s:12:\"network_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"WLAN\";s:11:\"description\";s:44:\"Type
  of the network, e.g. MOBILE, LAN, WLAN.\";}s:7:\"loc_src\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"gps\";s:11:\"description\";s:67:\"Source
  for the geo location-data. Values: \u201Cgps\u201D, \u201Cnetwork\u201D.\";s:4:\"enum\";a:2:{i:0;s:3:\"gps\";i:1;s:7:\"network\";}}s:17:\"public_ip_as_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"AS32768
  Provider\";s:11:\"description\";s:40:\"Name of the AS of the clients public IP.\";}s:8:\"zip_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Obsolete,
  always 'null'\";}s:5:\"kg_nr\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1009;s:11:\"description\";s:120:\"Number
  of the cadastral community, see <http://www.bev.gv.at/portal/page?_pageid=713,2601287&_dad=portal&_schema=PORTAL>\";}s:3:\"gkz\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:90001;s:11:\"description\";s:119:\"Community
  ID (Gemeindekennzahl, see <http://www.bev.gv.at/portal/page?_pageid=713,2601287&_dad=portal&_schema=PORTAL>).\";}s:6:\"gkz_sa\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:90601;s:11:\"description\";s:130:\"Community
  ID (Gemeindekennzahl, see <http://www.statistik.at/web_de/klassifikationen/regionale_gliederungen/gemeinden/index.html>)\";}s:10:\"land_cover\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:112;s:11:\"description\";s:241:\"Classification
  of the land cover within austria, see <http://www.umweltbundesamt.at/fileadmin/site/umweltthemen/raumplanung/1_flaechennutzung/corine/CORINE_Nomenklatur.pdf>
  and <https://www.eea.europa.eu/data-and-maps/data/clc-2006-vector-4>\";}s:8:\"locality\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Mariahilf\";s:11:\"description\";s:119:\"Name
  of the cadastral community, see: <http://www.bev.gv.at/portal/page?_pageid=713,2601287&_dad=portal&_schema=PORTAL>\";}s:9:\"community\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Wien\";s:11:\"description\";s:38:\"Name
  of Austrian community (Gemeinde).\";}s:8:\"district\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Mistelbach\";s:11:\"description\";s:35:\"Name
  of Austrian district (Bezirk).\";}s:8:\"province\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Wien\";s:11:\"description\";s:38:\"Name
  of Austrian province (Bundesland)\";}s:8:\"lte_rsrq\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:-6;s:11:\"description\";s:30:\"LTE
  signal quality in decibels\";}s:11:\"server_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"RTR-DEVELOP-SERVER\";s:11:\"description\";s:24:\"Name
  of the test-server.\";}s:11:\"implausible\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:43:\"Identification
  of implausible test results.\";}s:6:\"pinned\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"_True_,
  if if the test is relevant for generating the statistics (e.g. not part of a series)\";}s:13:\"test_duration\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:7;s:11:\"description\";s:64:\"Duration
  of the test per direction (up- or download) in seconds.\";}s:21:\"num_threads_requested\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:3;s:11:\"description\";s:42:\"Number
  of threads requested by the server.\";}s:11:\"num_threads\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:3;s:11:\"description\";s:45:\"Number
  of threads used for the downlink test.\";}s:14:\"num_threads_ul\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:3;s:11:\"description\";s:43:\"Number
  of threads used for the uplink test.\";}s:12:\"model_native\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"SGP321\";s:11:\"description\";s:41:\"Name
  of the device used, raw device name.\";}s:7:\"product\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"SGP321\";s:11:\"description\";s:26:\"Name
  of the client device.\";}s:14:\"client_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"1.1\";s:11:\"description\";s:38:\"Software
  version number of the client.\";}s:15:\"network_mcc_mnc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"232-05\";s:11:\"description\";s:165:\"Network
  identification whereas the first three digits represent the country, the digits
  following the dash represent the mobile network provider within that country.\";}s:15:\"network_country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"DE\";s:11:\"description\";s:35:\"Country
  of the network in ISO 3166.\";}s:12:\"roaming_type\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1;s:11:\"description\";s:122:\"Integer
  representing the roaming status of the client:\n* 0: no roaming,\n* 1: national
  roaming,\n* 2: international roaming.\";s:4:\"enum\";a:3:{i:0;i:0;i:1;i:1;i:2;i:2;}}s:12:\"network_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"3
  AT\";s:11:\"description\";s:35:\"Display name of the mobile network.\";}s:11:\"sim_mcc_mnc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"232-01\";s:11:\"description\";s:130:\"Network
  identification of the SIM provider. The digits of MCC and MNC have the same meaning
  as described in \u201Cnetwork_mcc_mnc\u201D.\";}s:11:\"sim_country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"AT\";s:11:\"description\";s:41:\"Home
  country of the SIM card in ISO 3166.\";}s:10:\"connection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"nat_local_to_public_ipv4\";s:11:\"description\";s:101:\"Type
  of connection in terms of NAT and IP-Version (e.g. behind NAT with local to public
  IP and IPv4).\";}s:3:\"asn\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:6830;s:11:\"description\";s:25:\"Autonomous
  system number.\";}s:9:\"ip_anonym\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"80.108.108\";s:11:\"description\";s:40:\"The
  anonymized IP-Address of the client.\";}s:17:\"ndt_download_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1443;s:11:\"description\";s:53:\"Download
  speed in the NDT-test in kilobit per second.\";}s:15:\"ndt_upload_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:2334;s:11:\"description\";s:51:\"Upload
  speed in the NDT-test in kilobit per second.\";}s:13:\"country_geoip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"HU\";s:11:\"description\";s:36:\"Country
  according client IP address.\";}s:11:\"country_asn\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"FI\";s:11:\"description\";s:27:\"Country
  of AS of client IP.\";}s:16:\"country_location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"FR\";s:11:\"description\";s:24:\"Country
  of geo-location.\";}s:14:\"bytes_download\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:13653343;s:11:\"description\";s:81:\"Total
  number of bytes downloaded during download test (excluding training-phase).\";}s:12:\"bytes_upload\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:3712431;s:11:\"description\";s:77:\"Total
  number of bytes uploaded during upload test (excluding training-phase).\";}s:22:\"test_if_bytes_download\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:4991145;s:11:\"description\";s:81:\"Data
  volume received on the interface during the test (including training phase).\";}s:20:\"test_if_bytes_upload\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1961967;s:11:\"description\";s:84:\"Data
  volume transmitted on the interface during the test (including training phase).\";}s:24:\"testdl_if_bytes_download\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:4580781;s:11:\"description\";s:63:\"Data
  volume received on the interface during the download test.\";}s:22:\"testdl_if_bytes_upload\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:107077;s:11:\"description\";s:66:\"Data
  volume transmitted on the interface during the download test.\";}s:24:\"testul_if_bytes_download\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:57372;s:11:\"description\";s:61:\"Data
  volume received on the interface during the upload test.\";}s:22:\"testul_if_bytes_upload\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1627790;s:11:\"description\";s:64:\"Data
  volume transmitted on the interface during the upload test.\";}s:20:\"duration_download_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:7000.1300000000001;s:11:\"description\";s:32:\"Duration
  of download test in ms.\";}s:18:\"duration_upload_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:7000.1099999999997;s:11:\"description\";s:30:\"Duration
  of upload test in ms.\";}s:10:\"time_dl_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:3692.1500000000001;s:11:\"description\";s:38:\"Relative
  start time of download in ms.\";}s:10:\"time_ul_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:13496.540000000001;s:11:\"description\";s:36:\"Relative
  start time of upload in ms.\";}s:14:\"channel_number\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:397;s:11:\"description\";s:198:\"Channel
  number of the radio channel used during a measurement. E.g. the 18-bit Absolute
  RF Channel Number (EARFCN) in case of 4G or the 16-bit UMTS Absolute RF Channel
  Number (UARFCN) in case of 3G.\";}s:10:\"radio_band\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:20;s:11:\"description\";s:41:\"Radio
  band used when conducting the test.\";}s:14:\"cell_area_code\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:10156;s:11:\"description\";s:148:\"Number
  describing the coarse location of a cell. E.g. the Tracking Area Code (TAC) in case
  of 4G or the Location Area Code (LAC) in case of 2G or 3G\";}s:16:\"cell_location_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:28708964;s:11:\"description\";s:198:\"Number
  identifying the location of a cell. E.g. the 28-bit Cell Identity (CI) in case of
  4G, the 28-bit UMTS Cell Identity (CID) in case of UMTS or the 16-bit GSM Cell Identity
  (CID) in case of GSM.\";}s:15:\"wifi_link_speed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:7562;s:11:\"description\";s:45:\"WLAN
  link speed according to the Android API.\";}s:15:\"settlement_type\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:262:\"Settlement
  type (Austrian \"Dauersiedlungsraum\")\n 1 = Area which can not be used for settlement,
  classification based on CORINE \n 2 = Area which can be used for settlement, classification
  based on CORINE \n3 = Settlement in 250m rasters with at least 6 inhabitants\";}s:7:\"link_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:461004537;s:11:\"description\";s:53:\"Link
  ID (as defined by GIP) of the road/railway line.\";}s:9:\"link_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"A14\";s:11:\"description\";s:28:\"Road/raiway
  line identifier.\";}s:13:\"link_distance\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:0;s:11:\"description\";s:32:\"Distance
  from road/railway line.\";}s:7:\"edge_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:15460011788;s:11:\"description\";s:53:\"Edge
  ID (as defined by GIP) of the road/railway line.\";}s:10:\"link_name1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"Dr.-A.-Heinzle-Stra\xDFe\";s:11:\"description\";s:37:\"Long
  name of the street/railway line.\";}s:10:\"link_name2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"L190
  - Vorarlberger Stra\xDFe\";s:11:\"description\";s:43:\"Additional name of the street/railway
  line.\";}s:8:\"link_frc\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:0;s:11:\"description\";s:42:\"Functional
  road class (as defined by GIP).\";}s:11:\"speed_curve\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Aggregated
  history of transferred data bytes during a test.\";s:4:\"$ref\";s:30:\"#/definitions/OpenTestGraphDTO\";}s:22:\"speed_curve_threadwise\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:87:\"History
  of transferred data bytes per thread during a test. Returned only if verbose>0.\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SpeedItemThreadwise\";}}}}}}s:17:\"OpenTestExportDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":48:{s:9:\"open_uuid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"P9f2b7bb1-39ea-454e-aa97-538564d7f8f1\";s:11:\"description\";s:28:\"Open
  UUID identifying a test\";}s:14:\"open_test_uuid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"Oa1f286be-3c91-4f7d-b3d3-29d0e143e20d\";s:11:\"description\";s:28:\"Open
  UUID identifying a user\";}s:8:\"time_utc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"2018-07-15
  01:55\";}s:14:\"cat_technology\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/OpenTestDetailsDTO/properties/cat_technology\";}s:12:\"network_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/OpenTestDetailsDTO/properties/network_type\";}s:3:\"lat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:48.202902399999999;s:11:\"description\";s:32:\"Latitude
  of the client position.\";}s:4:\"long\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:16.396784100000001;s:11:\"description\";s:33:\"Longitude
  of the client position.\";}s:7:\"loc_src\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/OpenTestDetailsDTO/properties/loc_src\";}s:12:\"loc_accuracy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:15.279999999999999;s:11:\"description\";s:51:\"Estimation
  of accuracy of client location in meters\";}s:3:\"gkz\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/OpenTestDetailsDTO/properties/gkz\";}s:8:\"zip_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/OpenTestDetailsDTO/properties/zip_code\";}s:16:\"country_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/OpenTestDetailsDTO/properties/country_location\";}s:13:\"download_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:6903;s:11:\"description\";s:36:\"Download
  speed in kilobit per second\";}s:11:\"upload_kbit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1565;s:11:\"description\";s:34:\"Upload
  speed in kilobit per second\";}s:7:\"ping_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:16.178334;s:11:\"description\";s:174:\"Median
  ping (round-trip time) in milliseconds, measured on the server side. In previous
  versions (before June 3rd 2015) this was the minimum ping measured on the client
  side.\";}s:8:\"lte_rsrp\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-81;s:11:\"description\";s:27:\"LTE
  signal strength in dBm.\";}s:8:\"lte_rsrq\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/OpenTestDetailsDTO/properties/lte_rsrq\";}s:11:\"server_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/OpenTestDetailsDTO/properties/server_name\";}s:13:\"test_duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/OpenTestDetailsDTO/properties/test_duration\";}s:11:\"num_threads\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/OpenTestDetailsDTO/properties/num_threads\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"RMBTws\";s:11:\"description\";s:314:\"Platform
  on which the test has been conducted. E.g.\n* \u201CAndroid\u201D (= Google Android
  App),\n* \u201CiOS\u201D (= Apple iOs App),\n* Applet (= Java applet test within
  a browser),\n* RMBTjs (= simple JavaScript test within a browser, without Java),\n*
  RMBTws (= advanced JavaScript test using WebSockets within the browser).\n\";}s:5:\"model\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Sony
  Xperia Tablet Z LTE\";s:11:\"description\";s:24:\"Name of the device used.\";}s:14:\"client_version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/OpenTestDetailsDTO/properties/client_version\";}s:15:\"network_mcc_mnc\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/OpenTestDetailsDTO/properties/network_mcc_mnc\";}s:12:\"network_name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/OpenTestDetailsDTO/properties/network_name\";}s:11:\"sim_mcc_mnc\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/OpenTestDetailsDTO/properties/sim_mcc_mnc\";}s:8:\"nat_type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/OpenTestDetailsDTO/properties/connection\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/OpenTestDetailsDTO/properties/asn\";}s:9:\"ip_anonym\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/OpenTestDetailsDTO/properties/ip_anonym\";}s:17:\"ndt_download_kbit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/OpenTestDetailsDTO/properties/ndt_download_kbit\";}s:15:\"ndt_upload_kbit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/OpenTestDetailsDTO/properties/ndt_upload_kbit\";}s:11:\"implausible\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/OpenTestDetailsDTO/properties/implausible\";}s:15:\"signal_strength\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-56;s:11:\"description\";s:30:\"Signal
  strength (RSSI) in dBm.\";}s:6:\"pinned\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/OpenTestDetailsDTO/properties/pinned\";}s:5:\"kg_nr\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/OpenTestDetailsDTO/properties/kg_nr\";}s:6:\"gkz_sa\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/OpenTestDetailsDTO/properties/gkz_sa\";}s:10:\"land_cover\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/OpenTestDetailsDTO/properties/land_cover\";}s:14:\"cell_area_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/OpenTestDetailsDTO/properties/cell_area_code\";}s:16:\"cell_location_id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/OpenTestDetailsDTO/properties/cell_location_id\";}s:14:\"channel_number\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/OpenTestDetailsDTO/properties/channel_number\";}s:10:\"radio_band\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/OpenTestDetailsDTO/properties/radio_band\";}s:15:\"settlement_type\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:262:\"Settlement
  type (Austrian \"Dauersiedlungsraum\")\n 1 = Area which can not be used for settlement,
  classification based on CORINE \n 2 = Area which can be used for settlement, classification
  based on CORINE \n3 = Settlement in 250m rasters with at least 6 inhabitants\";}s:7:\"link_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:461004537;s:11:\"description\";s:53:\"Link
  ID (as defined by GIP) of the road/railway line.\";}s:9:\"link_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"A14\";s:11:\"description\";s:28:\"Road/raiway
  line identifier.\";}s:13:\"link_distance\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:0;s:11:\"description\";s:32:\"Distance
  from road/railway line.\";}s:7:\"edge_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:15460011788;s:11:\"description\";s:53:\"Edge
  ID (as defined by GIP) of the road/railway line.\";}s:8:\"link_frc\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:0;s:11:\"description\";s:42:\"Functional
  road class (as defined by GIP).\";}s:21:\"signal_classification\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:3;s:11:\"description\";s:110:\"Classification
  for the signal quality in a traffic-light system.\n\n0 = unknown, 1 = red, 2 = yellow,
  3 = green.\";}}}s:16:\"OpenTestGraphDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"download\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:66:\"Measurements
  of downloaded bytes at various times during the test.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SpeedGraphItemDTO\";}}s:6:\"upload\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:64:\"Measurements
  of uploaded bytes at various times during the test.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SpeedGraphItemDTO\";}}s:4:\"ping\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"The
  client\u2019s pings throughout the test\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PingGraphItemDTO\";}}s:6:\"signal\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:82:\"Measurements
  of signal strength and network type at various times during the test.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SignalGraphItemDTO\";}}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"The
  client\u2019s locations throughout the test.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LocationGraphItem\";}}}}s:17:\"OpenTestSearchDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"next_cursor\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:866505;s:11:\"description\";s:20:\"cursor
  for next page\";}s:11:\"duration_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:234;s:11:\"description\";s:46:\"duration
  of the search request in milliseconds\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Error
  while conducting the search\";}s:7:\"results\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"test
  results matching the criteria\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpenTestDTO\";}}s:14:\"invalid_fields\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:7:\"example\";s:17:\"[\"download_kbit\"]\";s:11:\"description\";s:36:\"Invalid
  fields in the search request\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:16:\"PingGraphItemDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"ping_ms\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:8;s:11:\"description\";s:68:\"Ping
  (round-trip time) in milliseconds, measured on the server side.\";}s:12:\"time_elapsed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:55;s:11:\"description\";s:61:\"The
  time elapsed since the start of the test in milliseconds.\";}}}s:18:\"SignalGraphItemDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"time_elapsed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:55;s:11:\"description\";s:61:\"The
  time elapsed since the start of the test in milliseconds.\";}s:12:\"network_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"LTE\";s:11:\"description\";s:66:\"Type
  of the network, e.g. GSM, EDGE, UMTS, HSPA, LTE, LAN, WLAN\u2026\";}s:15:\"signal_strength\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-85;s:11:\"description\";s:30:\"Signal
  strength (RSSI) in dBm.\";}s:8:\"lte_rsrp\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-77;s:11:\"description\";s:27:\"LTE
  signal strength in dBm.\";}s:8:\"lte_rsrq\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:-6;s:11:\"description\";s:31:\"LTE
  signal quality in decibels.\";}s:14:\"cat_technology\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"3G\";s:11:\"description\";s:72:\"Technology
  category of the network, e.g. \u201C3G\u201D, \u201C4G\u201D, \u201CWLAN\u201D.\";}s:14:\"timing_advance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Timing
  advance value for LTE, as a value in range of 0..1282. Refer to 3GPP 36.213 Sec
  4.2.3\";}s:12:\"cell_info_2G\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  information about the used 2G radio cell\";s:4:\"$ref\";s:24:\"#/definitions/CellInfo2G\";}s:12:\"cell_info_3G\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  information about the used 3G radio cell\";s:4:\"$ref\";s:24:\"#/definitions/CellInfo3G\";}s:12:\"cell_info_4G\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  information about the used 4G radio cell\";s:4:\"$ref\";s:24:\"#/definitions/CellInfo4G\";}}}s:17:\"SpeedGraphItemDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"bytes_total\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:4096;s:11:\"description\";s:67:\"The
  sum of all bytes transferred since the start of the test phase.\";}s:12:\"time_elapsed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:55;s:11:\"description\";s:67:\"The
  time elapsed since the start of the test phase in milliseconds.\";}}}s:19:\"SpeedItemThreadwise\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"bytes_total\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:4096;s:11:\"description\";s:67:\"The
  sum of all bytes transferred since the start of the test phase.\";}s:15:\"time_elapsed_ns\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:41183662;s:11:\"description\";s:83:\"The
  time elapsed since the start of the test phase for this thread, in nanoseconds.\";}}}}"
...
