---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:339:\"\nThis is Wild
  Apricot's API for administrators. You can use it if you already have a Wild Apricot
  account (typically with a website on  *.wildapricot.org). Otherwise, please use
  https://register.wildapricot.com to create a new account.\n\nIf you have any questions
  about this API, please contact our support team at support@wildapricot.com.\n\";s:7:\"version\";s:5:\"2.1.0\";s:5:\"title\";s:22:\"Wild
  Apricot Admin API\";}"
host: api.wildapricot.org
basePath: /v2.1
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":143:{s:7:\"Account\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:16:\"ContactLimitInfo\";i:1;s:8:\"Currency\";i:2;s:2:\"Id\";i:3;s:12:\"Localization\";i:4;s:4:\"Name\";i:5;s:17:\"PrimaryDomainName\";i:6;s:22:\"SquareRegisterSettings\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Account
  unique identifier.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"The
  account name. This corresponds to the organization name as it appears on the Organization
  details screen.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:17:\"PrimaryDomainName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  primary domain name for the account.\";}s:13:\"IsFreeAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Resources\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"Collection
  of account-related resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:16:\"ContactLimitInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ContactLimitInfo\";}s:8:\"TimeZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TimeZone\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:12:\"Localization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Localization\";}s:22:\"SquareRegisterSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SquareRegisterSettings\";}s:11:\"BillingPlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BillingPlan\";}}s:11:\"description\";s:38:\"Information
  about Wild Apricot account\";}s:11:\"BillingPlan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan name\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:13:\"Monthly
  price\";}}s:11:\"description\";s:29:\"Current account billing plan.\";}s:16:\"ContactLimitInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"CurrentContactsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:60:\"Number
  of contacts currently in database (archived excluded)\";}s:24:\"BillingPlanContactsLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Maximum
  number of contacts allowed by billing plan.\";}}s:11:\"description\";s:47:\"Details
  about limits on the number of contacts.\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Currency
  code according to ISO4217\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Human-readable
  currency name\";}s:6:\"Symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  symbol like $ or \u20AC\";}}}s:7:\"Feature\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Feature
  identifier\";}s:7:\"Allowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:40:\"Indicates
  whether the feature is allowed\";}}s:5:\"title\";s:7:\"Feature\";s:11:\"description\";s:47:\"Information
  about specific feature availability\";}s:12:\"Localization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DateFormat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Date
  format like \"d MMM yyyy\"\";}s:10:\"TimeFormat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Time
  format like \"h:mm tt\"\";}}}s:22:\"SquareRegisterSettings\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"IntegrationEnabled\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"IntegrationEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"Is
  integration enabled in admin UI.\";}s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"(optional)
  Square client Id\";}}s:11:\"description\";s:61:\"Settings for Square Register integration,
  used for mobile app\";}s:8:\"TimeZone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"ZoneId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Time
  zone id, i.e. \"Arabic Standard Time\"\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Time
  zone name, i.e. \"(UTC+03:00) Baghdad\"\";}s:9:\"UtcOffset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:43:\"Offcet
  from UTC Time in minutes, i.e. \"180\"\";}}s:11:\"description\";s:31:\"Details about
  account time zone\";}s:22:\"EntityFieldDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:9:\"AdminOnly\";i:1;s:11:\"Description\";i:2;s:9:\"FieldName\";i:3;s:8:\"IsSystem\";i:4;s:10:\"SystemCode\";i:5;s:4:\"Type\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"FieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Field
  name title, could be displayed in user interface. Field name could be changed by
  account administrator.\";}s:10:\"SystemCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"System-defined
  code associated with field. It does not change even if FieldName is edited in admin
  backend.\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomFieldType\";}s:11:\"DisplayType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Optional
  hint, which tells how to display and edit field. It appears for String and Choice
  fields.\";}s:8:\"IsSystem\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:112:\"Field
  is system-defined and could not be deleted. However, field name could be changed
  by account administrator.\";}s:9:\"AdminOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  that the field is accessible only by administrators.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"System-defined
  description of the field. Empty for custom fields.\";}s:17:\"FieldInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Admin-defined
  comment for the field. Shown as a tip when members or visitors fill in forms.\";}s:13:\"AllowedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:161:\"If
  field value is limited to set of predefined values, this contains list of allowed
  values. Normally, AllowedValues appear for MultipleChoice and Choice fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OptionsListItem\";}}s:5:\"Order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Sorting
  order to display the field in UI\";}s:11:\"ExtraCharge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ExtraCharge\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Error
  code, like Validation / Search / ...\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"An
  explanation of why this error occured\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"More
  information about the error. Data structure is specific for each kind of error.\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}}s:10:\"FieldValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"FieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"Field
  title. Custom field names are defined by account adinistrator. System field names
  are predefined by Wild Apricot system.\";}s:10:\"SystemCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:225:\"The
  system code is a unique field identifier that can be used instead of the field name
  to identify the field. While field name could be changed by administrators, system
  codes are defined by the system and cannot be changed.\";}s:5:\"Value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:196:\"Field
  value could be an integer / string / date in ISO8601 format / boolean / an object
  consisting of Id and Label or array of such objects. The content format depends
  on custom field description.\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}}s:14:\"LinkedResource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"unique
  item identifier\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"API
  url to get item details\";}}}s:22:\"LinkedResourceWithName\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  name\";}}}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:17:\"AllowedOperations\";i:1;s:4:\"Name\";i:2;s:3:\"Url\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Name
  of resource\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Text
  description of the resource\";}s:17:\"AllowedOperations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:198:\"Collection
  of allowed operations for this resource. Possible values are\nGET - Resource can
  be requested\nPOST - Resource can be created\nPUT - Resource can be updated\nDELETE
  - Resource can be deleted\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"ResourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Permanent
  resource URL in API.\";}s:10:\"ContactsMe\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Contact
  unique identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"Combination
  of names or organization or email. Value depends on presence of values. It could
  be used to display contact record on lists.\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Shortcut
  for custom field value with system code 'FirstName'\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Shortcut
  for custom field value with system code 'LastName'\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Contact
  primary email, shortcut for custom field value with system code 'Email'. Should
  be unique in account.\";}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Shortcut
  for custom field value with system code 'Organization'\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  status of the contact's membership. The status is only included in the results if
  the contact is a member.\";s:4:\"enum\";a:5:{i:0;s:6:\"Active\";i:1;s:6:\"Lapsed\";i:2;s:10:\"PendingNew\";i:3;s:14:\"PendingRenewal\";i:4;s:14:\"PendingUpgrade\";}}s:15:\"MembershipLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinkedResourceWithName\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:162:\"Information
  about current membership level assigned to the contact. If the contact is not a
  member, then the MembershipLevel field is not included in the results.\";}}}s:22:\"IsAccountAdministrator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"Indicates
  if the contact is an account administrator.\";}s:18:\"TermsOfUseAccepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Indicates
  if the contact already accepted Wild Apricot's terms of use.\";}}}s:23:\"MembershipGroupListItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Unique
  group identifier\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"group
  name\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"group
  description\";}}}s:15:\"MembershipGroup\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MembershipGroupListItem\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ContactsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Total
  count of group participants\";}s:10:\"ContactIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Contact
  IDs of group participants.\";}}}}}}s:6:\"Bundle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Unique
  bundle identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Email
  of bundle administrator.\";}s:17:\"ParticipantsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"The
  number of members in the bundle.\";}s:13:\"Administrator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:29:\"Link
  to bundle administrator.\";}}}s:15:\"MembershipLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:48:\"Link
  to membership level related to this bundle.\";}}}s:10:\"SpacesLeft\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:96:\"If
  bundle size is limited, then this field indicates number of vacant spaces left in
  the bundle.\";}s:7:\"Members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Collection
  of links to members of the bundle.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}}}s:7:\"Contact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Unique
  contact identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Shortcut
  for custom field value with system code 'FirstName'\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Shortcut
  for custom field value with system code 'LastName'\";}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Shortcut
  for custom field value with system code 'Organization'\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Contact
  primary email, shortcut for custom field value with system code 'Email'. Should
  be unique in account.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"Combination
  of names or organization or email. Value depends on presence of values. It could
  be used to display contact record on lists.\";}s:18:\"ProfileLastUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:199:\"Timestamp
  of last contact details modification. Complies with ISO8601 format. The date and
  time that common fields, membership fields, or member group participation were last
  updated for the contact.\";}s:15:\"MembershipLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinkedResourceWithName\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:162:\"Information
  about current membership level assigned to the contact. If the contact is not a
  member, then the MembershipLevel field is not included in the results.\";}}}s:17:\"MembershipEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:130:\"Indicates
  whether the contact is a member. A value of false indicates that the contact is
  a not a member or is a suspended member.\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  status of the contact's membership. The status is only included in the results if
  the contact is a member.\";s:4:\"enum\";a:5:{i:0;s:6:\"Active\";i:1;s:6:\"Lapsed\";i:2;s:10:\"PendingNew\";i:3;s:14:\"PendingRenewal\";i:4;s:14:\"PendingUpgrade\";}}s:22:\"IsAccountAdministrator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"Indicates
  if the contact is an account administrator.\";}s:18:\"TermsOfUseAccepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Indicates
  if the contact already accepted Wild Apricot's terms of use.\";}s:11:\"FieldValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:498:\"For
  each custom field you have added to your Wild Apricot database, the name of the
  field, its system code, and its value for this contact are returned. The system
  code is a unique field identifier that can be used instead of the field name to
  identify the field. As well, a number of system fields are returned. If a custom
  field is restricted to certain access levels, then CustomAccessLevel indicates the
  level to which the field is restricted. Possible values are AdminOnly, Member, and
  Public.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ContactFieldValue\";}}}}s:29:\"contactExtendedMembershipInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Unique
  contact identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Shortcut
  for custom field value with system code 'FirstName'\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Shortcut
  for custom field value with system code 'LastName'\";}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Shortcut
  for custom field value with system code 'Organization'\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Contact
  primary email, shortcut for custom field value with system code 'Email'. Should
  be unique in account.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"Combination
  of names or organization or email. Value depends on presence of values. It could
  be used to display contact record on lists.\";}s:18:\"ProfileLastUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:199:\"Timestamp
  of last contact details modification. Complies with ISO8601 format. The date and
  time that common fields, membership fields, or member group participation were last
  updated for the contact.\";}s:15:\"MembershipLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinkedResourceWithName\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:162:\"Information
  about current membership level assigned to the contact. If the contact is not a
  member, then the MembershipLevel field is not included in the results.\";}}}s:17:\"MembershipEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:130:\"Indicates
  whether the contact is a member. A value of false indicates that the contact is
  a not a member or is a suspended member.\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  status of the contact's membership. The status is only included in the results if
  the contact is a member.\";s:4:\"enum\";a:5:{i:0;s:6:\"Active\";i:1;s:6:\"Lapsed\";i:2;s:10:\"PendingNew\";i:3;s:14:\"PendingRenewal\";i:4;s:14:\"PendingUpgrade\";}}s:22:\"ExtendedMembershipInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ExtendedMembershipInfo\";}s:22:\"IsAccountAdministrator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"Indicates
  if the contact is an account administrator.\";}s:18:\"TermsOfUseAccepted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Indicates
  if the contact already accepted Wild Apricot's terms of use.\";}s:11:\"FieldValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:498:\"For
  each custom field you have added to your Wild Apricot database, the name of the
  field, its system code, and its value for this contact are returned. The system
  code is a unique field identifier that can be used instead of the field name to
  identify the field. As well, a number of system fields are returned. If a custom
  field is restricted to certain access levels, then CustomAccessLevel indicates the
  level to which the field is restricted. Possible values are AdminOnly, Member, and
  Public.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ContactFieldValue\";}}}}s:23:\"ContactFieldAccessLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:240:\"\nIndicates
  who is allowed to view the field value. - **Public** - value is visible to anyone
  who has access to members directory - **Members** - value is visible only to members
  - **Nobody* - value is visible only to account administrators\n\";s:4:\"enum\";a:3:{i:0;s:6:\"Public\";i:1;s:7:\"Members\";i:2;s:6:\"Nobody\";}}s:23:\"ContactFieldDescription\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:4:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EntityFieldDescription\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":0:{}i:3;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Unique
  field identifier.\";}s:6:\"Access\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ContactFieldAccessLevel\";}s:9:\"AdminOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  that the field is accessible only by administrators.\";}s:14:\"ExistsInLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:86:\"If
  field is defined for specific levels only, this contains list of membership levels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}s:12:\"MemberAccess\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MemberFieldAccess\";}s:10:\"MemberOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Indicates
  whether the field is a membership field.\";}s:9:\"IsBuiltIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:69:\"The
  field is a built-in system field, it cannot be edited or deleted.\";}s:13:\"SupportSearch\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Indicates
  that this field can be used in $filter expression in contact search.\";}s:10:\"IsEditable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:226:\"Indicates
  that the field's value can be changed with create/update requests. Otherwise value
  can\u2019t be edited through API. If non-editable field value is provided in create/update
  contact request, the value is ignored by API.\";}s:17:\"RulesAndTermsInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RulesAndTermsInfo\";}s:13:\"RenewalPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RenewalPolicy\";}s:20:\"ProrateInApplication\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:110:\"If
  the field has associated cost, this indicates if the cost should be prorated over
  a partial period of time.\";}}}}}s:17:\"ContactFieldValue\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"CustomAccessLevel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ContactFieldAccessLevel\";}}}}}s:18:\"ContactIdsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"ContactIdentifiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:123:\"List
  of contact identifiers that match request criteria. The field appears only if idsOnly
  parameter was passed in request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:21:\"ContactsAsyncResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"ResultId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Unique
  result identifier.\";}s:9:\"ResultUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:194:\"URL
  to check async result availability. We expect that client application will check
  this URL with some small delay (every 5 sec) until API returns a list of contacts
  or ProcessingState==Failed.\";}s:9:\"Requested\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:57:\"Date
  and time when the request was queued for processing.\";}s:9:\"Processed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:45:\"Date
  and time when the request was processed.\";}s:15:\"ProcessingState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"Asynchronous
  request state. It starts from Waiting, then server process it. Request may end in
  one of final states: Complete or Failed.\";s:4:\"enum\";a:4:{i:0;s:7:\"Waiting\";i:1;s:10:\"Processing\";i:2;s:8:\"Complete\";i:3;s:6:\"Failed\";}}s:12:\"InitialQuery\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ContactsAsyncResponse_InitialQuery\";}s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"In
  case of error, provides description of error occured.\";}}}s:21:\"ContactsCountResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:114:\"Number
  of contacts that match request criteria. This field appears only if $count parameter
  was passed in request.\";}}}s:20:\"ContactsListResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Contacts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"List
  of contacts that match request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}}s:16:\"ContactsResponse\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:4:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ContactsAsyncResponse\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactIdsResponse\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ContactsCountResponse\";}i:3;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ContactsListResponse\";}}}s:24:\"CreateContactFieldParams\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EditContactFieldParams\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"FieldType\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FieldType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Field
  data type.\";s:4:\"enum\";a:12:{i:0;s:4:\"Text\";i:1;s:13:\"MultilineText\";i:2;s:14:\"MultipleChoice\";i:3;s:29:\"MultipleChoiceWithExtraCharge\";i:4;s:12:\"RadioButtons\";i:5;s:27:\"RadioButtonsWithExtraCharge\";i:6;s:8:\"Dropdown\";i:7;s:7:\"Picture\";i:8;s:13:\"RulesAndTerms\";i:9;s:4:\"Date\";i:10;s:22:\"ExtraChargeCalculation\";i:11;s:14:\"SectionDivider\";}}s:10:\"MemberOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"Indicates
  whether a field is available only to members.\";}}}}}s:19:\"CreateContactParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Shortcut
  for custom field with system code 'FirstName'\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Shortcut
  for custom field with system code 'LastName'\";}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Shortcut
  for custom field with system code 'Organization'\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"Contact
  primary email, shortcut for custom field with system code 'Email'. Should be unique
  in account.\";}s:15:\"MembershipLevel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/CreateContactParams_MembershipLevel\";}s:17:\"MembershipEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:124:\"Indicates
  whether the contact has membership. False means that the contact is a not a member
  or the membership is suspended.\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  status of the membership. The status is only included in the results if the contact
  is a member.\";s:4:\"enum\";a:5:{i:0;s:6:\"Active\";i:1;s:6:\"Lapsed\";i:2;s:10:\"PendingNew\";i:3;s:14:\"PendingRenewal\";i:4;s:14:\"PendingUpgrade\";}}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"New
  password to assign. If you don't want to change password, just skip this field.\";}s:11:\"FieldValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"An
  array of field values to assign to contact.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";}}s:15:\"RecreateInvoice\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"Indicates
  whether to create invoice is required. Default value is **TRUE**\";}}}s:15:\"CustomFieldType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Custom
  field data type.\";s:4:\"enum\";a:9:{i:0;s:6:\"String\";i:1;s:8:\"DateTime\";i:2;s:7:\"Boolean\";i:3;s:6:\"Choice\";i:4;s:14:\"MultipleChoice\";i:5;s:6:\"Number\";i:6;s:14:\"SectionDivider\";i:7;s:21:\"CalculatedExtraCharge\";i:8;s:7:\"Picture\";}}s:22:\"EditContactFieldParams\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"FieldName\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"FieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"New
  field name. Must be unique.\";}s:10:\"IsRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:189:\"Indicates
  whether a field has to be filled before the form is submitted. This limitation affects
  member-facing functionality only, admin always can submit form even without required
  fields.\";}s:9:\"AdminOnly\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  that the field is accessible only by administrators.\";s:7:\"default\";b:0;}s:6:\"Access\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ContactFieldAccessLevel\";}s:17:\"FieldInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Shown
  as a tip when members or visitors fill in forms. Max length is 250 characters.\";}s:5:\"Order\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Sorting
  order to display the field in UI.\";}s:13:\"AllowedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:124:\"List
  of allowed values for this field. This data is used for Choice and MultipleChoice
  fields, otherwise it will be ignored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OptionsListItem\";}}s:17:\"RulesAndTermsInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RulesAndTermsInfo\";}s:14:\"ExistsInLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:139:\"Collection
  of membership levels where the field exists. If empty collection provided, it means
  the field would be available for all levels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/EditContactFieldParams_ExistsInLevels\";}}s:12:\"MemberAccess\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MemberFieldAccess\";}s:13:\"RenewalPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RenewalPolicy\";}s:20:\"ProrateInApplication\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:111:\"Whether
  the cost should be prorated over a partial period of time. Used only by fields with
  an associated cost.\";}s:11:\"ExtraCharge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ExtraCharge\";}}}s:22:\"ExtendedMembershipInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:32:\"PendingMembershipOrderStatusType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:9:\"Invisible\";i:1;s:29:\"PendingNoCorrespondingInvoice\";i:2;s:17:\"PendingNotPaidYet\";i:3;s:33:\"InvoicePaidManualApprovalRequired\";i:4;s:31:\"FreeOrderManualApprovalRequired\";i:5;s:34:\"InvoiceNotPaidButOperationApproved\";i:6;s:37:\"MultipleInvoiceNotPaidMemberActivated\";i:7;s:35:\"MultipleInvoiceNotPaidMemberPending\";}}s:24:\"PendingMembershipInvoice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:66:\"Link
  to unpaid invoice, related to pending membership application.\";}}}s:14:\"AllowedActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:126:\"List
  of allowed actions related to contact. Each action is described with title and URL,
  which should be used in POST request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinkedResourceWithName\";}}}s:11:\"description\";s:16:\"Readonly
  object \";}s:11:\"ExtraCharge\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"Multiplier\";i:1;s:14:\"MultiplierType\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"MultiplierType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:189:\"Indicates
  the type of multiplier field.\n  ItemPrice multiplier specifies a price for each
  requested item.\n  Percentage multiplier specifies a percent of field value to use
  as extra charge.\n\";s:4:\"enum\";a:2:{i:0;s:9:\"ItemPrice\";i:1;s:10:\"Percentage\";}}s:10:\"Multiplier\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:48:\"value
  of multiplier for extra charge calculation\";}s:9:\"MinAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:93:\"Minimal
  amount of items to request (minimal field value). For ItemPrice multiplier type
  only.\";}s:9:\"MaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:93:\"Maximum
  amount of items to request (maximum field value). For ItemPrice multiplier type
  only.\";}s:9:\"MinCharge\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:81:\"Minimal
  extra charge. (minimal field value). For Percentage multiplier type only.\";}s:9:\"MaxCharge\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:81:\"Maximum
  extra charge. (maximum field value). For Percentage multiplier type only.\";}}s:5:\"title\";s:18:\"ExtraChargeOptions\";s:11:\"description\";s:60:\"This
  property appears for CalculatedExtraCharge fields only.\";}s:17:\"MemberFieldAccess\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"MemberAccess\";s:11:\"description\";s:92:\"Controls
  whether the member is allowed to view or modify this field. Only for member fields.\";s:4:\"enum\";a:5:{i:0;s:33:\"EditInProfileAndInApplicationForm\";i:1;s:13:\"EditInProfile\";i:2;s:21:\"EditInApplicationForm\";i:3;s:8:\"ViewOnly\";i:4;s:6:\"Nobody\";}}s:15:\"MembershipLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Unique
  membership level identifier\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"level
  name\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"level
  description\";}s:14:\"PublicCanApply\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"Indicates
  if non-member can apply for membership with this level.\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Indicates
  if membership level is individual or bundle.\";s:4:\"enum\";a:2:{i:0;s:10:\"Individual\";i:1;s:6:\"Bundle\";}}s:18:\"BundleMembersLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Maximum
  number of bundle members. Empty for individuals.\";}s:13:\"MembershipFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:82:\"Price
  of being a member with this level of membership. Price is for RenewalPeriod.\";}s:23:\"MemberCanChangeToLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:69:\"Member
  can switch from current level to one of levels from this list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}s:13:\"RenewalPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MembershipRenewalPeriod\";}}}s:23:\"MembershipRenewalPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Kind\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Period
  of renewal.\";s:4:\"enum\";a:5:{i:0;s:5:\"Never\";i:1;s:7:\"Monthly\";i:2;s:9:\"Quarterly\";i:3;s:10:\"TwiceAYear\";i:4;s:11:\"EveryNYears\";}}s:17:\"StartFromJoinDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:105:\"Indicates
  if renewal period starts from join date. Otherwise, starts from dates specified
  in Dates field.\";}s:5:\"Dates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"Collection
  of renewal dates during a year.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MembershipRenewalPeriod_Dates\";}}s:26:\"AutomaticRecurringPayments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  if recurring payments will be charged automatically.\";}s:17:\"ApplicationReview\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/MembershipRenewalPeriod_ApplicationReview\";}}s:11:\"description\";s:36:\"Describes
  membership renewal period.\";}s:15:\"OptionsListItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Item
  identifier unique in the list\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Human-readable
  text label.\";}s:8:\"Position\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Option
  position among other options.\";}s:17:\"SelectedByDefault\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:94:\"Indicates
  whether this option would be selected on form if user did not select another option.\";}s:9:\"ExtraCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:83:\"Extra
  price for selecting this option. Used only by fields with an associated cost.\";}}}s:13:\"RenewalPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"IncludeInRenewals\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"Indicates
  if the field should be shown in renewal form.\";}s:24:\"AllowedToChangeInRenewal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:128:\"Indicates
  whether field value can be changed during renual process. Can be set to TRUE only
  if IncludeInRenewals is set to TRUE.\";}}s:11:\"description\";s:113:\"Defines how
  system manages field during renewal process. Used only by multichoice fields with
  an associated cost.\";}s:17:\"RulesAndTermsInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Terms
  of use label.\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Url
  of the rules and terms document.\";}}s:11:\"description\";s:92:\"Additional info
  for fields with rules / terms conditions. Not present for other field types.\";}s:19:\"SavedSearchListItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Unique
  search identifier\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Saved
  search name\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Save
  search description\";}}}s:11:\"SavedSearch\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SavedSearchListItem\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ContactIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Contact
  IDs found by Saved Search.\";}}}}}}s:24:\"UpdateContactFieldParams\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EditContactFieldParams\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Unique
  identifier of existing field.\";}}}}}s:19:\"UpdateContactParams\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CreateContactParams\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Unique
  contact identifier.\";}}}}}s:10:\"CloneEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:47:\"Identifier
  of existing event you want to clone.\";}s:11:\"TitlePrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Prefix
  to be added to the event title to form the new title. For example if you are cloning
  the event \"Annual meetup\" and the prefix is \"yet another \", then the new event
  will have the title \"yet another Annual meetup\".\";}}}s:14:\"DeliveryStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Email
  delivery status.\";s:4:\"enum\";a:3:{i:0;s:6:\"Queued\";i:1;s:9:\"Delivered\";i:2;s:6:\"Failed\";}}s:10:\"EmailDraft\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Unique
  email draft identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:41:\"Date
  and time when the draft was created.\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EmailDraftType\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Value
  for email subject. It may contain macros, which will be replaced before delivery.\n\";}s:4:\"Body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"Value
  for email body. Usually it is HTML content with macros, which will be replaced before
  delivery.\n\";}s:11:\"ReplyToName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Display
  name for reply to\";}s:14:\"ReplyToAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Email
  address to use as reply to.\";}s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"Event
  identifier for which the draft has been started (if any).\";}s:7:\"Creator\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShortContact\";}s:21:\"IsLinkTrackingAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Indicates
  if email tracking is enabled for this email.\";}s:10:\"Recipients\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EmailRecipients\";}s:15:\"LastChangedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:47:\"Date
  and time when the draft was last modified.\";}s:8:\"Modifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShortContact\";}s:11:\"IsScheduled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:88:\"Indicates
  if draft delivery is scheduled for a particular date. See ScheduledDate value.\";}s:13:\"ScheduledDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:42:\"Date
  and time when the draft will be sent.\";}}}s:12:\"emailDraftId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:5:\"title\";s:12:\"emailDraftId\";s:11:\"description\";s:22:\"email
  draft identifier\";}s:20:\"EmailDraftListResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Emails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Collection
  of email drafts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EmailDraft\";}}}}s:17:\"EmailDraftPreview\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Email
  subject with macros applied.\";}s:4:\"Body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Email
  body HTML with mosros applied.\";}}s:11:\"description\";s:63:\"Describes how email
  will look like when all macros are applied.\";}s:14:\"EmailDraftType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:12:\"ContactBlast\";i:2;s:14:\"EventAttendees\";i:3;s:20:\"EventWaitlistPersons\";}}s:8:\"EmailLog\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EmailLogRecords\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EmailLogIdentifiers\";}}}s:19:\"EmailLogIdentifiers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EmailsIdentifiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"A
  collection of email log record identifiers.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Unique
  email identifier.\";}}}}s:14:\"EmailLogRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Unique
  email identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:8:\"SentDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Date
  when email sending was started.\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Email
  subject.\";}s:4:\"Body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Email
  body.\";}s:11:\"ReplyToName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ReplyToAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EmailType\";}s:17:\"IsTrackingAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"IsCopySentToAdmins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"SenderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SenderName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SendingType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/InitializationSourceType\";}s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmailOrigin\";}s:11:\"SubOriginId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"RecipientCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ReadCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"UniqueLinkClickCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"SuccessfullySentCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:33:\"RecipientsThatClickedAnyLinkCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"FailedCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"InProgress\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Recipient\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"only
  if email has a single recipient\";s:4:\"$ref\";s:28:\"#/definitions/EmailRecipient\";}}}s:15:\"EmailLogRecords\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Emails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"Collection
  of email log records.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EmailLogRecord\";}}}}s:11:\"EmailOrigin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"OriginType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EmailOriginType\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Unique
  origin identifier.\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"EmailOriginType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Email
  origin type.\";s:4:\"enum\";a:9:{i:0;s:6:\"System\";i:1;s:7:\"Contact\";i:2;s:15:\"MembershipLevel\";i:3;s:5:\"Event\";i:4;s:8:\"Donation\";i:5;s:7:\"WebPage\";i:6;s:22:\"ForumTopicSubscription\";i:7;s:17:\"FinancialDocument\";i:8;s:16:\"NewPasswordEmail\";}}s:14:\"EmailRecipient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:188:\"If
  email was sent to individual recipient, this field contains contact identifier.\nIf
  email was sent to all recipients from some saved search, this field contains saved
  search identifier.\n\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:21:\"Recipient
  group type.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Display
  name of recipient or name of saved search.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"recipient
  email. for IndividualRecipient and SentEmailRecipient types only\";}}}s:15:\"EmailRecipients\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Collection
  of recipients.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EmailRecipient\";}}s:21:\"EmailRecipientsParams\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Recipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EmailRecipient\";}}s:14:\"ContextEventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"context
  event identifier. not required. for Event related recipient types only\";}}s:5:\"title\";s:21:\"EmailRecipientsParams\";s:11:\"description\";s:30:\"list
  of email recipient groups\";}s:19:\"EmailScheduleParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"DraftId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Unique
  email draft identifier.\";}s:12:\"ScheduleDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:36:\"Date
  and time scheduled for sending.\";}s:11:\"IsScheduled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"Indicates
  if draft is scheduled for delivery. Set False to pause.\";}}}s:9:\"EmailType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  reason why the email was sent.\";s:4:\"enum\";a:44:{i:0;s:7:\"Unknown\";i:1;s:33:\"MemberApplication_ActivationEmail\";i:2;s:33:\"MemberApplication_InitiationEmail\";i:3;s:46:\"MemberApplication_BundleMember_ActivationEmail\";i:4;s:45:\"MemberApplication_BundleAdmin_ActivationEmail\";i:5;s:25:\"MemberRenewal_FreeRenewal\";i:6;s:28:\"MemberRenewal_RenewalPending\";i:7;s:30:\"MemberRenewal_RenewalConfirmed\";i:8;s:37:\"MemberRenewal_RenewalCanceledByMember\";i:9;s:50:\"MemberRenewal_MemberRenewal_RecurringRenewalFailed\";i:10;s:39:\"MemberRenewal_Online_PaymentSuccessfull\";i:11;s:37:\"MemberRenewal_AdvanceRenewalReminder1\";i:12;s:37:\"MemberRenewal_AdvanceRenewalReminder2\";i:13;s:31:\"MemberRenewal_RenewalDateNotice\";i:14;s:25:\"MemberRenewal_GracePeriod\";i:15;s:20:\"MemberRenewal_Lapsed\";i:16;s:33:\"MemberLevelChange_InitiationEmail\";i:17;s:33:\"MemberLevelChange_ActivationEmail\";i:18;s:21:\"Donation_Confirmation\";i:19;s:59:\"EventRegistration_OfflinePayment_FreeLevelConfirmationEmail\";i:20;s:59:\"EventRegistration_OfflinePayment_PaidLevelConfirmationEmail\";i:21;s:54:\"EventRegistration_OfflinePayment_PaidLevelPendingEmail\";i:22;s:39:\"EventRegistration_NewWaitlistEntryEmail\";i:23;s:31:\"EventRegistration_CanceledEmail\";i:24;s:58:\"EventRegistration_OnlinePayment_PaidLevelConfirmationEmail\";i:25;s:27:\"EventRegistration_Reminder1\";i:26;s:27:\"EventRegistration_Reminder2\";i:27;s:27:\"EventRegistration_Reminder3\";i:28;s:31:\"EventRegistration_Announcement1\";i:29;s:31:\"EventRegistration_Announcement2\";i:30;s:31:\"EventRegistration_Announcement3\";i:31;s:18:\"EmailBlast_Members\";i:32;s:24:\"EmailBlast_Registrations\";i:33;s:26:\"EmailBlast_WaitlistPersons\";i:34;s:16:\"Finances_Invoice\";i:35;s:23:\"Finances_PaymentReceipt\";i:36;s:24:\"Finances_DonationReceipt\";i:37;s:19:\"Finances_RefundNote\";i:38;s:16:\"Contact_Password\";i:39;s:29:\"SubscriptionForm_Confirmation\";i:40;s:26:\"Public_MemberToMemberEmail\";i:41;s:24:\"ForgottenPasswordRequest\";i:42;s:17:\"ForumNotification\";i:43;s:22:\"ForumTopicNotification\";}}s:24:\"InitializationSourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Email
  initialization source type.\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";}}s:15:\"SendDraftParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"DraftId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Unique
  email draft identifier.\";}}}s:15:\"SendEmailParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Subject
  of email message. May contain macros.\";}s:4:\"Body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Email
  body in HTML format. May contain macros.\";}s:10:\"Recipients\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EmailRecipients\";}s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:153:\"Unique
  event identifier. Required if email should be sent to event-related recipients,
  e.g. all attendees.\n  See EmailRecipient description for details.\n\";}}}s:12:\"ShortContact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Unique
  contact identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Contact
  first name\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Contact
  last name\";}}}s:17:\"EventRegistration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:15:{i:0;s:7:\"Contact\";i:1;s:11:\"DisplayName\";i:2;s:5:\"Event\";i:3;s:2:\"Id\";i:4;s:11:\"IsCheckedIn\";i:5;s:19:\"IsGuestRegistration\";i:6;s:6:\"IsPaid\";i:7;s:12:\"Organization\";i:8;s:7:\"PaidSum\";i:9;s:16:\"RegistrationDate\";i:10;s:15:\"RegistrationFee\";i:11;s:16:\"RegistrationType\";i:12;s:18:\"RegistrationTypeId\";i:13;s:12:\"ShowToPublic\";i:14;s:3:\"Url\";}s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Unique
  identifier of event registration\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:5:\"Event\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventStub\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinkedResourceWithName\";}s:16:\"RegistrationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinkedResourceWithName\";}s:18:\"RegistrationTypeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"Unique
  identifier of event registration type\";}s:25:\"GuestRegistrationsSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GuestRegistrationsSummary\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Contact
  display name.\";}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Contact
  display name.\";}s:11:\"IsCheckedIn\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  if registrant is already checked in for event.\";s:7:\"default\";b:0;}s:15:\"RegistrationFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:68:\"The
  fee for this registration including all extra charges and taxes.\";}s:7:\"PaidSum\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:66:\"The
  sum that the registrant has already paid for the registration.\";}s:6:\"IsPaid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Indicates
  if the registrant has already paid for the registration.\";s:7:\"default\";b:0;}s:18:\"RegistrationFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"A
  collection of registration fields values\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";}}s:12:\"ShowToPublic\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:76:\"Indicates
  whether this registration can be shown to other event registrants.\";s:7:\"default\";b:0;}s:16:\"RegistrationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:65:\"Date
  and time when registration was created. (Account local time)\";}s:4:\"Memo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Some
  additional notes about this registration.\";}s:19:\"IsGuestRegistration\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:63:\"Boolean.
  True if this is a guest registration, otherwise false.\";s:7:\"default\";b:0;}s:15:\"RecreateInvoice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:172:\"Optional
  boolean value. If specified and equals true, related invoice will be automatically
  updated (or created) to match selected registration type and extra cost options.\";s:7:\"default\";b:0;}s:18:\"ParentRegistration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}s:10:\"OnWaitlist\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"True
  if this is a waitlisted registration, otherwise false.\";}}}s:21:\"EventRegistrationPost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:7:\"Contact\";i:1;s:5:\"Event\";i:2;s:18:\"RegistrationTypeId\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Unique
  identifier of event registration\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:5:\"Event\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/EventRegistrationPost_Event\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/EventRegistrationPost_Event\";}s:18:\"RegistrationTypeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"Unique
  identifier of event registration type\";}s:25:\"GuestRegistrationsSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GuestRegistrationsSummary\";}s:11:\"IsCheckedIn\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"Indicates
  if registrant is already checked in on event.\";s:7:\"default\";b:0;}s:18:\"RegistrationFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"A
  collection of registration fields values\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";}}s:12:\"ShowToPublic\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:76:\"Indicates
  whether this registration can be shown to other event registrants.\";s:7:\"default\";b:0;}s:16:\"RegistrationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:65:\"Date
  and time when registration was created. (Account local time)\";}s:4:\"Memo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Some
  additional notes about this registration.\";}s:15:\"RecreateInvoice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:172:\"Optional
  boolean value. If specified and equals true, related invoice will be automatically
  updated (or created) to match selected registration type and extra cost options.\";s:7:\"default\";b:0;}}}s:20:\"EventRegistrationPut\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Unique
  identifier of event registration\";}s:18:\"RegistrationTypeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"Unique
  identifier of event registration type\";}s:11:\"IsCheckedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"Indicates
  if registrant is already checked in on event.\";}s:18:\"RegistrationFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"A
  collection of registration fields values\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";}}s:12:\"ShowToPublic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:76:\"Indicates
  whether this registration can be shown to other event registrants.\";}s:4:\"Memo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Some
  additional notes about this registration.\";}s:25:\"GuestRegistrationsSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/GuestRegistrationsSummary\";}s:15:\"RecreateInvoice\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:172:\"Optional
  boolean value. If specified and equals true, related invoice will be automatically
  updated (or created) to match selected registration type and extra cost options.\";}}}s:26:\"EventRegistrationsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:58:\"List
  of event registrations that matches request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventRegistration\";}}s:9:\"EventStub\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"Event
  identifier.\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Event
  Url to get event details from API.\";s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Event
  title.\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:51:\"Date
  and time when the event is scheduled to start.\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:65:\"Date
  and time when the event is scheduled to end. Could be empty.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Location
  where the event will take place.\";}}}s:25:\"GuestRegistrationsSummary\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"NumberOfGuests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:169:\"Number
  of guests registered along with the registrant. If event registration type requires
  guests registration with details (contact information, etc.), this value is 0.\";}s:23:\"NumberOfGuestsCheckedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:158:\"Number
  of guests who already checked in. If event registration type requires guests registration
  with details (contact information, etc.), this value is null.\";}s:18:\"GuestRegistrations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:199:\"List
  of guest registrations links. If event registration type expects guest registration
  by number (without contact information), this value is null. This value cannot be
  saved or updated using API.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}}}s:31:\"EventRegistrationTypeEditParams\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"EventId\";}s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:106:\"Unique
  event identifier. This field should be provided only when updating existing event
  registration type\";}s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"Identifier
  of event related to the registration type.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Registraton
  type title. This field should be provided only when creating new registration type\n\";}s:9:\"IsEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"Indicates
  whether this registration type is enabled\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Plain
  text description for the event registration type.\";}s:9:\"BasePrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:55:\"Base
  price registrant pays with this registration type.\";}s:10:\"GuestPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"Price
  for each additional guest.\";}s:19:\"UseTaxScopeSettings\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:190:\"Indicates
  whether account tax scope settings should be used to calculate final price. \u26A0
  Once set, it has to be provided on every update. Otherwise, it will be overwritten
  to default value\n\";s:7:\"default\";b:0;}s:12:\"Availability\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/EventRegistrationTypeAvailability\";}s:16:\"RegistrationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"Registration
  code required to apply for event with this registration type. This property has
  value only if Availability is CodeRequired.\";}s:28:\"AvailableForMembershipLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:105:\"Which
  membership levels can apply for event. This property has value only if Availability
  is MembersOnly.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}s:13:\"AvailableFrom\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:169:\"This
  registration type is available starting from this date. Can be null. \u26A0 Once
  set, it has to be provided on every update. Otherwise, it will be overwritten to
  null\n\";}s:16:\"AvailableThrough\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:161:\"This
  registration type is available until this date. Can be null. \u26A0 Once set, it
  has to be provided on every update. Otherwise, it will be overwritten to null\n\";}s:23:\"MaximumRegistrantsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:57:\"Maximum
  number of registrants for this registration type.\";}s:23:\"GuestRegistrationPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EventGuestRegistrationPolicy\";}s:20:\"UnavailabilityPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/EventRegistrationUnavailabilityPolicy\";}s:21:\"CancellationBehaviour\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/EventRegistrationCancellationBehavior\";}s:27:\"CancellationDaysBeforeEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:145:\"If
  CancellationBehaviour = AllowUpToPeriodBeforeEvent, this field contains minimum
  number of days before the event that cancellations are allowed\";}s:17:\"IsWaitlistEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"Indicated
  whether registrant should be placed on waitlist if registrations have reached their
  limit.\";}}}s:15:\"EventEditParams\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:9:\"EventType\";i:1;s:4:\"Name\";i:2;s:9:\"StartDate\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:92:\"Unique
  identifier of event. This field should be provided only when updating existing event.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Event
  title\";}s:9:\"EventType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  if event is simple (RSVP) or regular.\";s:4:\"enum\";a:2:{i:0;s:7:\"Reqular\";i:1;s:4:\"RSVP\";}}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:51:\"Date
  and time when the event is scheduled to start.\";}s:18:\"StartTimeSpecified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"Indicates
  if event start time is specified. False means that StartDate contains only date
  component.\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:65:\"Date
  and time when the event is scheduled to end. Could be empty.\";}s:16:\"EndTimeSpecified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Indicates
  if event end time is specified. False means that EndDate contains only date component.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Location
  where the event will take place.\";}s:19:\"RegistrationEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Indicates
  that registration to this event is enabled\";}s:4:\"Tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:47:\"A
  collection of tags associated with the event.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"Details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EventDetailsEditParams\";}s:8:\"Sessions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"Collection
  of event sessions. Exist in multisessions events only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventSesssion\";}}s:18:\"RegistrationsLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:47:\"Maximum
  number of registrations for this event.\";}}}s:22:\"EventDetailsEditParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"DescriptionHtml\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Full
  event description in HTML format.\";}s:19:\"PaymentInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"A
  description how attendee can pay for attendance in this event. Payment instructions
  for this event only.\";}s:8:\"TimeZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TimeZone\";}s:13:\"AccessControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventAccessControl\";}s:25:\"GuestRegistrationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/EventGuestRegistrationSettings\";}s:9:\"Organizer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/EventDetailsEditParams_Organizer\";}s:13:\"PaymentMethod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EventPaymentMethodType\";}s:33:\"RegistrationConfirmationExtraInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"Additional
  event information to be inserted in registration confirmation email\";}s:19:\"RegistrationMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"This
  text will be shown above Register button on Event details\";}s:13:\"SendEmailCopy\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"Indicates
  if email copy should be sent according to email routing setting.\";}s:17:\"IsWaitlistEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Indicates
  if waitlist feature is enabled to the event.\";}s:16:\"WaitlistSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EventWaitlistSettings\";}s:27:\"MultipleRegistrationAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"Indicates
  if it is allowed to have multiple registrations for the same contact.\";}s:24:\"AttendeesDisplaySettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/EventAttendeesDisplaySettings\";}}}s:13:\"CheckInParams\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"CheckedIn\";i:1;s:14:\"RegistrationId\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"RegistrationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"Event
  registration Id.\";}s:9:\"CheckedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Check
  in (true) or check out (false).\";}s:15:\"CheckedInGuests\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:99:\"For
  event registrations with anonymous guests (guests as number), sets number of checked-in
  guests.\";}}}s:5:\"Event\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"EventType\";i:1;s:2:\"Id\";i:2;s:4:\"Name\";i:3;s:9:\"StartDate\";i:4;s:3:\"Url\";}s:10:\"properties\";O:8:\"stdClass\":20:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Unique
  event identifier\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Event
  title\";}s:9:\"EventType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  if event is simple (RSVP) or regular.\";s:4:\"enum\";a:2:{i:0;s:7:\"Reqular\";i:1;s:4:\"RSVP\";}}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:51:\"Date
  and time when the event is scheduled to start.\";}s:18:\"StartTimeSpecified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"Indicates
  if event start time is specified. False means that StartDate contains only date
  component.\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:65:\"Date
  and time when the event is scheduled to end. Could be empty.\";}s:16:\"EndTimeSpecified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Indicates
  if event end time is specified. False means that EndDate contains only date component.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Location
  where the event will take place.\";}s:19:\"RegistrationEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"Indicates
  whether registration to this event is enabled\";}s:27:\"HasEnabledRegistrationTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"Indicates
  that at least one registration type is enabled for this event.\";}s:11:\"AccessLevel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EventAccessLevel\";}s:4:\"Tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:47:\"A
  collection of tags associated with the event.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"Details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EventDetails\";}s:8:\"Sessions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"Collection
  of event sessions. Exist in multisessions events only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventSesssion\";}}s:18:\"RegistrationsLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:47:\"Maximum
  number of registrations for this event.\";}s:11:\"InviteeStat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EventInviteeStatistics\";}s:25:\"PendingRegistrationsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:79:\"Number
  of participants already registered for this event but not confirmed yet.\";}s:27:\"ConfirmedRegistrationsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:79:\"Number
  of participants already registered for this event and already confirmed.\";}s:24:\"CheckedInAttendeesNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"Number
  of attendees already checked in on this event.\";}}}s:18:\"EventAccessControl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"AccessLevel\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"AccessLevel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EventAccessLevel\";}s:20:\"AvailableForAnyLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:98:\"If
  AccessLevel is Restricted, then indicates if the event is available to any member
  on any level.\";}s:18:\"AvailableForLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:142:\"Event
  is available to members who are on these levels.\nThis field appears only if AccessLevel
  is Restricted and AvailableForAnyLevel is false.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}s:20:\"AvailableForAnyGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:109:\"If
  AccessLevel is Restricted, then indicates if the event is available to any member
  in any membership group.\";}s:18:\"AvailableForGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:146:\"Event
  is available to members who are any of these groups.\nThis field appears only if
  AccessLevel is Restricted and AvailableForAnyGroup is false.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}}s:11:\"description\";s:29:\"Describes
  event availability.\";}s:16:\"EventAccessLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:209:\"\nEvent
  accessability.\n  - Public means event accessible for everyone\n  - AdminOnly means
  event accessible for administrators only\n  - Restricted means event accessible
  for specific membership levels or groups.\";s:4:\"enum\";a:3:{i:0;s:6:\"Public\";i:1;s:9:\"AdminOnly\";i:2;s:10:\"Restricted\";}}s:29:\"EventAttendeesDisplaySettings\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"VisibleTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ContactFieldAccessLevel\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:58:\"Indicates
  who is allowed to see list of event registrants.\";}}}s:20:\"ShowPendingAttendees\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"Indicates
  if pending registrants should be included in the list of registrants.\";}}s:11:\"description\";s:55:\"Settings
  for section \"List of event registrants\" on UI.\";}s:12:\"EventDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:15:\"DescriptionHtml\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Full
  event description in HTML format. Important - Links to images can be relative.\";}s:19:\"PaymentInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"A
  description how registrant can pay for attendance to this event. Payment instructions
  for this event only.\";}s:8:\"TimeZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TimeZone\";}s:17:\"RegistrationTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:58:\"Collection
  of configured registration types for the event.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EventRegistrationType\";}}s:23:\"EventRegistrationFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:72:\"Collection
  of fields registrant should fill during registration process.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/EventRegistrationFieldDescription\";}}s:9:\"TotalPaid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:81:\"Total
  sum paid for all registrations to this event. This is a read-only property.\";}s:8:\"TotalDue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:118:\"Total
  sum due, but not necessarily paid yet for all registrations related to this event.
  This is a read-only property.\";}s:13:\"AccessControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventAccessControl\";}s:25:\"GuestRegistrationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/EventGuestRegistrationSettings\";}s:9:\"Organizer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}i:1;O:8:\"stdClass\":1:{s:11:\"description\";s:62:\"Link
  to contact who is designated as organizer for this event.\";}}}s:13:\"PaymentMethod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EventPaymentMethodType\";}s:33:\"RegistrationConfirmationExtraInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"Additional
  event information to be inserted in registration confirmation email\";}s:19:\"RegistrationMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"This
  text will be shown above Register button on Event details\";}s:13:\"SendEmailCopy\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Indicates
  if email copy should be sent according to email routing settings.\";}s:17:\"IsWaitlistEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"Indicates
  if waitlist feature is enabled for the event.\";}s:16:\"WaitlistSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EventWaitlistSettings\";}s:27:\"MultipleRegistrationAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:69:\"Indicates
  if multiple registrations are allowed for the same contact.\";}s:24:\"AttendeesDisplaySettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/EventAttendeesDisplaySettings\";}}}s:28:\"EventGuestRegistrationPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:320:\"Describes
  how guests are registered. Allowed values are\n- Disabled - guest registration is
  not allowed - NumberOfGuests - number of guests should be specified. - CollectContactDetails
  - contact information should be collected for each guest. - CollectFullInfo - full
  registration info should be collected for each guest.\";s:4:\"enum\";a:4:{i:0;s:8:\"Disabled\";i:1;s:14:\"NumberOfGuests\";i:2;s:21:\"CollectContactDetails\";i:3;s:15:\"CollectFullInfo\";}}s:30:\"EventGuestRegistrationSettings\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:45:\"Indicates
  if guest registrations are allowed.\";}s:17:\"CreateContactMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Indicates
  whether guests are automatically added to database after the main registrant confirms
  the registration\";s:4:\"enum\";a:3:{i:0;s:18:\"NeverCreateContact\";i:1;s:25:\"CreateContactForAllGuests\";i:2;s:31:\"CreateContactForGuestsWithEmail\";}}}s:11:\"description\";s:69:\"Control
  how system works with guest registrations for specific event.\";}s:22:\"EventInviteeStatistics\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"NotResponded\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:43:\"Number
  of invitees who did not respond yet.\";}s:11:\"NotAttended\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:49:\"Number
  of invitees who answered NO to the invite.\";}s:8:\"Attended\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of invitees who answered YES to the invite.\";}s:13:\"MaybeAttended\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"Number
  of invitees who answered MAY BE to the invite.\";}}s:11:\"description\";s:46:\"Statistics
  related to invitees to RSVP events.\";}s:22:\"EventPaymentMethodType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"How
  attendees can pay for the ticket.\n\n  - OnlineAndOffline\n  - OfflineOnly\n  -
  OnlineOnly\";s:4:\"enum\";a:4:{i:0;s:9:\"Undefined\";i:1;s:16:\"OnlineAndOffline\";i:2;s:11:\"OfflineOnly\";i:3;s:10:\"OnlineOnly\";}}s:37:\"EventRegistrationCancellationBehavior\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Indicates
  if it is possible for attendee to self-cancel event registration.\";s:4:\"enum\";a:3:{i:0;s:10:\"DoNotAllow\";i:1;s:26:\"AllowUpToPeriodBeforeEvent\";i:2;s:5:\"Allow\";}}s:33:\"EventRegistrationFieldDescription\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EntityFieldDescription\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Kind\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Indicated
  is the field is common for all contacts or custom for the event.\";s:4:\"enum\";a:2:{i:0;s:6:\"Common\";i:1;s:6:\"Custom\";}}}}}}s:21:\"EventRegistrationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"Unique
  event registration type identifier.\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceUrl\";}s:9:\"IsEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"Indicates
  whether this registration type is enabled\";}s:7:\"EventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"Identifier
  of event related to the registration type.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Registraton
  type title.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Plain
  text description for the event registration type.\";}s:9:\"BasePrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:54:\"Base
  price registrant pays for this registration type.\";}s:10:\"GuestPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"Price
  for each additional guest.\";}s:19:\"UseTaxScopeSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:85:\"Indicates
  whether account tax scope settings should be used to calculate final price.\";}s:12:\"Availability\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/EventRegistrationTypeAvailability\";}s:16:\"RegistrationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"Registration
  code required to apply for event with this registration type. This property has
  value only if Availability is CodeRequired.\";}s:28:\"AvailableForMembershipLevels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:105:\"Which
  membership levels can apply for event. This property has value only if Availability
  is MembersOnly.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinkedResource\";}}s:13:\"AvailableFrom\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:73:\"This
  registration type is available starting from this date. Can be null.\";}s:16:\"AvailableThrough\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:65:\"This
  registration type is available until this date. Can be null.\";}s:23:\"MaximumRegistrantsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:57:\"Maximum
  number of registrants for this registration type.\";}s:23:\"CurrentRegistrantsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:57:\"Current
  number of registrants for this registration type.\";}s:23:\"GuestRegistrationPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EventGuestRegistrationPolicy\";}s:20:\"UnavailabilityPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/EventRegistrationUnavailabilityPolicy\";}s:21:\"CancellationBehaviour\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/EventRegistrationCancellationBehavior\";}s:27:\"CancellationDaysBeforeEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:159:\"In
  case if CancellationBehaviour = AllowUpToPeriodBeforeEvent, this field indicates
  the minimum number of days before the event that cancellations are allowed.\";}s:17:\"IsWaitlistEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:94:\"Indicated
  if registrant should be added to waitlist if registrations have reached their limit.\";}}}s:33:\"EventRegistrationTypeAvailability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Indicates
  who the registration type is available to.\";s:4:\"enum\";a:3:{i:0;s:8:\"Everyone\";i:1;s:11:\"MembersOnly\";i:2;s:12:\"CodeRequired\";}}s:29:\"EventRegistrationTypeResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"List
  of event registration types that match the request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EventRegistrationType\";}}s:37:\"EventRegistrationUnavailabilityPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Indicates
  what is displayed if the registration type is not available for a particular visitor.\";s:4:\"enum\";a:2:{i:0;s:12:\"ShowDisabled\";i:1;s:4:\"Hide\";}}s:13:\"EventSesssion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"Unique
  event session identifier.\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Automatically
  generated session title.\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:59:\"Date
  and time when the event session is scheduled to start.\";}s:18:\"StartTimeSpecified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:102:\"Indicates
  if session start time is specified. False means that StartDate contains only date
  component.\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:73:\"Date
  and time when the event session is scheduled to end. Could be empty.\";}s:16:\"EndTimeSpecified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:98:\"Indicates
  if session end time is specified. False means that EndDate contains only date component.\";}}}s:21:\"EventWaitlistSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"WaitlistType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:360:\"Indicates
  how the waitlist works for the event.\n\n - None - waitlist is not enabled\n - Manual
  - people can be added to a waitlist and then automatically registered in the order
  they were added, as sufficient spaces open up\n - Auto - people can be added to
  a waitlist and then manually registered by an administrator or by themselves once
  spaces become available\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:6:\"Manual\";i:2;s:4:\"Auto\";}}s:20:\"InformationToCollect\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Indicates
  what information should be collected for people being added to the waitlist.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:12:\"NameAndEmail\";i:2;s:18:\"ContactInformation\";i:3;s:23:\"RegistrationInformation\";}}}}s:19:\"EventsCountResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:112:\"Number
  of events that match request criteria. This field appears only if $count parameter
  was passed in request.\";}}}s:18:\"EventsListResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Events\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"List
  of events that match request criteria.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}}}}s:16:\"EventIdsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventsIdentifiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:121:\"List
  of event identifiers that match request criteria. The field appears only if idsOnly
[...]
