---
swagger: "3.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"This is a sample
  server Petstore server.\";s:5:\"title\";s:25:\"Swagger For Service Layer\";s:7:\"version\";s:5:\"1.0.0\";}"
host: slcdemo.cfapps.sap.hana.ondemand.com
basePath: /b1s/v1/
paths:
  /ChangeLogsService_GetChangeLogDifferences:
    post:
      produces:
      - application/json
      - application/xml
      description: Invoke the method 'GetChangeLogDifferences' on this service by
        specifying the payload 'ShowDifferenceParams' in the JSON format.
      responses:
        200:
          description: successful operation
      parameters:
      - schema:
          $ref: '#/definitions/CertificateSeries'
        in: body
        name: body
      tags:
      - ChangeLogsService
      consumes:
      - application/json
      - application/xml
  /ChangeLogsService_GetChangeLog:
    post:
      produces:
      - application/json
      - application/xml
      description: Invoke the method 'GetChangeLog' on this service by specifying
        the payload 'GetChangeLogParams' in the JSON format.
      responses:
        200:
          description: successful operation
      parameters:
      - schema:
          $ref: '#/definitions/CertificateSeries'
        in: body
        name: body
      tags:
      - ChangeLogsService
      consumes:
      - application/json
      - application/xml
schemes: https
definitions: !php/object "O:8:\"stdClass\":4:{s:20:\"ShowDifferenceParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"LogInstance2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"PrimaryKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"UDOObjectCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Object\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BoChangeLogEnum\";}s:11:\"LogInstance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"GetChangeLogParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"PrimaryKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"UDOObjectCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Object\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BoChangeLogEnum\";}}}s:17:\"CertificateSeries\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:15:\"BoChangeLogEnum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:54:{i:0;s:23:\"clIncomingExciseInvoice\";i:1;s:18:\"clPurchaseInvoices\";i:2;s:27:\"clCorrectionInvoiceReversal\";i:3;s:12:\"clItemGroups\";i:4;s:12:\"clWarehouses\";i:5;s:19:\"clHouseBankAccounts\";i:6;s:21:\"clWithholdingTaxCodes\";i:7;s:16:\"clStockTransfers\";i:8;s:7:\"clItems\";i:9;s:16:\"clJournalEntries\";i:10;s:23:\"clPurchaseDeliveryNotes\";i:11;s:13:\"clCreditCards\";i:12;s:17:\"clPurchaseReturns\";i:13;s:9:\"clReturns\";i:14;s:35:\"clCorrectionPurchaseInvoiceReversal\";i:15;s:14:\"clServiceCalls\";i:16;s:28:\"clInternalBankOperationCodes\";i:17;s:17:\"clChartOfAccounts\";i:18;s:16:\"clPeriodCategory\";i:19;s:15:\"clDeliveryNotes\";i:20;s:21:\"clMaterialRevaluation\";i:21;s:15:\"clEmployeesInfo\";i:22;s:17:\"clSalesTaxInvoice\";i:23;s:14:\"clDownPayments\";i:24;s:24:\"clCustomerEquipmentCards\";i:25;s:11:\"clPickLists\";i:26;s:18:\"clProductionOrders\";i:27;s:7:\"clUsers\";i:28;s:20:\"clAdditionalExpenses\";i:29;s:14:\"clProductTrees\";i:30;s:16:\"clVendorPayments\";i:31;s:16:\"clBillOfExchange\";i:32;s:11:\"clAdminInfo\";i:33;s:23:\"clInventoryGeneralEntry\";i:34;s:21:\"clPurchaseCreditNotes\";i:35;s:23:\"clOutgoingExciseInvoice\";i:36;s:5:\"clUDO\";i:37;s:19:\"clPurchaseQuotation\";i:38;s:19:\"clCorrectionInvoice\";i:39;s:16:\"clFinancePeriods\";i:40;s:16:\"clPurchaseOrders\";i:41;s:18:\"clBusinessPartners\";i:42;s:28:\"clExternalBankOperationCodes\";i:43;s:18:\"clIncomingPayments\";i:44;s:27:\"clInventoryTransferRequests\";i:45;s:11:\"clVatGroups\";i:46;s:27:\"clCorrectionPurchaseInvoice\";i:47;s:22:\"clPurchaseDownPayments\";i:48;s:13:\"clCreditNotes\";i:49;s:10:\"clInvoices\";i:50;s:12:\"clQuotations\";i:51;s:8:\"clOrders\";i:52;s:22:\"clInventoryGeneralExit\";i:53;s:20:\"clPurchaseTaxInvoice\";}}}"
...
