---
swagger: "3.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"This is a sample
  server Petstore server.\";s:5:\"title\";s:25:\"Swagger For Service Layer\";s:7:\"version\";s:5:\"1.0.0\";}"
host: slcdemo.cfapps.sap.hana.ondemand.com
basePath: /b1s/v1/
paths:
  /PickListsService_UpdateReleasedAllocation:
    post:
      produces:
      - application/json
      - application/xml
      description: Invoke the method 'UpdateReleasedAllocation' on this service by
        specifying the payload 'PickList' in the JSON format.
      responses:
        200:
          description: successful operation
      parameters:
      - schema:
          $ref: '#/definitions/PickList'
        in: body
        name: body
      tags:
      - PickListsService
      consumes:
      - application/json
      - application/xml
  /PickListsService_Close:
    post:
      produces:
      - application/json
      - application/xml
      description: Invoke the method 'Close' on this service by specifying the payload
        'PickList' in the JSON format.
      responses:
        200:
          description: successful operation
      parameters:
      - schema:
          $ref: '#/definitions/PickList'
        in: body
        name: body
      tags:
      - PickListsService
      consumes:
      - application/json
      - application/xml
schemes: https
definitions: !php/object "O:8:\"stdClass\":7:{s:26:\"DocumentLinesBinAllocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"BaseLineNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"SerialAndBatchNumbersBaseLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"AllowNegativeQuantity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BoYesNoEnum\";}s:11:\"BinAbsEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"SerialNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:14:\"BaseLineNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"WarrantyStart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ExpiryDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ReceptionDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ManufactureDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"WarrantyEnd\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"BatchID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"InternalSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"SystemSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"TrackingNote\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"TrackingNoteLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"ManufacturerSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"BatchNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"BaseLineNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"ExpiryDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AddmisionDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BatchNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ManufacturingDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TrackingNote\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"InternalSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"TrackingNoteLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"ManufacturerSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"PickList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":43:{s:13:\"WarrantyStart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OwnerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ExpiryDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PickedQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"ReceptionDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ManufactureDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PickListsLines\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PickListsLine\";}}s:11:\"WarrantyEnd\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"BatchID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OrderRowID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"InternalSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"LineNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PickDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ObjectType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"SystemSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"OrderEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AbsoluteEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"PreviouslyReleasedQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Remarks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PickStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"BoPickStatus\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:21:\"ps_PartiallyDelivered\";i:1;s:9:\"ps_Closed\";i:2;s:11:\"ps_Released\";i:3;s:18:\"ps_PartiallyPicked\";i:4;s:9:\"ps_Picked\";}}s:17:\"ManufacturingDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OwnerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"TrackingNote\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"ReleasedQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"BoPickStatus\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:21:\"ps_PartiallyDelivered\";i:1;s:9:\"ps_Closed\";i:2;s:11:\"ps_Released\";i:3;s:18:\"ps_PartiallyPicked\";i:4;s:9:\"ps_Picked\";}}s:14:\"BaseLineNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AddmisionDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BatchNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"SerialNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SerialNumber\";}}s:29:\"SerialAndBatchNumbersBaseLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Absoluteentry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AllowNegativeQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"BoYesNoEnum\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"tYES\";i:1;s:3:\"tNO\";}}s:14:\"BaseObjectType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"BinAbsEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"BatchNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BatchNumber\";}}s:12:\"UseBaseUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"BoYesNoEnum\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"tYES\";i:1;s:3:\"tNO\";}}s:16:\"TrackingNoteLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"DocumentLinesBinAllocations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DocumentLinesBinAllocation\";}}s:24:\"ManufacturerSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"BoPickStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:21:\"ps_PartiallyDelivered\";i:1;s:9:\"ps_Closed\";i:2;s:11:\"ps_Released\";i:3;s:18:\"ps_PartiallyPicked\";i:4;s:9:\"ps_Picked\";}}s:13:\"PickListsLine\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"OrderEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AbsoluteEntry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"PreviouslyReleasedQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PickedQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"PickStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BoPickStatus\";}s:13:\"SerialNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SerialNumber\";}}s:12:\"BatchNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BatchNumber\";}}s:16:\"ReleasedQuantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"OrderRowID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"LineNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"BaseObjectType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"DocumentLinesBinAllocations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DocumentLinesBinAllocation\";}}}}s:11:\"BoYesNoEnum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"tYES\";i:1;s:3:\"tNO\";}}}"
...
