---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:21:\"support@ontraport.com\";s:4:\"name\";s:30:\"The
  ONTRAPORT Engineering Team\";s:3:\"url\";s:29:\"http://support.ontraport.com/\";}s:11:\"description\";s:384:\"<p>Enter
  your App ID and API Key above. If you do not have an App ID or API Key login to
  your ONTRAPORT account and navigate <a href=\"https://app.ontraport.com/#!/api_settings/listAll\">here</a>.
  Authentication parameters must be sent in the request header as <strong>Api-Appid</strong>
  and <strong>Api-Key</strong>. Each ONTRAPORT account is allowed up to 180 requests
  per minute.</p>\";s:14:\"termsOfService\";s:38:\"https://ontraport.com/terms-of-service\";s:5:\"title\";s:9:\"ONTRAPORT\";s:7:\"version\";s:5:\"1.2.1\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:94:\"https://api.apis.guru/v2/cache/logo/https_ontraport.com_assets_images_ONTRAPORT_logo_150px.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:49:\"https://api.ontraport.com/1/api-docs/swagger.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"ontraport.com\";}"
host: api.ontraport.com
basePath: /1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":2:{s:7:\"default\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"address\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:3:\"zip\";i:4;s:7:\"country\";}}s:8:\"Criteria\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Apply
  this condition to the collection query. This is essentially like a SQL WHERE clause,
  e.g. firstname='Ben'\";s:4:\"type\";s:6:\"string\";}s:10:\"date_range\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"Start
  and End dates to search, in seconds since Jan 1, 1970, as a comma-separated list.
  Start (index 0 in the array) is inclusive, End (index 1) is exclusive. Either or
  both can be empty.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"externs\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"External
  fields to include in results\";s:4:\"type\";s:6:\"string\";}s:9:\"group_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Array
  of Group ID for Object type as comma-delimited list\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:10:\"listFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Return
  only these fields in the response\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"objectID\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"range\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Number
  of results to return (maximum=50)\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:50;s:4:\"type\";s:7:\"integer\";}s:6:\"search\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Search
  Objects for this string\";s:4:\"type\";s:6:\"string\";}s:11:\"searchNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Boolean
  flag to additionally search Object Notes for the Search term given in Search parameter\";s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Field
  used to sort results\";s:4:\"type\";s:6:\"string\";}s:7:\"sortDir\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Sort
  direction, must be used in conjunction with <b>sort</b> parameter.\";s:4:\"enum\";a:2:{i:0;s:3:\"asc\";i:1;s:4:\"desc\";}s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Return
  results starting at this offset\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:8:\"objectID\";}}s:12:\"Notification\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"notification_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:12:\"notification\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:9:\"plaintext\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:17:\"notification_type\";i:2;s:4:\"data\";i:3;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:5:\"Offer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"ccExpirationDate\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:28:\"Credit
  card expiration date.\";s:4:\"type\";s:6:\"string\";}s:5:\"delay\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Days
  to delay start of offer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"grandTotal\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Total
  amount of sale.\";s:4:\"type\";s:6:\"number\";}s:11:\"hasShipping\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:27:\"Are
  there shipping charges?\";s:4:\"type\";s:7:\"boolean\";}s:8:\"hasTaxes\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:27:\"Are
  there applicable taxes?\";s:4:\"type\";s:7:\"boolean\";}s:8:\"offer_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"This
  must be a valid Offer ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"order_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"This
  must be a valid Order ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:4:\"type\";s:5:\"array\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Shipping
  amount.\";s:4:\"type\";s:6:\"number\";}s:34:\"shipping_charge_reoccurring_orders\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:42:\"Add
  shipping charge to reoccurring orders?\";s:4:\"type\";s:7:\"boolean\";}s:8:\"subTotal\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Subtotal.\";s:4:\"type\";s:6:\"number\";}s:5:\"taxes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"offer_id\";i:1;s:8:\"order_id\";i:2;s:8:\"products\";}}s:5:\"Order\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"affiliate_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Affiliate
  ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:9:\"chargeNow\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:9:\"chargeNow\";}s:4:\"type\";s:6:\"string\";}s:10:\"contact_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"gateway_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Gateway
  ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"invoice_template\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Invoice
  template ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"objectID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"offer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Offer\";}s:5:\"payer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Payer\";}}s:8:\"required\";a:2:{i:0;s:8:\"objectID\";i:1;s:10:\"contact_id\";}}s:5:\"Payer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"ccnumber\";O:8:\"stdClass\":2:{s:7:\"default\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:9:\"CVV
  code.\";s:4:\"type\";s:6:\"string\";}s:12:\"expire_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Expiration
  month (1-12).\";s:4:\"type\";s:7:\"integer\";}s:11:\"expire_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Expiration
  year (four-digit year, e.g. 2018).\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:8:\"ccnumber\";i:1;s:4:\"code\";}}s:5:\"Price\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"payment_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:3:\"day\";i:1;s:4:\"week\";i:2;s:5:\"month\";i:3;s:7:\"quarter\";i:4;s:4:\"year\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"price\";i:1;s:13:\"payment_count\";i:2;s:4:\"unit\";i:3;s:2:\"id\";}}s:7:\"Product\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"delay_start\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Days
  to delay start.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"This
  must be an existing Product ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"level1\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Partner
  Level 1 commission percentage.\";s:4:\"type\";s:6:\"number\";}s:6:\"level2\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Partner
  Level 2 commission percentage.\";s:4:\"type\";s:6:\"number\";}s:19:\"offer_to_affiliates\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:41:\"Is
  this offered to Partners (affiliates)?\";s:4:\"type\";s:7:\"boolean\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Product
  owner (Staff ID).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:4:\"type\";s:5:\"array\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"How
  many of this product are being purchased?\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"setup_fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"One-time
  setup fee.\";s:4:\"type\";s:6:\"number\";}s:14:\"setup_fee_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Date
  to charge setup fee (when setup_fee_when is \"on_date\").\";s:4:\"type\";s:6:\"string\";}s:14:\"setup_fee_when\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"When
  should setup fee be applied?\";s:4:\"enum\";a:3:{i:0;s:11:\"immediately\";i:1;s:11:\"after_trial\";i:2;s:7:\"on_date\";}s:4:\"type\";s:6:\"string\";}s:8:\"shipping\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:51:\"Does
  this product have an associated shipping cost?\";s:4:\"type\";s:7:\"boolean\";}s:18:\"subscription_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"subscription_fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"subscription_unit\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:3:\"day\";i:1;s:4:\"week\";i:2;s:5:\"month\";i:3;s:7:\"quarter\";i:4;s:4:\"year\";}s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:24:\"Is
  this product taxable?\";s:4:\"type\";s:7:\"boolean\";}s:7:\"taxable\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Is
  this item taxable?\";s:4:\"type\";s:7:\"boolean\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"What
  is the total amount of this sale?\";s:4:\"type\";s:6:\"number\";}s:18:\"trial_period_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Length
  of trial period (also set trial_period_units).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"trial_period_unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Units
  describing length of trial period.\";s:4:\"enum\";a:5:{i:0;s:3:\"day\";i:1;s:4:\"week\";i:2;s:5:\"month\";i:3;s:7:\"quarter\";i:4;s:4:\"year\";}s:4:\"type\";s:6:\"string\";}s:11:\"trial_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Price
  during trial period.\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"single\";i:1;s:12:\"subscription\";i:2;s:8:\"one_time\";i:3;s:12:\"payment_plan\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"quantity\";i:1;s:5:\"total\";i:2;s:5:\"price\";}}s:8:\"Response\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";s:4:\"type\";s:5:\"array\";}s:7:\"updates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Update\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:4:\"code\";i:1;s:4:\"data\";i:2;s:7:\"updates\";i:3;s:13:\"notifications\";i:4;s:10:\"account_id\";}s:4:\"type\";s:6:\"object\";}s:8:\"Shipping\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"ID
  of the Shipping Method to apply. This must be an existing Shipping Method.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:18:\"TaskCompleteParams\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"criteria\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Criteria\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TaskData\";}}s:8:\"required\";a:2:{i:0;s:8:\"criteria\";i:1;s:4:\"data\";}}s:8:\"TaskData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"followup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TaskFollowup\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Task
  outcome name. This must start with \":=\" For example, <strong>\":=signed\"</strong>.\";s:4:\"type\";s:6:\"string\";}s:14:\"task_form_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"These
  fields can be used to update associated Object data when completing a task. For
  example, set <strong>task_form_title</strong> to \"New title\" to change the Contact's
  title.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"TaskFollowup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"due_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Due
  date of new Task, given as number of days from current date.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"message_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"Message
  ID of new Task to be created for further followup. This Task must currently exist.
  New tasks can be created using the <a href=\"http://api.ontraport.com/doc/#!/objects/createObject\">Objects
  Create endpoint</a> with objectID=1.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"task_owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"New
  Task assignee.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:10:\"message_id\";i:1;s:8:\"due_date\";i:2;s:10:\"task_owner\";}}s:3:\"Tax\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"ID
  of the Tax to apply. This must be an existing Tax type.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:11:\"Transaction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:9:\"chargeNow\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Charge
  Transaction now or or just log a Transaction.\";s:4:\"enum\";a:2:{i:0;s:9:\"chargeNow\";i:1;s:9:\"chargeLog\";}s:4:\"type\";s:6:\"string\";}s:10:\"contact_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Create
  new Transaction for this Object instance (Contact ID).\";s:4:\"type\";s:7:\"integer\";}s:10:\"gateway_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gateway
  ID to use for this Transaction.\";s:4:\"type\";s:7:\"integer\";}s:16:\"invoice_template\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Invoice
  ID to use for this Transaction.\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:5:\"offer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Offer\";}s:5:\"payer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Payer\";}s:10:\"trans_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Timestamp
  (in milliseconds since midnight 1/1/1970) of the Transaction.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:10:\"contact_id\";i:1;s:9:\"chargeNow\";i:2;s:16:\"invoice_template\";i:3;s:10:\"gateway_id\";i:4;s:5:\"offer\";}}s:6:\"Update\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
