---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:173:\"<fullname>Amazon
  AppStream 2.0</fullname> <p>You can use Amazon AppStream 2.0 to stream desktop applications
  to any device running a web browser, without rewriting them.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"Amazon
  AppStream\";s:7:\"version\";s:10:\"2016-12-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appstream-2016-12-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:9:\"appstream\";}"
host: appstream2.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":204:{s:11:\"AccountName\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"AccountPassword\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:127;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:32:\"CLIPBOARD_COPY_FROM_LOCAL_DEVICE\";i:1;s:30:\"CLIPBOARD_COPY_TO_LOCAL_DEVICE\";i:2;s:11:\"FILE_UPLOAD\";i:3;s:13:\"FILE_DOWNLOAD\";i:4;s:24:\"PRINTING_TO_LOCAL_DEVICE\";}s:4:\"type\";s:6:\"string\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Describes
  an application in the application catalog.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  application name for display.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:76:\"If
  there is a problem, the application can be disabled after image creation.\";}s:7:\"IconURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"The
  URL for the application icon. This URL might be time-limited.\";}s:16:\"LaunchParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  arguments that are passed to the application at launch.\";}s:10:\"LaunchPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  path to the application executable in the instance.\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:52:\"Additional
  attributes that describe the application.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  name of the application.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ApplicationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  persistent application settings for users of a stack.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:95:\"Enables
  or disables persistent application settings for users during their streaming sessions.
  \";}s:13:\"SettingsGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SettingsGroup\";s:11:\"description\";s:236:\"The
  path prefix for the S3 bucket where users\u2019 persistent application settings
  are stored. You can allow the same persistent application settings to be used across
  multiple stacks by specifying the same settings group for each stack. \";}}s:8:\"required\";a:1:{i:0;s:7:\"Enabled\";}s:4:\"type\";s:6:\"object\";}s:27:\"ApplicationSettingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Describes
  the persistent application settings for users of a stack.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:104:\"Specifies
  whether persistent application settings are enabled for users during their streaming
  sessions.\";}s:12:\"S3BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:255:\"The
  S3 bucket where users\u2019 persistent application settings are stored. When persistent
  application settings are enabled for the first time for an account in an AWS Region,
  an S3 bucket is created. The bucket is unique to the AWS account and the Region.
  \";}s:13:\"SettingsGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SettingsGroup\";s:11:\"description\";s:92:\"The
  path prefix for the S3 bucket where users\u2019 persistent application settings
  are stored.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Applications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}s:21:\"AppstreamAgentVersion\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:126:\"^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$\";s:4:\"type\";s:6:\"string\";}s:7:\"ArnList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:4:\"type\";s:5:\"array\";}s:21:\"AssociateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  name of the fleet. \";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:2:{i:0;s:9:\"FleetName\";i:1;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:20:\"AssociateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"API\";i:1;s:4:\"SAML\";i:2;s:8:\"USERPOOL\";}s:4:\"type\";s:6:\"string\";}s:12:\"AwsAccountId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:5:\"^\\d+$\";s:4:\"type\";s:6:\"string\";}s:16:\"AwsAccountIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";}s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:30:\"BatchAssociateUserStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"UserStackAssociations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/UserStackAssociationList\";s:11:\"description\";s:41:\"The
  list of UserStackAssociation objects.\";}}s:8:\"required\";a:1:{i:0;s:21:\"UserStackAssociations\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchAssociateUserStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/UserStackAssociationErrorList\";s:11:\"description\";s:46:\"The
  list of UserStackAssociationError objects.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"BatchDisassociateUserStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"UserStackAssociations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/UserStackAssociationList\";s:11:\"description\";s:41:\"The
  list of UserStackAssociation objects.\";}}s:8:\"required\";a:1:{i:0;s:21:\"UserStackAssociations\";}s:4:\"type\";s:6:\"object\";}s:32:\"BatchDisassociateUserStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/UserStackAssociationErrorList\";s:11:\"description\";s:46:\"The
  list of UserStackAssociationError objects.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"ComputeCapacity\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Describes
  the capacity for a fleet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DesiredInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:42:\"The
  desired number of streaming instances.\";}}s:8:\"required\";a:1:{i:0;s:16:\"DesiredInstances\";}s:4:\"type\";s:6:\"object\";}s:21:\"ComputeCapacityStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Describes
  the capacity status for a fleet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Available\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:80:\"The
  number of currently available instances that can be used to stream sessions.\";}s:7:\"Desired\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:42:\"The
  desired number of streaming instances.\";}s:5:\"InUse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:45:\"The
  number of instances in use for streaming.\";}s:7:\"Running\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:70:\"The
  total number of simultaneous streaming instances that are running.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Desired\";}s:4:\"type\";s:6:\"object\";}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":0:{}s:16:\"CopyImageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"DestinationImageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:78:\"The
  description that the image will have when it is copied to the destination.\";}s:20:\"DestinationImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:71:\"The
  name that the image will have when it is copied to the destination.\";}s:17:\"DestinationRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegionName\";s:11:\"description\";s:142:\"The
  destination region to which the image will be copied. This parameter is required,
  even if you are copying an image within the same region.\";}s:15:\"SourceImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the image to copy.\";}}s:8:\"required\";a:3:{i:0;s:15:\"SourceImageName\";i:1;s:20:\"DestinationImageName\";i:2;s:17:\"DestinationRegion\";}s:4:\"type\";s:6:\"object\";}s:17:\"CopyImageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"DestinationImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:34:\"The
  name of the destination image.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDirectoryConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:74:\"The
  fully qualified name of the directory (for example, corp.example.com).\";}s:36:\"OrganizationalUnitDistinguishedNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/OrganizationalUnitDistinguishedNamesList\";s:11:\"description\";s:74:\"The
  distinguished names of the organizational units for computer accounts.\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ServiceAccountCredentials\";s:11:\"description\";s:99:\"The
  credentials for the service account used by the streaming instance to connect to
  the directory.\";}}s:8:\"required\";a:3:{i:0;s:13:\"DirectoryName\";i:1;s:36:\"OrganizationalUnitDistinguishedNames\";i:2;s:25:\"ServiceAccountCredentials\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateDirectoryConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DirectoryConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryConfig\";s:11:\"description\";s:46:\"Information
  about the directory configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"ComputeCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputeCapacity\";s:11:\"description\";s:35:\"The
  desired capacity for the fleet.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description for display.\";}s:26:\"DisconnectTimeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:240:\"The
  time after disconnection when a session is considered to have ended, in seconds.
  If a user who was disconnected reconnects within this time interval, the user is
  connected to their previous session. Specify a value between 60 and 57600.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:27:\"The
  fleet name for display.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:67:\"The
  information needed to join a Microsoft Active Directory domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:58:\"Enables
  or disables default internet access for the fleet.\";}s:9:\"FleetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FleetType\";s:11:\"description\";s:478:\"<p>The
  fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access
  to their apps. You are charged for all running instances in your fleet, even if
  no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users
  with access to applications after they connect, which takes one to two minutes.
  You are charged for instance streaming when users are connected and a small hourly
  fee for instances that are not streaming apps.</p> </dd> </dl>\";}s:8:\"ImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:55:\"The
  ARN of the public, private, or shared image to use.\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  name of the image used to create the fleet.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:980:\"<p>The
  instance type to use when launching fleet instances. The following instance types
  are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p>
  </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li>
  <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li>
  <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li>
  <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p>
  </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p>
  </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p>
  </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p>
  </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p>
  </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>\";}s:24:\"MaxUserDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  maximum time that a streaming session can run, in seconds. Specify a value between
  600 and 57600.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:28:\"A
  unique name for the fleet.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:36:\"The
  VPC configuration for the fleet.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:12:\"InstanceType\";i:2;s:15:\"ComputeCapacity\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Fleet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Fleet\";s:11:\"description\";s:28:\"Information
  about the fleet.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"AppstreamAgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AppstreamAgentVersion\";s:11:\"description\";s:142:\"The
  version of the AppStream 2.0 agent to use for this image builder. To use the latest
  version of the AppStream 2.0 agent, specify [LATEST]. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description for display.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:35:\"The
  image builder name for display.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:67:\"The
  information needed to join a Microsoft Active Directory domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:66:\"Enables
  or disables default internet access for the image builder.\";}s:8:\"ImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:55:\"The
  ARN of the public, private, or shared image to use.\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  name of the image used to create the builder.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  instance type to use when launching the image builder.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:36:\"A
  unique name for the image builder.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:77:\"The
  VPC configuration for the image builder. You can specify only one subnet.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:12:\"InstanceType\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";s:11:\"description\";s:36:\"Information
  about the image builder.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"CreateImageBuilderStreamingURLRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  name of the image builder.\";}s:8:\"Validity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:133:\"The
  time that the streaming URL will be valid, in seconds. Specify a value between 1
  and 604800 seconds. The default is 3600 seconds.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:36:\"CreateImageBuilderStreamingURLResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Expires\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:73:\"The
  elapsed time, in seconds after the Unix epoch, when this URL expires.\";}s:12:\"StreamingURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  URL to start the AppStream 2.0 streaming session.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"ApplicationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ApplicationSettings\";s:11:\"description\";s:227:\"The
  persistent application settings for users of a stack. When these settings are enabled,
  changes that users make to applications and Windows settings are automatically saved
  after each session and applied to the next session.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description for display.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:27:\"The
  stack name for display.\";}s:11:\"FeedbackURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FeedbackURL\";s:11:\"description\";s:137:\"The
  URL that users are redirected to after they click the Send Feedback link. If no
  URL is specified, no Send Feedback link is displayed.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:11:\"RedirectURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RedirectURL\";s:11:\"description\";s:72:\"The
  URL that users are redirected to after their streaming session ends.\";}s:17:\"StorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorList\";s:11:\"description\";s:33:\"The
  storage connectors to enable.\";}s:12:\"UserSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserSettingList\";s:11:\"description\";s:123:\"The
  actions that are enabled or disabled for users during their streaming sessions.
  By default, these actions are enabled. \";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Stack\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Stack\";s:11:\"description\";s:28:\"Information
  about the stack.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateStreamingURLRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"ApplicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"The
  name of the application to launch after the session starts. This is the name that
  you specified as <b>Name</b> in the Image Assistant.\";}s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:14:\"SessionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:250:\"The
  session context. For more information, see <a href=\"http://docs.aws.amazon.com/appstream2/latest/developerguide/managing-stacks-fleets.html#managing-stacks-fleets-parameters\">Session
  Context</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StreamingUrlUserId\";s:11:\"description\";s:19:\"The
  ID of the user.\";}s:8:\"Validity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:131:\"The
  time that the streaming URL will be valid, in seconds. Specify a value between 1
  and 604800 seconds. The default is 60 seconds.\";}}s:8:\"required\";a:3:{i:0;s:9:\"StackName\";i:1;s:9:\"FleetName\";i:2;s:6:\"UserId\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateStreamingURLResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Expires\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:73:\"The
  elapsed time, in seconds after the Unix epoch, when this URL expires.\";}s:12:\"StreamingURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  URL to start the AppStream 2.0 streaming session.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:65:\"The
  authentication type for the user. You must specify USERPOOL. \";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserAttributeValue\";s:11:\"description\";s:43:\"The
  first name, or given name, of the user.\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserAttributeValue\";s:11:\"description\";s:39:\"The
  last name, or surname, of the user.\";}s:13:\"MessageAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MessageAction\";s:11:\"description\";s:462:\"<p>The
  action to take for the welcome email that is sent to a user after the user is created
  in the user pool. If you specify SUPPRESS, no email is sent. If you specify RESEND,
  do not specify the first name or last name of the user. If the value is null, the
  email is sent. </p> <note> <p>The temporary password in the welcome email is valid
  for only 7 days. If users don\u2019t set their passwords within 7 days, you must
  send them a new welcome email.</p> </note>\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:30:\"The
  email address of the user.\";}}s:8:\"required\";a:2:{i:0;s:8:\"UserName\";i:1;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreateUserResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteDirectoryConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:40:\"The
  name of the directory configuration.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DirectoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteDirectoryConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the image builder.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";s:11:\"description\";s:36:\"Information
  about the image builder.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteImagePermissionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the private image.\";}s:15:\"SharedAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:73:\"The
  12-digit ID of the AWS account for which to delete image permissions.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:15:\"SharedAccountId\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteImagePermissionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteImageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:22:\"The
  name of the image.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteImageResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:28:\"Information
  about the image.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:64:\"The
  authentication type for the user. You must specify USERPOOL.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:30:\"The
  email address of the user.\";}}s:8:\"required\";a:2:{i:0;s:8:\"UserName\";i:1;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteUserResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeDirectoryConfigsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"DirectoryNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DirectoryNameList\";s:11:\"description\";s:20:\"The
  directory names.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeDirectoryConfigsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"DirectoryConfigs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DirectoryConfigList\";s:11:\"description\";s:186:\"Information
  about the directory configurations. Note that although the response syntax in this
  topic includes the account password, this password is not returned in the actual
  response. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeFleetsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:36:\"The
  names of the fleets to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeFleetsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Fleets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FleetList\";s:11:\"description\";s:29:\"Information
  about the fleets.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeImageBuildersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:44:\"The
  names of the image builders to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeImageBuildersResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ImageBuilders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImageBuilderList\";s:11:\"description\";s:37:\"Information
  about the image builders.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeImagePermissionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:101:\"The
  name of the private image for which to describe permissions. The image must be one
  that you own. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:19:\"SharedAwsAccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AwsAccountIdList\";s:11:\"description\";s:75:\"The
  12-digit ID of one or more AWS accounts with which the image is shared.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeImagePermissionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the private image.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:26:\"SharedImagePermissionsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/SharedImagePermissionsList\";s:11:\"description\";s:50:\"The
  permissions for a private image that you own. \";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeImagesMaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:25;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:21:\"DescribeImagesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Arns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnList\";s:11:\"description\";s:63:\"The
  ARNs of the public, private, and shared images to describe.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DescribeImagesMaxResults\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:54:\"The
  names of the public or private images to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VisibilityType\";s:11:\"description\";s:60:\"The
  type of image (public, private, or shared) to describe. \";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeImagesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Images\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ImageList\";s:11:\"description\";s:29:\"Information
  about the images.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeSessionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:206:\"The
  authentication method. Specify <code>API</code> for a user authenticated using a
  streaming URL or <code>SAML</code> for a SAML federated user. The default is to
  authenticate users using a streaming URL.\";}s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  name of the fleet. This value is case-sensitive.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:86:\"The
  size of each page of results. The default value is 20 and the maximum value is 50.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  name of the stack. This value is case-sensitive.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/UserId\";s:11:\"description\";s:12:\"The
  user ID.\";}}s:8:\"required\";a:2:{i:0;s:9:\"StackName\";i:1;s:9:\"FleetName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeSessionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:8:\"Sessions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SessionList\";s:11:\"description\";s:41:\"Information
  about the streaming sessions.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeStacksRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:36:\"The
  names of the stacks to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeStacksResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:6:\"Stacks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackList\";s:11:\"description\";s:29:\"Information
  about the stacks.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeUserStackAssociationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:97:\"The
  authentication type for the user who is associated with the stack. You must specify
  USERPOOL.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  name of the stack that is associated with the user.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:63:\"The
  email address of the user who is associated with the stack.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeUserStackAssociationsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:21:\"UserStackAssociations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/UserStackAssociationList\";s:11:\"description\";s:33:\"The
  UserStackAssociation objects.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeUsersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:94:\"The
  authentication type for the users in the user pool to describe. You must specify
  USERPOOL.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:8:\"required\";a:1:{i:0;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeUsersResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserList\";s:11:\"description\";s:41:\"Information
  about users in the user pool.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:15:\"DirectoryConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Configuration
  information for the directory used to join domains.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:49:\"The
  time the directory configuration was created.\";}s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:74:\"The
  fully qualified name of the directory (for example, corp.example.com).\";}s:36:\"OrganizationalUnitDistinguishedNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/OrganizationalUnitDistinguishedNamesList\";s:11:\"description\";s:74:\"The
  distinguished names of the organizational units for computer accounts.\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ServiceAccountCredentials\";s:11:\"description\";s:99:\"The
  credentials for the service account used by the streaming instance to connect to
  the directory.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DirectoryName\";}s:4:\"type\";s:6:\"object\";}s:19:\"DirectoryConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryConfig\";}s:4:\"type\";s:5:\"array\";}s:13:\"DirectoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DirectoryNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";}s:4:\"type\";s:5:\"array\";}s:18:\"DisableUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:64:\"The
  authentication type for the user. You must specify USERPOOL.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:30:\"The
  email address of the user.\";}}s:8:\"required\";a:2:{i:0;s:8:\"UserName\";i:1;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:17:\"DisableUserResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DisassociateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:2:{i:0;s:9:\"FleetName\";i:1;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:23:\"DisassociateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:6:\"Domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"GSuite
  domain for GDrive integration.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Contains
  the information needed to join a Microsoft Active Directory domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:74:\"The
  fully qualified name of the directory (for example, corp.example.com).\";}s:35:\"OrganizationalUnitDistinguishedName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/OrganizationalUnitDistinguishedName\";s:11:\"description\";s:72:\"The
  distinguished name of the organizational unit for computer accounts.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DomainList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";}s:8:\"maxItems\";i:10;s:4:\"type\";s:5:\"array\";}s:17:\"EnableUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:64:\"The
  authentication type for the user. You must specify USERPOOL.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:30:\"The
  email address of the user.\";}}s:8:\"required\";a:2:{i:0;s:8:\"UserName\";i:1;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:16:\"EnableUserResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ExpireSessionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"SessionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  ID of the streaming session.\";}}s:8:\"required\";a:1:{i:0;s:9:\"SessionId\";}s:4:\"type\";s:6:\"object\";}s:19:\"ExpireSessionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"FeedbackURL\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1000;s:4:\"type\";s:6:\"string\";}s:5:\"Fleet\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Contains
  the parameters for a fleet.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:22:\"The
  ARN for the fleet.\";}s:21:\"ComputeCapacityStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ComputeCapacityStatus\";s:11:\"description\";s:34:\"The
  capacity status for the fleet.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  time the fleet was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  description for display.\";}s:26:\"DisconnectTimeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:240:\"The
  time after disconnection when a session is considered to have ended, in seconds.
  If a user who was disconnected reconnects within this time interval, the user is
  connected to their previous session. Specify a value between 60 and 57600.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  fleet name for display.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:67:\"The
  information needed to join a Microsoft Active Directory domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:67:\"Indicates
  whether default internet access is enabled for the fleet.\";}s:11:\"FleetErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FleetErrors\";s:11:\"description\";s:17:\"The
  fleet errors.\";}s:9:\"FleetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FleetType\";s:11:\"description\";s:478:\"<p>The
  fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access
  to their apps. You are charged for all running instances in your fleet, even if
  no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users
  with access to applications after they connect, which takes one to two minutes.
  You are charged for instance streaming when users are connected and a small hourly
  fee for instances that are not streaming apps.</p> </dd> </dl>\";}s:8:\"ImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:49:\"The
  ARN for the public, private, or shared image.\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  name of the image used to create the fleet.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"The
  instance type to use when launching fleet instances.\";}s:24:\"MaxUserDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  maximum time that a streaming session can run, in seconds. Specify a value between
  600 and 57600.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FleetState\";s:11:\"description\";s:32:\"The
  current state for the fleet.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:36:\"The
  VPC configuration for the fleet.\";}}s:8:\"required\";a:5:{i:0;s:3:\"Arn\";i:1;s:4:\"Name\";i:2;s:12:\"InstanceType\";i:3;s:21:\"ComputeCapacityStatus\";i:4;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:14:\"FleetAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  fleet attribute.\";s:4:\"enum\";a:3:{i:0;s:17:\"VPC_CONFIGURATION\";i:1;s:36:\"VPC_CONFIGURATION_SECURITY_GROUP_IDS\";i:2;s:16:\"DOMAIN_JOIN_INFO\";}s:4:\"type\";s:6:\"string\";}s:15:\"FleetAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  fleet attributes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FleetAttribute\";}s:4:\"type\";s:5:\"array\";}s:10:\"FleetError\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  a fleet error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FleetErrorCode\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FleetErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:26:{i:0;s:44:\"IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION\";i:1;s:42:\"IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION\";i:2;s:42:\"IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION\";i:3;s:32:\"NETWORK_INTERFACE_LIMIT_EXCEEDED\";i:4;s:22:\"INTERNAL_SERVICE_ERROR\";i:5;s:27:\"IAM_SERVICE_ROLE_IS_MISSING\";i:6;s:36:\"SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES\";i:7;s:47:\"IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION\";i:8;s:16:\"SUBNET_NOT_FOUND\";i:9;s:15:\"IMAGE_NOT_FOUND\";i:10;s:28:\"INVALID_SUBNET_CONFIGURATION\";i:11;s:25:\"SECURITY_GROUPS_NOT_FOUND\";i:12;s:16:\"IGW_NOT_ATTACHED\";i:13;s:56:\"IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION\";i:14;s:32:\"DOMAIN_JOIN_ERROR_FILE_NOT_FOUND\";i:15;s:31:\"DOMAIN_JOIN_ERROR_ACCESS_DENIED\";i:16;s:31:\"DOMAIN_JOIN_ERROR_LOGON_FAILURE\";i:17;s:35:\"DOMAIN_JOIN_ERROR_INVALID_PARAMETER\";i:18;s:27:\"DOMAIN_JOIN_ERROR_MORE_DATA\";i:19;s:32:\"DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN\";i:20;s:31:\"DOMAIN_JOIN_ERROR_NOT_SUPPORTED\";i:21;s:39:\"DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME\";i:22;s:40:\"DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED\";i:23;s:51:\"DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED\";i:24;s:33:\"DOMAIN_JOIN_NERR_PASSWORD_EXPIRED\";i:25;s:34:\"DOMAIN_JOIN_INTERNAL_SERVICE_ERROR\";}s:4:\"type\";s:6:\"string\";}s:11:\"FleetErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FleetError\";}s:4:\"type\";s:5:\"array\";}s:9:\"FleetList\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  fleets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Fleet\";}s:4:\"type\";s:5:\"array\";}s:10:\"FleetState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"STARTING\";i:1;s:7:\"RUNNING\";i:2;s:8:\"STOPPING\";i:3;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:9:\"FleetType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"ALWAYS_ON\";i:1;s:9:\"ON_DEMAND\";}s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Describes
  an image.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"Applications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Applications\";s:11:\"description\";s:43:\"The
  applications associated with the image.\";}s:21:\"AppstreamAgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AppstreamAgentVersion\";s:11:\"description\";s:95:\"The
  version of the AppStream 2.0 agent to use for instances that are launched from this
  image. \";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:21:\"The
  ARN of the image.\";}s:12:\"BaseImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:55:\"The
  ARN of the image from which this image was created.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  time the image was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  description for display.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  image name for display.\";}s:21:\"ImageBuilderSupported\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:67:\"Indicates
  whether an image builder can be launched from this image.\";}s:16:\"ImagePermissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImagePermissions\";s:11:\"description\";s:82:\"The
  permissions to provide to the destination AWS account for the specified image.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the image.\";}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlatformType\";s:11:\"description\";s:43:\"The
  operating system platform of the image.\";}s:27:\"PublicBaseImageReleasedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:144:\"The
  release date of the public base image. For private images, this date is the release
  date of the base image from which the image was created.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ImageState\";s:11:\"description\";s:175:\"The
  image starts in the <code>PENDING</code> state. If image creation succeeds, the
  state is <code>AVAILABLE</code>. If image creation fails, the state is <code>FAILED</code>.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ImageStateChangeReason\";s:11:\"description\";s:46:\"The
  reason why the last state change occurred.\";}s:10:\"Visibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VisibilityType\";s:11:\"description\";s:49:\"Indicates
  whether the image is public or private.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:12:\"ImageBuilder\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"Describes
  a streaming instance used for editing an image. New images are created from a snapshot
  through an image builder.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:21:\"AppstreamAgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AppstreamAgentVersion\";s:11:\"description\";s:91:\"The
  version of the AppStream 2.0 agent that is currently being used by this image builder.
  \";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:30:\"The
  ARN for the image builder.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:50:\"The
  time stamp when the image builder was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  description for display.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:35:\"The
  image builder name for display.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:67:\"The
  information needed to join a Microsoft Active Directory domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:66:\"Enables
  or disables default internet access for the image builder.\";}s:8:\"ImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:57:\"The
  ARN of the image from which this builder was created.\";}s:18:\"ImageBuilderErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceErrors\";s:11:\"description\";s:25:\"The
  image builder errors.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  instance type for the image builder.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  name of the image builder.\";}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlatformType\";s:11:\"description\";s:51:\"The
  operating system platform of the image builder.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ImageBuilderState\";s:11:\"description\";s:31:\"The
  state of the image builder.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ImageBuilderStateChangeReason\";s:11:\"description\";s:46:\"The
  reason why the last state change occurred.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:43:\"The
  VPC configuration of the image builder.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:16:\"ImageBuilderList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";}s:4:\"type\";s:5:\"array\";}s:17:\"ImageBuilderState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:7:\"PENDING\";i:1;s:14:\"UPDATING_AGENT\";i:2;s:7:\"RUNNING\";i:3;s:8:\"STOPPING\";i:4;s:7:\"STOPPED\";i:5;s:9:\"REBOOTING\";i:6;s:12:\"SNAPSHOTTING\";i:7;s:8:\"DELETING\";i:8;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:29:\"ImageBuilderStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Describes
  the reason why the last image builder state change occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ImageBuilderStateChangeReasonCode\";s:11:\"description\";s:29:\"The
  state change reason code.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  state change reason message.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ImageBuilderStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:17:\"IMAGE_UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:9:\"ImageList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:16:\"ImagePermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Describes
  the permissions for an image. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"allowFleet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:52:\"Indicates
  whether the image can be used for a fleet.\";}s:17:\"allowImageBuilder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:61:\"Indicates
  whether the image can be used for an image builder.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ImageState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"PENDING\";i:1;s:9:\"AVAILABLE\";i:2;s:6:\"FAILED\";i:3;s:7:\"COPYING\";i:4;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}s:22:\"ImageStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Describes
  the reason why the last image state change occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ImageStateChangeReasonCode\";s:11:\"description\";s:29:\"The
  state change reason code.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  state change reason message.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ImageStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:27:\"IMAGE_BUILDER_NOT_AVAILABLE\";i:2;s:18:\"IMAGE_COPY_FAILURE\";}s:4:\"type\";s:6:\"string\";}s:26:\"IncompatibleImageException\";O:8:\"stdClass\":0:{}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"InvalidAccountStatusException\";O:8:\"stdClass\":0:{}s:36:\"InvalidParameterCombinationException\";O:8:\"stdClass\":0:{}s:20:\"InvalidRoleException\";O:8:\"stdClass\":0:{}s:22:\"LimitExceededException\";O:8:\"stdClass\":0:{}s:27:\"ListAssociatedFleetsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListAssociatedFleetsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListAssociatedStacksRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:8:\"required\";a:1:{i:0;s:9:\"FleetName\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListAssociatedStacksResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListTagsForResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the resource.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ResourceArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"ListTagsForResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:31:\"The
  information about the tags.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:500;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"MessageAction\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"SUPPRESS\";i:1;s:6:\"RESEND\";}s:4:\"type\";s:6:\"string\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:34:\"^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$\";s:4:\"type\";s:6:\"string\";}s:26:\"NetworkAccessConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  network details of the fleet instance for the streaming session.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"EniId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:165:\"The
  resource identifier of the elastic network interface that is attached to instances
  in your VPC. All network interfaces have the eni-xxxxxxxx resource identifier.\";}s:19:\"EniPrivateIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"The
  private IP address of the elastic network interface that is attached to instances
  in your VPC.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OperationNotPermittedException\";O:8:\"stdClass\":0:{}s:35:\"OrganizationalUnitDistinguishedName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2000;s:4:\"type\";s:6:\"string\";}s:40:\"OrganizationalUnitDistinguishedNamesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/OrganizationalUnitDistinguishedName\";}s:4:\"type\";s:5:\"array\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:12:\"PlatformType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:7:\"WINDOWS\";}s:4:\"type\";s:6:\"string\";}s:11:\"RedirectURL\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1000;s:4:\"type\";s:6:\"string\";}s:10:\"RegionName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":0:{}s:13:\"ResourceError\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a resource error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FleetErrorCode\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  error message.\";}s:14:\"ErrorTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:28:\"The
  time the error occurred.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ResourceError\";}s:4:\"type\";s:5:\"array\";}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  ARN of the resource.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"ResourceInUseException\";O:8:\"stdClass\":0:{}s:29:\"ResourceNotAvailableException\";O:8:\"stdClass\":0:{}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":0:{}s:19:\"SecurityGroupIdList\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  security group IDs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Describes
  the credentials for the service account used by the streaming instance to connect
  to the directory.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"AccountName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AccountName\";s:11:\"description\";s:234:\"The
  user name of the account. This account must have the following privileges: create
  computer objects, join computers to the domain, and change/reset the password on
  descendant computer objects for the organizational units specified.\";}s:15:\"AccountPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AccountPassword\";s:11:\"description\";s:29:\"The
  password for the account.\";}}s:8:\"required\";a:2:{i:0;s:11:\"AccountName\";i:1;s:15:\"AccountPassword\";}s:4:\"type\";s:6:\"object\";}s:7:\"Session\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Describes
  a streaming session.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:133:\"The
  authentication method. The user is authenticated using a streaming URL (<code>API</code>)
  or SAML federation (<code>SAML</code>).\";}s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  name of the fleet for the streaming session.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  ID of the streaming session.\";}s:26:\"NetworkAccessConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NetworkAccessConfiguration\";s:11:\"description\";s:46:\"The
  network details for the streaming session.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  name of the stack for the streaming session.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SessionState\";s:11:\"description\";s:43:\"The
  current state of the streaming session.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/UserId\";s:11:\"description\";s:60:\"The
  identifier of the user for whom the session was created.\";}}s:8:\"required\";a:5:{i:0;s:2:\"Id\";i:1;s:6:\"UserId\";i:2;s:9:\"StackName\";i:3;s:9:\"FleetName\";i:4;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:11:\"SessionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of sessions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Session\";}s:4:\"type\";s:5:\"array\";}s:12:\"SessionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Possible
  values for the state of a streaming session.\";s:4:\"enum\";a:3:{i:0;s:6:\"ACTIVE\";i:1;s:7:\"PENDING\";i:2;s:7:\"EXPIRED\";}s:4:\"type\";s:6:\"string\";}s:13:\"SettingsGroup\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:22:\"SharedImagePermissions\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"Describes
  the permissions that are available to the specified AWS account for a shared image.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"imagePermissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImagePermissions\";s:11:\"description\";s:45:\"Describes
  the permissions for a shared image.\";}s:15:\"sharedAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:66:\"The
  12-digit ID of the AWS account with which the image is shared.\";}}s:8:\"required\";a:2:{i:0;s:15:\"sharedAccountId\";i:1;s:16:\"imagePermissions\";}s:4:\"type\";s:6:\"object\";}s:26:\"SharedImagePermissionsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SharedImagePermissions\";}s:4:\"type\";s:5:\"array\";}s:5:\"Stack\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Describes
  a stack.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:19:\"ApplicationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ApplicationSettingsResponse\";s:11:\"description\";s:59:\"The
  persistent application settings for users of the stack.\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:21:\"The
  ARN of the stack.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  time the stack was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  description for display.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  stack name for display.\";}s:11:\"FeedbackURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FeedbackURL\";s:11:\"description\";s:137:\"The
  URL that users are redirected to after they click the Send Feedback link. If no
  URL is specified, no Send Feedback link is displayed.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:11:\"RedirectURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RedirectURL\";s:11:\"description\";s:72:\"The
  URL that users are redirected to after their streaming session ends.\";}s:11:\"StackErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StackErrors\";s:11:\"description\";s:25:\"The
  errors for the stack.\";}s:17:\"StorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorList\";s:11:\"description\";s:33:\"The
  storage connectors to enable.\";}s:12:\"UserSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserSettingList\";s:11:\"description\";s:121:\"The
  actions that are enabled or disabled for users during their streaming sessions.
  By default these actions are enabled.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:14:\"StackAttribute\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:18:\"STORAGE_CONNECTORS\";i:1;s:29:\"STORAGE_CONNECTOR_HOMEFOLDERS\";i:2;s:30:\"STORAGE_CONNECTOR_GOOGLE_DRIVE\";i:3;s:27:\"STORAGE_CONNECTOR_ONE_DRIVE\";i:4;s:12:\"REDIRECT_URL\";i:5;s:12:\"FEEDBACK_URL\";i:6;s:10:\"THEME_NAME\";i:7;s:13:\"USER_SETTINGS\";}s:4:\"type\";s:6:\"string\";}s:15:\"StackAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StackAttribute\";}s:4:\"type\";s:5:\"array\";}s:10:\"StackError\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  a stack error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StackErrorCode\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StackErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:23:\"STORAGE_CONNECTOR_ERROR\";i:1;s:22:\"INTERNAL_SERVICE_ERROR\";}s:4:\"type\";s:6:\"string\";}s:11:\"StackErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  stack errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StackError\";}s:4:\"type\";s:5:\"array\";}s:9:\"StackList\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  stacks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stack\";}s:4:\"type\";s:5:\"array\";}s:17:\"StartFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:16:\"StartFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"StartImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"AppstreamAgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AppstreamAgentVersion\";s:11:\"description\";s:142:\"The
  version of the AppStream 2.0 agent to use for this image builder. To use the latest
  version of the AppStream 2.0 agent, specify [LATEST]. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  name of the image builder.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:23:\"StartImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";s:11:\"description\";s:36:\"Information
  about the image builder.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StopFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:15:\"StopFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"StopImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  name of the image builder.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:22:\"StopImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";s:11:\"description\";s:36:\"Information
  about the image builder.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StorageConnector\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Describes
  a connector to enable persistent storage for users.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ConnectorType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorType\";s:11:\"description\";s:30:\"The
  type of storage connector.\";}s:7:\"Domains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainList\";s:11:\"description\";s:49:\"The
  names of the domains for the G Suite account.\";}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";s:11:\"description\";s:33:\"The
  ARN of the storage connector.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ConnectorType\";}s:4:\"type\";s:6:\"object\";}s:20:\"StorageConnectorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  storage connectors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StorageConnector\";}s:4:\"type\";s:5:\"array\";}s:20:\"StorageConnectorType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  type of storage connector.\";s:4:\"enum\";a:3:{i:0;s:11:\"HOMEFOLDERS\";i:1;s:12:\"GOOGLE_DRIVE\";i:2;s:9:\"ONE_DRIVE\";}s:4:\"type\";s:6:\"string\";}s:18:\"StreamingUrlUserId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:7:\"pattern\";s:11:\"[\\w+=,.@-]*\";s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:12:\"SubnetIdList\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  subnet IDs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:41:\"^(^(?!aws:).[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"TagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the resource.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:262:\"<p>The
  tags to associate. A tag is a key-value pair (the value is optional). For example,
  <code>Environment=Test</code>, or, if you do not specify a value, <code>Environment=</code>.
  </p> <p>If you do not specify a value, we set the value to an empty string.</p>\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceArn\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:19:\"TagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the resource.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:42:\"The
  tag keys for the tags to disassociate.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceArn\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:21:\"UntagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateDirectoryConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:40:\"The
  name of the Directory Config object.\";}s:36:\"OrganizationalUnitDistinguishedNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/OrganizationalUnitDistinguishedNamesList\";s:11:\"description\";s:74:\"The
  distinguished names of the organizational units for computer accounts.\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ServiceAccountCredentials\";s:11:\"description\";s:99:\"The
  credentials for the service account used by the streaming instance to connect to
  the directory.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DirectoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateDirectoryConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DirectoryConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryConfig\";s:11:\"description\";s:46:\"Information
  about the Directory Config object.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateFleetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:18:\"AttributesToDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FleetAttributes\";s:11:\"description\";s:31:\"The
  fleet attributes to delete.\";}s:15:\"ComputeCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputeCapacity\";s:11:\"description\";s:35:\"The
  desired capacity for the fleet.\";}s:15:\"DeleteVpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:52:\"Deletes
  the VPC association for the specified fleet.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description for display.\";}s:26:\"DisconnectTimeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:240:\"The
  time after disconnection when a session is considered to have ended, in seconds.
  If a user who was disconnected reconnects within this time interval, the user is
  connected to their previous session. Specify a value between 60 and 57600.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:27:\"The
  fleet name for display.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:67:\"The
  information needed to join a Microsoft Active Directory domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:58:\"Enables
  or disables default internet access for the fleet.\";}s:8:\"ImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:55:\"The
  ARN of the public, private, or shared image to use.\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  name of the image used to create the fleet.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:980:\"<p>The
  instance type to use when launching fleet instances. The following instance types
  are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p>
  </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li>
  <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li>
  <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li>
  <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p>
  </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p>
  </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p>
  </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p>
  </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p>
  </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>\";}s:24:\"MaxUserDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  maximum time that a streaming session can run, in seconds. Specify a value between
  600 and 57600.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"A
  unique name for the fleet.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:36:\"The
  VPC configuration for the fleet.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Fleet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Fleet\";s:11:\"description\";s:28:\"Information
  about the fleet.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"UpdateImagePermissionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ImagePermissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImagePermissions\";s:11:\"description\";s:30:\"The
  permissions for the image.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the private image.\";}s:15:\"SharedAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:86:\"The
  12-digit ID of the AWS account for which you want add or update image permissions.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:15:\"SharedAccountId\";i:2;s:16:\"ImagePermissions\";}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateImagePermissionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"ApplicationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ApplicationSettings\";s:11:\"description\";s:227:\"The
  persistent application settings for users of a stack. When these settings are enabled,
  changes that users make to applications and Windows settings are automatically saved
  after each session and applied to the next session.\";}s:18:\"AttributesToDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StackAttributes\";s:11:\"description\";s:31:\"The
  stack attributes to delete.\";}s:23:\"DeleteStorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:63:\"Deletes
  the storage connectors currently enabled for the stack.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description for display.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:27:\"The
  stack name for display.\";}s:11:\"FeedbackURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FeedbackURL\";s:11:\"description\";s:137:\"The
  URL that users are redirected to after they click the Send Feedback link. If no
  URL is specified, no Send Feedback link is displayed.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:11:\"RedirectURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RedirectURL\";s:11:\"description\";s:72:\"The
  URL that users are redirected to after their streaming session ends.\";}s:17:\"StorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorList\";s:11:\"description\";s:33:\"The
  storage connectors to enable.\";}s:12:\"UserSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserSettingList\";s:11:\"description\";s:122:\"The
  actions that are enabled or disabled for users during their streaming sessions.
  By default, these actions are enabled.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Stack\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Stack\";s:11:\"description\";s:28:\"Information
  about the stack.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Describes
  a user in the user pool.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:20:\"The
  ARN of the user.\";}s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:37:\"The
  authentication type for the user.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:56:\"The
  date and time the user was created in the user pool.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:55:\"Specifies
  whether the user in the user pool is enabled.\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserAttributeValue\";s:11:\"description\";s:43:\"The
  first name, or given name, of the user.\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserAttributeValue\";s:11:\"description\";s:39:\"The
  last name, or surname, of the user.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:442:\"<p>The
  status of the user in the user pool. The status can be one of the following:</p>
  <ul> <li> <p>UNCONFIRMED \u2013 The user is created but not confirmed.</p> </li>
  <li> <p>CONFIRMED \u2013 The user is confirmed.</p> </li> <li> <p>ARCHIVED \u2013
  The user is no longer active.</p> </li> <li> <p>COMPROMISED \u2013 The user is disabled
  because of a potential security threat.</p> </li> <li> <p>UNKNOWN \u2013 The user
  status is not known.</p> </li> </ul>\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:30:\"The
  email address of the user.\";}}s:8:\"required\";a:1:{i:0;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:18:\"UserAttributeValue\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:2048;s:7:\"pattern\";s:19:\"^[A-Za-z0-9_\\-\\s]+$\";s:4:\"type\";s:6:\"string\";}s:6:\"UserId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:8:\"UserList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:11:\"UserSetting\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"Describes
  an action and whether the action is enabled or disabled for users during their streaming
  sessions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Action\";s:11:\"description\";s:39:\"The
  action that is enabled or disabled.\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";s:11:\"description\";s:52:\"Indicates
  whether the action is enabled or disabled.\";}}s:8:\"required\";a:2:{i:0;s:6:\"Action\";i:1;s:10:\"Permission\";}s:4:\"type\";s:6:\"object\";}s:15:\"UserSettingList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserSetting\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:20:\"UserStackAssociation\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Describes
  a user in the user pool and the associated stack.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:37:\"The
  authentication type for the user.\";}s:21:\"SendEmailNotification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:95:\"Specifies
  whether a welcome email is sent to a user after the user is created in the user
  pool.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  name of the stack that is associated with the user.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:63:\"The
  email address of the user who is associated with the stack.\";}}s:8:\"required\";a:3:{i:0;s:9:\"StackName\";i:1;s:8:\"UserName\";i:2;s:18:\"AuthenticationType\";}s:4:\"type\";s:6:\"object\";}s:25:\"UserStackAssociationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Describes
  the error that is returned when a user can\u2019t be associated with or disassociated
  from a stack. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/UserStackAssociationErrorCode\";s:11:\"description\";s:115:\"The
  error code for the error that is returned when a user can\u2019t be associated with
  or disassociated from a stack.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"The
  error message for the error that is returned when a user can\u2019t be associated
  with or disassociated from a stack.\";}s:20:\"UserStackAssociation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/UserStackAssociation\";s:11:\"description\";s:48:\"Information
  about the user and associated stack.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"UserStackAssociationErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:15:\"STACK_NOT_FOUND\";i:1;s:19:\"USER_NAME_NOT_FOUND\";i:2;s:14:\"INTERNAL_ERROR\";}s:4:\"type\";s:6:\"string\";}s:29:\"UserStackAssociationErrorList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/UserStackAssociationError\";}s:4:\"type\";s:5:\"array\";}s:24:\"UserStackAssociationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/UserStackAssociation\";}s:4:\"type\";s:5:\"array\";}s:8:\"Username\";O:8:\"stdClass\":5:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:28:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+\";s:4:\"type\";s:6:\"string\";}s:14:\"VisibilityType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"PUBLIC\";i:1;s:7:\"PRIVATE\";i:2;s:6:\"SHARED\";}s:4:\"type\";s:6:\"string\";}s:9:\"VpcConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Describes
  VPC configuration information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecurityGroupIdList\";s:11:\"description\";s:34:\"The
  security groups for the fleet.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SubnetIdList\";s:11:\"description\";s:80:\"The
  subnets to which a network interface is established from the fleet instance.\";}}s:4:\"type\";s:6:\"object\";}}"
...
