---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:173:\"<fullname>Amazon
  AppStream 2.0</fullname> <p>You can use Amazon AppStream 2.0 to stream desktop applications
  to any device running a web browser, without rewriting them.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"Amazon
  AppStream\";s:7:\"version\";s:10:\"2016-12-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appstream-2016-12-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"appstream2\";}"
host: appstream2.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates the specified fleet with the specified stack.
      operationId: AssociateFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssociateFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AssociateFleetResult'
        480:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        483:
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
        484:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  /#CreateDirectoryConfig:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a directory configuration.
      operationId: CreateDirectoryConfig
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDirectoryConfigRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDirectoryConfigResult'
        480:
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  /#CreateFleet:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a fleet.
      operationId: CreateFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateFleetResult'
        480:
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        481:
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        484:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        485:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        486:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        487:
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
  /#CreateImageBuilder:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateImageBuilder
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateImageBuilderRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateImageBuilderResult'
        480:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        481:
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        482:
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        483:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        484:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        485:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        486:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        487:
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
  /#CreateImageBuilderStreamingURL:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: CreateImageBuilderStreamingURL
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateImageBuilderStreamingURLRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateImageBuilderStreamingURLResult'
        480:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /#CreateStack:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a stack.
      operationId: CreateStack
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateStackRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateStackResult'
        480:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        481:
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        483:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        484:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        485:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#CreateStreamingURL:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates a URL to start a streaming session for the specified
        user.</p> <p>By default, the URL is valid only for one minute from the time
        that it is generated.</p>
      operationId: CreateStreamingURL
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateStreamingURLRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateStreamingURLResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        482:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        483:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DeleteDirectoryConfig:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified directory configuration.
      operationId: DeleteDirectoryConfig
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDirectoryConfigRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteDirectoryConfigResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /#DeleteFleet:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified fleet.
      operationId: DeleteFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteFleetResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#DeleteImage:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteImage
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteImageRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteImageResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        483:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#DeleteImageBuilder:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DeleteImageBuilder
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteImageBuilderRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteImageBuilderResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#DeleteStack:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified stack. After this operation completes, the
        environment can no longer be activated and any reservations made for the stack
        are released.
      operationId: DeleteStack
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteStackRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteStackResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#DescribeDirectoryConfigs:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified directory configurations.
      operationId: DescribeDirectoryConfigs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDirectoryConfigsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeDirectoryConfigsResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /#DescribeFleets:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified fleets or all fleets in the account.
      operationId: DescribeFleets
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeFleetsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeFleetsResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      x-waiters:
      - acceptors:
        - argument: Fleets[].State
          expected: ACTIVE
          matcher: pathAll
          state: success
        - argument: Fleets[].State
          expected: PENDING_DEACTIVATE
          matcher: pathAny
          state: failure
        - argument: Fleets[].State
          expected: INACTIVE
          matcher: pathAny
          state: failure
        delay: 30
        maxAttempts: 40
        operation: DescribeFleets
      - acceptors:
        - argument: Fleets[].State
          expected: INACTIVE
          matcher: pathAll
          state: success
        - argument: Fleets[].State
          expected: PENDING_ACTIVATE
          matcher: pathAny
          state: failure
        - argument: Fleets[].State
          expected: ACTIVE
          matcher: pathAny
          state: failure
        delay: 30
        maxAttempts: 40
        operation: DescribeFleets
  /#DescribeImageBuilders:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: DescribeImageBuilders
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeImageBuildersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeImageBuildersResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /#DescribeImages:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified images or all images in the account.
      operationId: DescribeImages
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeImagesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeImagesResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /#DescribeSessions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the streaming sessions for the specified stack and fleet.
        If a user ID is provided, only the streaming sessions for only that user are
        returned. If an authentication type is not provided, the default is to authenticate
        users using a streaming URL.
      operationId: DescribeSessions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeSessionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeSessionsResult'
        480:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DescribeStacks:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the specified stacks or all stacks in the account.
      operationId: DescribeStacks
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeStacksRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeStacksResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /#DisassociateFleet:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates the specified fleet from the specified stack.
      operationId: DisassociateFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateFleetResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#ExpireSession:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops the specified streaming session.
      operationId: ExpireSession
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ExpireSessionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ExpireSessionResult'
  /#ListAssociatedFleets:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the fleets associated with the specified stack.
      operationId: ListAssociatedFleets
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListAssociatedFleetsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListAssociatedFleetsResult'
  /#ListAssociatedStacks:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the stacks associated with the specified fleet.
      operationId: ListAssociatedStacks
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListAssociatedStacksRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListAssociatedStacksResult'
  /#StartFleet:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts the specified fleet.
      operationId: StartFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StartFleetResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        482:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        483:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#StartImageBuilder:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: StartImageBuilder
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartImageBuilderRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StartImageBuilderResult'
        480:
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#StopFleet:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops the specified fleet.
      operationId: StopFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StopFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StopFleetResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#StopImageBuilder:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ""
      operationId: StopImageBuilder
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StopImageBuilderRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StopImageBuilderResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#UpdateDirectoryConfig:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the specified directory configuration.
      operationId: UpdateDirectoryConfig
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateDirectoryConfigRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateDirectoryConfigResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#UpdateFleet:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code>
        state, you can update any attribute except the fleet name. If the fleet is
        in the <code>RUNNING</code> state, you can update the <code>DisplayName</code>
        and <code>ComputeCapacity</code> attributes. If the fleet is in the <code>STARTING</code>
        or <code>STOPPING</code> state, you can't update it.</p>
      operationId: UpdateFleet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFleetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFleetResult'
        480:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        483:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        484:
          description: ResourceNotAvailableException
          schema:
            $ref: '#/definitions/ResourceNotAvailableException'
        485:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        486:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        487:
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
        488:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
  /#UpdateStack:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the specified stack.
      operationId: UpdateStack
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateStackRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateStackResult'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        482:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        483:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
        484:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        485:
          description: IncompatibleImageException
          schema:
            $ref: '#/definitions/IncompatibleImageException'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":136:{s:11:\"AccountName\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"AccountPassword\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:127;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Describes
  an application in the application catalog.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  application name displayed to end users.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:76:\"If
  there is a problem, the application can be disabled after image creation.\";}s:7:\"IconURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"The
  URL for the application icon. This URL might be time-limited.\";}s:16:\"LaunchParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  arguments that are passed to the application at launch.\";}s:10:\"LaunchPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  path to the application executable in the instance.\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:52:\"Additional
  attributes that describe the application.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  name of the application.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Applications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:126:\"^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$\";s:4:\"type\";s:6:\"string\";}s:21:\"AssociateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:2:{i:0;s:9:\"FleetName\";i:1;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:20:\"AssociateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"API\";i:1;s:4:\"SAML\";i:2;s:8:\"USERPOOL\";}s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"ComputeCapacity\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Describes
  the capacity for a fleet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DesiredInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:42:\"The
  desired number of streaming instances.\";}}s:8:\"required\";a:1:{i:0;s:16:\"DesiredInstances\";}s:4:\"type\";s:6:\"object\";}s:21:\"ComputeCapacityStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Describes
  the capacity status for a fleet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Available\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:80:\"The
  number of currently available instances that can be used to stream sessions.\";}s:7:\"Desired\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:42:\"The
  desired number of streaming instances.\";}s:5:\"InUse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:45:\"The
  number of instances in use for streaming.\";}s:7:\"Running\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:70:\"The
  total number of simultaneous streaming instances that are running.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Desired\";}s:4:\"type\";s:6:\"object\";}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"An
  API error occurred. Wait a few minutes and try again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDirectoryConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:74:\"The
  fully qualified name of the directory (for example, corp.example.com).\";}s:36:\"OrganizationalUnitDistinguishedNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/OrganizationalUnitDistinguishedNamesList\";s:11:\"description\";s:74:\"The
  distinguished names of the organizational units for computer accounts.\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ServiceAccountCredentials\";s:11:\"description\";s:99:\"The
  credentials for the service account used by the streaming instance to connect to
  the directory.\";}}s:8:\"required\";a:3:{i:0;s:13:\"DirectoryName\";i:1;s:36:\"OrganizationalUnitDistinguishedNames\";i:2;s:25:\"ServiceAccountCredentials\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateDirectoryConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DirectoryConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryConfig\";s:11:\"description\";s:46:\"Information
  about the directory configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:15:\"ComputeCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputeCapacity\";s:11:\"description\";s:35:\"The
  desired capacity for the fleet.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:26:\"DisconnectTimeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:240:\"The
  time after disconnection when a session is considered to have ended, in seconds.
  If a user who was disconnected reconnects within this time interval, the user is
  connected to their previous session. Specify a value between 60 and 57600.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:38:\"The
  fleet name displayed to end users.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:64:\"The
  information needed for streaming instances to join a domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:58:\"Enables
  or disables default internet access for the fleet.\";}s:9:\"FleetType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FleetType\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  name of the image used by the fleet.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:980:\"<p>The
  instance type to use when launching fleet instances. The following instance types
  are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p>
  </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li>
  <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li>
  <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li>
  <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p>
  </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p>
  </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p>
  </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p>
  </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p>
  </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>\";}s:24:\"MaxUserDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  maximum time that a streaming session can run, in seconds. Specify a value between
  600 and 57600.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:28:\"A
  unique name for the fleet.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:36:\"The
  VPC configuration for the fleet.\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:9:\"ImageName\";i:2;s:12:\"InstanceType\";i:3;s:15:\"ComputeCapacity\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Fleet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Fleet\";s:11:\"description\";s:28:\"Information
  about the fleet.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:11:\"DisplayName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";}s:9:\"ImageName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:12:\"InstanceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}s:9:\"VpcConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:9:\"ImageName\";i:2;s:12:\"InstanceType\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";}}s:4:\"type\";s:6:\"object\";}s:37:\"CreateImageBuilderStreamingURLRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"Validity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Long\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:36:\"CreateImageBuilderStreamingURLResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Expires\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:12:\"StreamingURL\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:38:\"The
  stack name displayed to end users.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:17:\"StorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorList\";s:11:\"description\";s:33:\"The
  storage connectors to enable.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Stack\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Stack\";s:11:\"description\";s:28:\"Information
  about the stack.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateStreamingURLRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"ApplicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"The
  ID of the application that must be launched after the session starts.\";}s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:14:\"SessionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  session context of the streaming URL.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StreamingUrlUserId\";s:11:\"description\";s:19:\"The
  ID of the user.\";}s:8:\"Validity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:104:\"The
  time that the streaming URL will be valid, in seconds. Specify a value between 1
  and 604800 seconds.\";}}s:8:\"required\";a:3:{i:0;s:9:\"StackName\";i:1;s:9:\"FleetName\";i:2;s:6:\"UserId\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateStreamingURLResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Expires\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:73:\"The
  elapsed time, in seconds after the Unix epoch, when this URL expires.\";}s:12:\"StreamingURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  URL to start the AppStream 2.0 streaming session.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteDirectoryConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:40:\"The
  name of the directory configuration.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DirectoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteDirectoryConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteImageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteImageResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeDirectoryConfigsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"DirectoryNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DirectoryNameList\";s:11:\"description\";s:20:\"The
  directory names.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:41:\"The
  maximum size of each page of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeDirectoryConfigsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"DirectoryConfigs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DirectoryConfigList\";s:11:\"description\";s:47:\"Information
  about the directory configurations.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeFleetsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:36:\"The
  names of the fleets to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeFleetsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Fleets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FleetList\";s:11:\"description\";s:29:\"Information
  about the fleets.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeImageBuildersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}s:5:\"Names\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeImageBuildersResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ImageBuilders\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ImageBuilderList\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeImagesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:36:\"The
  names of the images to describe.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeImagesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Images\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ImageList\";s:11:\"description\";s:29:\"Information
  about the images.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeSessionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:206:\"The
  authentication method. Specify <code>API</code> for a user authenticated using a
  streaming URL or <code>SAML</code> for a SAML federated user. The default is to
  authenticate users using a streaming URL.\";}s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:86:\"The
  size of each page of results. The default value is 20 and the maximum value is 50.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/UserId\";s:11:\"description\";s:12:\"The
  user ID.\";}}s:8:\"required\";a:2:{i:0;s:9:\"StackName\";i:1;s:9:\"FleetName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeSessionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:8:\"Sessions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SessionList\";s:11:\"description\";s:41:\"Information
  about the streaming sessions.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeStacksRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:36:\"The
  names of the stacks to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeStacksResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}s:6:\"Stacks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackList\";s:11:\"description\";s:29:\"Information
  about the stacks.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:15:\"DirectoryConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Configuration
  information for the directory used to join domains.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:49:\"The
  time the directory configuration was created.\";}s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:74:\"The
  fully qualified name of the directory (for example, corp.example.com).\";}s:36:\"OrganizationalUnitDistinguishedNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/OrganizationalUnitDistinguishedNamesList\";s:11:\"description\";s:74:\"The
  distinguished names of the organizational units for computer accounts.\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ServiceAccountCredentials\";s:11:\"description\";s:99:\"The
  credentials for the service account used by the streaming instance to connect to
  the directory.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DirectoryName\";}s:4:\"type\";s:6:\"object\";}s:19:\"DirectoryConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryConfig\";}s:4:\"type\";s:5:\"array\";}s:13:\"DirectoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DirectoryNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";}s:4:\"type\";s:5:\"array\";}s:24:\"DisassociateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:2:{i:0;s:9:\"FleetName\";i:1;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:23:\"DisassociateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Contains
  the information needed for streaming instances to join a domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:74:\"The
  fully qualified name of the directory (for example, corp.example.com).\";}s:35:\"OrganizationalUnitDistinguishedName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/OrganizationalUnitDistinguishedName\";s:11:\"description\";s:72:\"The
  distinguished name of the organizational unit for computer accounts.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  error message in the exception.\";s:4:\"type\";s:6:\"string\";}s:20:\"ExpireSessionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"SessionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  ID of the streaming session.\";}}s:8:\"required\";a:1:{i:0;s:9:\"SessionId\";}s:4:\"type\";s:6:\"object\";}s:19:\"ExpireSessionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Fleet\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Contains
  the parameters for a fleet.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:22:\"The
  ARN for the fleet.\";}s:21:\"ComputeCapacityStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ComputeCapacityStatus\";s:11:\"description\";s:34:\"The
  capacity status for the fleet.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  time the fleet was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:26:\"DisconnectTimeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:240:\"The
  time after disconnection when a session is considered to have ended, in seconds.
  If a user who was disconnected reconnects within this time interval, the user is
  connected to their previous session. Specify a value between 60 and 57600.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  fleet name displayed to end users.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:64:\"The
  information needed for streaming instances to join a domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:67:\"Indicates
  whether default internet access is enabled for the fleet.\";}s:11:\"FleetErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FleetErrors\";s:11:\"description\";s:17:\"The
  fleet errors.\";}s:9:\"FleetType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FleetType\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  image used by the fleet.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"The
  instance type to use when launching fleet instances.\";}s:24:\"MaxUserDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  maximum time that a streaming session can run, in seconds. Specify a value between
  600 and 57600.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FleetState\";s:11:\"description\";s:32:\"The
  current state for the fleet.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:36:\"The
  VPC configuration for the fleet.\";}}s:8:\"required\";a:6:{i:0;s:3:\"Arn\";i:1;s:4:\"Name\";i:2;s:9:\"ImageName\";i:3;s:12:\"InstanceType\";i:4;s:21:\"ComputeCapacityStatus\";i:5;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:14:\"FleetAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  fleet attribute.\";s:4:\"enum\";a:3:{i:0;s:17:\"VPC_CONFIGURATION\";i:1;s:36:\"VPC_CONFIGURATION_SECURITY_GROUP_IDS\";i:2;s:16:\"DOMAIN_JOIN_INFO\";}s:4:\"type\";s:6:\"string\";}s:15:\"FleetAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  fleet attributes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FleetAttribute\";}s:4:\"type\";s:5:\"array\";}s:10:\"FleetError\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  a fleet error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FleetErrorCode\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FleetErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:26:{i:0;s:44:\"IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION\";i:1;s:42:\"IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION\";i:2;s:42:\"IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION\";i:3;s:32:\"NETWORK_INTERFACE_LIMIT_EXCEEDED\";i:4;s:22:\"INTERNAL_SERVICE_ERROR\";i:5;s:27:\"IAM_SERVICE_ROLE_IS_MISSING\";i:6;s:36:\"SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES\";i:7;s:47:\"IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION\";i:8;s:16:\"SUBNET_NOT_FOUND\";i:9;s:15:\"IMAGE_NOT_FOUND\";i:10;s:28:\"INVALID_SUBNET_CONFIGURATION\";i:11;s:25:\"SECURITY_GROUPS_NOT_FOUND\";i:12;s:16:\"IGW_NOT_ATTACHED\";i:13;s:56:\"IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION\";i:14;s:32:\"DOMAIN_JOIN_ERROR_FILE_NOT_FOUND\";i:15;s:31:\"DOMAIN_JOIN_ERROR_ACCESS_DENIED\";i:16;s:31:\"DOMAIN_JOIN_ERROR_LOGON_FAILURE\";i:17;s:35:\"DOMAIN_JOIN_ERROR_INVALID_PARAMETER\";i:18;s:27:\"DOMAIN_JOIN_ERROR_MORE_DATA\";i:19;s:32:\"DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN\";i:20;s:31:\"DOMAIN_JOIN_ERROR_NOT_SUPPORTED\";i:21;s:39:\"DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME\";i:22;s:40:\"DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED\";i:23;s:51:\"DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED\";i:24;s:33:\"DOMAIN_JOIN_NERR_PASSWORD_EXPIRED\";i:25;s:34:\"DOMAIN_JOIN_INTERNAL_SERVICE_ERROR\";}s:4:\"type\";s:6:\"string\";}s:11:\"FleetErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FleetError\";}s:4:\"type\";s:5:\"array\";}s:9:\"FleetList\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  fleets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Fleet\";}s:4:\"type\";s:5:\"array\";}s:10:\"FleetState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"STARTING\";i:1;s:7:\"RUNNING\";i:2;s:8:\"STOPPING\";i:3;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:9:\"FleetType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"ALWAYS_ON\";i:1;s:9:\"ON_DEMAND\";}s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Describes
  an image.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"Applications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Applications\";s:11:\"description\";s:43:\"The
  applications associated with the image.\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:21:\"The
  ARN of the image.\";}s:12:\"BaseImageArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:55:\"The
  ARN of the image from which this image was created.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  time the image was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  image name displayed to end users.\";}s:21:\"ImageBuilderSupported\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:67:\"Indicates
  whether an image builder can be launched from this image.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the image.\";}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlatformType\";s:11:\"description\";s:43:\"The
  operating system platform of the image.\";}s:27:\"PublicBaseImageReleasedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:144:\"The
  release date of the public base image. For private images, this date is the release
  date of the base image from which the image was created.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ImageState\";s:11:\"description\";s:175:\"The
  image starts in the <code>PENDING</code> state. If image creation succeeds, the
  state is <code>AVAILABLE</code>. If image creation fails, the state is <code>FAILED</code>.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ImageStateChangeReason\";s:11:\"description\";s:46:\"The
  reason why the last state change occurred.\";}s:10:\"Visibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VisibilityType\";s:11:\"description\";s:49:\"Indicates
  whether the image is public or private.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:12:\"ImageBuilder\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"Arn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:11:\"CreatedTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:11:\"DisplayName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";}s:8:\"ImageArn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:18:\"ImageBuilderErrors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourceErrors\";}s:12:\"InstanceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"Platform\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PlatformType\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ImageBuilderState\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ImageBuilderStateChangeReason\";}s:9:\"VpcConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:16:\"ImageBuilderList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";}s:4:\"type\";s:5:\"array\";}s:17:\"ImageBuilderState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:7:\"PENDING\";i:1;s:7:\"RUNNING\";i:2;s:8:\"STOPPING\";i:3;s:7:\"STOPPED\";i:4;s:9:\"REBOOTING\";i:5;s:12:\"SNAPSHOTTING\";i:6;s:8:\"DELETING\";i:7;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:29:\"ImageBuilderStateChangeReason\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ImageBuilderStateChangeReasonCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ImageBuilderStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:17:\"IMAGE_UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:9:\"ImageList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:10:\"ImageState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:9:\"AVAILABLE\";i:2;s:6:\"FAILED\";i:3;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}s:22:\"ImageStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Describes
  the reason why the last state change occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ImageStateChangeReasonCode\";s:11:\"description\";s:29:\"The
  state change reason code.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  state change reason message.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ImageStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:27:\"IMAGE_BUILDER_NOT_AVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:26:\"IncompatibleImageException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  image does not support storage connectors.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:36:\"InvalidParameterCombinationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Indicates
  an incorrect combination of parameters, or a missing parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:20:\"InvalidRoleException\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  specified role is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  requested limit exceeds the permitted limit for an account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListAssociatedFleetsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListAssociatedFleetsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:24:\"The
  names of the fleets.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListAssociatedStacksRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If this value is null, it retrieves the first page.\";}}s:8:\"required\";a:1:{i:0;s:9:\"FleetName\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListAssociatedStacksResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:24:\"The
  names of the stacks.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:132:\"The
  pagination token to use to retrieve the next page of results for this operation.
  If there are no more pages, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:34:\"^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$\";s:4:\"type\";s:6:\"string\";}s:30:\"OperationNotPermittedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  attempted operation is not permitted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:35:\"OrganizationalUnitDistinguishedName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2000;s:4:\"type\";s:6:\"string\";}s:40:\"OrganizationalUnitDistinguishedNamesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/OrganizationalUnitDistinguishedName\";}s:4:\"type\";s:5:\"array\";}s:12:\"PlatformType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:7:\"WINDOWS\";}s:4:\"type\";s:6:\"string\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified resource already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResourceError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FleetErrorCode\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:14:\"ErrorTimestamp\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ResourceError\";}s:4:\"type\";s:5:\"array\";}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  ARN of the resource.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"ResourceInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  specified resource is in use.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ResourceNotAvailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  specified resource exists and is not in use, but isn't available.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  specified resource was not found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SecurityGroupIdList\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  security group IDs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Describes
  the credentials for the service account used by the streaming instance to connect
  to the directory.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"AccountName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AccountName\";s:11:\"description\";s:234:\"The
  user name of the account. This account must have the following privileges: create
  computer objects, join computers to the domain, and change/reset the password on
  descendant computer objects for the organizational units specified.\";}s:15:\"AccountPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AccountPassword\";s:11:\"description\";s:29:\"The
  password for the account.\";}}s:8:\"required\";a:2:{i:0;s:11:\"AccountName\";i:1;s:15:\"AccountPassword\";}s:4:\"type\";s:6:\"object\";}s:7:\"Session\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Describes
  a streaming session.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"AuthenticationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationType\";s:11:\"description\";s:133:\"The
  authentication method. The user is authenticated using a streaming URL (<code>API</code>)
  or SAML federation (<code>SAML</code>).\";}s:9:\"FleetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  name of the fleet for the streaming session.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  ID of the streaming session.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  name of the stack for the streaming session.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SessionState\";s:11:\"description\";s:43:\"The
  current state of the streaming session.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/UserId\";s:11:\"description\";s:60:\"The
  identifier of the user for whom the session was created.\";}}s:8:\"required\";a:5:{i:0;s:2:\"Id\";i:1;s:6:\"UserId\";i:2;s:9:\"StackName\";i:3;s:9:\"FleetName\";i:4;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:11:\"SessionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of sessions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Session\";}s:4:\"type\";s:5:\"array\";}s:12:\"SessionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Possible
  values for the state of a streaming session.\";s:4:\"enum\";a:3:{i:0;s:6:\"ACTIVE\";i:1;s:7:\"PENDING\";i:2;s:7:\"EXPIRED\";}s:4:\"type\";s:6:\"string\";}s:5:\"Stack\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Describes
  a stack.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:21:\"The
  ARN of the stack.\";}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  time the stack was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  stack name displayed to end users.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:11:\"StackErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StackErrors\";s:11:\"description\";s:25:\"The
  errors for the stack.\";}s:17:\"StorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorList\";s:11:\"description\";s:33:\"The
  storage connectors to enable.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:10:\"StackError\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  a stack error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StackErrorCode\";s:11:\"description\";s:15:\"The
  error code.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StackErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:23:\"STORAGE_CONNECTOR_ERROR\";i:1;s:22:\"INTERNAL_SERVICE_ERROR\";}s:4:\"type\";s:6:\"string\";}s:11:\"StackErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  stack errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StackError\";}s:4:\"type\";s:5:\"array\";}s:9:\"StackList\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  stacks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stack\";}s:4:\"type\";s:5:\"array\";}s:17:\"StartFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:16:\"StartFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"StartImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:23:\"StartImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StopFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:15:\"StopFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"StopImageBuilderRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:22:\"StopImageBuilderResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImageBuilder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageBuilder\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StorageConnector\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Describes
  a storage connector.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ConnectorType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorType\";s:11:\"description\";s:30:\"The
  type of storage connector.\";}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";s:11:\"description\";s:33:\"The
  ARN of the storage connector.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ConnectorType\";}s:4:\"type\";s:6:\"object\";}s:20:\"StorageConnectorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  storage connectors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StorageConnector\";}s:4:\"type\";s:5:\"array\";}s:20:\"StorageConnectorType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  type of storage connector.\";s:4:\"enum\";a:1:{i:0;s:11:\"HOMEFOLDERS\";}s:4:\"type\";s:6:\"string\";}s:18:\"StreamingUrlUserId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:7:\"pattern\";s:11:\"[\\w+=,.@-]*\";s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:12:\"SubnetIdList\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  subnet IDs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"UpdateDirectoryConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:40:\"The
  name of the directory configuration.\";}s:36:\"OrganizationalUnitDistinguishedNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/OrganizationalUnitDistinguishedNamesList\";s:11:\"description\";s:74:\"The
  distinguished names of the organizational units for computer accounts.\";}s:25:\"ServiceAccountCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ServiceAccountCredentials\";s:11:\"description\";s:99:\"The
  credentials for the service account used by the streaming instance to connect to
  the directory.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DirectoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateDirectoryConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DirectoryConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryConfig\";s:11:\"description\";s:46:\"Information
  about the directory configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateFleetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":13:{s:18:\"AttributesToDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FleetAttributes\";s:11:\"description\";s:31:\"The
  fleet attributes to delete.\";}s:15:\"ComputeCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputeCapacity\";s:11:\"description\";s:35:\"The
  desired capacity for the fleet.\";}s:15:\"DeleteVpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:52:\"Deletes
  the VPC association for the specified fleet.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:26:\"DisconnectTimeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:240:\"The
  time after disconnection when a session is considered to have ended, in seconds.
  If a user who was disconnected reconnects within this time interval, the user is
  connected to their previous session. Specify a value between 60 and 57600.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:38:\"The
  fleet name displayed to end users.\";}s:14:\"DomainJoinInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainJoinInfo\";s:11:\"description\";s:64:\"The
  information needed for streaming instances to join a domain.\";}s:27:\"EnableDefaultInternetAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:58:\"Enables
  or disables default internet access for the fleet.\";}s:9:\"ImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  name of the image used by the fleet.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:980:\"<p>The
  instance type to use when launching fleet instances. The following instance types
  are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p>
  </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li>
  <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li>
  <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li>
  <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p>
  </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p>
  </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p>
  </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p>
  </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p>
  </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>\";}s:24:\"MaxUserDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  maximum time that a streaming session can run, in seconds. Specify a value between
  600 and 57600.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"A
  unique name for the fleet.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:36:\"The
  VPC configuration for the fleet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateFleetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Fleet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Fleet\";s:11:\"description\";s:28:\"Information
  about the fleet.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:23:\"DeleteStorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:63:\"Deletes
  the storage connectors currently enabled for the stack.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:39:\"The
  description displayed to end users.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:38:\"The
  stack name displayed to end users.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  name of the stack.\";}s:17:\"StorageConnectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageConnectorList\";s:11:\"description\";s:33:\"The
  storage connectors to enable.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateStackResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Stack\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Stack\";s:11:\"description\";s:28:\"Information
  about the stack.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"UserId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:14:\"VisibilityType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"PUBLIC\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}s:9:\"VpcConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Describes
  VPC configuration information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecurityGroupIdList\";s:11:\"description\";s:34:\"The
  security groups for the fleet.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SubnetIdList\";s:11:\"description\";s:80:\"The
  subnets to which a network interface is established from the fleet instance.\";}}s:4:\"type\";s:6:\"object\";}}"
...
