---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:240:\"Mandrill is a
  reliable, scalable, and secure delivery API for transactional emails from websites
  and applications. It's ideal for sending data-driven transactional emails, including
  targeted e-commerce and personalized one-to-one messages.\n\";s:5:\"title\";s:8:\"Mandrill\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"email\";i:1;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:72:\"http://mandrill.com/assets/images/brand/logo-vertical-light-735b5657.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:108:\"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/mandrillapp.com/1.0/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:15:\"mandrillapp.com\";s:16:\"x-unofficialSpec\";b:1;s:11:\"x-preferred\";b:1;}"
host: mandrillapp.com
basePath: /api/
paths:
  /exports/activity.json:
    post:
      description: 'Begins an export of your activity history. The activity will be
        exported to a zip archive containing a single file named activity.csv in the
        same format as you would be able to export from your account''s activity view.
        It includes the following fields: Date, Email Address, Sender, Subject, Status,
        Tags, Opens, Clicks, Bounce Detail. If you have configured any custom metadata
        fields, they will be included in the exported data.'
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/exports_activity'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/exports_satus'
  /exports/info.json:
    post:
      description: Returns information about an export job. If the export job's state
        is 'complete', the returned data will include a URL you can use to fetch the
        results. Every export job produces a zip archive, but the format of the archive
        is distinct for each job type. The api calls that initiate exports include
        more details about the output format for that job type.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/exports_info-response'
  /exports/list.json:
    post:
      description: Returns a list of your exports.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/exports_list-response'
  /exports/rejects.json:
    post:
      description: 'Begins an export of your rejection blacklist. The blacklist will
        be exported to a zip archive containing a single file named rejects.csv that
        includes the following fields: email, reason, detail, created_at, expires_at,
        last_event_at, expires_at.'
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/notify_email'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/exports_satus'
  /exports/whitelist.json:
    post:
      description: 'Begins an export of your rejection whitelist. The whitelist will
        be exported to a zip archive containing a single file named whitelist.csv
        that includes the following fields: email, detail, created_at.'
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/notify_email'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/exports_satus'
  /inbound/add-domain.json:
    post:
      description: Add an inbound domain to your account
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/inbound_info'
  /inbound/add-route.json:
    post:
      description: Add a new mailbox route to an inbound domain
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/inbound_add-route'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/route'
  /inbound/check-domain.json:
    post:
      description: Check the MX settings for an inbound domain. The domain must have
        already been added with the add-domain call
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/inbound_info'
  /inbound/delete-domain.json:
    post:
      description: Delete an inbound domain from the account. All mail will stop routing
        for this domain immediately.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/inbound_info'
  /inbound/delete-route.json:
    post:
      description: Delete an existing inbound mailbox route
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/route'
  /inbound/domains.json:
    post:
      description: List the domains that have been configured for inbound delivery
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/inbound_domains-response'
  /inbound/routes.json:
    post:
      description: List the mailbox routes defined for an inbound domain
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/inbound_routes-response'
  /inbound/send-raw.json:
    post:
      description: Take a raw MIME document destined for a domain with inbound domains
        set up, and send it to the inbound hook exactly as if it had been sent over
        SMTP
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/inbound_send-raw'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/inbound_send-raw-response'
  /inbound/update-route.json:
    post:
      description: Update the pattern or webhook of an existing inbound mailbox route.
        If null is provided for any fields, the values will remain unchanged.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/inbound_update-route'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/route'
  /ips/cancel-warmup.json:
    post:
      description: Cancels the warmup process for a dedicated IP.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ip'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ip_info'
  /ips/check-custom-dns.json:
    post:
      description: Tests whether a domain name is valid for use as the custom reverse
        DNS for a dedicated IP.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ip_domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_check-custom-dns-response'
  /ips/create-pool.json:
    post:
      description: Creates a pool and returns it. If a pool already exists with this
        name, no action will be performed.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ips_pool-key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_pool'
  /ips/delete-pool.json:
    post:
      description: Deletes a pool. A pool must be empty before you can delete it,
        and you cannot delete your default pool.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ips_pool-key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_delete-pool-response'
  /ips/delete.json:
    post:
      description: Deletes a dedicated IP. This is permanent and cannot be undone.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ip'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_delete-response'
  /ips/info.json:
    post:
      description: Retrieves information about a single dedicated ip.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ip'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ip_info'
  /ips/list-pools.json:
    post:
      description: Lists your dedicated IP pools.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_list-pools-response'
  /ips/list.json:
    post:
      description: Lists your dedicated IPs.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_list-response'
  /ips/pool-info.json:
    post:
      description: Describes a single dedicated IP pool.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ips_pool-key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_pool'
  /ips/provision.json:
    post:
      description: Requests an additional dedicated IP for your account. Accounts
        may have one outstanding request at any time, and provisioning requests are
        processed within 24 hours.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ips_provision'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ips_provision-response'
  /ips/set-custom-dns.json:
    post:
      description: Configures the custom DNS name for a dedicated IP.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ip_domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ip_info'
  /ips/set-pool.json:
    post:
      description: Moves a dedicated IP to a different pool.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ips_set-pool'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ip_info'
  /ips/start-warmup.json:
    post:
      description: Begins the warmup process for a dedicated IP. During the warmup
        process, Mandrill will gradually increase the percentage of your mail that
        is sent over the warming-up IP, over a period of roughly 30 days. The rest
        of your mail will be sent over shared IPs or other dedicated IPs in the same
        pool.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ip'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ip_info'
  /messages/cancel-scheduled.json:
    post:
      description: Cancels a scheduled email.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_cancel-scheduled'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/schedulingchange_info'
  /messages/content.json:
    post:
      description: Get the full content of a recently sent message
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/messages_content-response'
  /messages/info.json:
    post:
      description: Get the information for a single recently sent message
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/messages_info-response'
  /messages/list-scheduled.json:
    post:
      description: Queries your scheduled emails by sender or recipient, or both.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_list-scheduled'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/messages_list-scheduled-response'
  /messages/parse.json:
    post:
      description: Parse the full MIME document for an email message, returning the
        content of the message broken into its constituent pieces
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_parse'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/messages_parse-response'
  /messages/reschedule.json:
    post:
      description: Reschedules a scheduled email.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_reschedule'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/schedulingchange_info'
  /messages/search-time-series.json:
    post:
      description: Search the content of recently sent messages and return the aggregated
        hourly stats for matching messages
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_search-time-series'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/timeseries'
  /messages/search.json:
    post:
      description: Search the content of recently sent messages and optionally narrow
        by date range, tags and senders. This method may be called up to 20 times
        per minute. If you need the data more often, you can use /messages/info.json
        to get the information for a single message, or webhooks to push activity
        to your own application for querying.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_search'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/messages_search-response'
  /messages/send-raw.json:
    post:
      description: Take a raw MIME document for a message, and send it exactly as
        if it were sent through Mandrill's SMTP servers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_send-raw'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/message_send-status'
  /messages/send-template.json:
    post:
      description: Send a new transactional message through Mandrill using a template
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_send-template'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/message_send-status'
  /messages/send.json:
    post:
      description: Send a new transactional message through Mandrill
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/messages_send'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/message_send-status'
  /metadata/add.json:
    post:
      description: Add a new custom metadata field to be indexed for the account.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/metadata_template'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/metadata_info'
  /metadata/delete.json:
    post:
      description: Delete an existing custom metadata field. Deletion isn't instataneous,
        and /metadata/list will continue to return the field until the asynchronous
        deletion process is complete.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/metadata_info'
  /metadata/list.json:
    post:
      description: Get the list of custom metadata fields indexed for the account.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/metadata_list-response'
  /metadata/update.json:
    post:
      description: Update an existing custom metadata field.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/metadata_template'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/metadata_info'
  /rejects/add.json:
    post:
      description: Adds an email to your email rejection blacklist. Addresses that
        you add manually will never expire and there is no reputation penalty for
        removing them from your blacklist. Attempting to blacklist an address that
        has been whitelisted will have no effect.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rejects_add'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/rejects_add-response'
  /rejects/delete.json:
    post:
      description: Deletes an email rejection. There is no limit to how many rejections
        you can remove from your blacklist, but keep in mind that each deletion has
        an affect on your reputation.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rejects_delete'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/rejects_delete-response'
  /rejects/list.json:
    post:
      description: Retrieves your email rejection blacklist. You can provide an email
        address to limit the results. Returns up to 1000 results. By default, entries
        that have expired are excluded from the results; set include_expired to true
        to include them.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rejects_list'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/rejects_list-response'
  /senders/add-domain.json:
    post:
      description: Adds a sender domain to your account. Sender domains are added
        automatically as you send, but you can use this call to add them ahead of
        time.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/sender_domain_info'
  /senders/check-domain.json:
    post:
      description: Checks the SPF and DKIM settings for a domain. If you haven't already
        added this domain to your account, it will be added automatically.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/sender_domain_info'
  /senders/domains.json:
    post:
      description: Returns the sender domains that have been added to this account.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/senders_domains-response'
  /senders/info.json:
    post:
      description: Return more detailed information about a single sender, including
        aggregates of recent stats
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sender_address'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/senders_info-response'
  /senders/list.json:
    post:
      description: Return the senders that have tried to use this account.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/senders'
  /senders/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a sender
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sender_address'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/time-series'
  /senders/verify-domain.json:
    post:
      description: Sends a verification email in order to verify ownership of a domain.
        Domain verification is an optional step to confirm ownership of a domain.
        Once a domain has been verified in a Mandrill account, other accounts may
        not have their messages signed by that domain unless they also verify the
        domain. This prevents other Mandrill accounts from sending mail signed by
        your domain.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/senders_verify-domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/senders_verify-domain-response'
  /subaccounts/add.json:
    post:
      description: Add a new subaccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/subaccount_info'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccount_info2'
  /subaccounts/delete.json:
    post:
      description: Delete an existing subaccount. Any email related to the subaccount
        will be saved, but stats will be removed and any future sending calls to this
        subaccount will fail.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccount_info2'
  /subaccounts/info.json:
    post:
      description: Given the ID of an existing subaccount, return the data about it
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccounts_info-response'
  /subaccounts/list.json:
    post:
      description: Get the list of subaccounts defined for the account, optionally
        filtered by a prefix
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/url_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccounts_list-response'
  /subaccounts/pause.json:
    post:
      description: Pause a subaccount's sending. Any future emails delivered to this
        subaccount will be queued for a maximum of 3 days until the subaccount is
        resumed.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccount_info2'
  /subaccounts/resume.json:
    post:
      description: Resume a paused subaccount's sending
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/id'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccount_info2'
  /subaccounts/update.json:
    post:
      description: Update an existing subaccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/subaccount_info'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/subaccount_info2'
  /tags/all-time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        all tags
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/timeseries'
  /tags/delete.json:
    post:
      description: Deletes a tag permanently. Deleting a tag removes the tag from
        any messages that have been sent, and also deletes the tag's stats. There
        is no way to undo this operation, so use it carefully.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/tag_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/tags_delete-response'
  /tags/info.json:
    post:
      description: Return more detailed information about a single tag, including
        aggregates of recent stats
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/tag_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/tags_info-response'
  /tags/list.json:
    post:
      description: Return all of the user-defined tag information
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/tags_list-response'
  /tags/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a tag
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/tag_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/timeseries'
  /templates/add.json:
    post:
      description: Add a new template
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/template'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/template_detailed'
  /templates/delete.json:
    post:
      description: Delete a template
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/template_detailed'
  /templates/info.json:
    post:
      description: Get the information for an existing template
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/template_detailed'
  /templates/list.json:
    post:
      description: Return a list of all the templates available to this user
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/templates_list'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/templates_list-response'
  /templates/publish.json:
    post:
      description: Publish the content for the template. Any new messages sent using
        this template will start using the content that was previously in draft.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/template_detailed'
  /templates/render.json:
    post:
      description: Inject content and optionally merge fields into a template, returning
        the HTML that results
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/templates_render'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/templates_render-response'
  /templates/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a template
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/time-series'
  /templates/update.json:
    post:
      description: Update the code for an existing template. If null is provided for
        any fields, the values will remain unchanged.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/template'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/template_detailed'
  /urls/add-tracking-domain.json:
    post:
      description: Add a tracking domain to your account
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/tracking-domain-status'
  /urls/check-tracking-domain.json:
    post:
      description: Checks the CNAME settings for a tracking domain. The domain must
        have been added already with the add-tracking-domain call
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/domain'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/tracking-domain-status'
  /urls/list.json:
    post:
      description: Get the 100 most clicked URLs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/url_infos'
  /urls/search.json:
    post:
      description: Return the 100 most clicked URLs that match the search query given
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/url_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/url_infos'
  /urls/time-series.json:
    post:
      description: Return the recent history (hourly stats for the last 30 days) for
        a url
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/urls_time-series'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/urls_time-series-response'
  /urls/tracking-domains.json:
    post:
      description: Get the list of tracking domains set up for this account
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/urls_tracking-domains-response'
  /users/info.json:
    post:
      description: Return the information about the API-connected user
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/users_info-response'
  /users/ping.json:
    post:
      description: Validate an API key and respond to a ping
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
  /users/ping2.json:
    post:
      description: Validate an API key and respond to a ping (anal JSON parser version)
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/users_ping2-response'
  /users/senders.json:
    post:
      description: Return the senders that have tried to use this account, both verified
        and unverified
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/senders'
  /webhooks/add.json:
    post:
      description: Add a new webhook
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/webhooks_add'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/webhook'
  /webhooks/delete.json:
    post:
      description: Delete an existing webhook
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/webhook_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/webhook'
  /webhooks/info.json:
    post:
      description: Given the ID of an existing webhook, return the data about it
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/webhook_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/webhook'
  /webhooks/list.json:
    post:
      description: Get the list of all webhooks defined on the account
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/api_key'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/webhooks_list-response'
  /webhooks/update.json:
    post:
      description: Update an existing webhook
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/webhooks_update'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/webhook'
  /whitelists/add.json:
    post:
      description: Adds an email to your email rejection whitelist. If the address
        is currently on your blacklist, that blacklist entry will be removed automatically.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/email'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/whitelists_add-response'
  /whitelists/delete.json:
    post:
      description: Removes an email address from the whitelist.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/email'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/whitelists_delete-response'
  /whitelists/list.json:
    post:
      description: Retrieves your email rejection whitelist. You can provide an email
        address or search prefix to limit the results. Returns up to 1000 results.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/email'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/whitelists_list-response'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":95:{s:7:\"api_key\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"email\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"exports_activity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"api_keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"notify_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"senders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"states\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"exports_info-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"finished_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"result_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"exports_list-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"finished_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"result_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"exports_satus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"finished_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"result_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"inbound_add-route\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"inbound_domains-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"valid_mx\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"inbound_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"valid_mx\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"inbound_routes-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"inbound_send-raw\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"client_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"helo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"mail_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"raw_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"inbound_send-raw-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:20:\"inbound_update-route\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ip_domain\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ip_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"custom_dns\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"warmup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"end_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"start_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"warming_up\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ips_check-custom-dns-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ips_delete-pool-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ips_delete-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ips_list-pools-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ips\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"custom_dns\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"warmup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"end_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"start_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"warming_up\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"ips_list-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"custom_dns\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"warmup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"end_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"start_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"warming_up\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"ips_pool\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ips\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"custom_dns\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"warmup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"end_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"start_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"warming_up\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ips_pool-key\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ips_provision\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"warmup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ips_provision-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"requested_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ips_set-pool\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"create_pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"message_send-status\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"reject_reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:25:\"messages_cancel-scheduled\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"messages_content-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"from_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Reply-To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"html\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"messages_info-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"clicks_detail\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"ua\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"opens_detail\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"ua\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"sender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"smtp_events\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"diag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"messages_list-scheduled\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"messages_list-scheduled-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"send_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"messages_parse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"raw_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"messages_parse-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"binary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"from_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Reply-To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"html\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"messages_reschedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"send_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"messages_search\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"api_keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"senders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"messages_search-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"clicks_detail\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"ua\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"opens_detail\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"ua\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"sender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:27:\"messages_search-time-series\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"senders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"messages_send\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"ip_pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"auto_html\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:9:\"auto_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:11:\"bcc_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"from_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"global_merge_vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:25:\"google_analytics_campaign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"google_analytics_domains\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Reply-To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"html\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"important\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"inline_css\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:5:\"merge\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"merge_vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"rcpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"preserve_recipients\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:18:\"recipient_metadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"rcpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:18:\"return_path_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:14:\"signing_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"track_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:11:\"track_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:15:\"tracking_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:12:\"url_strip_qs\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:17:\"view_content_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}}s:4:\"type\";s:6:\"object\";}s:7:\"send_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"messages_send-raw\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"from_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ip_pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"raw_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"return_path_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:7:\"send_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"messages_send-template\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"ip_pool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"auto_html\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:9:\"auto_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:11:\"bcc_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"from_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"global_merge_vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:25:\"google_analytics_campaign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"google_analytics_domains\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Reply-To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"html\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"important\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"inline_css\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:5:\"merge\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"merge_vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"rcpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"preserve_recipients\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:18:\"recipient_metadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"rcpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:18:\"return_path_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:14:\"signing_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"track_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:11:\"track_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:15:\"tracking_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:12:\"url_strip_qs\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:17:\"view_content_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}}s:4:\"type\";s:6:\"object\";}s:7:\"send_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"template_content\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"template_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"metadata_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"view_template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"metadata_list-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"view_template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"metadata_template\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"view_template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"notify_email\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"notify_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"rejects_add\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"rejects_add-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"added\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"rejects_delete\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"rejects_delete-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"rejects_list\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"include_expired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"rejects_list-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"expired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"expires_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_event_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"subaccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"route\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"schedulingchange_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"send_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"sender_address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"sender_domain_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"dkim\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"valid_after\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"last_tested_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"spf\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"valid_after\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"valid_signing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"verified_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"senders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:24:\"senders_domains-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"dkim\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"valid_after\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"last_tested_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"spf\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"valid_after\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"valid_signing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"verified_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:21:\"senders_info-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"last_30_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"last_60_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"last_7_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"last_90_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"today\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"senders_verify-domain\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"mailbox\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"senders_verify-domain-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"subaccount_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"custom_quota\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"subaccount_info2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"custom_quota\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"first_sent_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"sent_monthly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"sent_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"sent_weekly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"subaccounts_info-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"custom_quota\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"first_sent_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"hourly_quota\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"last_30_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"sent_hourly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"sent_monthly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"sent_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"sent_weekly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"subaccounts_list-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"custom_quota\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"first_sent_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"sent_monthly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"sent_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"sent_weekly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"tag_key\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"tags_delete-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"tags_info-response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"last_30_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"last_60_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"last_7_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"last_90_days\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"today\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"tags_list-response\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"complaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"hard_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"rejects\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"reputation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"soft_bounces\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"unique_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"unique_opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"unsubs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"template\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"from_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"from_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"publish\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"template_detailed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\"
[...]
