---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"Xero
  Developer Team\";s:3:\"url\";s:26:\"https://developer.xero.com\";s:9:\"x-twitter\";s:7:\"XeroAPI\";}s:11:\"description\";s:403:\"#
  Introduction\nThe Xero Accounting API is a RESTful web service and uses the OAuth
  (v1.0a) protocol to authenticate 3rd party applications. The Accounting API exposes
  accounting and related functions of the main Xero application and can be used for
  a variety of purposes such as creating transactions like invoices and credit notes,
  right through to extracting accounting data via our reports endpoint.\n\";s:5:\"title\";s:10:\"Accounting\";s:7:\"version\";s:3:\"2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:136:\"https://api.apis.guru/v2/cache/logo/https_lh3.googleusercontent.com_-_IQ9BNy118c_AAAAAAAAAAI_AAAAAAAAAB0_yvA2ZQSg_pk_s500-c-no_photo.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:83:\"https://raw.githubusercontent.com/XeroAPI/Xero-OpenAPI/master/spec/accounting2.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"xero.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"xero\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.xero.com
basePath: /api.xro/2.0
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":63:{s:7:\"Account\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"AccountID\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"Unique
  identifier for the account\";s:7:\"example\";s:36:\"50e845c3-464e-4a6d-8951-8794317c7893\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"BankAccountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"For
  bank accounts only (Type BANK)\";s:7:\"example\";i:1234353453453;s:4:\"type\";s:6:\"string\";}s:15:\"BankAccountType\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"For
  bank accounts only\";s:4:\"enum\";a:3:{i:0;s:4:\"BANK\";i:1;s:10:\"CREDITCARD\";i:2;s:6:\"PAYPAL\";}s:7:\"example\";s:10:\"CREDITCARD\";s:4:\"type\";s:6:\"string\";}s:5:\"Class\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"The
  class of account\";s:4:\"enum\";a:5:{i:0;s:5:\"ASSET\";i:1;s:6:\"EQUITY\";i:2;s:7:\"EXPENSE\";i:3;s:9:\"LIABILITY\";i:4;s:7:\"REVENUE\";}s:7:\"example\";s:5:\"ASSET\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Customer
  defined alpha numeric account code e.g 200 or SALES\";s:7:\"example\";i:200;s:9:\"maxLength\";i:10;s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"For
  bank accounts only\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Description
  of the Account. Valid for all types of accounts except bank accounts\";s:7:\"example\";s:15:\"A
  sales account\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:23:\"EnablePaymentsToAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Describes
  whether account can have payments applied to it\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:14:\"HasAttachments\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Indicates
  if an account has an attachment\";s:7:\"example\";b:0;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Name
  of account\";s:7:\"example\";s:5:\"Sales\";s:9:\"maxLength\";i:150;s:4:\"type\";s:6:\"string\";}s:13:\"ReportingCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Shown
  if set\";s:7:\"example\";s:3:\"ASS\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"ReportingCodeName\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Shown
  if set\";s:7:\"example\";s:5:\"Asset\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"ShowInExpenseClaims\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Describes
  whether account code is available for use with expense claims\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Accounts
  with a status of ACTIVE can be updated to ARCHIVED\";s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"ARCHIVED\";}s:7:\"example\";s:6:\"ACTIVE\";s:4:\"type\";s:6:\"string\";}s:13:\"SystemAccount\";O:8:\"stdClass\":5:{s:11:\"description\";s:140:\"If
  this is a system account then this element is returned. Note that non-system accounts
  may have this element set as either \u201C\u201D or null.\";s:4:\"enum\";a:13:{i:0;s:7:\"DEBTORS\";i:1;s:9:\"CREDITORS\";i:2;s:16:\"BANKCURRENCYGAIN\";i:3;s:3:\"GST\";i:4;s:12:\"GSTONIMPORTS\";i:5;s:10:\"HISTORICAL\";i:6;s:20:\"REALISEDCURRENCYGAIN\";i:7;s:16:\"RETAINEDEARNINGS\";i:8;s:8:\"ROUNDING\";i:9;s:17:\"TRACKINGTRANSFERS\";i:10;s:12:\"UNPAIDEXPCLM\";i:11;s:22:\"UNREALISEDCURRENCYGAIN\";i:12;s:12:\"WAGEPAYABLES\";}s:7:\"example\";s:8:\"ROUNDING\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Default
  tax rate for the account\";s:7:\"example\";s:4:\"NONE\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Account
  type\";s:4:\"enum\";a:22:{i:0;s:4:\"BANK\";i:1;s:7:\"CURRENT\";i:2;s:8:\"CURRLIAB\";i:3;s:10:\"DEPRECIATN\";i:4;s:11:\"DIRECTCOSTS\";i:5;s:6:\"EQUITY\";i:6;s:7:\"EXPENSE\";i:7;s:5:\"FIXED\";i:8;s:9:\"INVENTORY\";i:9;s:9:\"LIABILITY\";i:10;s:10:\"NONCURRENT\";i:11;s:11:\"OTHERINCOME\";i:12;s:9:\"OVERHEADS\";i:13;s:10:\"PREPAYMENT\";i:14;s:7:\"REVENUE\";i:15;s:5:\"SALES\";i:16;s:8:\"TERMLIAB\";i:17;s:13:\"PAYGLIABILITY\";i:18;s:21:\"SUPERANNUATIONEXPENSE\";i:19;s:23:\"SUPERANNUATIONLIABILITY\";i:20;s:12:\"WAGESEXPENSE\";i:21;s:21:\"WAGESPAYABLELIABILITY\";}s:7:\"example\";s:7:\"CURRENT\";s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"Code\";i:1;s:4:\"Name\";i:2;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"AddressLine1\";O:8:\"stdClass\":3:{s:7:\"example\";s:11:\"Apartment
  A\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine2\";O:8:\"stdClass\":3:{s:7:\"example\";s:11:\"Building
  20\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine3\";O:8:\"stdClass\":3:{s:7:\"example\";s:11:\"123
  Main St\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine4\";O:8:\"stdClass\":3:{s:7:\"example\";s:5:\"South\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:11:\"AddressType\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"The
  address type\";s:4:\"enum\";a:3:{i:0;s:5:\"POBOX\";i:1;s:6:\"STREET\";i:2;s:6:\"POSTAL\";}s:7:\"example\";s:6:\"POSTAL\";s:4:\"type\";s:6:\"string\";}s:11:\"Attentionto\";O:8:\"stdClass\":3:{s:7:\"example\";s:19:\"Accounts
  Department\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":3:{s:7:\"example\";s:13:\"New
  York City\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:7:\"example\";s:13:\"United
  States\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:10:\"PostalCode\";O:8:\"stdClass\":3:{s:7:\"example\";i:47483;s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:6:\"Region\";O:8:\"stdClass\":3:{s:7:\"example\";s:8:\"New
  York\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Allocation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"AppliedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"the
  amount being applied to the invoice\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  date the prepayment is applied YYYY-MM-DD (read-only). This will be the latter of
  the invoice date and the prepayment date.\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"Invoice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"InvoiceID\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:3:{i:0;s:7:\"Invoice\";i:1;s:13:\"AppliedAmount\";i:2;s:4:\"Date\";}s:4:\"type\";s:6:\"object\";}s:10:\"Attachment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"AttachmentId\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Xero
  generated unique identifier for attachment\";s:7:\"example\";s:35:\"a04bf353-4d9a-4bda-8c1e-db1274164ee\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:12:\"ContentLegth\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  content length in bytes\";s:7:\"example\";i:6384;s:4:\"type\";s:7:\"integer\";}s:8:\"Filename\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  filename of the attachemnt\";s:7:\"example\";s:14:\"my-receipt.jpg\";s:4:\"type\";s:6:\"string\";}s:13:\"IncludeOnline\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Determines
  whether the attachment is included with the online invoice\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"MimeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  mimetype of the attachemnt\";s:7:\"example\";s:9:\"image/jpg\";s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  URL to where the attachment is located\";s:7:\"example\";s:100:\"https://api.xero.com/api.xro/2.0/Receipts/e59a2c7f-4078-a0f3-73537afcbba9/Attachments/my-receipt.jpg\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Balances\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"The
  raw AccountsReceivable (sales invoices) and AccountsPayable (bills) outstanding
  and overdue amounts, not converted to base currency\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"AccountsPayable\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Outstanding\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"AP
  outstanding balance\";s:7:\"example\";i:50;s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"Overdue\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"AP
  overdue balance\";s:7:\"example\";i:2;s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AccountsReceivable\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Outstanding\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"AR
  outstanding balance\";s:7:\"example\";i:1000;s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"Overdue\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"AR
  overdue balance\";s:7:\"example\";i:500;s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:11:\"BankAccount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"AccountID\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Account
  identifier\";s:7:\"example\";s:36:\"d1ebb97b-d207-4ccb-9ab6-8a466a8b4d39\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Bank
  account code\";s:7:\"example\";i:610;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  Name Bank Account\";s:7:\"example\";s:16:\"Everyday Savings\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BankTransaction\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":21:{s:11:\"Attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:11:\"BankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BankAccount\";}s:17:\"BankTransactionId\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Xero
  generated unique identifier for bank transactions\";s:7:\"example\";s:36:\"72f1dcfe-5d7d-4239-bf9d-e12469309716\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  currency that bank transaction has been raised in\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  currency rate for a multicurrency bank transaction. If no rate is specified, the
  XE.com day rate is used.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Date
  bank transaction was made YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"boolean
  to indicate if the bank transaction has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"IsReconciled\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Indicates
  if transaction has been reconciled\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LineItems\";}s:13:\"OverpaymentID\";O:8:\"stdClass\":5:{s:11:\"description\";s:150:\"Xero
  generated unique identifier for an Overpayment. This will be returned on BankTransactions
  with a Type of SPEND-OVERPAYMENT or RECEIVE-OVERPAYMENT\";s:7:\"example\";s:36:\"66fbdc01-e2e7-4ee3-ab10-2d5821d38fe4\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"PrepaymentID\";O:8:\"stdClass\":5:{s:11:\"description\";s:146:\"Xero
  generated unique identifier for a Prepayment. This will be returned on BankTransactions
  with a Type of SPEND-PREPAYMENT or RECEIVE-PREPAYMENT\";s:7:\"example\";s:36:\"d2c63bbd-bc9e-4fb4-9d1c-e5d15749aaa2\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Reference
  for the transaction. Only supported for SPEND and RECEIVE transactions\";s:7:\"example\";s:6:\"ABC123\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":4:{s:7:\"default\";s:10:\"AUTHORISED\";s:11:\"description\";s:34:\"The
  status of the bank transaction\";s:4:\"enum\";a:2:{i:0;s:10:\"AUTHORISED\";i:1;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Total
  of bank transaction excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"Total
  of bank transaction tax inclusive (i.e. SubTotal + TotalTax). This will be ignored
  if it doesn\u2019t equal the sum of the LineAmounts\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"Totaltax\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Total
  tax on the bank transaction\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  type of bank transaction\";s:4:\"enum\";a:8:{i:0;s:7:\"RECEIVE\";i:1;s:19:\"RECEIVE-OVERPAYMENT\";i:2;s:18:\"RECEIVE-PREPAYMENT\";i:3;s:5:\"SPEND\";i:4;s:17:\"SPEND-OVERPAYMENT\";i:5;s:16:\"SPEND-PREPAYMENT\";i:6;s:16:\"RECEIVE-TRANSFER\";i:7;s:14:\"SPEND-TRANSFER\";}s:7:\"example\";s:5:\"SPEND\";s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"URL
  link to a source document \u2013 shown as \u201CGo to [appName]\u201D in the Xero
  app\";s:7:\"example\";s:39:\"https://yourapp.com/transactions/ABC123\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"Type\";i:1;s:7:\"Contact\";i:2;s:9:\"LineItems\";i:3;s:11:\"BankAccount\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"BankTransaction\";}}s:12:\"BankTransfer\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Total
  of the bank transfer\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"Attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:14:\"BankTransferId\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Xero
  generated unique identifier for bank transfers\";s:7:\"example\";s:36:\"72f1dcfe-5d7d-4239-bf9d-e12469309716\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  currency rate for a multicurrency bank transfer. If no rate is specified, the XE.com
  day rate is used.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  bank transfer was made YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:15:\"FromBankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FromBankAccount\";}s:21:\"FromBankTransactionID\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"The
  Bank Transaction ID for the source account\";s:7:\"example\";s:36:\"d2c63bbd-bc9e-4fb4-9d1c-e5d15749aaa2\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"boolean
  to indicate if the bank transaction has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"ToBankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ToBankAccount\";}s:19:\"ToBankTransactionID\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"The
  Bank Transaction ID for the destination account\";s:7:\"example\";s:36:\"66fbdc01-e2e7-4ee3-ab10-2d5821d38fe4\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:15:\"FromBankAccount\";i:1;s:13:\"ToBankAccount\";i:2;s:6:\"Amount\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"BankTransfer\";}}s:13:\"BatchPayments\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"BankAccountName\";O:8:\"stdClass\":3:{s:7:\"example\";s:10:\"Globo
  Bank\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"BankAccountNumber\";O:8:\"stdClass\":3:{s:7:\"example\";s:13:\"098765
  123456\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"Details\";O:8:\"stdClass\":3:{s:7:\"example\";s:23:\"Stuff
  about the account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:13:\"BrandingTheme\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"BrandingThemeID\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Xero
  identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"CreatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"UTC
  timestamp of creation date of branding theme\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Name
  of branding theme\";s:7:\"example\";s:18:\"VIP Customer Theme\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"SortOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Integer
  \u2013 ranked order of branding theme. The default branding theme has a value of
  0\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":31:{s:13:\"AccountNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"A
  user defined account number. This can be updated via the API and the Xero UI.\";s:7:\"example\";s:5:\"AM123\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:22:\"AccountsPayableTaxType\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Default
  tax type used for contact on AP invoices\";s:7:\"example\";s:4:\"NONE\";s:4:\"type\";s:6:\"string\";}s:25:\"AccountsReceivableTaxType\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Default
  tax type used for contact on AR invoices\";s:7:\"example\";s:4:\"NONE\";s:4:\"type\";s:6:\"string\";}s:9:\"Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Address
  details for the contact\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"type\";s:5:\"array\";}s:8:\"Balances\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Balances\";}s:18:\"BankAccountDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Bank
  account number of contact\";s:7:\"example\";s:14:\"061844 8474733\";s:4:\"type\";s:6:\"string\";}s:13:\"BatchPayments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BatchPayments\";}s:13:\"BrandingTheme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BrandingTheme\";}s:13:\"ContactGroups\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContactGroup\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"ContactID\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Xero
  identifier\";s:7:\"example\";s:36:\"cc04bc53-f094-4ed6-8b3e-67297c37fae0\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"ContactPersons\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactPersons\";}s:13:\"ContactStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Current
  status of a contact\";s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"ARCHIVED\";}s:7:\"example\";s:6:\"ACTIVE\";s:4:\"type\";s:6:\"string\";}s:15:\"DefaultCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Default
  currency for raising invoices against contact\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Email
  address of contact person (umlauts not supported)\";s:7:\"example\";s:14:\"adam@moore.com\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"First
  name of contact person\";s:7:\"example\";s:4:\"Adam\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"A
  boolean to indicate if a contact has an attachment\";s:7:\"example\";b:1;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"IsCustomer\";O:8:\"stdClass\":4:{s:11:\"description\";s:206:\"Boolean
  that describes if a contact has any AR invoices entered against them. Cannot be
  set via PUT or POST \u2013 it is automatically set when an accounts receivable invoice
  is generated against this contact.\";s:7:\"example\";b:1;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"IsSupplier\";O:8:\"stdClass\":4:{s:11:\"description\";s:208:\"Boolean
  that describes if a contact that has any AP invoices entered against them. Cannot
  be set via PUT or POST \u2013 it is automatically set when an accounts payable invoice
  is generated against this contact.\";s:7:\"example\";b:1;s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"LastName\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Last
  name of contact person\";s:7:\"example\";s:5:\"Moore\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Full
  name of contact/organisation\";s:7:\"example\";s:10:\"Adam Moore\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:12:\"PaymentTerms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PaymentTerms\";}s:6:\"Phones\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Phones\";}s:27:\"PurchasesDefaultAccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  default purchases account code for contacts\";s:7:\"example\";i:420;s:4:\"type\";s:6:\"string\";}s:27:\"PurchasesTrackingCategories\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PurchasesTrackingCategories\";}s:23:\"SalesDefaultAccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  default sales account code for contacts\";s:7:\"example\";i:200;s:4:\"type\";s:6:\"string\";}s:23:\"SalesTrackingCategories\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SalesTrackingCategories\";}s:13:\"SkypeUserName\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Skype
  user name of contact\";s:7:\"example\";s:5:\"adamm\";s:4:\"type\";s:6:\"string\";}s:9:\"TaxNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:221:\"Tax
  number of contact \u2013 this is also known as the ABN (Australia), GST Number (New
  Zealand), VAT Number (UK) or Tax ID Number (US and global) in the Xero UI depending
  on which regionalized version of Xero you are using.\";s:7:\"example\";s:10:\"GB12345667\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"Website\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Website
  address for contact\";s:7:\"example\";s:15:\"www.contact.com\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"XeroNetworkKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Store
  XeroNetworkKey for contacts.\";s:7:\"example\";s:30:\"J57MXL9Z3GULYFR9CUBSKZGVRTBCAL\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:12:\"ContactGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ContactGroupID\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"Unique
  identifier for the contact group\";s:7:\"example\";s:36:\"50e845c3-464e-4a6d-8951-8794317c7893\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Name
  of the contact group\";s:7:\"example\";s:8:\"Training\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  status of the contact group\";s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:7:\"DELETED\";}s:7:\"example\";s:6:\"ACTIVE\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:13:\"ContactPerson\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"EmailAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Email
  address of person\";s:7:\"example\";s:14:\"aaron@muir.com\";s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"First
  name of person\";s:7:\"example\";s:5:\"Aaron\";s:4:\"type\";s:6:\"string\";}s:15:\"IncludeInEmails\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Boolean
  to indicate whether contact should be included on emails with invoices etc.\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"LastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Last
  name of person\";s:7:\"example\";s:4:\"Muir\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContactPersons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactPerson\";}s:4:\"type\";s:5:\"array\";}s:14:\"ContactSummary\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ContactID\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"Xero
  identifier\";s:7:\"example\";s:36:\"cc04bc53-f094-4ed6-8b3e-67297c37fae0\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Full
  name of contact/organisation\";s:7:\"example\";s:10:\"Adam Moore\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Contact\";}}s:7:\"Content\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Content\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  raw file content\";s:7:\"example\";s:47:\"23456238745623865897326457634259763425976342596\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"Content\";}s:4:\"type\";s:6:\"object\";}s:10:\"CreditNote\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":21:{s:11:\"Allocations\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Transactions
  the credit note has been allocated to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Allocation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  identifier for the branding theme applied to the credit note\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:12:\"CreditNoteID\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"CreditNoteNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"ACCRECCREDIT
  \u2013 Unique alpha numeric code identifying credit note (when missing will auto-generate
  from your Organisation Invoice Settings)\";s:7:\"example\";s:6:\"CN-123\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Currency
  used for the Credit Note\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  currency rate for a multicurrency invoice. If no rate is specified, the XE.com day
  rate is used\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"The
  date the credit note is issued YYYY-MM-DD. If the Date element is not specified
  then it will default to the current date based on the timezone setting of the organisation\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:15:\"FullyPaidOnDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Date
  when credit note was fully paid\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"boolean
  to indicate if a credit note has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"How
  tax is applied on the line items\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"ACCRECCREDIT
  only \u2013 additional reference number\";s:7:\"example\";s:6:\"ABC123\";s:4:\"type\";s:6:\"string\";}s:15:\"RemainingCredit\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  remaining credit balance on the Credit Note\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:13:\"SentToContact\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"boolean
  to indicate if a credit note has been sent to a contact via the Xero app (currently
  read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  Credit Note status\";s:4:\"enum\";a:6:{i:0;s:5:\"DRAFT\";i:1;s:9:\"SUBMITTED\";i:2;s:10:\"AUTHORISED\";i:3;s:4:\"PAID\";i:4;s:6:\"VOIDED\";i:5;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  subtotal of the credit note excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  total of the Credit Note(subtotal + total tax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  total tax on the credit note\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  type of Credit Note\";s:4:\"enum\";a:2:{i:0;s:12:\"ACCPAYCREDIT\";i:1;s:12:\"ACCRECCREDIT\";}s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"UTC
  timestamp of last update to the credit note\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"Type\";i:1;s:7:\"Contact\";i:2;s:9:\"LineItems\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreditNoteSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"AppliedAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  total applied to the invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:12:\"CreditNoteID\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"CreditNoteNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"ACCRECCREDIT
  \u2013 Unique alpha numeric code identifying credit note (when missing will auto-generate
  from your Organisation Invoice Settings)\";s:7:\"example\";s:6:\"CN-123\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"The
  date the credit note is issued YYYY-MM-DD. If the Date element is not specified
  then it will default to the current date based on the timezone setting of the organisation\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  total of the Credit Note(subtotal + total tax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"3
  letter alpha code for the currency\";s:7:\"example\";s:3:\"AUD\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Name
  of Currency\";s:7:\"example\";s:17:\"Australian Dollar\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Employee\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"EmployeeID\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"The
  Xero identifier for an employee\ne.g. 297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"ExternalLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:275:\"Link
  to an external resource, for example, an employee record in an external system.
  You can specify the URL element.\nThe description of the link is auto-generated
  in the form \u201CGo to <App name>\u201D. <App name> refers to the Xero application
  name that is making the API call.\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExternalLink\";}}s:4:\"type\";s:6:\"object\";}s:9:\"FirstName\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"First
  name of an employee (max length = 255)\";s:7:\"example\";s:4:\"Adam\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Last
  name of an employee (max length = 255)\";s:7:\"example\";s:5:\"Moore\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Current
  status of an employee\";s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"ARCHIVED\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"FirstName\";i:1;s:8:\"LastName\";}s:4:\"type\";s:6:\"object\";}s:12:\"ExpenseClaim\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"AmountDue\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  amount due to be paid for an expense claim\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"AmountPaid\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  amount still to pay for an expense claim\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:14:\"ExpenseClaimID\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Xero
  generated unique identifier for an expense claim\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"PaymentDueDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  date when the expense claim is due to be paid YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"Payments\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Payments
  applied to the expense claim\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaymentSummary\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Receipts\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  Receipts in the expense claim\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Receipt\";}s:4:\"type\";s:5:\"array\";}s:13:\"ReportingDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  date the expense claim will be reported in Xero YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Current
  status of an expense claim\";s:4:\"enum\";a:3:{i:0;s:9:\"SUBMITTED\";i:1;s:10:\"AUTHORISED\";i:2;s:4:\"PAID\";}s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  total of an expense claim being paid\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:8:\"required\";a:2:{i:0;s:4:\"User\";i:1;s:8:\"Receipts\";}s:4:\"type\";s:6:\"object\";}s:12:\"ExternalLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"LinkType\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"External
  link types\";s:4:\"enum\";a:5:{i:0;s:8:\"Facebook\";i:1;s:10:\"GooglePlus\";i:2;s:8:\"LinkedIn\";i:3;s:7:\"Twitter\";i:4;s:7:\"Website\";}s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"URL
  for service\";s:7:\"example\";s:26:\"http://twitter.com/xeroapi\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"FromBankAccount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"AccountID\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Account
  identifier\";s:7:\"example\";s:36:\"ae8074e0-1ac1-4b37-8546-afa9fa6ace9e\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Bank
  account code\";s:7:\"example\";i:610;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Bank
  account name\";s:7:\"example\";s:15:\"Savings account\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Invoice\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":32:{s:14:\"AmountCredited\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Sum
  of all credit notes, over-payments and pre-payments applied to invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:9:\"AmountDue\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Amount
  remaining to be paid on invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"AmountPaid\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Sum
  of payments received for invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:11:\"Attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  identifier for the branding theme applied to the invoice\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:11:\"CreditNotes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CreditNoteSummary\";}s:4:\"type\";s:5:\"array\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  currency that invoice has been raised in\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  currency rate for a multicurrency invoice. If no rate is specified, the XE.com day
  rate is used.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Date
  invoice was issued YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"DueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Date
  the invoice is due to be paid YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:19:\"ExpectedPaymentDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Shown
  on sales invoices (Accounts Receivable) when this has been set\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:15:\"FullyPaidOnDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  date the invoice was fully paid. Only returned on fully paid invoices\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"boolean
  to indicate if an invoice has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"InvoiceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Xero
  generated unique identifier for invoice\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"User
  defined alphanumeric code for identifying invoices. \n- Unique for ACCREC but not
  for ACCPAY. \n- For ACCREC it will auto-generate when left blank. \n- For ACCPAY
  it displays as Reference in the UI.\n\";s:7:\"example\";s:7:\"INV-123\";s:4:\"type\";s:6:\"string\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LineItems\";}s:12:\"Overpayments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/OverpaymentSummary\";}s:4:\"type\";s:5:\"array\";}s:8:\"Payments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaymentSummary\";}s:4:\"type\";s:5:\"array\";}s:18:\"PlannedPaymentDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Shown
  on bills (Accounts Payable) when this has been set\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:11:\"Prepayments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PrepaymentSummary\";}s:4:\"type\";s:5:\"array\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"ACCREC
  only \u2013 additional reference number\";s:7:\"example\";s:7:\"REF-123\";s:4:\"type\";s:6:\"string\";}s:13:\"SentToContact\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:139:\"Boolean
  to set whether the invoice in the Xero app should be marked as \u201Csent\u201D.
  This can be set only on invoices that have been approved\";s:4:\"type\";s:7:\"boolean\";}s:6:\"Status\";O:8:\"stdClass\":4:{s:7:\"default\";s:5:\"DRAFT\";s:11:\"description\";s:25:\"The
  status of the invoice\";s:4:\"enum\";a:6:{i:0;s:5:\"DRAFT\";i:1;s:9:\"SUBMITTED\";i:2;s:10:\"AUTHORISED\";i:3;s:4:\"PAID\";i:4;s:6:\"VOIDED\";i:5;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Total
  of invoice excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"Total
  of Invoice tax inclusive (i.e. SubTotal + TotalTax). This will be ignored if it
  doesn\u2019t equal the sum of the LineAmounts\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:13:\"TotalDiscount\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Total
  of discounts applied on the invoice line items\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"Totaltax\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Total
  tax on the invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"ACCREC
  (for sales) or ACCPAY (for bills)\";s:4:\"enum\";a:2:{i:0;s:6:\"ACCREC\";i:1;s:6:\"ACCPAY\";}s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"URL
  link to a source document \u2013 shown as \u201CGo to [appName]\u201D in the Xero
  app\";s:7:\"example\";s:25:\"https://myapp.com/INV-123\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"Type\";i:1;s:7:\"Contact\";i:2;s:9:\"LineItems\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Invoice\";}}s:14:\"InvoiceSummary\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:9:\"InvoiceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Xero
  generated unique identifier for invoice\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"User
  defined alphanumeric code for identifying invoices. \n- Unique for ACCREC but not
  for ACCPAY. \n- For ACCREC it will auto-generate when left blank. \n- For ACCPAY
  it displays as Reference in the UI.\n\";s:7:\"example\";s:7:\"INV-123\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  Invoice Type\";s:4:\"enum\";a:2:{i:0;s:6:\"ACCPAY\";i:1;s:6:\"ACCREC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Invoice\";}}s:4:\"Item\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"Code\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"User
  defined item code\";s:7:\"example\";s:6:\"ABC123\";s:9:\"maxLength\";i:30;s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  sales description of the item\";s:7:\"example\";s:20:\"A really cool widget\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:25:\"InventoryAssetAccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"The
  inventory asset account for the item. The account must be of type INVENTORY. The
  \ COGSAccountCode in PurchaseDetails is also required to create a tracked item\";s:7:\"example\";i:630;s:4:\"type\";s:6:\"string\";}s:11:\"IsPurchased\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Boolean
  value, defaults to true. When IsPurchased is true the item is available for purchase
  transactions in the Xero UI. If IsPurchased is updated to false then PurchaseDescription
  and PurchaseDetails values will be nulled.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"IsSold\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"Boolean
  value, defaults to true. When IsSold is true the item will be available on sales
  transactions in the Xero UI. If IsSold is updated to false then Description and
  SalesDetails values will be nulled.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"IsTrackedAsInventory\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"True
  for items that are tracked as inventory. An item will be tracked as inventory if
  the InventoryAssetAccountCode and COGSAccountCode are set.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"ItemID\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  Xero identifier for an Item\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  name of the item (max length = 50)\";s:7:\"example\";s:6:\"Widget\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:19:\"PurchaseDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  purchase description of the item\";s:7:\"example\";s:15:\"A cheapo widget\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:15:\"PurchaseDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PurchaseDetails\";}s:14:\"QuantityOnHand\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  quantity of the item on hand\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:12:\"SalesDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SalesDetails\";}s:13:\"TotalCostPool\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  value of the item on hand. Calculated using average cost accounting.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Last
  modified date in UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"Code\";}s:4:\"type\";s:6:\"object\";}s:7:\"Journal\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"CreatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Created
  date UTC format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"JournalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Date
  the journal was posted\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:9:\"JournalID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:12:\"JournalLines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JournalLine\";}s:4:\"type\";s:5:\"array\";}s:13:\"JournalNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Xero
  generated journal number\";s:7:\"example\";i:112;s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  identifier for the source transaction (e.g. InvoiceID)\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  journal source type. The type of transaction that created the journal\";s:4:\"enum\";a:24:{i:0;s:6:\"ACCREC\";i:1;s:6:\"ACCPAY\";i:2;s:12:\"ACCPAYCREDIT\";i:3;s:13:\"ACCRECPAYMENT\";i:4;s:13:\"ACCPAYPAYMENT\";i:5;s:15:\"ARCREDITPAYMENT\";i:6;s:15:\"APCREDITPAYMENT\";i:7;s:7:\"CASHREC\";i:8;s:8:\"CASHPAID\";i:9;s:8:\"TRANSFER\";i:10;s:12:\"ARPREPAYMENT\";i:11;s:12:\"APPREPAYMENT\";i:12;s:13:\"AROVERPAYMENT\";i:13;s:13:\"APOVERPAYMENT\";i:14;s:8:\"EXPCLAIM\";i:15;s:10:\"EXPPAYMENT\";i:16;s:10:\"MANJOURNAL\";i:17;s:7:\"PAYSLIP\";i:18;s:11:\"WAGEPAYABLE\";i:19;s:19:\"INTEGRATEDPAYROLLPE\";i:20;s:19:\"INTEGRATEDPAYROLLPT\";i:21;s:18:\"EXTERNALSPENDMONEY\";i:22;s:26:\"INTEGRATEDPAYROLLPTPAYMENT\";i:23;s:19:\"INTEGRATEDPAYROLLCN\";}}}}s:11:\"JournalLine\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"AccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Account
  Code\";s:7:\"example\";i:200;s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Description
  for journal line\";s:7:\"example\";s:14:\"Bought a thing\";s:4:\"type\";s:6:\"string\";}s:10:\"LineAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Total
  for line. Debits are positive, credits are negative value\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  calculated tax amount based on the TaxType and LineAmount\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"TaxType\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Used
  as an override if the default Tax Code for the selected AccountCode is not correct.\";s:7:\"example\";s:4:\"NONE\";s:4:\"type\";s:6:\"string\";}s:8:\"Tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Optional
  Tracking Category. Any JournalLine can have a maximum of 2 TrackingCategory elements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingCategory\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"LineItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"AccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  account that the lineitem is being coded to\";s:7:\"example\";i:420;s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"Description
  needs to be at least 1 char long. A line item with just a description (i.e no unit
  amount or quantity) can be created by specifying just a <Description> element that
  contains at least 1 character\";s:7:\"example\";s:15:\"Travel Expenses\";s:4:\"type\";s:6:\"string\";}s:12:\"DiscountRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"Percentage
  discount being applied to a line item (only supported on ACCREC invoices \u2013
  ACC PAY invoices and credit notes in Xero do not support discounts\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"ItemCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Code
  of the item\";s:7:\"example\";i:110;s:4:\"type\";s:6:\"string\";}s:10:\"LineAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"The
  line amount reflects the discounted price if a DiscountRate has been used i.e LineAmount
  = Quantity * Unit Amount * ((100 \u2013 DiscountRate)/100)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"LineItemID\";O:8:\"stdClass\":4:{s:11:\"description\";s:161:\"The
  Xero generated identifier for a LineItem. If LineItemIDs are not included with line
  items in an update request then the line items are deleted and recreated.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"LineItem
  Quantity\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"The
  tax amount is auto calculated as a percentage of the line amount based on the tax
  rate. This value can be overriden if the calculated TaxAmount is not correct.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"TaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Used
  as an override if the default Tax Code for the selected <AccountCode> is not correct\";s:4:\"type\";s:6:\"string\";}s:8:\"Tracking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Tracking\";}s:10:\"UnitAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"Lineitem
  unit amount. By default, unit amount will be rounded to two decimal places. You
  can opt in to use four decimal places by adding the querystring parameter unitdp=4
  to your query. See the Rounding in Xero guide for more information.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:17:\"LinkedTransaction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"ContactID\";O:8:\"stdClass\":3:{s:11:\"description\";s:253:\"Filter
  by the combination of ContactID and Status. Get all the linked transactions that
  have been assigned to a particular customer and have a particular status e.g. GET
  /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:19:\"LinkedTransactionID\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"The
  Xero identifier for an Linked Transaction e.g. /LinkedTransactions/297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"SourceLineItemID\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  line item identifier from the source transaction.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:19:\"SourceTransactionID\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Filter
  by the SourceTransactionID. Get all the linked transactions created from a particular
  ACCPAY invoice\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:25:\"SourceTransactionTypeCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"The
  Type of the source tranasction. This will be ACCPAY if the linked transaction was
  created from an invoice and SPEND if it was created from a bank transaction.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:253:\"Filter
  by the combination of ContactID and Status. Get all the linked transactions that
  have been assigned to a particular customer and have a particular status e.g. GET
  /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED.\";s:4:\"enum\";a:5:{i:0;s:5:\"DRAFT\";i:1;s:8:\"APPROVED\";i:2;s:7:\"ONDRAFT\";i:3;s:6:\"BILLED\";i:4;s:6:\"VOIDED\";}s:8:\"readOnly\";b:1;}s:16:\"TargetLineItemID\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  line item identifier from the target transaction. It is possible to link multiple
  billable expenses to the same TargetLineItemID.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:19:\"TargetTransactionID\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Filter
  by the TargetTransactionID. Get all the linked transactions allocated to a particular
  ACCREC invoice\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  will always be BILLABLEEXPENSE. More types may be added in future.\";s:4:\"enum\";a:1:{i:0;s:15:\"BILLABLEEXPENSE\";}s:8:\"readOnly\";b:1;}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  last modified date in UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ManualJournal\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  journal was posted \u2013 YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Boolean
  to indicate if a manual journal has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"JournalID\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  Xero identifier for a Manual Journal\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"JournalLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"See
  JournalLines\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JournalLine\";}s:4:\"type\";s:5:\"array\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"Narration\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Description
  of journal being posted\";s:7:\"example\";s:16:\"Fixing a mistake\";s:4:\"type\";s:6:\"string\";}s:22:\"ShowOnCashBasisReports\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Boolean
  \u2013 default is true if not specified\";s:4:\"type\";s:7:\"boolean\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Manual
  Journal Status Codes\";s:4:\"enum\";a:4:{i:0;s:5:\"DRAFT\";i:1;s:6:\"POSTED\";i:2;s:7:\"DELETED\";i:3;s:6:\"VOIDED\";}s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Url
  link to a source document \u2013 shown as \u201CGo to [appName]\u201D in the Xero
  app\";s:7:\"example\";s:30:\"https://myaapp.com/journal/123\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"Narration\";i:1;s:12:\"JournalLines\";}s:4:\"type\";s:6:\"object\";}s:13:\"OnlineInvoice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"OnlineInvoiceUrl\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  URL to view the online invoice\";s:7:\"example\";s:60:\"https://in.xero.com/U56hvGos5l9yHoeNITNjmqCVMVFUuDQyJMDwy41X\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"Organisation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":29:{s:6:\"APIKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Display
  a unique key used for Xero-to-Xero transactions\";s:7:\"example\";s:30:\"HJSONEEWGDGATQAL1VSWAZ0XHME0DV\";s:4:\"type\";s:6:\"string\";}s:9:\"Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Address
  details for organisation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"type\";s:5:\"array\";}s:12:\"BaseCurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Default
  currency for organisation. See ISO 4217 Currency Codes\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:11:\"CountryCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Country
  code for organisation. See ISO 3166-2 Country Codes\";s:7:\"example\";s:2:\"AU\";s:4:\"type\";s:6:\"string\";}s:14:\"CreatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Timestamp
  when the organisation was created in Xero\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"DefaultPurchasesTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  default for LineAmountTypes on purchase transactions\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:15:\"DefaultSalesTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  default for LineAmountTypes on sales transactions\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:17:\"EndOfYearLockDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Shown
  if set\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:13:\"ExternalLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:219:\"Organisation
  profile links for popular services such as Facebook, Twitter, GooglePlus and LinkedIn.
  You can also add link to your website here. Shown if Organisation settings  is updated
  in Xero. See ExternalLinks below\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExternalLink\";}s:4:\"type\";s:5:\"array\";}s:19:\"FinancialYearEndDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Calendar
  day e.g. 0-31\";s:7:\"example\";i:30;s:4:\"type\";s:6:\"string\";}s:21:\"FinancialYearEndMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Calendar
  Month e.g. 1-12\";s:7:\"example\";i:6;s:4:\"type\";s:6:\"string\";}s:13:\"IsDemoCompany\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Boolean
  to describe if organisation is a demo company.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"LegalName\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Organisation
  name shown on Reports\";s:7:\"example\";s:26:\"My Awesome Company Pty Ltd\";s:4:\"type\";s:6:\"string\";}s:14:\"LineOfBusiness\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Description
  of business type as defined in Organisation settings\";s:7:\"example\";s:20:\"Dairy
  Cattle Farming\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Display
  name of organisation shown in Xero\";s:7:\"example\";s:18:\"My Awesome Company\";s:4:\"type\";s:6:\"string\";}s:22:\"OrganisationEntityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Organisation
  Type\";s:4:\"enum\";a:8:{i:0;s:7:\"COMPANY\";i:1;s:7:\"CHARITY\";i:2;s:11:\"CLUBSOCIETY\";i:3;s:11:\"PARTNERSHIP\";i:4;s:8:\"PRACTICE\";i:5;s:6:\"PERSON\";i:6;s:10:\"SOLETRADER\";i:7;s:5:\"TRUST\";}s:4:\"type\";s:6:\"string\";}s:18:\"OrganisationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Will
  be set to ACTIVE if you can connect to organisation via the Xero API\";s:4:\"enum\";a:1:{i:0;s:6:\"ACTIVE\";}s:4:\"type\";s:6:\"string\";}s:16:\"OrganisationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Organisation
  Type\";s:4:\"enum\";a:8:{i:0;s:7:\"COMPANY\";i:1;s:7:\"CHARITY\";i:2;s:11:\"CLUBSOCIETY\";i:3;s:11:\"PARTNERSHIP\";i:4;s:8:\"PRACTICE\";i:5;s:6:\"PERSON\";i:6;s:10:\"SOLETRADER\";i:7;s:5:\"TRUST\";}s:4:\"type\";s:6:\"string\";}s:12:\"PaymentTerms\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Default
  payment terms for the organisation if set Terms below\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PaymentTerms\";}}}s:7:\"PaysTax\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Boolean
  to describe if organisation is registered with a local tax authority i.e. true,
  false\";s:4:\"type\";s:7:\"boolean\";}s:14:\"PeriodLockDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Shown
  if set\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:6:\"Phones\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Phones
  details for organisation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phone\";}s:4:\"type\";s:5:\"array\";}s:18:\"RegistrationNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Shows
  for New Zealand, Australian and UK organisations\";s:7:\"example\";i:11111111138;s:4:\"type\";s:6:\"string\";}s:13:\"SalesTaxBasis\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  accounting basis used for tax returns\";s:7:\"example\";s:4:\"CASH\";s:4:\"type\";s:6:\"string\";}s:14:\"SalesTaxPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  frequency with which tax returns are processed. See Sales Tax Period\";s:7:\"example\";s:7:\"MONTHLY\";s:4:\"type\";s:6:\"string\";}s:9:\"ShortCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  unique identifier for the organisation. Used for deep linking into Xero.\";s:7:\"example\";s:6:\"!YDrVg\";s:4:\"type\";s:6:\"string\";}s:9:\"TaxNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Shown
  if set. Displays in the Xero UI as Tax File Number (AU), GST Number (NZ), VAT Number
  (UK) and Tax ID Number (US & Global).\";s:7:\"example\";i:53003086616;s:4:\"type\";s:6:\"string\";}s:8:\"Timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Timezone
  specifications\";s:7:\"example\";s:22:\"AUSEASTERNSTANDARDTIME\";s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Version
  Types\";s:4:\"enum\";a:10:{i:0;s:2:\"AU\";i:1;s:2:\"NZ\";i:2;s:6:\"GLOBAL\";i:3;s:2:\"UK\";i:4;s:2:\"US\";i:5;s:8:\"AUONRAMP\";i:6;s:8:\"NZONRAMP\";i:7;s:12:\"GLOBALONRAMP\";i:8;s:8:\"UKONRAMP\";i:9;s:8:\"USONRAMP\";}s:4:\"type\";s:6:\"string\";}}}s:11:\"Overpayment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"Allocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"See
  Allocations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Allocation\";}s:4:\"type\";s:5:\"array\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Currency
  used for the overpayment\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  currency rate for a multicurrency overpayment. If no rate is specified, the XE.com
  day rate is used\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  date the overpayment is created YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"boolean
  to indicate if a overpayment has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Overpayment
  Line Items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:13:\"OverpaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"Payments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaymentSummary\";}s:4:\"type\";s:5:\"array\";}s:15:\"RemainingCredit\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  remaining credit balance on the overpayment\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Overpayment
  Status\";s:4:\"enum\";a:3:{i:0;s:10:\"AUTHORISED\";i:1;s:4:\"PAID\";i:2;s:6:\"VOIDED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  subtotal of the overpayment excluding taxes\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total of the overpayment (subtotal + total tax)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  total tax on the overpayment\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  Overpayment Type\";s:4:\"enum\";a:2:{i:0;s:19:\"RECEIVE-OVERPAYMENT\";i:1;s:17:\"SPEND-OVERPAYMENT\";}s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"UTC
  timestamp of last update to the overpayment\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"OverpaymentSummary\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"AppliedAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  total applied to the invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  date the overpayment was made YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:13:\"OverpaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  total of the Overpayment (subtotal + total tax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"Overpayment\";}}s:7:\"Payment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  Account the payment was made from\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"AccountID\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Identifier
  for the account\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Account
  Code\";s:7:\"example\";i:600;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  amount of the payment. Must be less than or equal to the outstanding amount owing
  on the invoice\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"CreditNote\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CreditNoteSummary\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Exchange
  rate when payment is received. Only used for non base currency invoices and credit
  notes.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Date
  the payment is being made (YYYY-MM-DD)\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"Invoice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InvoiceSummary\";}s:12:\"IsReconciled\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"An
  optional parameter for the payment. A boolean indicating whether you would like
  the payment to be created as reconciled when using PUT, or whether a payment has
  been reconciled when using GET\";s:4:\"type\";s:7:\"boolean\";}s:11:\"Overpayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/OverpaymentSummary\";}s:9:\"PaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  Xero identifier for an Payment\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"PaymentType\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  Payment Type.\";s:4:\"enum\";a:8:{i:0;s:13:\"ACCRECPAYMENT\";i:1;s:13:\"ACCPAYPAYMENT\";i:2;s:15:\"ARCREDITPAYMENT\";i:3;s:15:\"APCREDITPAYMENT\";i:4;s:20:\"AROVERPAYMENTPAYMENT\";i:5;s:19:\"ARPREPAYMENTPAYMENT\";i:6;s:19:\"APPREPAYMENTPAYMENT\";i:7;s:20:\"APOVERPAYMENTPAYMENT\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"Prepayment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PrepaymentSummary\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  optional description for the payment\";s:7:\"example\";s:12:\"Direct Debit\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  status of the payment.\";s:4:\"enum\";a:2:{i:0;s:10:\"AUTHORISED\";i:1;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"UTC
  timestamp of last update to the payment\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PaymentSummary\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  amount of the payment. Must be less than or equal to the outstanding amount owing
  on the invoice\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Date
  the payment is being made (YYYY-MM-DD)\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:9:\"PaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  Xero identifier for an Payment\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Payment\";}}s:12:\"PaymentTerms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Bills\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Days\";O:8:\"stdClass\":2:{s:7:\"example\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:17:\"DAYSAFTERBILLDATE\";i:1;s:18:\"DAYSAFTERBILLMONTH\";i:2;s:14:\"OFCURRENTMONTH\";i:3;s:16:\"OFFOLLOWINGMONTH\";}s:7:\"example\";s:16:\"OFFOLLOWINGMONTH\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Sales\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Days\";O:8:\"stdClass\":2:{s:7:\"example\";i:30;s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:17:\"DAYSAFTERBILLDATE\";i:1;s:18:\"DAYSAFTERBILLMONTH\";i:2;s:14:\"OFCURRENTMONTH\";i:3;s:16:\"OFFOLLOWINGMONTH\";}s:7:\"example\";s:17:\"DAYSAFTERBILLDATE\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:4:\"type\";s:5:\"array\";}s:5:\"Phone\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"PhoneAreaCode\";O:8:\"stdClass\":3:{s:7:\"example\";i:3;s:9:\"maxLength\";i:10;s:4:\"type\";s:6:\"string\";}s:16:\"PhoneCountryCode\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":3:{s:7:\"example\";s:9:\"9885
  4589\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:9:\"PhoneType\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"The
  phone type\";s:4:\"enum\";a:4:{i:0;s:7:\"DEFAULT\";i:1;s:3:\"DDI\";i:2;s:6:\"MOBILE\";i:3;s:3:\"FAX\";}s:7:\"example\";s:3:\"DDI\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Phones\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phone\";}s:4:\"type\";s:5:\"array\";}s:10:\"Prepayment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"Allocations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Allocation\";}s:4:\"type\";s:5:\"array\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Currency
  used for the prepayment\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  currency rate for a multicurrency prepayment. If no rate is specified, the XE.com
  day rate is used\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  date the prepayment is created YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"boolean
  to indicate if a prepayment has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"PrepaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"RemainingCredit\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  remaining credit balance on the prepayment\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Prepayment
  Status Codes\";s:4:\"enum\";a:3:{i:0;s:10:\"AUTHORISED\";i:1;s:4:\"PAID\";i:2;s:6:\"VOIDED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  subtotal of the prepayment excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  total of the prepayment(subtotal + total tax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  total tax on the prepayment\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Prepayment
  Types\";s:4:\"enum\";a:2:{i:0;s:18:\"RECEIVE-PREPAYMENT\";i:1;s:16:\"SPEND-PREPAYMENT\";}s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"UTC
  timestamp of last update to the prepayment\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PrepaymentSummary\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"AppliedAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  total applied to the invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  date the prepayment is issued YYYY-MM-DD.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:12:\"PrepaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  total of the Prepayment (subtotal + total tax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Prepayment\";}}s:15:\"PurchaseDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"AccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Default
  account code to be used for purchase of non-tracked items. Not applicable to the
  purchase details of tracked items\";s:7:\"example\";i:420;s:4:\"type\";s:6:\"string\";}s:15:\"COGSAccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Cost
  of goods sold account. Only applicable to the purchase details of tracked items.\";s:7:\"example\";i:420;s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Used
  as an override if the default Tax Code for the selected AccountCode is not correct.\";s:7:\"example\";s:4:\"NONE\";s:4:\"type\";s:6:\"string\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Unit
  Price of the item. By default UnitPrice is rounded to two decimal places. You can
  use 4 decimal places by adding the unitdp=4 querystring parameter to your request.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PurchaseOrder\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":24:{s:11:\"AttentionTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  person that the delivery is going to\";s:7:\"example\";s:4:\"Adam\";s:4:\"type\";s:6:\"string\";}s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"See
  BrandingThemes\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  currency that purchase order has been raised in\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"The
  currency rate for a multicurrency purchase order. As no rate can be specified, the
  XE.com day rate is used.\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Date
  purchase order was issued \u2013 YYYY-MM-DD. If the Date element is not specified
  then it will default to the current date based on the timezone setting of the organisation\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:15:\"DeliveryAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  address the goods are to be delivered to\";s:7:\"example\";s:46:\"23 Main Street,
  Central City, Marineville,1234\";s:4:\"type\";s:6:\"string\";}s:12:\"DeliveryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Date
  the goods are to be delivered \u2013 YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:20:\"DeliveryInstructions\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  free text feild for instructions (500 characters max)\";s:7:\"example\";s:29:\"Don't
  forget the secret knock\";s:4:\"type\";s:6:\"string\";}s:19:\"ExpectedArrivalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  date the goods are expected to arrive.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"boolean
  to indicate if a purchase order has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:15:\"PurchaseOrderID\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Xero
  generated unique identifier for purchase order\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"PurchaseOrderNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Unique
  alpha numeric code identifying purchase order (when missing will auto-generate from
  your Organisation Invoice Settings)\";s:7:\"example\";s:6:\"PO-123\";s:4:\"type\";s:6:\"string\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Additional
  reference number\";s:7:\"example\";s:6:\"ABC123\";s:4:\"type\";s:6:\"string\";}s:13:\"SentToContact\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:147:\"Boolean
  to set whether the purchase order should be marked as \u201Csent\u201D. This can
  be set only on purchase orders that have been approved or billed\";s:4:\"type\";s:7:\"boolean\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Purchase
  Order Status Codes\";s:4:\"enum\";a:5:{i:0;s:5:\"DRAFT\";i:1;s:9:\"SUBMITTED\";i:2;s:10:\"AUTHORISED\";i:3;s:6:\"BILLED\";i:4;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Total
  of purchase order excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:9:\"Telephone\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  phone number for the person accepting the delivery\";s:7:\"example\";s:14:\"0800
  1234 5678\";s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Total
  of Purchase Order tax inclusive (i.e. SubTotal + TotalTax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:13:\"TotalDiscount\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Total
  of discounts applied on the purchase order line items\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Total
  tax on purchase order\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"Contact\";i:1;s:9:\"LineItems\";}s:4:\"type\";s:6:\"object\";}s:27:\"PurchasesTrackingCategories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PurchasesTrackingCategory\";}s:4:\"type\";s:5:\"array\";}s:25:\"PurchasesTrackingCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Option\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"TrackingCategoryID\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Receipt\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Date
  of receipt \u2013 YYYY-MM-DD\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"boolean
  to indicate if a receipt has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"Lineitems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:9:\"ReceiptID\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Xero
  generated unique identifier for receipt\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"ReceiptNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Xero
  generated sequence number for receipt in current claim for a given user\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Additional
  reference number\";s:7:\"example\";s:6:\"ABC123\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Current
  status of receipt\";s:4:\"enum\";a:4:{i:0;s:5:\"DRAFT\";i:1;s:9:\"SUBMITTED\";i:2;s:10:\"AUTHORISED\";i:3;s:8:\"DECLINED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Total
  of receipt excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Total
  of receipt tax inclusive (i.e. SubTotal + TotalTax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Total
  tax on receipt\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"URL
  link to a source document \u2013 shown as \u201CGo to [appName]\u201D in the Xero
  app\";s:7:\"example\";s:29:\"https://myapp.com/receipt/123\";s:4:\"type\";s:6:\"string\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:8:\"required\";a:4:{i:0;s:4:\"Date\";i:1;s:7:\"Contact\";i:2;s:9:\"Lineitems\";i:3;s:4:\"User\";}s:4:\"type\";s:6:\"object\";}s:16:\"RepeatingInvoice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Branding
  Theme to be applied to the invoice\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContactSummary\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  currency that invoice has been raised in\";s:7:\"example\";s:3:\"AUD\";s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"boolean
  to indicate if an invoice has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"Exclusive\";s:11:\"description\";s:80:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element\";s:4:\"enum\";a:3:{i:0;s:9:\"Inclusive\";i:1;s:9:\"Exclusive\";i:2;s:5:\"NoTax\";}s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"ACCREC
  only \u2013 additional reference number\";s:7:\"example\";s:6:\"ABC123\";s:4:\"type\";s:6:\"string\";}s:18:\"RepeatingInvoiceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Xero
  generated unique identifier for repeating invoice template\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"Schedule\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"One
  of the following : DRAFT or AUTHORISED\";s:4:\"enum\";a:2:{i:0;s:5:\"DRAFT\";i:1;s:10:\"AUTHORISED\";}s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Total
  of invoice excluding taxes\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Total
  of Invoice tax inclusive (i.e. SubTotal + TotalTax)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"TotalTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Total
  tax on invoice\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Invoice
  Types\";s:4:\"enum\";a:2:{i:0;s:6:\"ACCPAY\";i:1;s:6:\"ACCREC\";}s:4:\"type\";s:6:\"string\";}}}s:6:\"Report\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"ReportDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  date of the report\";s:7:\"example\";s:16:\"10 November 2017\";s:4:\"type\";s:6:\"string\";}s:8:\"ReportID\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Identifier
  of the report\";s:7:\"example\";s:12:\"BalanceSheet\";s:4:\"type\";s:6:\"string\";}s:10:\"ReportName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Name
  of the report\";s:7:\"example\";s:13:\"Balance Sheet\";s:4:\"type\";s:6:\"string\";}s:12:\"ReportTitles\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  titles of the report\";s:7:\"example\";s:13:\"Balance Sheet\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"ReportType\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Type
  of report\";s:7:\"example\";s:12:\"BalanceSheet\";s:4:\"type\";s:6:\"string\";}s:4:\"Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  rows of the report that contain the data (including header rows)\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Cells\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Header
  row labels\";s:7:\"example\";s:11:\"30 Nov 2017\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"RowType\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  type of row\";s:4:\"enum\";a:4:{i:0;s:6:\"Header\";i:1;s:7:\"Section\";i:2;s:3:\"Row\";i:3;s:10:\"SummaryRow\";}}s:4:\"Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  rows of the report (including header rows)\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Cells\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  cells that contain the data of the report\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"AccountID
  that the Value relates to\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Always
  'account'\";s:4:\"enum\";a:1:{i:0;s:7:\"account\";}}s:5:\"Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  AccountID that the Value relates to\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  data displayed in the report\";s:7:\"example\";s:16:\"Business Account\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"RowType\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  type of row\";s:4:\"enum\";a:2:{i:0;s:3:\"Row\";i:1;s:10:\"SummaryRow\";}}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"Title\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  title of the row\";s:7:\"example\";s:6:\"Assets\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  date and time the report was generated\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ReportSummary\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"ReportDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  date of the report\";s:7:\"example\";s:25:\"1 Oct 2017 to 31 Oct 2017\";s:4:\"type\";s:6:\"string\";}s:8:\"ReportID\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Identifier
  of the report\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"ReportName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Name
  of the report\";s:7:\"example\";s:18:\"Activity Statement\";s:4:\"type\";s:6:\"string\";}s:10:\"ReportType\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Type
  of report\";s:7:\"example\";s:17:\"ActivityStatement\";s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  date and time the report was generated\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:12:\"SalesDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"AccountCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Default
  account code to be used for sale.\";s:7:\"example\";i:200;s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Used
  as an override if the default Tax Code for the selected AccountCode is not correct
  .\";s:7:\"example\";s:4:\"NONE\";s:4:\"type\";s:6:\"string\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Unit
[...]
