---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Payroll - AU\";s:7:\"version\";s:3:\"1.0\";}"
host: api.xero.com
basePath: /payroll.xro
paths:
  /Employees:
    x-related-model: Employee
    get:
      summary: Allows you to retrieve, add and update payroll employees in a Xero
        organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
    post:
      parameters:
      - in: body
        name: Employees
        schema:
          $ref: '#/definitions/Employee'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
  /Employees/{EmployeeID}:
    x-related-model: Employee
    get:
      summary: Allows you to retrieve, add and update payroll employees in a Xero
        organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
      parameters:
      - required: true
        in: path
        name: EmployeeID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Employees
        schema:
          $ref: '#/definitions/Employee'
        required: true
      - required: true
        in: path
        name: EmployeeID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
  /LeaveApplications:
    x-related-model: LeaveApplication
    get:
      summary: Allows you to retrieve, add and update Payroll leave applications in
        a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/LeaveApplication'
    post:
      parameters:
      - in: body
        name: LeaveApplications
        schema:
          $ref: '#/definitions/LeaveApplication'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/LeaveApplication'
  /PayItems:
    x-related-model: PayItem
    get:
      summary: Allows you to retrieve, add, update and delete Payroll Items in a Xero
        organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PayItem'
    post:
      parameters:
      - in: body
        name: PayItems
        schema:
          $ref: '#/definitions/PayItem'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PayItem'
  /PayrollCalendars:
    x-related-model: PayrollCalendar
    get:
      summary: Allows you to retrieve and add Payroll Calendars in a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PayrollCalendar'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: page
        description: e.g. page=1 u2013 Up to 100 records will be returned in a single
          API call
        type: number
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    post:
      parameters:
      - in: body
        name: PayrollCalendars
        schema:
          $ref: '#/definitions/PayrollCalendar'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PayrollCalendar'
  /PayRuns:
    x-related-model: PayRun
    get:
      summary: Allows you to retrieve, add and update pay runs in a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PayRun'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: page
        description: e.g. page=1 u2013 Up to 100 records will be returned in a single
          API call
        type: number
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    post:
      parameters:
      - in: body
        name: PayRuns
        schema:
          $ref: '#/definitions/PayRun'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PayRun'
  /PayRuns/{PayRunID}:
    x-related-model: PayRun
    get:
      summary: Allows you to retrieve, add and update pay runs in a Xero organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PayRun'
      parameters:
      - required: true
        in: path
        name: PayRunID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: PayRuns
        schema:
          $ref: '#/definitions/PayRun'
        required: true
      - required: true
        in: path
        name: PayRunID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PayRun'
  /Payslip:
    x-related-model: Payslip
    get:
      summary: Allows you to retrieve and update payslips in a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Payslip'
    post:
      parameters:
      - in: body
        name: Payslips
        schema:
          $ref: '#/definitions/Payslip'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payslip'
  /Payslip/{PayslipID}:
    x-related-model: Payslip
    get:
      summary: Allows you to retrieve and update payslips in a Xero organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payslip'
      parameters:
      - required: true
        in: path
        name: PayslipID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Payslips
        schema:
          $ref: '#/definitions/Payslip'
        required: true
      - required: true
        in: path
        name: PayslipID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payslip'
  /Settings:
    x-related-model: Setting
    get:
      summary: Allows you to retrieve the Payroll settings of a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Setting'
  /SuperFunds:
    x-related-model: SuperFund
    get:
      summary: Allows you to retrieve, add and update Payroll Super Funds in a Xero
        organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/SuperFund'
    post:
      parameters:
      - in: body
        name: SuperFunds
        schema:
          $ref: '#/definitions/SuperFund'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/SuperFund'
  /SuperFunds/{SuperFundID}:
    x-related-model: SuperFund
    get:
      summary: Allows you to retrieve, add and update Payroll Super Funds in a Xero
        organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/SuperFund'
      parameters:
      - required: true
        in: path
        name: SuperFundID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: SuperFunds
        schema:
          $ref: '#/definitions/SuperFund'
        required: true
      - required: true
        in: path
        name: SuperFundID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/SuperFund'
  /SuperFundProducts:
    x-related-model: SuperFundProduct
    get:
      summary: GET a SuperFundProduct
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/SuperFundProduct'
  /Timesheets:
    x-related-model: Timesheet
    get:
      summary: Allows you to retrieve, add and update Payroll Timesheet in a Xero
        organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Timesheet'
    post:
      parameters:
      - in: body
        name: Timesheets
        schema:
          $ref: '#/definitions/Timesheet'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Timesheet'
  /Timesheets/{TimesheetID}:
    x-related-model: Timesheet
    get:
      summary: Allows you to retrieve, add and update Payroll Timesheet in a Xero
        organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Timesheet'
      parameters:
      - required: true
        in: path
        name: TimesheetID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Timesheets
        schema:
          $ref: '#/definitions/Timesheet'
        required: true
      - required: true
        in: path
        name: TimesheetID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Timesheet'
produces:
- text/xml
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:8:\"Employee\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":27:{s:9:\"FirstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"First
  name of employee\_(max length = 35)\";s:9:\"maxLength\";i:35;s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Last
  name of employee\_(max length = 35)\";s:9:\"maxLength\";i:35;s:4:\"type\";s:6:\"string\";}s:11:\"DateOfBirth\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  of birth of the employee (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"HomeAddress\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:38:\"Employee
  home address. See HomeAddress\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HomeAddress\";}}}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"If
  you aren\u2019t sure of the exact start date for an employee, you can just enter
  the start of the current financial year (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:5:\"Title\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Title
  of the employee\_(max length = 10)\";s:9:\"maxLength\";i:10;s:4:\"type\";s:6:\"string\";}s:11:\"MiddleNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Middle
  name(s) of the employee\_(max length = 35)\";s:9:\"maxLength\";i:35;s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  email address for the employee\_(max length = 100)\";s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  employee\u2019s gender (M or F)\";s:4:\"type\";s:6:\"string\";}s:6:\"Mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Employee
  mobile number\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:15:\"TwitterUserName\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Employee\u2019s
  twitter name, entered as @twittername\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:26:\"IsAuthorisedToApproveLeave\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Boolean
  (true / false) \u2013 set this to true if the employee is authorised to approve
  other employees\u2019 leave requests\";s:4:\"type\";s:7:\"boolean\";}s:31:\"IsAuthorisedToApproveTimesheets\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Booelan
  \u2013 set this to true if the employee is authorised to approve timesheets\";s:4:\"type\";s:7:\"boolean\";}s:8:\"JobTitle\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"JobTitle
  of the employee\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:14:\"Classification\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"Employees
  under an award scheme will be covered by a modern award classification. If you record
  a classification, it will be included on your payslips\_(max length = 100)\";s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:22:\"OrdinaryEarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Xero
  unique identifier for earnings rate\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:17:\"PayrollCalendarID\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Xero
  unique identifier for payroll calendar for the employee\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:17:\"EmployeeGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  Employee Group allows you to report on payroll expenses and liabilities for each
  group of employees\";s:4:\"type\";s:6:\"string\";}s:12:\"BankAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"See
  BankAccount\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BankAccount\";}}s:11:\"PayTemplate\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:15:\"See
  PayTemplate\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PayTemplate\";}}}s:15:\"OpeningBalances\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"See
  OpeningBalances\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OpeningBalance\";}}s:13:\"LeaveBalances\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"See
  LeaveBalances\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LeaveBalance\";}}s:16:\"SuperMemberships\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"See
  SuperMemberships\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SuperMembership\";}}s:15:\"TerminationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Employee
  Termination Date (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Xero
  unique identifier for an Employee\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"See
  Employee Status Types\";s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Last
  modified timestamp\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:8:\"required\";a:4:{i:0;s:9:\"FirstName\";i:1;s:8:\"LastName\";i:2;s:11:\"DateOfBirth\";i:3;s:11:\"HomeAddress\";}}s:11:\"HomeAddress\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"AddressLine1\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Address
  line 1 for employee home address\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine2\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Address
  line 2 for employee home address\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Suburb
  for employee home address\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"State
  abbreviation for employee home address\";s:4:\"type\";s:6:\"string\";}s:10:\"PostalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"PostCode
  for employee home address\_(max length = 4)\";s:9:\"maxLength\";i:4;s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Country
  of HomeAddress\";s:4:\"type\";s:6:\"string\";}}}s:14:\"TaxDeclaration\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Xero
  employee identifier. e.g c56b19ef-75bf-45e8-98a4-e699a96609f7\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"EmploymentBasis\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"See
  Employment Basis Types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:8:\"FULLTIME\";i:1;s:8:\"PARTTIME\";i:2;s:6:\"CASUAL\";i:3;s:10:\"LABOURHIRE\";i:4;s:17:\"SUPERINCOMESTREAM\";}}s:16:\"TFNExemptionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"See
  TFN Exemption Types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"NOTQUOTED\";i:1;s:7:\"PENDING\";i:2;s:9:\"PENSIONER\";i:3;s:7:\"UNDER18\";}}s:13:\"TaxFileNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  tax file number e.g 123123123\";s:4:\"type\";s:6:\"string\";}s:32:\"AustralianResidentForTaxPurposes\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"If
  the employee is Australian resident for tax purposes. e.g true or false\";s:4:\"type\";s:6:\"string\";}s:23:\"TaxFreeThresholdClaimed\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"If
  tax free threshold claimed. e.g true or false\";s:4:\"type\";s:6:\"string\";}s:24:\"TaxOffsetEstimatedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"If
  has tax offset estimated then the tax offset estimated amount. e.g 100\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:11:\"HasHELPDebt\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"If
  employee has HECS or HELP dept. e.g true or false\";s:4:\"type\";s:7:\"boolean\";}s:11:\"HasSFSSDebt\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"If
  employee has financial supplement dept. e.g true or false\";s:4:\"type\";s:7:\"boolean\";}s:23:\"HasTradeSupportLoanDebt\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"If
  employee has trade support loan. e.g true or false\";s:4:\"type\";s:7:\"boolean\";}s:35:\"UpwardVariationTaxWithholdingAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"If
  the employee has requested that additional tax be withheld each pay run. e.g 50\";s:4:\"type\";s:6:\"string\";}s:29:\"EligibleToReceiveLeaveLoading\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"If
  the employee is eligible to receive an additional percentage on top of ordinary
  earnings when they take leave (typically 17.5%). e.g true or false\";s:4:\"type\";s:6:\"string\";}s:38:\"ApprovedWithholdingVariationPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"If
  the employee has approved withholding variation. e.g (0 \u2013 100)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"EmployeeID\";i:1;s:15:\"EmploymentBasis\";}}s:11:\"BankAccount\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"StatementText\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  text that will appear on your employee\u2019s bank statement when they receive payment\_(max
  length = 18)\";s:9:\"maxLength\";i:18;s:4:\"type\";s:6:\"string\";}s:11:\"AccountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  name of the account\_(max length = 32)\";s:9:\"maxLength\";i:32;s:4:\"type\";s:6:\"string\";}s:3:\"BSB\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  BSB number of the account\_(length = 6)\";s:4:\"type\";s:6:\"string\";}s:13:\"AccountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  account number\_(max length = 9)\";s:9:\"maxLength\";i:9;s:4:\"type\";s:6:\"string\";}s:9:\"Remainder\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"If
  this account is the Remaining bank account\";s:4:\"type\";s:6:\"string\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Fixed
  amounts (for example, if an employee wants to have $100 of their salary transferred
  to one account, and the remaining amount to another)\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:11:\"PayTemplate\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":26:{s:13:\"EarningsLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  earnings rate lines\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:14:\"DeductionLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  deduction type lines\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeductionLine\";}}s:10:\"SuperLines\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  superannuation fund lines\";s:4:\"type\";s:6:\"string\";}s:18:\"ReimbursementLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  reimbursement type lines\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReimbursementLine\";}}s:10:\"LeaveLines\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  leave type lines\";s:4:\"type\";s:6:\"string\";}s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Xero
  earnings rate identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"CalculationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"See
  Leave Type Calculation Types\";s:4:\"type\";s:6:\"string\";}s:20:\"NumberOfUnitsPerWeek\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Hours
  per week for the EarningsLine. Applicable for ANNUALSALARY CalculationType\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:15:\"USEEARNINGSRATE\";i:1;s:17:\"ENTEREARNINGSRATE\";i:2;s:12:\"ANNUALSALARY\";}}s:12:\"AnnualSalary\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Annual
  Salary of employee\";s:4:\"type\";s:6:\"string\";}s:11:\"RatePerUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Rate
  per unit of the EarningsLine.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:19:\"NormalNumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Normal
  number of units for EarningsLine.  Applicable when RateType is \u201CMULTIPLE\u201D\";s:4:\"type\";s:6:\"string\";}s:15:\"DeductionTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Xero
  deduction type identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  percentage of the SuperLine. Applies on Percentage of Earnings\_CalculationType.\";s:4:\"type\";s:6:\"string\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  amount of the reimbursement type\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:17:\"SuperMembershipID\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Xero
  superannuation fund membership identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"ContributionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"See
  Superannuation Contribution Type\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:3:\"SGC\";i:1;s:15:\"SALARYSACRIFICE\";i:2;s:18:\"EMPLOYERADDITIONAL\";i:3;s:8:\"EMPLOYEE\";}}s:18:\"ExpenseAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"\_Account
  code for the Expense Account. i.e 478\";s:4:\"type\";s:6:\"string\";}s:20:\"LiabilityAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\_Account
  code for the Liability Account. i.e 826\";s:4:\"type\";s:6:\"string\";}s:22:\"MinimumMonthlyEarnings\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Minimum
  monthly earnings. Applies for Percentage of Earnings calculation type only\";s:4:\"type\";s:6:\"string\";}s:19:\"ReimbursementTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Xero
  reimbursement type identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  description of the reimbursement type\";s:4:\"type\";s:6:\"string\";}s:11:\"LeaveTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Xero
  leave type identifier.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:19:\"AnnualNumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Hours
  of leave accrued each year\";s:4:\"type\";s:6:\"string\";}s:30:\"FullTimeNumberOfUnitsPerPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Normal
  ordinary earnings number of units for leave line.\";s:4:\"type\";s:6:\"string\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Number
  of units for leave line.\";s:4:\"type\";s:6:\"string\";}s:29:\"EntitlementFinalPayPayoutType\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"See
  Final Pay Payout Types If you do not provide any value then by Default it will be
  NOTPAIDOUT.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"NOTPAIDOUT\";i:1;s:7:\"PAIDOUT\";}}}}s:14:\"OpeningBalance\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:18:\"OpeningBalanceDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Opening
  Balance Date. (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:3:\"Tax\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Opening
  Balance tax\";s:4:\"type\";s:6:\"string\";}s:13:\"EarningsLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  EarningsLines of the OpeningBalance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EarningsLine\";}}s:14:\"DeductionLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  DeductionLines of the OpeningBalance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeductionLine\";}}s:10:\"SuperLines\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  SuperLines of the OpeningBalance.\";s:4:\"type\";s:6:\"string\";}s:18:\"ReimbursementLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  ReimbursementLines of the OpeningBalance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReimbursementLine\";}}s:10:\"LeaveLines\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  LeaveLines of the OpeningBalance.\";s:4:\"type\";s:6:\"string\";}s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Xero
  earnings rate identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Reimbursement
  type amount\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:15:\"DeductionTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Xero
  deduction type identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:17:\"SuperMembershipID\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Xero
  super membership ID\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"CalculationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Calculation
  type for Super line\";s:4:\"type\";s:6:\"string\";}s:19:\"ReimbursementTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Xero
  reimbursement type identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"LeaveTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Xero
  leave type identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Leave
  number of units\";s:4:\"type\";s:6:\"string\";}}}s:12:\"LeaveBalance\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"LeaveName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the leave type\";s:4:\"type\";s:6:\"string\";}s:11:\"LeaveTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Identifier
  of the leave type (see PayItems)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  balance of the leave available\";s:4:\"type\";s:6:\"string\";}s:11:\"TypeOfUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  type of units as specified by the LeaveType\_(see PayItems)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/PayItem\";}}}}s:15:\"SuperMembership\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:62:\"http://developer.xero.com/documentation/payroll-api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"SuperFundID\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Xero
  identifier for super fund\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"EmployeeNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  memberhsip number assigned to the employee by the super fund.\";s:4:\"type\";s:6:\"string\";}s:17:\"SuperMembershipID\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Xero
  unique identifier for Super membership\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  Xero identifier for an employee e.g. 297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:16:\"LeaveApplication\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:70:\"http://developer.xero.com/documentation/payroll-api/leaveapplications/\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  Xero identifier for Payroll Employee\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"LeaveTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  Xero identifier for Leave Type\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:5:\"Title\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  title of the leave\_(max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Start
  date of the leave (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"End
  date of the leave (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  Description of the Leave\_(max length = 200)\";s:9:\"maxLength\";i:200;s:4:\"type\";s:6:\"string\";}s:12:\"LeavePeriods\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  leave period information\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LeavePeriod\";}}}s:8:\"required\";a:5:{i:0;s:10:\"EmployeeID\";i:1;s:11:\"LeaveTypeID\";i:2;s:5:\"Title\";i:3;s:9:\"StartDate\";i:4;s:7:\"EndDate\";}}s:11:\"LeavePeriod\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:70:\"http://developer.xero.com/documentation/payroll-api/leaveapplications/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"NumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  Number of Units for the leave\";s:4:\"type\";s:6:\"string\";}s:16:\"PayPeriodEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  Pay Period End Date (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:18:\"PayPeriodStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  Pay Period Start Date (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:17:\"LeavePeriodStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"See
  LeavePeriodStatus\";s:4:\"type\";s:6:\"string\";}}}s:7:\"PayItem\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/payitems/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"EarningsRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"See
  EarningsRates\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EarningsRate\";}}s:14:\"DeductionTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"See
  DeductionTypes\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeductionType\";}}s:10:\"LeaveTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"See
  LeaveTypes\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LeaveType\";}}s:18:\"ReimbursementTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"See
  ReimbursementTypes\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReimbursementType\";}}}}s:12:\"EarningsRate\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/payitems/\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Name
  of the earnings rate (max length = 100)\";s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"See
  Accounts\";s:4:\"type\";s:6:\"string\";}s:11:\"TypeOfUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Type
  of units used to record earnings (max length = 50). Only When RateType is RATEPERUNIT\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:15:\"IsExemptFromTax\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Most
  payments are subject to tax, so you should only set this value if you are sure that
  a payment is exempt from PAYG withholding\";s:4:\"type\";s:6:\"string\";}s:17:\"IsExemptFromSuper\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"See
  the ATO website for details of which payments are exempt from SGC\";s:4:\"type\";s:6:\"string\";}s:12:\"EarningsType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"See
  EarningsTypes\";s:4:\"type\";s:6:\"string\";}s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:8:\"RateType\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"See
  RateTypes\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:11:\"FIXEDAMOUNT\";i:1;s:8:\"MULTIPLE\";i:2;s:11:\"RATEPERUNIT\";}}s:11:\"RatePerUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Default
  rate per unit (optional). Only applicable if RateType is RATEPERUNIT.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"Multiplier\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"This
  is the multiplier used to calculate the rate per unit, based on the employee\u2019s
  ordinary earnings rate. For example, for time and a half enter 1.5. Only applicable
  if RateType is MULTIPLE\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:11:\"AccrueLeave\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Indicates
  that this earnings rate should accrue leave. Only applicable if RateType is MULTIPLE\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Option
  Amount for FIXEDAMOUNT RateType EarningsRate\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}s:8:\"required\";a:6:{i:0;s:4:\"Name\";i:1;s:11:\"AccountCode\";i:2;s:11:\"TypeOfUnits\";i:3;s:15:\"IsExemptFromTax\";i:4;s:17:\"IsExemptFromSuper\";i:5;s:12:\"EarningsType\";}}s:13:\"DeductionType\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/payitems/\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Name
  of the deduction type (max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"See
  Accounts\";s:4:\"type\";s:6:\"string\";}s:10:\"ReducesTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Indicates
  that this is a pre-tax deduction that will reduce the amount of tax you withhold
  from an employee.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:12:\"ReducesSuper\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Most
  deductions don\u2019t reduce your superannuation guarantee contribution liability,
  so typically you will not set any value for this.\";s:4:\"type\";s:6:\"string\";}s:15:\"DeductionTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:11:\"AccountCode\";i:2;s:10:\"ReducesTax\";i:3;s:12:\"ReducesSuper\";}}s:9:\"LeaveType\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/payitems/\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Name
  of the leave type (max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:11:\"TypeOfUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"The
  type of units by which leave entitlements are normally tracked. These are typically
  the same as the type of units used for the employee\u2019s ordinary earnings rate\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:11:\"IsPaidLeave\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Set
  this to indicate that an employee will be paid when taking this type of leave\";s:4:\"type\";s:6:\"string\";}s:13:\"ShowOnPayslip\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Set
  this if you want a balance for this leave type to be shown on your employee\u2019s
  payslips\";s:4:\"type\";s:6:\"string\";}s:11:\"LeaveTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:17:\"NormalEntitlement\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  number of units the employee is entitled to each year\";s:4:\"type\";s:6:\"string\";}s:16:\"LeaveLoadingRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Enter
  an amount here if your organisation pays an additional percentage on top of ordinary
  earnings when your employees take leave (typically 17.5%)\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:11:\"TypeOfUnits\";i:2;s:11:\"IsPaidLeave\";i:3;s:13:\"ShowOnPayslip\";}}s:17:\"ReimbursementType\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/payitems/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Name
  of the reimbursement type (max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"See
  Accounts\";s:4:\"type\";s:6:\"string\";}s:19:\"ReimbursementTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:11:\"AccountCode\";}}s:15:\"PayrollCalendar\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"http://developer.xero.com/documentation/payroll-api/payrollcalendars/\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Name
  of the Payroll Calendar (max length = 100)\";s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:12:\"CalendarType\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"See
  Payroll Calendar types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:6:\"WEEKLY\";i:1;s:11:\"FORTNIGHTLY\";i:2;s:10:\"FOURWEEKLY\";i:3;s:7:\"MONTHLY\";i:4;s:12:\"TWICEMONTHLY\";i:5;s:9:\"QUARTERLY\";}}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"The
  start date of the upcoming pay period. The end date will be calculated based upon
  this date, and the calendar type selected (YYYY-MM-DD), more details.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"PaymentDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  date on which employees will be paid for the upcoming pay period (YYYY-MM-DD), more
  details.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  Xero identifier for a Payroll Calendar e.g. 297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:12:\"CalendarType\";i:2;s:9:\"StartDate\";i:3;s:11:\"PaymentDate\";}}s:6:\"PayRun\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payruns/\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"PayrollCalendarID\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"See
  PayrollCalendars\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:8:\"PayRunID\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  Xero identifier for a Pay run e.g. 297c2dc5-cc47-4afd-0000-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:21:\"PayRunPeriodStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Period
  Start Date for the PayRun (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:19:\"PayRunPeriodEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Period
  End Date for the PayRun (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:12:\"PayRunStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"See
  PayRun Status types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"DRAFT\";i:1;s:6:\"POSTED\";}}s:11:\"PaymentDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Payment
  Date for the PayRun (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:14:\"PayslipMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Payslip
  message for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"Payslips\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"See
  Payslip\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payslip\";}}s:5:\"Wages\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Total
  Wages for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"Deductions\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Total
  Deduction for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"Tax\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Total
  Tax for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:5:\"Super\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Total
  Super for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"Reimbursement\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Total
  Reimbursement for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"NetPay\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Total
  NetPay for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:17:\"PayrollCalendarID\";}}s:7:\"Payslip\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":20:{s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Xero
  identifier for payroll employee\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:9:\"PayslipID\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Xero
  identifier for payroll payslip\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"EarningsLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"See
  EarningsLine\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EarningsLine\";}}s:22:\"TimesheetEarningsLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"See
  TimesheetEarningsLine\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TimesheetEarningsLine\";}}s:14:\"DeductionLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"See
  DeductionLine\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeductionLine\";}}s:17:\"LeaveAccrualLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"See
  LeaveAccrualLine\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LeaveAccrualLine\";}}s:18:\"ReimbursementLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"See
  ReimbursementLine \u2013 see PayItems\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReimbursementLine\";}}s:19:\"SuperannuationLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"See
  SuperannuationLine\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SuperannuationLine\";}}s:8:\"TaxLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"See
  TaxLine\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TaxLine\";}}s:9:\"FirstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Employee
  first name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Employee
  last name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"EmployeeGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Employee
  Group name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"LastEdited\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Last
  edited\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"Wages\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Total Wages for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"Deductions\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  Total Deductions for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:6:\"NetPay\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  Total NetPay for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:3:\"Tax\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  Total Tax for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:5:\"Super\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Total Super for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:14:\"Reimbursements\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  Total Reimbursement for the PayRun\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:18:\"LeaveEarningsLines\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"See
  LeaveEarningsLine\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LeaveEarningsLine\";}}}}s:12:\"EarningsLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Xero
  identifier for payroll earnings rate.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"RatePerUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Rate
  per unit for earnings rate.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Earnings
  rate number of units.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:11:\"FixedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Earnings
  rate amount.  Only applicable if the EarningsRate RateType is Fixed\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:17:\"LeaveEarningsLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Xero
  identifier for payroll earnings rate.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"RatePerUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Rate
  per unit for earnings rate.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Earnings
  rate number of units\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:21:\"TimesheetEarningsLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Xero
  identifier for payroll earnings rate.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"RatePerUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Rate
  per unit for earnings rate\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  Amount of the Timesheet Earnings Line.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:13:\"DeductionLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"DeductionTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Xero
  identifier for payroll earnings rate.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"CalculationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Rate
  per unit for earnings rate.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  Percentage of the Deduction Line.\";s:4:\"type\";s:6:\"string\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Earnings
  rate number of units\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:16:\"LeaveAccrualLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"LeaveTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Xero
  identifier for the Leave type.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Number
  of units for the Leave line.\";s:4:\"type\";s:6:\"string\";}s:13:\"AutoCalculate\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"If
  you want to auto calculate leave.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ReimbursementLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"ReimbursementTypeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Xero
  identifier for payroll reimbursement type\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Reimbursement
  lines description (max length 50)\";s:4:\"type\";s:6:\"string\";}s:14:\"ExpenseAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Reimbursement
  expense account. For posted pay run you should be able to see expense account code\";s:4:\"type\";s:6:\"string\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Reimbursement
  amount\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:18:\"SuperannuationLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"SuperMembershipID\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Xero
  identifier for payroll super fund membership ID\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"ContributionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Superannuation
  contribution type\";s:4:\"type\";s:6:\"string\";}s:15:\"CalculationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Superannuation
  calculation type\";s:4:\"type\";s:6:\"string\";}s:22:\"MinimumMonthlyEarnings\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Superannuation
  minimum monthly earnings\";s:4:\"type\";s:6:\"string\";}s:18:\"ExpenseAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Superannuation
  expense account code\";s:4:\"type\";s:6:\"string\";}s:20:\"LiabilityAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Superannuation
  liability account code\";s:4:\"type\";s:6:\"string\";}s:24:\"PaymentDateForThisPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Superannuation
  payment date for the current period (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Superannuation
  percentage\";s:4:\"type\";s:6:\"string\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Superannuation
  amount\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:7:\"TaxLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/payroll-api/payslip/\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"TaxTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the tax type\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of the tax line\";s:4:\"type\";s:6:\"string\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  tax line amount\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:16:\"LiabilityAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  tax line liability account code. For posted pay run you should be able to see liability
  account code\";s:4:\"type\";s:6:\"string\";}s:9:\"PayslipID\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  Xero identifier for a Pay slip e.g. GET https://\u2026/Payslip/{identifier}\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:7:\"Setting\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/settings/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Accounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Payroll
  Account details for SuperExpense, SuperLiabilty, WagesExpense, PAYGLiability & WagesPayable.
  \ See Accounts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}}s:18:\"TrackingCategories\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Tracking
  categories for Employee\u2019s and Timesheet\u2019s.  See Tracking Categories\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingCategory\";}}s:17:\"DaysInPayrollYear\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Number
  of days in the Payroll year\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Account\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/settings/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountID\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Xero
  account identifier. e.g c56b19ef-75bf-45e8-98a4-e699a96609f7\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"See
  Account Types\";s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Customer
  defined account code eg. 200\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of account\";s:4:\"type\";s:6:\"string\";}}}s:16:\"TrackingCategory\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/payroll-api/settings/\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"TrackingCategoryID\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Xero
  tracking category identifier. e.g c56b19ef-75bf-45e8-98a4-e699a96609f7\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:20:\"TrackingCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of tracking category\";s:4:\"type\";s:6:\"string\";}}}s:9:\"SuperFund\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:63:\"http://developer.xero.com/documentation/payroll-api/superfunds/\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"SMSF
  see Super Fund Types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"REGULATED\";i:1;s:4:\"SMSF\";}}s:3:\"ABN\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"ABN
  of the self managed super fund. (max length = 11) e.g 839182848805\";s:9:\"maxLength\";i:11;s:4:\"type\";s:6:\"string\";}s:3:\"USI\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  USI of the Regulated SuperFund\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Name
  of the super fund (max length = 76) e.g Clive Monk Superannuation Fund\";s:9:\"maxLength\";i:76;s:4:\"type\";s:6:\"string\";}s:3:\"BSB\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"BSB
  of the self managed super fund. (max length = 6) e.g 123123\";s:9:\"maxLength\";i:6;s:4:\"type\";s:6:\"string\";}s:13:\"AccountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  account number for the self managed super fund. (max length = 9) e.g 234324324\";s:9:\"maxLength\";i:9;s:4:\"type\";s:6:\"string\";}s:11:\"AccountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  account name for the self managed super fund (max length = 32) e.g Clive Monk Superannuation
  Fund\";s:9:\"maxLength\";i:32;s:4:\"type\";s:6:\"string\";}s:24:\"ElectronicServiceAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  electronic service address for the self managed super fund (max length = 16)\";s:9:\"maxLength\";i:16;s:4:\"type\";s:6:\"string\";}s:11:\"SuperFundID\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Xero
  identifier e.g c56b19ef-75bf-45e8-98a4-e699a96609f7\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"EmployerNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Some
  funds assign a unique number to each employer (max length = 20)\";s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}s:4:\"SPIN\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  SPIN of the Regulated SuperFund. This field has been deprecated.  It will only be
  present for legacy superfunds.  New superfunds will not have a SPIN value.  The
  USI field should be used instead of SPIN\";s:4:\"type\";s:6:\"string\";}}}s:16:\"SuperFundProduct\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:70:\"http://developer.xero.com/documentation/payroll-api/superfundproducts/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"ABN\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  ABN of the Regulated SuperFund\_(e.g 40022701955)\";s:4:\"type\";s:6:\"string\";}s:3:\"USI\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  USI of the Regulated SuperFund (e.g 40022701955001)\";s:4:\"type\";s:6:\"string\";}s:4:\"SPIN\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"The
  SPIN of the Regulated SuperFund. (e.g NML0117AU) This field has been deprecated.
  \ New superfunds will not have a SPIN value.  The USI field should be used instead
  of SPIN\";s:4:\"type\";s:6:\"string\";}s:11:\"ProductName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the Regulated SuperFund\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Timesheet\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:63:\"http://developer.xero.com/documentation/payroll-api/timesheets/\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  Xero identifier for an employee\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Period
  start date (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Period
  end date (YYYY-MM-DD)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:14:\"TimesheetLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"See
  TimesheetLines\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TimesheetLine\";}}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"See
  Timesheet Status Codes\";s:4:\"type\";s:6:\"string\";}s:5:\"Hours\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Timesheet
  total hours\";s:4:\"type\";s:6:\"string\";}s:11:\"TimesheetID\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  Xero identifier for a Payroll Timesheet\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:3:{i:0;s:10:\"EmployeeID\";i:1;s:9:\"StartDate\";i:2;s:7:\"EndDate\";}}s:13:\"TimesheetLine\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:63:\"http://developer.xero.com/documentation/payroll-api/timesheets/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"EarningsRateID\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  Xero identifier for an Earnings Rate\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"TrackingItemID\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"The
  Xero identifier for a Tracking Category <TrackingOptionID>. The <TrackingOptionID>
  must belong to the TrackingCategory selected as <TimesheetCategories> under Payroll
  Settings.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"NumberOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Number
  of units of a Timesheet line\";s:4:\"type\";s:6:\"string\";}s:11:\"TimesheetID\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  Xero identifier for a payroll timesheete.g. 297c2dc5-cc47-4afd-0000-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}}"
...
