---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Accounting API\";s:7:\"version\";s:3:\"2.0\";}"
host: api.xero.com
basePath: /api.xro
paths:
  /Accounts:
    x-related-model: Account
    get:
      summary: Allows you to retrieve the full chart of accounts
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Account'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    put:
      parameters:
      - in: body
        name: Accounts
        schema:
          $ref: '#/definitions/Account'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Account'
    post:
      parameters:
      - in: body
        name: Accounts
        schema:
          $ref: '#/definitions/Account'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Account'
  /Accounts/{AccountID}:
    x-related-model: Account
    get:
      summary: Allows you to retrieve the full chart of accounts
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Account'
      parameters:
      - required: true
        in: path
        name: AccountID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Accounts
        schema:
          $ref: '#/definitions/Account'
        required: true
      - required: true
        in: path
        name: AccountID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Account'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: AccountID
        type: string
        format: uuid
  /BankTransactions:
    x-related-model: BankTransaction
    get:
      summary: Allows you to retrieve any spend or receive money transactions
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BankTransaction'
    put:
      parameters:
      - in: body
        name: BankTransactions
        schema:
          $ref: '#/definitions/BankTransaction'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
    post:
      parameters:
      - in: body
        name: BankTransactions
        schema:
          $ref: '#/definitions/BankTransaction'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
  /BankTransactions/{BankTransactionID}:
    x-related-model: BankTransaction
    get:
      summary: Allows you to retrieve any spend or receive money transactions
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
      parameters:
      - required: true
        in: path
        name: BankTransactionID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: BankTransactions
        schema:
          $ref: '#/definitions/BankTransaction'
        required: true
      - required: true
        in: path
        name: BankTransactionID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransaction'
  /BankTransfers:
    x-related-model: BankTransfer
    get:
      summary: Allows you to retrieve any bank transfers
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BankTransfer'
    put:
      parameters:
      - in: body
        name: BankTransfers
        schema:
          $ref: '#/definitions/BankTransfer'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransfer'
  /BankTransfers/{BankTransferID}:
    x-related-model: BankTransfer
    get:
      summary: Allows you to retrieve any bank transfers
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BankTransfer'
      parameters:
      - required: true
        in: path
        name: BankTransferID
        type: string
        format: uuid
  /BrandingThemes:
    x-related-model: BrandingTheme
    get:
      summary: GET a BrandingTheme
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/BrandingTheme'
  /BrandingThemes/{BrandingThemeID}:
    x-related-model: BrandingTheme
    get:
      summary: GET a BrandingTheme
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/BrandingTheme'
      parameters:
      - required: true
        in: path
        name: BrandingThemeID
        type: string
        format: uuid
  /Contacts:
    x-related-model: Contact
    get:
      summary: Allows you to retrieve, add and update contacts in a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
    put:
      parameters:
      - in: body
        name: Contacts
        schema:
          $ref: '#/definitions/Contact'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Contact'
    post:
      parameters:
      - in: body
        name: Contacts
        schema:
          $ref: '#/definitions/Contact'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Contact'
  /Contacts/{ContactID}:
    x-related-model: Contact
    get:
      summary: Allows you to retrieve, add and update contacts in a Xero organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Contact'
      parameters:
      - required: true
        in: path
        name: ContactID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Contacts
        schema:
          $ref: '#/definitions/Contact'
        required: true
      - required: true
        in: path
        name: ContactID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Contact'
  /ContactGroups:
    x-related-model: ContactGroup
    get:
      summary: Allows you to retrieve the ContactID and Name of all the contacts in
        a contact group
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactGroup'
      parameters:
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    put:
      parameters:
      - in: body
        name: ContactGroups
        schema:
          $ref: '#/definitions/ContactGroup'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroup'
    post:
      parameters:
      - in: body
        name: ContactGroups
        schema:
          $ref: '#/definitions/ContactGroup'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroup'
  /ContactGroups/{ContactGroupID}:
    x-related-model: ContactGroup
    get:
      summary: Allows you to retrieve the ContactID and Name of all the contacts in
        a contact group
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroup'
      parameters:
      - required: true
        in: path
        name: ContactGroupID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: ContactGroups
        schema:
          $ref: '#/definitions/ContactGroup'
        required: true
      - required: true
        in: path
        name: ContactGroupID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ContactGroup'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: ContactGroupID
        type: string
        format: uuid
  /ContactGroups/{ContactGroupID}/Contacts:
    x-related-model: ContactGroup
    put:
      parameters:
      - in: body
        name: Contacts
        schema:
          $ref: '#/definitions/Contact'
        required: true
      - required: true
        in: path
        name: ContactGroupID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Contact'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: ContactGroupID
        type: string
        format: uuid
  /ContactGroups/{ContactGroupID}/Contacts/{ContactID}:
    x-related-model: ContactGroup
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: ContactGroupID
        type: string
        format: uuid
      - required: true
        in: path
        name: ContactID
        type: string
        format: uuid
  /CreditNotes:
    x-related-model: CreditNote
    get:
      summary: Allows you to retrieve any credit notes
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/CreditNote'
    put:
      parameters:
      - in: body
        name: CreditNotes
        schema:
          $ref: '#/definitions/CreditNote'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
    post:
      parameters:
      - in: body
        name: CreditNotes
        schema:
          $ref: '#/definitions/CreditNote'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
  /CreditNotes/{CreditNoteID}:
    x-related-model: CreditNote
    get:
      summary: Allows you to retrieve any credit notes
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
      parameters:
      - required: true
        in: path
        name: CreditNoteID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: CreditNotes
        schema:
          $ref: '#/definitions/CreditNote'
        required: true
      - required: true
        in: path
        name: CreditNoteID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/CreditNote'
  /CreditNotes/{CreditNoteID}/Allocations:
    x-related-model: CreditNote
    put:
      parameters:
      - in: body
        name: Allocations
        schema:
          $ref: '#/definitions/Allocation'
        required: true
      - required: true
        in: path
        name: CreditNoteID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Allocation'
  /Currencies:
    x-related-model: Currency
    get:
      summary: Allows you to retrieve currencies for your organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Currency'
      parameters:
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
  /Employees:
    x-related-model: Employee
    get:
      summary: Allows you to retrieve, add and update employees used in Xero payrun
        functionality
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Employee'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    put:
      parameters:
      - in: body
        name: Employees
        schema:
          $ref: '#/definitions/Employee'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
    post:
      parameters:
      - in: body
        name: Employees
        schema:
          $ref: '#/definitions/Employee'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
  /Employees/{EmployeeID}:
    x-related-model: Employee
    get:
      summary: Allows you to retrieve, add and update employees used in Xero payrun
        functionality
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
      parameters:
      - required: true
        in: path
        name: EmployeeID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Employees
        schema:
          $ref: '#/definitions/Employee'
        required: true
      - required: true
        in: path
        name: EmployeeID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Employee'
  /ExpenseClaims:
    x-related-model: ExpenseClaim
    get:
      summary: Allows you to retrieve expense claims to see their status
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ExpenseClaim'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    put:
      parameters:
      - in: body
        name: ExpenseClaims
        schema:
          $ref: '#/definitions/ExpenseClaim'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
    post:
      parameters:
      - in: body
        name: ExpenseClaims
        schema:
          $ref: '#/definitions/ExpenseClaim'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
  /ExpenseClaims/{ExpenseClaimID}:
    x-related-model: ExpenseClaim
    get:
      summary: Allows you to retrieve expense claims to see their status
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
      parameters:
      - required: true
        in: path
        name: ExpenseClaimID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: ExpenseClaims
        schema:
          $ref: '#/definitions/ExpenseClaim'
        required: true
      - required: true
        in: path
        name: ExpenseClaimID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ExpenseClaim'
  /Invoices:
    x-related-model: Invoice
    get:
      summary: Allows you to retrieve any sales invoices or purchase bills
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Invoice'
    put:
      parameters:
      - in: body
        name: Invoices
        schema:
          $ref: '#/definitions/Invoice'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Invoice'
    post:
      parameters:
      - in: body
        name: Invoices
        schema:
          $ref: '#/definitions/Invoice'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Invoice'
  /Invoices/{InvoiceID}:
    x-related-model: Invoice
    get:
      summary: Allows you to retrieve any sales invoices or purchase bills
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Invoice'
      parameters:
      - required: true
        in: path
        name: InvoiceID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Invoices
        schema:
          $ref: '#/definitions/Invoice'
        required: true
      - required: true
        in: path
        name: InvoiceID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Invoice'
  /Items:
    x-related-model: Item
    get:
      summary: Allows you to retrieve any items
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Item'
    put:
      parameters:
      - in: body
        name: Items
        schema:
          $ref: '#/definitions/Item'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
    post:
      parameters:
      - in: body
        name: Items
        schema:
          $ref: '#/definitions/Item'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
  /Items/{ItemID}:
    x-related-model: Item
    get:
      summary: Allows you to retrieve any items
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
      parameters:
      - required: true
        in: path
        name: ItemID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Items
        schema:
          $ref: '#/definitions/Item'
        required: true
      - required: true
        in: path
        name: ItemID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Item'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: ItemID
        type: string
        format: uuid
  /Journals:
    x-related-model: Journal
    get:
      summary: Allows you to retrieve any journals.
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Journal'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
  /Journals/{JournalID}:
    x-related-model: Journal
    get:
      summary: Allows you to retrieve any journals.
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Journal'
      parameters:
      - required: true
        in: path
        name: JournalID
        type: string
        format: uuid
  /LinkedTransactions:
    x-related-model: LinkedTransaction
    get:
      summary: Retrieve linked transactions (billable expenses)
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/LinkedTransaction'
      parameters:
      - in: query
        name: page
        description: e.g. page=1 u2013 Up to 100 records will be returned in a single
          API call
        type: number
    put:
      parameters:
      - in: body
        name: LinkedTransactions
        schema:
          $ref: '#/definitions/LinkedTransaction'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
    post:
      parameters:
      - in: body
        name: LinkedTransactions
        schema:
          $ref: '#/definitions/LinkedTransaction'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
  /LinkedTransactions/{LinkedTransactionID}:
    x-related-model: LinkedTransaction
    get:
      summary: Retrieve linked transactions (billable expenses)
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
      parameters:
      - required: true
        in: path
        name: LinkedTransactionID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: LinkedTransactions
        schema:
          $ref: '#/definitions/LinkedTransaction'
        required: true
      - required: true
        in: path
        name: LinkedTransactionID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/LinkedTransaction'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: LinkedTransactionID
        type: string
        format: uuid
  /ManualJournals:
    x-related-model: ManualJournal
    get:
      summary: Allows you to retrieve any manual journals
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/ManualJournal'
    put:
      parameters:
      - in: body
        name: ManualJournals
        schema:
          $ref: '#/definitions/ManualJournal'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
    post:
      parameters:
      - in: body
        name: ManualJournals
        schema:
          $ref: '#/definitions/ManualJournal'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
  /ManualJournals/{JournalID}:
    x-related-model: ManualJournal
    get:
      summary: Allows you to retrieve any manual journals
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
      parameters:
      - required: true
        in: path
        name: JournalID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: ManualJournals
        schema:
          $ref: '#/definitions/ManualJournal'
        required: true
      - required: true
        in: path
        name: JournalID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/ManualJournal'
  /Organisation:
    x-related-model: Organisation
    get:
      summary: GET a Organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Organisation'
  /Organisation/{ShortCode}:
    x-related-model: Organisation
    get:
      summary: GET a Organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Organisation'
      parameters:
      - required: true
        in: path
        name: ShortCode
        type: string
        format: uuid
  /Overpayments:
    x-related-model: Overpayment
    get:
      summary: Allows you to retrieve overpayments
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Overpayment'
    put:
      parameters:
      - in: body
        name: Overpayments
        schema:
          $ref: '#/definitions/Overpayment'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Overpayment'
  /Overpayments/{OverpaymentID}:
    x-related-model: Overpayment
    get:
      summary: Allows you to retrieve overpayments
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Overpayment'
      parameters:
      - required: true
        in: path
        name: OverpaymentID
        type: string
        format: uuid
  /Overpayments/{OverpaymentID}/Allocations:
    x-related-model: Overpayment
    put:
      parameters:
      - in: body
        name: Allocations
        schema:
          $ref: '#/definitions/Allocation'
        required: true
      - required: true
        in: path
        name: OverpaymentID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Allocation'
  /Payments:
    x-related-model: Payment
    get:
      summary: Retrieve either one or many payments for invoices and credit notes
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Payment'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
    put:
      parameters:
      - in: body
        name: Payments
        schema:
          $ref: '#/definitions/Payment'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payment'
    post:
      parameters:
      - in: body
        name: Payments
        schema:
          $ref: '#/definitions/Payment'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payment'
  /Payments/{PaymentID}:
    x-related-model: Payment
    get:
      summary: Retrieve either one or many payments for invoices and credit notes
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payment'
      parameters:
      - required: true
        in: path
        name: PaymentID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Payments
        schema:
          $ref: '#/definitions/Payment'
        required: true
      - required: true
        in: path
        name: PaymentID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Payment'
  /Prepayments:
    x-related-model: Prepayment
    get:
      summary: Allows you to retrieve prepayments
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Prepayment'
    put:
      parameters:
      - in: body
        name: Prepayments
        schema:
          $ref: '#/definitions/Prepayment'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Prepayment'
  /Prepayments/{PrepaymentID}:
    x-related-model: Prepayment
    get:
      summary: Allows you to retrieve prepayments
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Prepayment'
      parameters:
      - required: true
        in: path
        name: PrepaymentID
        type: string
        format: uuid
  /Prepayments/{PrepaymentID}/Allocations:
    x-related-model: Prepayment
    put:
      parameters:
      - in: body
        name: Allocations
        schema:
          $ref: '#/definitions/Allocation'
        required: true
      - required: true
        in: path
        name: PrepaymentID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Allocation'
  /PurchaseOrders:
    x-related-model: PurchaseOrder
    get:
      summary: Allows you to retrieve purchase orders
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/PurchaseOrder'
    put:
      parameters:
      - in: body
        name: PurchaseOrders
        schema:
          $ref: '#/definitions/PurchaseOrder'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
    post:
      parameters:
      - in: body
        name: PurchaseOrders
        schema:
          $ref: '#/definitions/PurchaseOrder'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
  /PurchaseOrders/{PurchaseOrderID}:
    x-related-model: PurchaseOrder
    get:
      summary: Allows you to retrieve purchase orders
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
      parameters:
      - required: true
        in: path
        name: PurchaseOrderID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: PurchaseOrders
        schema:
          $ref: '#/definitions/PurchaseOrder'
        required: true
      - required: true
        in: path
        name: PurchaseOrderID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/PurchaseOrder'
  /Receipts:
    x-related-model: Receipt
    get:
      summary: Allows you to retrieve draft expense claim receipts for any user
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/Receipt'
    put:
      parameters:
      - in: body
        name: Receipts
        schema:
          $ref: '#/definitions/Receipt'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
    post:
      parameters:
      - in: body
        name: Receipts
        schema:
          $ref: '#/definitions/Receipt'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
  /Receipts/{ReceiptID}:
    x-related-model: Receipt
    get:
      summary: Allows you to retrieve draft expense claim receipts for any user
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
      parameters:
      - required: true
        in: path
        name: ReceiptID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: Receipts
        schema:
          $ref: '#/definitions/Receipt'
        required: true
      - required: true
        in: path
        name: ReceiptID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/Receipt'
  /RepeatingInvoices:
    x-related-model: RepeatingInvoice
    get:
      summary: Allows you to retrieve any repeating invoice templates
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/RepeatingInvoice'
  /RepeatingInvoices/{RepeatingInvoiceID}:
    x-related-model: RepeatingInvoice
    get:
      summary: Allows you to retrieve any repeating invoice templates
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/RepeatingInvoice'
      parameters:
      - required: true
        in: path
        name: RepeatingInvoiceID
        type: string
        format: uuid
  /TaxRates:
    x-related-model: TaxRate
    get:
      summary: GET a TaxRate
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/TaxRate'
    put:
      parameters:
      - in: body
        name: TaxRates
        schema:
          $ref: '#/definitions/TaxRate'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TaxRate'
    post:
      parameters:
      - in: body
        name: TaxRates
        schema:
          $ref: '#/definitions/TaxRate'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TaxRate'
  /TrackingCategories:
    x-related-model: TrackingCategory
    get:
      summary: Retrieve tracking categories and options for a Xero organisation
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/TrackingCategory'
    put:
      parameters:
      - in: body
        name: TrackingCategories
        schema:
          $ref: '#/definitions/TrackingCategory'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
    post:
      parameters:
      - in: body
        name: TrackingCategories
        schema:
          $ref: '#/definitions/TrackingCategory'
        required: true
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
  /TrackingCategories/{TrackingCategoryID}:
    x-related-model: TrackingCategory
    get:
      summary: Retrieve tracking categories and options for a Xero organisation
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
      parameters:
      - required: true
        in: path
        name: TrackingCategoryID
        type: string
        format: uuid
    post:
      parameters:
      - in: body
        name: TrackingCategories
        schema:
          $ref: '#/definitions/TrackingCategory'
        required: true
      - required: true
        in: path
        name: TrackingCategoryID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingCategory'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: TrackingCategoryID
        type: string
        format: uuid
  /TrackingCategories/{TrackingCategoryID}/Options:
    x-related-model: TrackingCategory
    put:
      parameters:
      - in: body
        name: TrackingOptions
        schema:
          $ref: '#/definitions/TrackingOption'
        required: true
      - required: true
        in: path
        name: TrackingCategoryID
        type: string
        format: uuid
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/TrackingOption'
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: TrackingCategoryID
        type: string
        format: uuid
  /TrackingCategories/{TrackingCategoryID}/Options/{TrackingOptionID}:
    x-related-model: TrackingCategory
    delete:
      responses:
        200:
          description: A successful request
      parameters:
      - required: true
        in: path
        name: TrackingCategoryID
        type: string
        format: uuid
      - required: true
        in: path
        name: TrackingOptionID
        type: string
        format: uuid
  /Users:
    x-related-model: User
    get:
      summary: GET a User
      responses:
        200:
          description: A successful response
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
      parameters:
      - in: header
        name: If-Modified-Since
        description: Only records created or modified since this timestamp will be
          returned
        type: string
        format: date-time
      - in: query
        name: where
        description: Filter by an any element
        type: string
      - in: query
        name: order
        description: Order by an any element
        type: string
  /Users/{UserID}:
    x-related-model: User
    get:
      summary: GET a User
      responses:
        200:
          description: A successful request
          schema:
            $ref: '#/definitions/User'
      parameters:
      - required: true
        in: path
        name: UserID
        type: string
        format: uuid
produces:
- text/xml
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":39:{s:7:\"Address\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:49:\"http://developer.xero.com/documentation/api/types\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"AddressLine1\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 500\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine2\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 500\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine3\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 500\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:12:\"AddressLine4\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 500\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 255\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:6:\"Region\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 255\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:10:\"PostalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"max
  length = 50\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"max
  length = 50, [A-Z], [a-z] only\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:11:\"AttentionTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"max
  length = 255\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}}}s:5:\"Phone\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:49:\"http://developer.xero.com/documentation/api/types\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"PhoneNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"max
  length = 50\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:13:\"PhoneAreaCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"max
  length = 10\";s:9:\"maxLength\";i:10;s:4:\"type\";s:6:\"string\";}s:16:\"PhoneCountryCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"max
  length = 20\";s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}}}s:7:\"Account\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.xero.com/documentation/api/accounts/\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:4:\"Code\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Customer
  defined alpha numeric account code e.g 200 or SALES (max length = 10)\";s:9:\"maxLength\";i:10;s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Name
  of account (max length = 150)\";s:9:\"maxLength\";i:150;s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"See
  Account Types\";s:4:\"type\";s:6:\"string\";}s:17:\"BankAccountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"For
  bank accounts only (Account Type BANK)\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Accounts
  with a status of ACTIVE can be updated to ARCHIVED. See Account Status Codes\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"ARCHIVED\";}}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Description
  of the Account. Valid for all types of accounts except bank accounts (max length
  = 4000)\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:15:\"BankAccountType\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"For
  bank accounts only. See Bank Account types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"BANK\";i:1;s:10:\"CREDITCARD\";i:2;s:6:\"PAYPAL\";}}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"For
  bank accounts only\";s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"See
  Tax Types\";s:4:\"type\";s:6:\"string\";}s:23:\"EnablePaymentsToAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Boolean
  \u2013 describes whether account can have payments applied to it\";s:4:\"type\";s:7:\"boolean\";}s:19:\"ShowInExpenseClaims\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Boolean
  \u2013 describes whether account code is available for use with expense claims\";s:4:\"type\";s:7:\"boolean\";}s:9:\"AccountID\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  Xero identifier for an account \u2013 specified as a string following the endpoint
  name\ne.g. /297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:5:\"Class\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"See
  Account Class Types\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:5:\"ASSET\";i:1;s:6:\"EQUITY\";i:2;s:7:\"EXPENSE\";i:3;s:9:\"LIABILITY\";i:4;s:7:\"REVENUE\";}}s:13:\"SystemAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:166:\"If
  this is a system account then this element is returned. See System Account types.
  Note that non-system accounts may have this element set as either \u201C\u201D or
  null.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:13:{i:0;s:7:\"DEBTORS\";i:1;s:9:\"CREDITORS\";i:2;s:16:\"BANKCURRENCYGAIN\";i:3;s:3:\"GST\";i:4;s:12:\"GSTONIMPORTS\";i:5;s:10:\"HISTORICAL\";i:6;s:20:\"REALISEDCURRENCYGAIN\";i:7;s:16:\"RETAINEDEARNINGS\";i:8;s:8:\"ROUNDING\";i:9;s:17:\"TRACKINGTRANSFERS\";i:10;s:12:\"UNPAIDEXPCLM\";i:11;s:22:\"UNREALISEDCURRENCYGAIN\";i:12;s:12:\"WAGEPAYABLES\";}}s:13:\"ReportingCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Shown
  if set\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"ReportingCodeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Shown
  if set\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"boolean
  to indicate if an account has an attachment (read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:15:\"BankTransaction\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:61:\"http://developer.xero.com/documentation/api/banktransactions/\";}s:10:\"properties\";O:8:\"stdClass\":20:{s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"See
  Bank Transaction Types\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:12:\"See
  Contacts\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}s:9:\"Lineitems\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"See
  LineItems\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}}s:11:\"BankAccount\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:45:\"Bank
  account for transaction. See BankAccount\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BankAccount\";}}}s:12:\"IsReconciled\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Boolean
  to show if transaction is reconciled\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Date
  of transaction \u2013 YYYY-MM-DD\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Reference
  for the transaction. Only supported for SPEND and RECEIVE transactions.\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"The
  currency that bank transaction has been raised in (see Currencies). Setting currency
  is only supported on overpayments.\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"Exchange
  rate to base currency when money is spent or received. e.g. 0.7500 Only used for
  bank transactions in non base currency. If this isn\u2019t specified for non base
  currency accounts then either the user-defined rate (preference) or the XE.com day
  rate will be used. Setting currency is only supported on overpayments.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"URL
  link to a source document \u2013 shown as \u201CGo to App Name\u201D\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"See
  Bank Transaction Status Codes\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"AUTHORISED\";i:1;s:7:\"DELETED\";}}s:15:\"LineAmountTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element.
  See Line Amount Types\";s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Total
  of bank transaction excluding taxes\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:8:\"TotalTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Total
  tax on bank transaction\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:5:\"Total\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  of bank transaction tax inclusive\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:17:\"BankTransactionID\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Xero
  generated unique identifier for bank transaction\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"PrepaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"Xero
  generated unique identifier for a Prepayment. This will be returned on BankTransactions
  with a Type of SPEND-PREPAYMENT or RECEIVE-PREPAYMENT\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"OverpaymentID\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"Xero
  generated unique identifier for an Overpayment. This will be returned on BankTransactions
  with a Type of SPEND-OVERPAYMENT or RECEIVE-OVERPAYMENT\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Boolean
  to indicate if a bank transaction has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:4:\"Type\";i:1;s:7:\"Contact\";i:2;s:9:\"Lineitems\";i:3;s:11:\"BankAccount\";}}s:8:\"LineItem\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:63:\"http://developer.xero.com/documentation/api/repeating-invoices/\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"Description
  needs to be at least 1 char long. A line item with just a description (i.e no unit
  amount or quantity) can be created by specifying just a <Description> element that
  contains at least 1 character\";s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"LineItem
  Quantity\";s:4:\"type\";s:6:\"string\";}s:10:\"UnitAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"LineItem
  Unit Amount\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:8:\"ItemCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"See
  Items\";s:4:\"type\";s:6:\"string\";}s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"See
  Accounts\";s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Used
  as an override if the default Tax Code for the selected <AccountCode> is not correct
  \u2013 see TaxTypes.\";s:4:\"type\";s:6:\"string\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:177:\"The
  tax amount is auto calculated as a percentage of the line amount (see below) based
  on the tax rate. This value can be overriden if the calculated <TaxAmount> is not
  correct.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"LineAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:292:\"If
  you wish to omit either of the <Quantity> or <UnitAmount> you can provide a LineAmount
  and Xero will calculate the missing amount for you. The line amount reflects the
  discounted price if a DiscountRate has been used . i.e LineAmount = Quantity * Unit
  Amount * ((100 \u2013 DiscountRate)/100)\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:8:\"Tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Optional
  Tracking Category \u2013 see Tracking.  Any LineItem can have a maximum of 2 <TrackingCategory>
  elements.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingCategory\";}}s:12:\"DiscountRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Percentage
  discount being applied to a line item (only supported on ACCREC invoices \u2013
  ACC PAY invoices and credit notes in Xero do not support discounts\";s:4:\"type\";s:6:\"string\";}s:18:\"RepeatingInvoiceID\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  Xero identifier for a Repeating Invoicee.g. 297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:11:\"BankAccount\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:59:\"http://developer.xero.com/documentation/api/bank-transfers/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  Account Code of the Bank Account\";s:4:\"type\";s:6:\"string\";}s:9:\"AccountID\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  ID of the Bank Account\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  Name Bank Account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"BankTransfer\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:59:\"http://developer.xero.com/documentation/api/bank-transfers/\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"FromBankAccount\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:19:\"See
  FromBankAccount\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BankAccount\";}}}s:13:\"ToBankAccount\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:17:\"See
  ToBankAccount\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BankAccount\";}}}s:6:\"Amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  date of the Transfer YYYY-MM-DD\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:14:\"BankTransferID\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  identifier of the Bank Transfer\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  currency rate\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:21:\"FromBankTransactionID\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  Bank Transaction ID for the source account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:19:\"ToBankTransactionID\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  Bank Transaction ID for the destination account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Boolean
  to indicate if a Bank Transfer has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"CreatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"UTC
  timestamp of creation date of bank transfer\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:8:\"required\";a:3:{i:0;s:15:\"FromBankAccount\";i:1;s:13:\"ToBankAccount\";i:2;s:6:\"Amount\";}}s:13:\"BrandingTheme\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/api/branding-themes/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of branding theme\";s:4:\"type\";s:6:\"string\";}s:9:\"SortOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Integer
  \u2013 ranked order of branding theme. The default branding theme has a value of
  0\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:14:\"CreatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"UTC
  timestamp of creation date of branding theme\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:7:\"Contact\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.xero.com/documentation/api/contacts/\";}s:10:\"properties\";O:8:\"stdClass\":35:{s:9:\"ContactID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:13:\"ContactNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:251:\"This
  can be updated via the API only i.e. This field is read only on the Xero contact
  screen, used to identify contacts in external systems (max length = 50). If the
  Contact Number is used, this is displayed as Contact Code in the Contacts UI in
  Xero.\";s:8:\"readOnly\";b:1;s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:13:\"AccountNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"A
  user defined account number. This can be updated via the API and the Xero UI (max
  length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:13:\"ContactStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Current
  status of a contact \u2013 see contact status types\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Full
  name of contact/organisation (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"First
  name of contact person (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Last
  name of contact person (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Email
  address of contact person (umlauts not supported) (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:13:\"SkypeUserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Skype
  user name of contact\";s:4:\"type\";s:6:\"string\";}s:14:\"ContactPersons\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"See
  contact persons\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactPerson\";}}s:18:\"BankAccountDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Bank
  account number of contact\";s:4:\"type\";s:6:\"string\";}s:9:\"TaxNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"Tax
  number of contact \u2013 this is also known as the ABN (Australia), GST Number (New
  Zealand), VAT Number (UK) or Tax ID Number (US and global) in the Xero UI depending
  on which regionalized version of Xero you are using (max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:25:\"AccountsReceivableTaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Default
  tax type used for contact on AR invoices\";s:4:\"type\";s:6:\"string\";}s:22:\"AccountsPayableTaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Default
  tax type used for contact on AP invoices\";s:4:\"type\";s:6:\"string\";}s:9:\"Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Store
  certain address types for a contact \u2013 see address types\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:6:\"Phones\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Store
  certain phone types for a contact \u2013 see phone types\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phone\";}}s:10:\"IsSupplier\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"true
  or false \u2013 Boolean that describes if a contact that has any AP invoices entered
  against them. Cannot be set via PUT or POST \u2013 it is automatically set when
  an accounts payable invoice is generated against this contact.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"IsCustomer\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"true
  or false \u2013 Boolean that describes if a contact has any AR invoices entered
  against them. Cannot be set via PUT or POST \u2013 it is automatically set when
  an accounts receivable invoice is generated against this contact.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"DefaultCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Default
  currency for raising invoices against contact\";s:4:\"type\";s:6:\"string\";}s:14:\"XeroNetworkKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Store
  XeroNetworkKey for contacts.\";s:4:\"type\";s:6:\"string\";}s:23:\"SalesDefaultAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  default sales account code for contacts\";s:4:\"type\";s:6:\"string\";}s:27:\"PurchasesDefaultAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  default purchases account code for contacts\";s:4:\"type\";s:6:\"string\";}s:23:\"SalesTrackingCategories\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  default sales tracking categories for contacts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingCategory\";}}s:27:\"PurchasesTrackingCategories\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  default purchases tracking categories for contacts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingCategory\";}}s:20:\"TrackingCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  name of the Tracking Category assigned to the contact under SalesTrackingCategories
  and PurchasesTrackingCategories\";s:4:\"type\";s:6:\"string\";}s:22:\"TrackingCategoryOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  name of the Tracking Option assigned to the contact under SalesTrackingCategories
  and PurchasesTrackingCategories\";s:4:\"type\";s:6:\"string\";}s:12:\"PaymentTerms\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:63:\"The
  default payment terms for the contact \u2013 see Payment Terms\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentTerm\";}}}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"UTC
  timestamp of last update to contact\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"ContactGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Displays
  which contact groups a contact is included in\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContactGroup\";}}s:7:\"Website\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Website
  address for contact (read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"BrandingTheme\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Default
  branding theme for contact (read only) \u2013 see Branding Themes\";s:8:\"readOnly\";b:1;}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BrandingTheme\";}}}s:13:\"BatchPayments\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"batch
  payment details for contact (read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"Discount\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  default discount rate for the contact (read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:8:\"Balances\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  raw AccountsReceivable(sales invoices) and AccountsPayable(bills) outstanding and
  overdue amounts, not converted to base currency (read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"HasAttachments\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"A
  boolean to indicate if a contact has an attachment\";s:4:\"type\";s:7:\"boolean\";}}}s:13:\"ContactPerson\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.xero.com/documentation/api/contacts/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"FirstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"First
  name of person\";s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Last
  name of person\";s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Email
  address of person\";s:4:\"type\";s:6:\"string\";}s:15:\"IncludeInEmails\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"boolean
  to indicate whether contact should be included on emails with invoices etc.\";s:4:\"type\";s:7:\"boolean\";}}}s:12:\"ContactGroup\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:58:\"http://developer.xero.com/documentation/api/contactgroups/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  Name of the contact group. Required when creating a new contact group\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  Status of a contact group. To delete a contact group update the status to DELETED.
  Only contact groups with a status of ACTIVE are returned on GETs.\";s:4:\"type\";s:6:\"string\";}s:14:\"ContactGroupID\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  Xero identifier for an contact group \u2013 specified as a string following the
  endpoint name.\ne.g. /297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:8:\"Contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  ContactID and Name of Contacts in a contact group. Returned on GETs when the ContactGroupID
  is supplied in the URL.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}}s:10:\"CreditNote\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:57:\"http://developer.xero.com/documentation/api/credit-notes/\";}s:10:\"properties\";O:8:\"stdClass\":21:{s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"See
  Credit Note Types\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:12:\"See
  Contacts\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"The
  date the credit note is issued YYYY-MM-DD. If the Date element is not specified
  then it will default to the current date based on the timezone setting of the organisation\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"See
  Credit Note Status Codes\";s:4:\"type\";s:6:\"string\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"See
  Invoice Line Amount Types\";s:4:\"type\";s:6:\"string\";}s:9:\"LineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"See
  Invoice Line Items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}}s:8:\"SubTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  subtotal of the credit note excluding taxes\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:8:\"TotalTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  total tax on the credit note\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:5:\"Total\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  total of the Credit Note(subtotal + total tax)\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"UTC
  timestamp of last update to the credit note\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Currency
  used for the Credit Note\";s:4:\"type\";s:6:\"string\";}s:15:\"FullyPaidOnDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Date
  when credit note was fully paid(UTC format)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:12:\"CreditNoteID\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Xero
  generated unique identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"CreditNoteNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"ACCRECCREDIT
  \u2013 Unique alpha numeric code identifying credit note (when missing will auto-generate
  from your Organisation Invoice Settings)\";s:4:\"type\";s:6:\"string\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"ACCRECCREDIT
  only \u2013 additional reference number\";s:4:\"type\";s:6:\"string\";}s:13:\"SentToContact\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"boolean
  to indicate if a credit note has been sent to a contact via the Xero app (currently
  read only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  currency rate for a multicurrency invoice. If no rate is specified, the XE.com day
  rate is used\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:15:\"RemainingCredit\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  remaining credit balance on the Credit Note\";s:4:\"type\";s:6:\"string\";}s:11:\"Allocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"See
  Allocations\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Allocation\";}}s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"See
  BrandingThemes\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"HasAttachments\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"boolean
  to indicate if a credit note has an attachment\";s:4:\"type\";s:7:\"boolean\";}}}s:10:\"Allocation\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:56:\"http://developer.xero.com/documentation/api/prepayments/\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Invoice\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:53:\"the
  invoice the prepayment is being allocated against\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Invoice\";}}}s:13:\"AppliedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"the
  amount being applied to the invoice\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"the
  date the prepayment is applied YYYY-MM-DD (read-only). This will be the latter of
  the invoice date and the prepayment date.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}}}s:8:\"Currency\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:55:\"http://developer.xero.com/documentation/api/currencies/\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"3
  letter alpha code for the currency \u2013 see list of currency codes\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of Currency\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Employee\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:54:\"http://developer.xero.com/documentation/api/employees/\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"EmployeeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  Xero identifier for an employee\ne.g. 297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Current
  status of an employee \u2013 see contact status types\";s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"First
  name of an employee (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Last
  name of an employee (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:12:\"ExternalLink\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:275:\"Link
  to an external resource, for example, an employee record in an external system.
  You can specify the URL element.\nThe description of the link is auto-generated
  in the form \u201CGo to <App name>\u201D. <App name> refers to the Xero application
  name that is making the API call.\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExternalLink\";}}}}}s:12:\"ExpenseClaim\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:59:\"http://developer.xero.com/documentation/api/expense-claims/\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"User\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:9:\"See
  Users\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:8:\"Receipts\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"See
  Receipts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Receipt\";}}s:14:\"ExpenseClaimID\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Xero
  generated unique identifier for an expense claim\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:8:\"Payments\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"See
  Payments\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Current
  status of an expense claim \u2013 see status types\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  total of an expense claim being paid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:9:\"AmountDue\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  amount due to be paid for an expense claim\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"AmountPaid\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  amount still to pay for an expense claim\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:14:\"PaymentDueDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  date when the expense claim is due to be paid YYYY-MM-DD\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:13:\"ReportingDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  date the expense claim will be reported in Xero YYYY-MM-DD\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:9:\"ReceiptID\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  Xero identifier for the Receipt e.g. e59a2c7f-1306-4078-a0f3-73537afcbba9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:3:{i:0;s:4:\"User\";i:1;s:8:\"Receipts\";i:2;s:9:\"ReceiptID\";}}s:7:\"Invoice\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.xero.com/documentation/api/invoices/\";}s:10:\"properties\";O:8:\"stdClass\":31:{s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"See
  Invoice Types\";s:4:\"type\";s:6:\"string\";}s:7:\"Contact\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:11:\"description\";s:12:\"See
  Contacts\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}s:9:\"LineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"See
  LineItems\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Date
  invoice was issued \u2013 YYYY-MM-DD. If the Date element is not specified it will
  default to the current date based on the timezone setting of the organisation\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"DueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Date
  invoice is due \u2013 YYYY-MM-DD\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Line
  amounts are exclusive of tax by default if you don\u2019t specify this element.
  See Line Amount Types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"Exclusive\";i:1;s:9:\"Inclusive\";i:2;s:5:\"NoTax\";}}s:13:\"InvoiceNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"ACCREC
  \u2013 Unique alpha numeric code identifying invoice (when missing will auto-generate
  from your Organisation Invoice Settings) (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"ACCREC
  only \u2013 additional reference number (max length = 255)\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:15:\"BrandingThemeID\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"See
  BrandingThemes\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"URL
  link to a source document \u2013 shown as \u201CGo to [appName]\u201D in the Xero
  app\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  currency that invoice has been raised in (see Currencies)\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  currency rate for a multicurrency invoice. If no rate is specified, the XE.com day
  rate is used. (max length = [18].[6])\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"See
  Invoice Status Codes\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:5:\"DRAFT\";i:1;s:9:\"SUBMITTED\";i:2;s:7:\"DELETED\";i:3;s:10:\"AUTHORISED\";i:4;s:4:\"PAID\";i:5;s:6:\"VOIDED\";}}s:13:\"SentToContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Boolean
  to set whether the invoice in the Xero app should be marked as \u201Csent\u201D.
  This can be set only on invoices that have been approved\";s:4:\"type\";s:7:\"boolean\";}s:19:\"ExpectedPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Shown
  on sales invoices (Accounts Receivable) when this has been set\";s:4:\"type\";s:6:\"string\";}s:18:\"PlannedPaymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Shown
  on bills (Accounts Payable) when this has been set\";s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Total
  of invoice excluding taxes\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:8:\"TotalTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Total
  tax on invoice\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:5:\"Total\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"Total
  of Invoice tax inclusive (i.e. SubTotal + TotalTax). This will be ignored if it
  doesn\u2019t equal the sum of the LineAmounts\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:13:\"TotalDiscount\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Total
  of discounts applied on the invoice line items\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:9:\"InvoiceID\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Xero
  generated unique identifier for invoice\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"boolean
  to indicate if an invoice has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"Payments\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"See
  Payments\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}}s:11:\"Prepayments\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"See
  Prepayments\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Prepayment\";}}s:12:\"Overpayments\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"See
  Overpayments\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Overpayment\";}}s:9:\"AmountDue\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Amount
  remaining to be paid on invoice\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"AmountPaid\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Sum
  of payments received for invoice\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:15:\"FullyPaidOnDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  date the invoice was fully paid. Only returned on fully paid invoices\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:14:\"AmountCredited\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Sum
  of all credit notes, over-payments and pre-payments applied to invoice\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"CreditNotes\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Details
  of credit notes that have been applied to an invoice\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CreditNote\";}}}s:8:\"required\";a:3:{i:0;s:4:\"Type\";i:1;s:7:\"Contact\";i:2;s:9:\"LineItems\";}}s:4:\"Item\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:50:\"http://developer.xero.com/documentation/api/items/\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"Code\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"User
  defined item code (max length = 30)\";s:9:\"maxLength\";i:30;s:4:\"type\";s:6:\"string\";}s:25:\"InventoryAssetAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  inventory asset account for the item. The account must be of type INVENTORY. The
  \ COGSAccountCode in PurchaseDetails is also required to create a tracked item\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  name of the item (max length = 50)\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:6:\"IsSold\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"Boolean
  value, defaults to true. When IsSold is true the item will be available on sales
  transactions in the Xero UI. If IsSold is updated to false then Description and
  SalesDetails values will be nulled.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"IsPurchased\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Boolean
  value, defaults to true. When IsPurchased is true the item is available for purchase
  transactions in the Xero UI. If IsPurchased is updated to false then PurchaseDescription
  and PurchaseDetails values will be nulled.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  sales description of the item (max length = 4000)\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:19:\"PurchaseDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  purchase description of the item (max length = 4000)\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:15:\"PurchaseDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"See
  Purchases & Sales\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Purchase\";}}s:12:\"SalesDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"See
  Purchases & Sales\";s:4:\"type\";s:6:\"string\";}s:20:\"IsTrackedAsInventory\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"True
  for items that are tracked as inventory. An item will be tracked as inventory if
  the InventoryAssetAccountCode and COGSAccountCode are set.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"TotalCostPool\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value of the item on hand. Calculated using average cost accounting.\";s:4:\"type\";s:6:\"string\";}s:14:\"QuantityOnHand\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  quantity of the item on hand\";s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Last
  modified date in UTC format\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"ItemID\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  Xero identifier for an Item\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:2:{i:0;s:4:\"Code\";i:1;s:25:\"InventoryAssetAccountCode\";}}s:8:\"Purchase\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:50:\"http://developer.xero.com/documentation/api/items/\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"Unit
  Price of the item. By default UnitPrice is rounded to two decimal places. You can
  use 4 decimal places by adding the unitdp=4 querystring parameter to your request.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Default
  account code to be used for purchased/sale. Not applicable to the purchase details
  of tracked items\";s:4:\"type\";s:6:\"string\";}s:15:\"COGSAccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Cost
  of goods sold account. Only applicable to the purchase details of tracked items.\";s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Used
  as an override if the default Tax Code for the selected <AccountCode> is not correct
  \u2013 see TaxTypes.\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Journal\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:53:\"http://developer.xero.com/documentation/api/journals/\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"JournalID\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Xero
  identifier\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"JournalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Date
  the journal was posted\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:13:\"JournalNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Xero
  generated journal number\";s:4:\"type\";s:6:\"string\";}s:14:\"CreatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Created
  date UTC format\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:2:\"\_\";s:4:\"type\";s:6:\"string\";}s:8:\"SourceID\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  identifier for the source transaction (e.g. InvoiceID)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  journal source type. The type of transaction that created the journal\";s:4:\"type\";s:6:\"string\";}s:12:\"JournalLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"See
  JournalLines\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JournalLine\";}}}}s:11:\"JournalLine\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/api/manual-journals/\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"LineAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"total
  for line. Debits are positive, credits are negative value\";s:4:\"type\";s:6:\"string\";}s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"See
  Accounts\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  for journal line\";s:4:\"type\";s:6:\"string\";}s:7:\"TaxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Used
  as an override if the default Tax Code for the selected <AccountCode> is not correct
  \u2013 see TaxTypes.\";s:4:\"type\";s:6:\"string\";}s:8:\"Tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Optional
  Tracking Category \u2013 see Tracking. Any JournalLine can have a maximum of 2 <TrackingCategory>
  elements.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingCategory\";}}s:9:\"TaxAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  calculated tax amount based on the TaxType and LineAmount\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}s:8:\"required\";a:2:{i:0;s:10:\"LineAmount\";i:1;s:11:\"AccountCode\";}}s:17:\"LinkedTransaction\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:64:\"http://developer.xero.com/documentation/api/linked-transactions/\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"SourceTransactionID\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Filter
  by the SourceTransactionID. Get all the linked transactions created from a particular
  ACCPAY invoice\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"SourceLineItemID\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  line item identifier from the source transaction.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:9:\"ContactID\";O:8:\"stdClass\":3:{s:11:\"description\";s:253:\"Filter
  by the combination of ContactID and Status. Get all the linked transactions that
  have been assigned to a particular customer and have a particular status e.g. GET
  /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:19:\"TargetTransactionID\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Filter
  by the TargetTransactionID. Get all the linked transactions allocated to a particular
  ACCREC invoice\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:16:\"TargetLineItemID\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  line item identifier from the target transaction. It is possible to link multiple
  billable expenses to the same TargetLineItemID.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:19:\"LinkedTransactionID\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  Xero identifier for an Linked Transaction e.g. /LinkedTransactions/297c2dc5-cc47-4afd-8ec8-74990b8761e9\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"Filter
  by the combination of ContactID and Status. Get all the linked transactions that
  have been assigned to a particular customer and have a particular status e.g. GET
  /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED.\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"This
  will always be BILLABLEEXPENSE. More types may be added in future.\";s:4:\"type\";s:6:\"string\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  last modified date in UTC format\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:25:\"SourceTransactionTypeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  Type of the source tranasction. This will be ACCPAY if the linked transaction was
  created from an invoice and SPEND if it was created from a bank transaction.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"SourceLineItemID\";}}s:13:\"ManualJournal\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:60:\"http://developer.xero.com/documentation/api/manual-journals/\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"Narration\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Description
  of journal being posted\";s:4:\"type\";s:6:\"string\";}s:12:\"JournalLines\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"See
  JournalLines\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JournalLine\";}}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  journal was posted \u2013 YYYY-MM-DD\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:15:\"LineAmountTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"NoTax
  by default if you don\u2019t specify this element. See Line Amount Types\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"See
  Manual Journal Status Codes\";s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Url
  link to a source document \u2013 shown as \u201CGo to [appName]\u201D in the Xero
  app\";s:4:\"type\";s:6:\"string\";}s:22:\"ShowOnCashBasisReports\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Boolean
  \u2013 default is true if not specified\";s:4:\"type\";s:7:\"boolean\";}s:14:\"HasAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Boolean
  to indicate if a manual journal has an attachment\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"UpdatedDateUTC\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Last
  modified date UTC format\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"JournalID\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  Xero identifier for a Manual Journal\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:2:{i:0;s:9:\"Narration\";i:1;s:12:\"JournalLines\";}}s:12:\"Organisation\";O:8:\"stdClass\":2:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:57:\"http://developer.xero.com/documentation/api/organisation/\";}s:10:\"properties\";O:8:\"stdClass\":29:{s:6:\"APIKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Display
  a unique key used for Xero-to-Xero transactions\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Display
  name of organisation shown in Xero\";s:4:\"type\";s:6:\"string\";}s:9:\"LegalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Organisation
  name shown on Reports\";s:4:\"type\";s:6:\"string\";}s:7:\"PaysTax\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Boolean
  to describe if organisation is registered with a local tax authority i.e. true,
  false\";s:4:\"type\";s:7:\"boolean\";}s:7:\"Version\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"See
  Version Types\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:2:\"AU\";i:1;s:2:\"NZ\";i:2;s:6:\"GLOBAL\";i:3;s:2:\"UK\";i:4;s:2:\"US\";i:5;s:8:\"AUONRAMP\";i:6;s:8:\"NZONRAMP\";i:7;s:12:\"GLOBALONRAMP\";i:8;s:8:\"UKONRAMP\";i:9;s:8:\"USONRAMP\";}}s:16:\"OrganisationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Organisation
  Type\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:7:\"COMPANY\";i:1;s:7:\"CHARITY\";i:2;s:11:\"CLUBSOCIETY\";i:3;s:11:\"PARTNERSHIP\";i:4;s:8:\"PRACTICE\";i:5;s:6:\"PERSON\";i:6;s:10:\"SOLETRADER\";i:7;s:5:\"TRUST\";}}s:12:\"BaseCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Default
  currency for organisation. See ISO 4217 Currency Codes\";s:4:\"type\";s:6:\"string\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Country
  code for organisation. See ISO 3166-2 Country Codes\";s:4:\"type\";s:6:\"string\";}s:13:\"IsDemoCompany\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Boolean
  to describe if organisation is a demo company.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"OrganisationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Will
  be set to ACTIVE if you can connect to organisation via the Xero API\";s:4:\"type\";s:6:\"string\";}s:18:\"RegistrationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Shows
  for New Zealand, Australian and UK organisations\";s:4:\"type\";s:6:\"string\";}s:9:\"TaxNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Shown
  if set. Displays in the Xero UI as Tax File Number (AU), GST Number (NZ), VAT Number
  (UK) and Tax ID Number (US & Global).\";s:4:\"type\";s:6:\"string\";}s:19:\"FinancialYearEndDay\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Calendar
  day e.g. 0-31\";s:4:\"type\";s:6:\"string\";}s:21:\"FinancialYearEndMonth\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Calendar
  Month e.g. 1-12\";s:4:\"type\";s:6:\"string\";}s:13:\"SalesTaxBasis\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  accounting basis used for tax returns. See Sales Tax Basis\";s:4:\"type\";s:6:\"string\";}s:14:\"SalesTaxPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  frequency with which tax returns are processed. See Sales Tax Period\";s:4:\"type\";s:6:\"string\";}s:15:\"DefaultSalesTax\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  default for LineAmountTypes on sales transactions\";s:4:\"type\";s:6:\"string\";}s:19:\"DefaultPurchasesTax\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  default for LineAmountTypes on purchase transactions\";s:4:\"type\";s:6:\"string\";}s:14:\"PeriodLockDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Shown
  if set. See lock dates\";s:4:\"type\";s:6:\"string\";}s:17:\"EndOfYearLockDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Shown
  if set. See lock dates\";s:4:\"type\";s:6:\"string\";}s:14:\"CreatedDateUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Timestamp
  when the organisation was created in Xero\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"Timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Timezone
  specifications\";s:4:\"type\";s:6:\"string\";}s:22:\"OrganisationEntityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Organisation
[...]
