---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:4:\"v0_7\";s:5:\"title\";s:46:\"Microsoft
  Research Embedded Social SDK Service\";s:11:\"description\";s:83:\"The Embedded
  Social interface to clients is a RESTful API which is documented here.\";s:14:\"termsOfService\";s:7:\"ToS
  TBD\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"MSR Embedded Social
  Team\";s:5:\"email\";s:27:\"socialplusops@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"MIT
  License\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}}"
host: api.embeddedsocial.microsoft.com
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":48:{s:16:\"PostBlobResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Response
  from post (create) blob\";s:8:\"required\";a:1:{i:0;s:10:\"blobHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets blob handle\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:21:\"BuildsCurrentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  from get builds current\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"dateAndTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Gets
  or sets the date and time of the current build\";s:4:\"type\";s:6:\"string\";}s:10:\"commitHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Gets
  or sets the Git commit hash that represents the current checkout\";s:4:\"type\";s:6:\"string\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets the hostname that this code was built on\";s:4:\"type\";s:6:\"string\";}s:17:\"serviceApiVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gets
  or sets service api version number\";s:4:\"type\";s:6:\"string\";}s:10:\"dirtyFiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Gets
  or sets the list of files that were not committed at build time\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"CommentView\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Comment
  view\";s:8:\"required\";a:9:{i:0;s:13:\"commentHandle\";i:1;s:11:\"topicHandle\";i:2;s:11:\"createdTime\";i:3;s:15:\"lastUpdatedTime\";i:4;s:4:\"user\";i:5;s:4:\"text\";i:6;s:10:\"totalLikes\";i:7;s:12:\"totalReplies\";i:8;s:5:\"liked\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"commentHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets comment handle\";s:4:\"type\";s:6:\"string\";}s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets parent topic handle\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Gets
  or sets created time\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:30:\"Gets
  or sets last updated time\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserCompactView\";s:11:\"description\";s:33:\"Gets
  or sets owner of the comment\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets comment text\";s:4:\"type\";s:6:\"string\";}s:8:\"blobType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Gets
  or sets comment blob type\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:5:\"Image\";i:2;s:5:\"Video\";i:3;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets comment blob handle\";s:4:\"type\";s:6:\"string\";}s:7:\"blobUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets comment blob url\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets comment language\";s:4:\"type\";s:6:\"string\";}s:10:\"totalLikes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:40:\"Gets
  or sets total likes for the comment\";s:4:\"type\";s:7:\"integer\";}s:12:\"totalReplies\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:42:\"Gets
  or sets total replies for the comment\";s:4:\"type\";s:7:\"integer\";}s:5:\"liked\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Gets
  or sets a value indicating whether the querying user has liked the comment\";s:4:\"type\";s:7:\"boolean\";}s:13:\"contentStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets content status\";s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:6:\"Banned\";i:2;s:6:\"Mature\";i:3;s:5:\"Clean\";}s:4:\"type\";s:6:\"string\";}}}s:15:\"UserCompactView\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"User
  compact view\";s:8:\"required\";a:5:{i:0;s:10:\"userHandle\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:10:\"visibility\";i:4;s:14:\"followerStatus\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets first name of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets last name of the user\";s:4:\"type\";s:6:\"string\";}s:11:\"photoHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets photo handle of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets photo url of the user\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets visibility of the user\";s:4:\"enum\";a:2:{i:0;s:6:\"Public\";i:1;s:7:\"Private\";}s:4:\"type\";s:6:\"string\";}s:14:\"followerStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Gets
  or sets follower relationship status of the querying user\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:6:\"Follow\";i:2;s:7:\"Pending\";i:3;s:7:\"Blocked\";}s:4:\"type\";s:6:\"string\";}}}s:18:\"PostCommentRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Request
  to post (create) comment\";s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets comment text\";s:4:\"type\";s:6:\"string\";}s:8:\"blobType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Gets
  or sets comment blob type\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:5:\"Image\";i:2;s:5:\"Video\";i:3;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets comment blob handle\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets comment language\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PostCommentResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Response
  from post (create) comment\";s:8:\"required\";a:1:{i:0;s:13:\"commentHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"commentHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets comment handle of the comment\";s:4:\"type\";s:6:\"string\";}}}s:25:\"FeedResponse[CommentView]\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Feed
  response\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:6:\"cursor\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets feed data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CommentView\";}}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets feed cursor\";s:4:\"type\";s:6:\"string\";}}}s:17:\"PostImageResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Response
  from post (create) image\";s:8:\"required\";a:1:{i:0;s:10:\"blobHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets blob handle\";s:4:\"type\";s:6:\"string\";}}}s:29:\"FeedResponse[UserCompactView]\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Feed
  response\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:6:\"cursor\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets feed data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserCompactView\";}}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets feed cursor\";s:4:\"type\";s:6:\"string\";}}}s:29:\"PutNotificationsStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Request
  to put (update) notifications status\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"readActivityHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets last read activity handle\";s:4:\"type\";s:6:\"string\";}}}s:26:\"FeedResponse[ActivityView]\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Feed
  response\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:6:\"cursor\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets feed data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ActivityView\";}}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets feed cursor\";s:4:\"type\";s:6:\"string\";}}}s:12:\"ActivityView\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Activity
  view\";s:8:\"required\";a:6:{i:0;s:14:\"activityHandle\";i:1;s:11:\"createdTime\";i:2;s:12:\"activityType\";i:3;s:10:\"actorUsers\";i:4;s:12:\"totalActions\";i:5;s:6:\"unread\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"activityHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets activity handle\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Gets
  or sets created time\";s:4:\"type\";s:6:\"string\";}s:12:\"activityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or sets activity type\";s:4:\"enum\";a:8:{i:0;s:4:\"Like\";i:1;s:7:\"Comment\";i:2;s:5:\"Reply\";i:3;s:11:\"CommentPeer\";i:4;s:9:\"ReplyPeer\";i:5;s:9:\"Following\";i:6;s:13:\"FollowRequest\";i:7;s:12:\"FollowAccept\";}s:4:\"type\";s:6:\"string\";}s:10:\"actorUsers\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Gets
  or sets actor users\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserCompactView\";}}s:11:\"actedOnUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserCompactView\";s:11:\"description\";s:26:\"Gets
  or sets acted on user\";}s:14:\"actedOnContent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContentCompactView\";s:11:\"description\";s:29:\"Gets
  or sets acted on content\";}s:12:\"totalActions\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:26:\"Gets
  or sets total actions\";s:4:\"type\";s:7:\"integer\";}s:6:\"unread\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets a value indicating whether the activity was read\";s:4:\"type\";s:7:\"boolean\";}s:3:\"app\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AppCompactView\";s:11:\"description\";s:31:\"Gets
  or sets the containing app\";}}}s:18:\"ContentCompactView\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Content
  compact view\";s:8:\"required\";a:3:{i:0;s:11:\"contentType\";i:1;s:13:\"contentHandle\";i:2;s:4:\"text\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"contentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Gets
  or sets content type\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:5:\"Topic\";i:2;s:7:\"Comment\";i:3;s:5:\"Reply\";}s:4:\"type\";s:6:\"string\";}s:13:\"contentHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets content handle\";s:4:\"type\";s:6:\"string\";}s:12:\"parentHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or sets parent handle\";s:4:\"type\";s:6:\"string\";}s:10:\"rootHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets root handle\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets content text\";s:4:\"type\";s:6:\"string\";}s:8:\"blobType\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Gets
  or sets content blob type\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:5:\"Image\";i:2;s:5:\"Video\";i:3;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets content blob handle\";s:4:\"type\";s:6:\"string\";}s:7:\"blobUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets content blob url\";s:4:\"type\";s:6:\"string\";}}}s:14:\"AppCompactView\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"App
  compact view\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"platformType\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Gets
  or sets app name\";s:4:\"type\";s:6:\"string\";}s:10:\"iconHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets app icon handle\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets app icon url\";s:4:\"type\";s:6:\"string\";}s:12:\"platformType\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or sets platform type\";s:4:\"enum\";a:3:{i:0;s:7:\"Windows\";i:1;s:7:\"Android\";i:2;s:3:\"IOS\";}s:4:\"type\";s:6:\"string\";}s:8:\"deepLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or sets app deep link\";s:4:\"type\";s:6:\"string\";}s:9:\"storeLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets app store link\";s:4:\"type\";s:6:\"string\";}}}s:13:\"CountResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Count
  response\";s:8:\"required\";a:1:{i:0;s:5:\"count\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Gets
  or sets count\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"PostPinRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Request
  to post (create) a pin\";s:8:\"required\";a:1:{i:0;s:11:\"topicHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets topic handle\";s:4:\"type\";s:6:\"string\";}}}s:23:\"FeedResponse[TopicView]\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Feed
  response\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:6:\"cursor\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets feed data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TopicView\";}}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets feed cursor\";s:4:\"type\";s:6:\"string\";}}}s:9:\"TopicView\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Topic
  view\";s:8:\"required\";a:8:{i:0;s:11:\"topicHandle\";i:1;s:11:\"createdTime\";i:2;s:15:\"lastUpdatedTime\";i:3;s:13:\"publisherType\";i:4;s:4:\"text\";i:5;s:10:\"totalLikes\";i:6;s:13:\"totalComments\";i:7;s:5:\"liked\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets topic handle\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Gets
  or sets created time\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:30:\"Gets
  or sets last updated time\";s:4:\"type\";s:6:\"string\";}s:13:\"publisherType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets publisher type\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:3:\"App\";}s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserCompactView\";s:11:\"description\";s:31:\"Gets
  or sets owner of the topic\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets topic title\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets topic text\";s:4:\"type\";s:6:\"string\";}s:8:\"blobType\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  or sets topic blob type\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:5:\"Image\";i:2;s:5:\"Video\";i:3;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets topic blob handle\";s:4:\"type\";s:6:\"string\";}s:7:\"blobUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets topic blob url\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets topic categories\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets topic language\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets topic group\";s:4:\"type\";s:6:\"string\";}s:8:\"deepLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets topic deep link\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets topic friendly name\";s:4:\"type\";s:6:\"string\";}s:10:\"totalLikes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"Gets
  or sets total likes for the topic\";s:4:\"type\";s:7:\"integer\";}s:13:\"totalComments\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:41:\"Gets
  or sets total comments for the topic\";s:4:\"type\";s:7:\"integer\";}s:5:\"liked\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Gets
  or sets a value indicating whether the querying user has liked the topic\";s:4:\"type\";s:7:\"boolean\";}s:6:\"pinned\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Gets
  or sets a value indicating whether the querying user has pinned the topic\";s:4:\"type\";s:7:\"boolean\";}s:13:\"contentStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets content status\";s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:6:\"Banned\";i:2;s:6:\"Mature\";i:3;s:5:\"Clean\";}s:4:\"type\";s:6:\"string\";}s:3:\"app\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AppCompactView\";s:11:\"description\";s:31:\"Gets
  or sets the containing app\";}}}s:26:\"PutPushRegistrationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Request
  to put push registration (register or update)\";s:8:\"required\";a:2:{i:0;s:15:\"lastUpdatedTime\";i:1;s:8:\"language\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"lastUpdatedTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"Gets
  or sets last updated time from the OS in ISO 8601 format.\r\n            This is
  used to expire out registrations that have not been updated every 30 days.\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Gets
  or sets language of the user\";s:4:\"type\";s:6:\"string\";}}}s:9:\"ReplyView\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Reply
  view\";s:8:\"required\";a:9:{i:0;s:11:\"replyHandle\";i:1;s:13:\"commentHandle\";i:2;s:11:\"topicHandle\";i:3;s:11:\"createdTime\";i:4;s:15:\"lastUpdatedTime\";i:5;s:4:\"user\";i:6;s:4:\"text\";i:7;s:10:\"totalLikes\";i:8;s:5:\"liked\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"replyHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets reply handle\";s:4:\"type\";s:6:\"string\";}s:13:\"commentHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets parent comment handle\";s:4:\"type\";s:6:\"string\";}s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets root topic handle\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Gets
  or sets created time\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:30:\"Gets
  or sets last updated time\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserCompactView\";s:11:\"description\";s:31:\"Gets
  or sets owner of the reply\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets reply text\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets reply language\";s:4:\"type\";s:6:\"string\";}s:10:\"totalLikes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"Gets
  or sets total likes for the reply\";s:4:\"type\";s:7:\"integer\";}s:5:\"liked\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Gets
  or sets a value indicating whether the querying user has liked the reply\";s:4:\"type\";s:7:\"boolean\";}s:13:\"contentStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets content status\";s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:6:\"Banned\";i:2;s:6:\"Mature\";i:3;s:5:\"Clean\";}s:4:\"type\";s:6:\"string\";}}}s:16:\"PostReplyRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Request
  to post (create) reply\";s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets reply text\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets reply language\";s:4:\"type\";s:6:\"string\";}}}s:17:\"PostReplyResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Response
  from post (create) reply\";s:8:\"required\";a:1:{i:0;s:11:\"replyHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"replyHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets reply handle of the reply\";s:4:\"type\";s:6:\"string\";}}}s:23:\"FeedResponse[ReplyView]\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Feed
  response\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:6:\"cursor\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets feed data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ReplyView\";}}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets feed cursor\";s:4:\"type\";s:6:\"string\";}}}s:17:\"PostReportRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Request
  to post (create) a report for content\";s:8:\"required\";a:1:{i:0;s:6:\"reason\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or sets report reason\";s:4:\"enum\";a:7:{i:0;s:30:\"ThreatsCyberbullyingHarassment\";i:1;s:29:\"ChildEndangermentExploitation\";i:2;s:16:\"OffensiveContent\";i:3;s:19:\"VirusSpywareMalware\";i:4;s:19:\"ContentInfringement\";i:5;s:5:\"Other\";i:6;s:4:\"None\";}s:4:\"type\";s:6:\"string\";}}}s:18:\"PostSessionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Request
  to post (create) session\";s:8:\"required\";a:2:{i:0;s:10:\"instanceId\";i:1;s:10:\"userHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets instance id -- Unique installation id of the app\";s:4:\"type\";s:6:\"string\";}s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PostSessionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Response
  from post (create) session\";s:8:\"required\";a:2:{i:0;s:10:\"userHandle\";i:1;s:12:\"sessionToken\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}s:12:\"sessionToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Gets
  or sets session token generated by our server.\r\n            The client saves the
  session token and sends it with every request\";s:4:\"type\";s:6:\"string\";}}}s:23:\"GetRequestTokenResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Response
  from get request token response\";s:8:\"required\";a:1:{i:0;s:12:\"requestToken\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"requestToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets request token from identity provider\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PostFollowerRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Request
  to post (accept) a follower\";s:8:\"required\";a:1:{i:0;s:10:\"userHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}}}s:24:\"PostFollowingUserRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Request
  to follow a user\";s:8:\"required\";a:1:{i:0;s:10:\"userHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}}}s:25:\"PostFollowingTopicRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Request
  to follow a topic\";s:8:\"required\";a:1:{i:0;s:11:\"topicHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets topic handle\";s:4:\"type\";s:6:\"string\";}}}s:22:\"PostBlockedUserRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Request
  to post a blocked user (block user)\";s:8:\"required\";a:1:{i:0;s:10:\"userHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}}}s:16:\"PostTopicRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Request
  to post (create) topic\";s:8:\"required\";a:2:{i:0;s:13:\"publisherType\";i:1;s:4:\"text\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"publisherType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets publisher type\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:3:\"App\";}s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets topic title\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets topic text\";s:4:\"type\";s:6:\"string\";}s:8:\"blobType\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  or sets topic blob type\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:5:\"Image\";i:2;s:5:\"Video\";i:3;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}s:10:\"blobHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets topic blob handle\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets topic categories\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets topic language\";s:4:\"type\";s:6:\"string\";}s:8:\"deepLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets topic deep link\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets topic friendly name\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets topic group\";s:4:\"type\";s:6:\"string\";}}}s:17:\"PostTopicResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Response
  from post (create) topic\";s:8:\"required\";a:1:{i:0;s:11:\"topicHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets topic handle of the topic\";s:4:\"type\";s:6:\"string\";}}}s:15:\"PutTopicRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Request
  to put (update) topic\";s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets topic title\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets topic text\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets topic categories\";s:4:\"type\";s:6:\"string\";}}}s:20:\"PostTopicNameRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Post
  topic name request\";s:8:\"required\";a:3:{i:0;s:13:\"publisherType\";i:1;s:9:\"topicName\";i:2;s:11:\"topicHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"publisherType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets publisher type\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:3:\"App\";}s:4:\"type\";s:6:\"string\";}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets topic name\";s:4:\"type\";s:6:\"string\";}s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets topic handle\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PutTopicNameRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Request
  to put (update) a topic name\";s:8:\"required\";a:2:{i:0;s:13:\"publisherType\";i:1;s:11:\"topicHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"publisherType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets publisher type\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:3:\"App\";}s:4:\"type\";s:6:\"string\";}s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets topic handle\";s:4:\"type\";s:6:\"string\";}}}s:22:\"DeleteTopicNameRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Request
  to delete a topic name\";s:8:\"required\";a:1:{i:0;s:13:\"publisherType\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"publisherType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets publisher type\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:3:\"App\";}s:4:\"type\";s:6:\"string\";}}}s:22:\"GetTopicByNameResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Response
  from get topic by name\";s:8:\"required\";a:1:{i:0;s:11:\"topicHandle\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"topicHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Gets
  or sets topic handle of the response\";s:4:\"type\";s:6:\"string\";}}}s:24:\"PostLinkedAccountRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Request
  to post (create) linked account\";s:8:\"required\";a:1:{i:0;s:12:\"sessionToken\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"sessionToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets a session token.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"LinkedAccountView\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Linked
  account view\";s:8:\"required\";a:2:{i:0;s:16:\"identityProvider\";i:1;s:9:\"accountId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"identityProvider\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets identity provider type\";s:4:\"enum\";a:6:{i:0;s:8:\"Facebook\";i:1;s:9:\"Microsoft\";i:2;s:6:\"Google\";i:3;s:7:\"Twitter\";i:4;s:6:\"AADS2S\";i:5;s:10:\"SocialPlus\";}s:4:\"type\";s:6:\"string\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Gets
  or sets third party account id -- Unique user id provided by the third-party identity
  provider\";s:4:\"type\";s:6:\"string\";}}}s:15:\"PostUserRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Request
  to post (create) user\";s:8:\"required\";a:3:{i:0;s:10:\"instanceId\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets instance id -- Unique installation id of the app\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets first name of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets last name of the user\";s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets short bio of the user\";s:4:\"type\";s:6:\"string\";}s:11:\"photoHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets photo handle of the user\";s:4:\"type\";s:6:\"string\";}}}s:16:\"PostUserResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Response
  from post (create) user\";s:8:\"required\";a:2:{i:0;s:10:\"userHandle\";i:1;s:12:\"sessionToken\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}s:12:\"sessionToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Gets
  or sets the session token generated by our server.\r\n            The client saves
  the session token and sends it with every request\";s:4:\"type\";s:6:\"string\";}}}s:15:\"UserProfileView\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"User
  profile view\";s:8:\"required\";a:13:{i:0;s:10:\"userHandle\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:3:\"bio\";i:4;s:11:\"photoHandle\";i:5;s:8:\"photoUrl\";i:6;s:10:\"visibility\";i:7;s:11:\"totalTopics\";i:8;s:14:\"totalFollowers\";i:9;s:14:\"totalFollowing\";i:10;s:14:\"followerStatus\";i:11;s:15:\"followingStatus\";i:12;s:13:\"profileStatus\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"userHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets user handle\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets first name of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets last name of the user\";s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets short bio of the user\";s:4:\"type\";s:6:\"string\";}s:11:\"photoHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets photo handle of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets photo url of the user\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets visibility of the user\";s:4:\"enum\";a:2:{i:0;s:6:\"Public\";i:1;s:7:\"Private\";}s:4:\"type\";s:6:\"string\";}s:11:\"totalTopics\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:40:\"Gets
  or sets total topics posted by user\";s:4:\"type\";s:7:\"integer\";}s:14:\"totalFollowers\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:41:\"Gets
  or sets total followers for the user\";s:4:\"type\";s:7:\"integer\";}s:14:\"totalFollowing\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"Gets
  or sets total following users\";s:4:\"type\";s:7:\"integer\";}s:14:\"followerStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Gets
  or sets follower relationship status of the querying user\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:6:\"Follow\";i:2;s:7:\"Pending\";i:3;s:7:\"Blocked\";}s:4:\"type\";s:6:\"string\";}s:15:\"followingStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Gets
  or sets following relationship status of the querying user\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:6:\"Follow\";i:2;s:7:\"Pending\";i:3;s:7:\"Blocked\";}s:4:\"type\";s:6:\"string\";}s:13:\"profileStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Gets
  or sets user profile status\";s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:6:\"Banned\";i:2;s:6:\"Mature\";i:3;s:5:\"Clean\";}s:4:\"type\";s:6:\"string\";}}}s:18:\"PutUserInfoRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Request
  to put (update) user info\";s:8:\"required\";a:2:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets first name of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets last name of the user\";s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets short bio of the user\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PutUserPhotoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Request
  to put (update) user photo\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"photoHandle\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets photo handle of the user\";s:4:\"type\";s:6:\"string\";}}}s:24:\"PutUserVisibilityRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Request
  to put (update) user visibility\";s:8:\"required\";a:1:{i:0;s:10:\"visibility\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets visibility of the user\";s:4:\"enum\";a:2:{i:0;s:6:\"Public\";i:1;s:7:\"Private\";}s:4:\"type\";s:6:\"string\";}}}s:29:\"FeedResponse[UserProfileView]\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Feed
  response\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:6:\"cursor\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets feed data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserProfileView\";}}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets feed cursor\";s:4:\"type\";s:6:\"string\";}}}}"
...
