---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:5:\"LetMC\";}s:5:\"title\";s:19:\"LetMC
  Api V3, diary\";s:7:\"version\";s:8:\"v3-diary\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:78:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_LetMC_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"https://live-api.letmc.com/swagger/docs/v3-diary\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"letmc.com\";s:13:\"x-serviceName\";s:5:\"diary\";}"
host: live-api.letmc.com
paths:
  /v3/diary/{shortName}/allocations:
    get:
      consumes: []
      deprecated: false
      operationId: DiaryController_GetAllocations
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The date to search from
        format: date-time
        in: query
        name: preferredDate
        required: true
        type: string
      - description: The unique property identifier (Sales or Lettings)
        in: query
        name: propertyIdentifier
        required: true
        type: string
      - description: The unique appointment type identifier
        in: query
        name: appointmentType
        required: true
        type: string
      - description: Sales or Lettings property?
        in: query
        name: lettings
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/ViewingBookingModel'
            type: array
      summary: Get a list of all available allocations for a date + 7 days for a specified
        appointment type
      tags:
      - DiaryController
  /v3/diary/{shortName}/appointment:
    delete:
      consumes: []
      deprecated: false
      operationId: DiaryController_DeleteAppointment
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique appointment id
        in: query
        name: appointmentID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Update an existing appointment using its unique identifier
      tags:
      - DiaryController
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiaryController_PostAppointment
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - collectionFormat: multi
        description: The unique property identifier (Sales or Lettings)
        in: query
        items:
          type: string
        name: propertyIdentifier
        required: true
        type: array
      - description: The appointment details model
        in: body
        name: appointmentDetails
        required: true
        schema:
          $ref: '#/definitions/AppointmentDetails'
      - description: Sales or Lettings property?
        in: query
        name: lettings
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Post an appointment into a valid diary allocation
      tags:
      - DiaryController
    put:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiaryController_PutAppointment
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique appointment id
        in: query
        name: appointmentID
        required: true
        type: string
      - description: The appointment details model
        in: body
        name: appointmentDetails
        required: true
        schema:
          $ref: '#/definitions/AppointmentDetails'
      - description: Sales or Lettings property?
        in: query
        name: lettings
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Update an existing appointment using its unique identifier
      tags:
      - DiaryController
  /v3/diary/{shortName}/appointmentsbetweendates:
    get:
      consumes: []
      deprecated: false
      operationId: DiaryController_GetAppointmentsBetweenDates
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        type: string
      - description: The search from date
        format: date-time
        in: query
        name: startDate
        required: true
        type: string
      - description: The search to date
        format: date-time
        in: query
        name: endDate
        required: true
        type: string
      - collectionFormat: multi
        description: The appointment IDs to search for
        in: query
        items:
          type: string
        name: appointmentTypesToSearch
        required: true
        type: array
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAppointmentModelResults'
      summary: A collection of diary appointments linked to a company filtered between
        specific dates and by appointment type
      tags:
      - DiaryController
  /v3/diary/{shortName}/appointmenttypes:
    get:
      consumes: []
      deprecated: false
      operationId: DiaryController_GetAppointmentTypes
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAppointmentTypeModelResults'
      summary: A collection of all diary appointment types
      tags:
      - DiaryController
produces:
- application/json
- text/json
- application/xml
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:18:\"AppointmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Helper
  Model - Structure to submit the appointment details\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"AllocationDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ViewingBookingModel\";s:11:\"description\";s:46:\"Allocation
  details to link the appointment too\";}s:15:\"AppointmentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  Appointment Type ID\";s:4:\"type\";s:6:\"string\";}s:13:\"ExtraComments\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Additional
  appointment comments\";s:4:\"type\";s:6:\"string\";}s:6:\"Guests\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  collection of guests linked to the appointment. If none leave empty\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GuestDetails\";}s:4:\"type\";s:5:\"array\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  subject of the appointment\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DiaryAppointmentModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  a single diary appointment for a staff member.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"AppointmentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  diary appointment type.\";s:4:\"type\";s:6:\"string\";}s:9:\"Cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  the appointment has been cancelled.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  appointment comments text.\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  date/time this appointment was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  staff member that created this appointment.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:3:\"End\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  end date/time of this appointment.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"LinkedProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  collection of properties linked to the appointment:-\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/LinkedPropertiesModel\";}s:4:\"type\";s:5:\"array\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:8:\"RemindAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  date/time to remind the staff member of this appointment.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"RemindBefore\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  number of minutes before the appointment start date/time to remind the staff member.
  -1 means don't remind.\";s:4:\"enum\";a:17:{i:0;s:3:\"Min\";i:1;s:4:\"Min2\";i:2;s:4:\"Min5\";i:3;s:5:\"Min10\";i:4;s:5:\"Min15\";i:5;s:5:\"Min30\";i:6;s:5:\"Min45\";i:7;s:4:\"Hour\";i:8;s:5:\"Hour2\";i:9;s:5:\"Hour3\";i:10;s:5:\"Hour6\";i:11;s:6:\"Hour12\";i:12;s:3:\"Day\";i:13;s:4:\"Day2\";i:14;s:4:\"Day3\";i:15;s:4:\"Week\";i:16;s:10:\"NoReminder\";}s:4:\"type\";s:6:\"string\";}s:5:\"Staff\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  staff member holding this appointment.\";s:4:\"type\";s:6:\"string\";}s:5:\"Start\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  start date/time of this appointment.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  appointment subject text.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DiaryAppointmentModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Holds
  results from a paged query returning DiaryAppointmentModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DiaryAppointmentModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DiaryAppointmentTypeModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  a diary appointment type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  appointment type name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemType\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  appointment system type.\";s:4:\"enum\";a:7:{i:0;s:7:\"Viewing\";i:1;s:12:\"ViewAndValue\";i:2;s:17:\"OpeningInspection\";i:3;s:17:\"InterimInspection\";i:4;s:17:\"ClosingInspection\";i:5;s:14:\"SalesAppraisal\";i:6;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DiaryAppointmentTypeModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Holds
  results from a paged query returning DiaryAppointmentTypeModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DiaryAppointmentTypeModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GuestDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Helper
  Model \u2013 Structure to submit appointment guest details\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Email
  address\";s:4:\"type\";s:6:\"string\";}s:8:\"Forename\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Forename\";s:4:\"type\";s:6:\"string\";}s:11:\"MobilePhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Mobile
  phone\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  unique identifier of a user, only submit this is known\";s:4:\"type\";s:6:\"string\";}s:7:\"Surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Surname\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LatestTenancyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Holds
  information on the most recent tenancy linked to the property.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"ETag\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  end date of the Tenancy\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"FixedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  fixed date of the Tenancy\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  unique global reference of the Tenancy\";s:4:\"type\";s:6:\"string\";}s:14:\"IsTenancyEnded\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Has
  the Tenancy ended?\";s:4:\"type\";s:7:\"boolean\";}s:17:\"IsTenancyProposed\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Is
  the tenancy Proposed?\";s:4:\"type\";s:7:\"boolean\";}s:15:\"IsTenancySigned\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Is
  the tenancy signed?\";s:4:\"type\";s:7:\"boolean\";}s:13:\"LinkedTenants\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  collection of tenants linked to the tenancy:-\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LinkedTenantModel\";}s:4:\"type\";s:5:\"array\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"OID\";s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  start date of the Tenancy\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"LinkedLandlordModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Holds
  information on landlords\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"ETag\";s:4:\"type\";s:6:\"string\";}s:8:\"Forename\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Forename\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"OID\";s:4:\"type\";s:6:\"string\";}s:7:\"Surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Surname\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LinkedPropertiesModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Holds
  information on linked properties\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Address
  1\";s:4:\"type\";s:6:\"string\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Address2\";s:4:\"type\";s:6:\"string\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Address
  3\";s:4:\"type\";s:6:\"string\";}s:8:\"Address4\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Address
  4\";s:4:\"type\";s:6:\"string\";}s:21:\"AddressFlatRoomNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Address
  Flat Room Number\";s:4:\"type\";s:6:\"string\";}s:13:\"AddressNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Address
  Number\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"ETag\";s:4:\"type\";s:6:\"string\";}s:13:\"LatestTenancy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LatestTenancyModel\";s:11:\"description\";s:41:\"The
  latest tenancy linked to the property\";}s:12:\"MainLandlord\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LinkedLandlordModel\";s:11:\"description\";s:40:\"The
  main landlord linked to the property\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"OID\";s:4:\"type\";s:6:\"string\";}s:8:\"Postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Postcode\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LinkedTenantModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Holds
  information on tenants\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"ETag\";s:4:\"type\";s:6:\"string\";}s:8:\"Forename\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Forename\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"OID\";s:4:\"type\";s:6:\"string\";}s:7:\"Surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Surname\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ViewingBookingModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  a viewing booking slot\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"End\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  end time of the booking\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"StaffID\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  unique ID of the staff member this booking is with\";s:4:\"type\";s:6:\"string\";}s:9:\"StaffName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  name of the staff member this booking is with\";s:4:\"type\";s:6:\"string\";}s:5:\"Start\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  start time of the booking\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
