---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:5:\"LetMC\";}s:5:\"title\";s:28:\"LetMC
  Api V2, Customer Login\";s:7:\"version\";s:11:\"v2-customer\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:78:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_LetMC_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:51:\"https://live-api.letmc.com/swagger/docs/v2-customer\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"letmc.com\";s:13:\"x-serviceName\";s:8:\"customer\";}"
host: live-api.letmc.com
paths:
  /v2/customer/{shortName}/landlord/accounting:
    get:
      deprecated: false
      operationId: LandlordController_GetAccounts
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordAccountingModel'
      summary: Get the accounting details for the landlord.
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/document:
    get:
      deprecated: false
      operationId: LandlordController_GetDocument
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The Document ID
        in: query
        name: ID
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Download a Document
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/inventory:
    get:
      deprecated: false
      operationId: LandlordController_GetInvetoryReport
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The Tenancy ID
        in: query
        name: tenancyID
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Generate a Inventory PDF for a tenancy
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/invoice:
    get:
      deprecated: false
      operationId: LandlordController_GetInvoice
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The invoice ID to load.
        in: query
        name: invoiceID
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Get an invoice pdf belonging to the landlord.
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/maintenance:
    get:
      deprecated: false
      operationId: LandlordController_GetMaintenanceJobs
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordMaintenanceModel'
      summary: Get Active maintenance jobs.
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/profitloss:
    get:
      deprecated: false
      operationId: LandlordController_GetProfitLossReport
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordProfitLossModel'
      summary: Generate a Profit and Loss Report
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/rentarrears:
    get:
      deprecated: false
      operationId: LandlordController_GetRentArrears
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordRentArrearsModel'
      summary: Rent Arrears
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/sas:
    get:
      deprecated: false
      operationId: LandlordController_GetSASReport
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The Tax Year End.
        format: int32
        in: query
        name: yearEnd
        required: true
        type: integer
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Generate a Self Assessment Tax Report
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/settings:
    get:
      deprecated: false
      operationId: LandlordController_GetSettings
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordSettingsModel'
      summary: Get contact details of all linked landlords.
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/summary:
    get:
      deprecated: false
      operationId: LandlordController_GetSummaryDetails
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordSummaryModel'
      summary: Get the summary details for the landlord.
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/tenancy:
    get:
      deprecated: false
      operationId: LandlordController_GetTenancy
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The Tenancy ID
        in: query
        name: tenancyID
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordTenancyModel'
      summary: Get tenancy details.
      tags:
      - LandlordController
  /v2/customer/{shortName}/landlord/tenancyagreement:
    get:
      deprecated: false
      operationId: LandlordController_GetTenancyAgreementReport
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The Tenancy ID
        in: query
        name: tenancyID
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Generate a Tenancy Agreement Copy (PDF)
      tags:
      - LandlordController
  /v2/customer/{shortName}/photo/download:
    get:
      deprecated: false
      operationId: PhotoController_GetPhotoDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The unique ID of the photo on the property
        in: query
        name: photoID
        required: true
        type: string
      - description: An optional parameter specifying the image width
        format: int32
        in: query
        name: width
        required: false
        type: integer
      - description: An optional parameter specifying the image height
        format: int32
        in: query
        name: height
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the photo of a property given the photo ID.
      tags:
      - PhotoController
  /v2/customer/{shortName}/property/{propertyID}/photos:
    get:
      deprecated: false
      operationId: PropertyController_GetPropertiesPhotos
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LandlordPhotoModelResults'
      summary: A collection showing all the photos linked to a specific block, property
        or room
      tags:
      - PropertyController
  /v2/customer/{shortName}/session:
    delete:
      deprecated: false
      operationId: SessionController_Logout
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Logout a customer previously logged in via the Login endpoint.
      tags:
      - SessionController
    get:
      deprecated: false
      operationId: SessionController_GetSessionInfo
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Gets information about the currently logged on customer.
      tags:
      - SessionController
    post:
      deprecated: false
      operationId: SessionController_Login
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The user's username.
        in: query
        name: username
        required: true
        type: string
      - description: The user's password.
        in: query
        name: password
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: string
      summary: Login as a customer given their username and password.
      tags:
      - SessionController
  /v2/customer/{shortName}/session/createlandlordlogin:
    post:
      deprecated: false
      operationId: SessionController_CreateLandlordLogin
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The email address of the landlord
        in: query
        name: email
        required: true
        type: string
      - description: The title of the landlord
        in: query
        name: title
        required: true
        type: string
      - description: The forename of the landlord
        in: query
        name: forename
        required: true
        type: string
      - description: The surname of the landlord
        in: query
        name: surname
        required: true
        type: string
      - description: Address of the property linked to the landlord
        in: query
        name: propertyAdresss
        required: true
        type: string
      - description: Contact details of the landlord
        in: query
        name: contactDetails
        required: true
        type: string
      - description: (Optional) The branch ID linked to the login. This will determine
          which in tray the request display in
        in: query
        name: branchID
        required: false
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Send a request to the in-tray to create a landlord login.
      tags:
      - SessionController
  /v2/customer/{shortName}/session/password:
    put:
      deprecated: false
      operationId: SessionController_ChangePassword
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login token returned from the /session POST call
        in: query
        name: token
        required: true
        type: string
      - description: The customer's existing password.
        in: query
        name: oldPassword
        required: true
        type: string
      - description: The customer's new password.
        in: query
        name: newPassword
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Change the password of a customer given their existing and new password.
      tags:
      - SessionController
  /v2/customer/{shortName}/session/resetpassword:
    post:
      deprecated: false
      operationId: SessionController_ResetPassword
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The login Email Address.
        in: query
        name: email
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Reset the customer's password. An email will be sent out to reset.
      tags:
      - SessionController
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:27:\"KeyValuePair[String,String]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"LandlordAccountingEntryModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Landlord
  Accounting - Finance Entry\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Payment
  Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Description.\";s:4:\"type\";s:6:\"string\";}s:17:\"TransactionNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Transaction
  Number\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:30:\"LandlordAccountingInvoiceModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Invoices\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Payment
  Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"InvoiceID\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Transaction
  Number\";s:4:\"type\";s:6:\"string\";}s:20:\"IsMaintenanceInvoice\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Does
  this invoice contain contractor payments?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LandlordAccountingModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Landlord
  Accounting\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AccountBalance\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Account
  Balance\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"LastPayment\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Last
  Payment Made\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"PaymentHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Payment
  History\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/LandlordAccountingEntryModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"Statements\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Statements\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/LandlordAccountingInvoiceModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LandlordChaseNoteModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Landlord
  Arrears Chase Note.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Created
  Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Note.\";s:4:\"type\";s:6:\"string\";}s:8:\"NoteType\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Note
  Type\";s:4:\"type\";s:6:\"string\";}s:8:\"TenantID\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Tenant\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LandlordDetailsModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Landlord
  Details\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Address\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Email\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"User
  Friendly ID\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:2:\"ID\";s:4:\"type\";s:6:\"string\";}s:6:\"Mobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Mobile\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Phone\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"LandlordLettingsInspectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Lettings
  Inspection\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InspectionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"InspectionDate\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Notes\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"LandlordMaintenanceCertificateModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Maintenance
  Certificate\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Due\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Due\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Files\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Files\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/LettingsLandlordDocument\";}s:4:\"type\";s:5:\"array\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Status.\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"LandlordMaintenanceJobModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Maintenance
  Job\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"AssignedTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"AssignedTo\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:8:\"Property\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Property\";s:4:\"type\";s:6:\"string\";}s:8:\"Reported\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Reported\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Status\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"LandlordMaintenanceModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Landlord
  Maintenance\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Maintenance
  Jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/LandlordMaintenanceJobModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"LandlordMaintenancePreferenceModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Maintenance
  Preference\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Notes.\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LandlordPhotoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Stores
  a photo related to a property structure.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:8:\"FileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  file name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:9:\"PhotoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  photo type.\";s:4:\"enum\";a:5:{i:0;s:5:\"Photo\";i:1;s:3:\"Map\";i:2;s:9:\"FloorPlan\";i:3;s:7:\"SiteMap\";i:4;s:11:\"AerialPhoto\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"LandlordPhotoModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Holds
  results from a paged query returning LandlordPhotoModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LandlordPhotoModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LandlordProfitLossModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Class
  to represent proffit loss report.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectCosts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/LandlordProfitLossSectionModel\";s:11:\"description\";s:20:\"Direct
  Costs Section\";}s:15:\"GrossProfitLoss\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/LandlordProfitLossSectionModel\";s:11:\"description\";s:20:\"Direct
  Costs Section\";}s:6:\"Income\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/LandlordProfitLossSectionModel\";s:11:\"description\";s:14:\"Income
  Section\";}}s:4:\"type\";s:6:\"object\";}s:26:\"LandlordProfitLossRowModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Class
  for a group of entries.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"MonthTotals\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Month
  Totals\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/KeyValuePair[String,String]\";}s:4:\"type\";s:5:\"array\";}s:11:\"NominalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Nominal
  Code\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Title
  of the values.\";s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Total
  for all months.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"LandlordProfitLossSectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Class
  for a group of entries.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Rows.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/LandlordProfitLossRowModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"LandlordRentArrearsModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Landlord
  Rent Arrears.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"ChaseNotes\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Chase
  Notes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LandlordChaseNoteModel\";}s:4:\"type\";s:5:\"array\";}s:13:\"RentCollected\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Rent
  Collected\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"RentOutstanding\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Outstanding
  Rent\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/LandlordRentOustandingItem\";}s:4:\"type\";s:5:\"array\";}s:16:\"TotalRentArrears\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Rent
  Arrears\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:26:\"LandlordRentOustandingItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Outstanding
  Rent\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"DebtDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Days
  since the tenant went into arrears\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"OutstandingRent\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Outstanding
  Rent\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Property\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Property\";s:4:\"type\";s:6:\"string\";}s:6:\"Tenant\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Tenant\";s:4:\"type\";s:6:\"string\";}s:8:\"TenantID\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"TenantID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LandlordSettingsModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Landlord
  Settings\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"LinkedAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Linked
  Accounts\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/LandlordDetailsModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LandlordSummaryModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Landlord
  Summary - Landing Page.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AccountBalance\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Account
  Balance\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"LastPayment\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Last
  Payment Made\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"Tenancies\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Tenancies\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/LandlordSummaryTenancyModel\";}s:4:\"type\";s:5:\"array\";}s:16:\"TotalRentArrears\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Rent
  Arrears\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:27:\"LandlordSummaryTenancyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Landlord
  Summary - Landing Page.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"Bond\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Bomd\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Description.\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"User
  Friendly ID\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:2:\"ID\";s:4:\"type\";s:6:\"string\";}s:15:\"MaintenanceJobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Maintenance
  Jobs.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ManagedRent\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"State
  of the tenancy\";s:4:\"type\";s:7:\"boolean\";}s:15:\"PropertyAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Display
  Property Address\";s:4:\"type\";s:6:\"string\";}s:4:\"Rent\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Rent\";s:4:\"type\";s:6:\"string\";}s:11:\"RentArrears\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Rent
  Arrears\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"RentCollected\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Rent
  Arrears\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"TenancyProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Tenancy
  Property\";s:4:\"type\";s:6:\"string\";}s:12:\"TenancyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"State
  of the tenancy\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LandlordTenancyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Landlord
  Tenancy Model.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"ActualEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Actual
  End Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Beds\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Beds\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Bond\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Bond\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"Certificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Maintenance
  Certificates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/LandlordMaintenanceCertificateModel\";}s:4:\"type\";s:5:\"array\";}s:9:\"FixedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Fixed
  Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"User
  Friendly ID\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:2:\"ID\";s:4:\"type\";s:6:\"string\";}s:11:\"Inspections\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Inspections\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/LandlordLettingsInspectionModel\";}s:4:\"type\";s:5:\"array\";}s:11:\"ManagedRent\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"State
  of the tenancy\";s:4:\"type\";s:7:\"boolean\";}s:11:\"Preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Maintenance
  Preferences.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/LandlordMaintenancePreferenceModel\";}s:4:\"type\";s:5:\"array\";}s:18:\"PreviousRentAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Previous
  Rent Amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"PropertyAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Display
  Property Address\";s:4:\"type\";s:6:\"string\";}s:4:\"Rent\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Rent\";s:4:\"type\";s:6:\"string\";}s:10:\"RentAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Rent
  Amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Start
  Date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"TenancyProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Tenancy
  Property\";s:4:\"type\";s:6:\"string\";}s:12:\"TenancyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"State
  of the tenancy\";s:4:\"type\";s:6:\"string\";}s:7:\"Tenants\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Tenants\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"LettingsLandlordDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Document
  details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"FileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"File
  Name\";s:4:\"type\";s:6:\"string\";}s:8:\"FileSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"File
  Size Bytes\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:2:\"ID\";s:4:\"type\";s:6:\"string\";}s:8:\"MIMEType\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"MIME
  Type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
