---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:5:\"LetMC\";}s:5:\"title\";s:28:\"LetMC
  Api V2, Basic (Tier 2)\";s:7:\"version\";s:13:\"v2-basic-tier\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:78:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_LetMC_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:53:\"https://live-api.letmc.com/swagger/docs/v2-basic-tier\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"letmc.com\";s:13:\"x-serviceName\";s:10:\"basic-tier\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"letmc_basic_tier\";s:4:\"type\";s:7:\"openapi\";}}"
host: live-api.letmc.com
paths:
  /v2/tier2/{shortName}/area/areas:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AreaModelResults'
      summary: A collection of all the areas for a company
      tags:
      - AreaController
      operationId: v2.tier2.shortName.area.areas.get
  /v2/tier2/{shortName}/area/areas/{areaID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Area
        in: path
        name: areaID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AreaModel'
      summary: Get a specific area given its unique Object ID (OID)
      tags:
      - AreaController
      operationId: v2.tier2.shortName.area.areas.areaID.get
  /v2/tier2/{shortName}/branch/branches:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BranchModelResults'
      summary: All branches defined for a company
      tags:
      - BranchController
      operationId: v2.tier2.shortName.branch.branches.get
  /v2/tier2/{shortName}/branch/branches/{branchID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Branch
        in: path
        name: branchID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BranchModel'
      summary: Get a specific branch given its unique Object ID (OID)
      tags:
      - BranchController
      operationId: v2.tier2.shortName.branch.branches.branchID.get
  /v2/tier2/{shortName}/company:
    get:
      consumes: []
      deprecated: false
      operationId: CompanyController_GetCompany
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CompanyModel'
      summary: Information about a specific company
      tags:
      - CompanyController
  /v2/tier2/{shortName}/county/counties:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CountyModelResults'
      summary: A collection of all counties available for a company
      tags:
      - CountyController
      operationId: v2.tier2.shortName.county.counties.get
  /v2/tier2/{shortName}/county/counties/{countyID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the County
        in: path
        name: countyID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CountyModel'
      summary: Get a specific county given its unique Object ID (OID)
      tags:
      - CountyController
      operationId: v2.tier2.shortName.county.counties.countyID.get
  /v2/tier2/{shortName}/county/counties/{countyID}/branches:
    get:
      consumes: []
      deprecated: false
      operationId: CountyController_GetCountiesBranches
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the County
        in: path
        name: countyID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BranchModelResults'
      summary: A collection of branches that manage a specific county
      tags:
      - CountyController
  /v2/tier2/{shortName}/diary/allocations:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAllocationModelResults'
      summary: A collection of all diary allocations
      tags:
      - DiaryController
      operationId: v2.tier2.shortName.diary.allocations.get
  /v2/tier2/{shortName}/diary/allocations/{diaryAllocationID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the DiaryAllocation
        in: path
        name: diaryAllocationID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAllocationModel'
      summary: Get a specific diary allocation given its unique Object ID (OID)
      tags:
      - DiaryController
      operationId: v2.tier2.shortName.diary.allocations.diaryAllocationID.get
  /v2/tier2/{shortName}/diary/appointments:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAppointmentModelResults'
      summary: A collection of all diary appointments
      tags:
      - DiaryController
      operationId: v2.tier2.shortName.diary.appointments.get
  /v2/tier2/{shortName}/diary/appointments/{diaryAppointmentID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the DiaryAppointment
        in: path
        name: diaryAppointmentID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAppointmentModel'
      summary: Get a specific diary appointment given its unique Object ID (OID)
      tags:
      - DiaryController
      operationId: v2.tier2.shortName.diary.appointments.diaryAppointmentID.get
  /v2/tier2/{shortName}/diary/appointmenttypes:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAppointmentTypeModelResults'
      summary: A collection of all diary appointment types
      tags:
      - DiaryController
      operationId: v2.tier2.shortName.diary.appointmenttypes.get
  /v2/tier2/{shortName}/diary/appointmenttypes/{diaryAppointmentTypeID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the DiaryAppointmentType
        in: path
        name: diaryAppointmentTypeID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiaryAppointmentTypeModel'
      summary: Get a specific diary appointment type given its unique Object ID (OID)
      tags:
      - DiaryController
      operationId: v2.tier2.shortName.diary.appointmenttypes.diaryAppointmentTypeID.get
  /v2/tier2/{shortName}/lettings/advertised:
    get:
      consumes: []
      deprecated: false
      operationId: LettingsController_GetAdvertised
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      - description: The unique ID of the Area
        in: query
        name: areaID
        required: false
        type: string
      - description: The minimum advertised rent to search for
        format: double
        in: query
        name: rentMinimum
        required: false
        type: number
      - description: The maximum advertised rent to search for
        format: double
        in: query
        name: rentMaximum
        required: false
        type: number
      - description: The maximum number of tenants a property can accommodate
        format: int32
        in: query
        name: maximumTenants
        required: false
        type: integer
      - description: Search for shared properties?
        in: query
        name: wantSharedProperties
        required: false
        type: boolean
      - description: Search for student properties?
        in: query
        name: wantStudentProperties
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenancyModelResults'
      summary: Search all properties available for rent given a range of search criteria.
      tags:
      - LettingsController
  /v2/tier2/{shortName}/lettings/advertisedbetweendates:
    get:
      consumes: []
      deprecated: false
      operationId: LettingsController_GetAdvertisedBetweenDates
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      - description: The date to search from
        format: date-time
        in: query
        name: rangeStartDate
        required: true
        type: string
      - description: The date to search to
        format: date-time
        in: query
        name: rangeEndDate
        required: true
        type: string
      - description: The unique ID of the Area
        in: query
        name: areaID
        required: false
        type: string
      - description: The minimum advertised rent to search for
        format: double
        in: query
        name: rentMinimum
        required: false
        type: number
      - description: The maximum advertised rent to search for
        format: double
        in: query
        name: rentMaximum
        required: false
        type: number
      - description: The maximum number of tenants a property can accommodate
        format: int32
        in: query
        name: maximumTenants
        required: false
        type: integer
      - description: Search for shared properties?
        in: query
        name: wantSharedProperties
        required: false
        type: boolean
      - description: Search for student properties?
        in: query
        name: wantStudentProperties
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenancyModelResults'
      summary: Search all properties available for rent given a range of search criteria
        and dates.
      tags:
      - LettingsController
  /v2/tier2/{shortName}/lettings/tenancies:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenancyModelResults'
      summary: A collection of all the company's tenancies
      tags:
      - LettingsController
      operationId: v2.tier2.shortName.lettings.tenancies.get
  /v2/tier2/{shortName}/lettings/tenancies/{tenancyID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Tenancy
        in: path
        name: tenancyID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenancyModel'
      summary: Get a specific tenancy given its unique Object ID (OID)
      tags:
      - LettingsController
      operationId: v2.tier2.shortName.lettings.tenancies.tenancyID.get
  /v2/tier2/{shortName}/lettings/tenancies/{tenancyID}/brochure:
    get:
      consumes: []
      deprecated: false
      operationId: LettingsController_GetTenancyBrochure
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the tenancy
        in: path
        name: tenancyID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the brochure relating to the latest advertised rental of
        a property
      tags:
      - LettingsController
  /v2/tier2/{shortName}/photo/photos:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhotoModelResults'
      summary: A collection of all photos in the company
      tags:
      - PhotoController
      operationId: v2.tier2.shortName.photo.photos.get
  /v2/tier2/{shortName}/photo/photos/{photoID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Photo
        in: path
        name: photoID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhotoModel'
      summary: Get a specific photo given its unique Object ID (OID)
      tags:
      - PhotoController
      operationId: v2.tier2.shortName.photo.photos.photoID.get
  /v2/tier2/{shortName}/photos/photo/{photoID}/download:
    get:
      consumes: []
      deprecated: false
      operationId: PhotoController_GetPhotoDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the photo on the property
        in: path
        name: photoID
        required: true
        type: string
      - description: An optional parameter specifying the image width
        format: int32
        in: query
        name: width
        required: false
        type: integer
      - description: An optional parameter specifying the image height
        format: int32
        in: query
        name: height
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the photo of a property given the property and photo ID.
      tags:
      - PhotoController
  /v2/tier2/{shortName}/property/properties:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PropertyModelResults'
      summary: A collection of all properties within a company
      tags:
      - PropertyController
      operationId: v2.tier2.shortName.property.properties.get
  /v2/tier2/{shortName}/property/properties/{propertyID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PropertyModel'
      summary: Get a specific property given its unique Object ID (OID)
      tags:
      - PropertyController
      operationId: v2.tier2.shortName.property.properties.propertyID.get
  /v2/tier2/{shortName}/property/properties/{propertyID}/facilities:
    get:
      consumes: []
      deprecated: false
      operationId: PropertyController_GetPropertiesFacilities
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PropertyFacilityModelResults'
      summary: A collection of facilities linked to a block, property or room
      tags:
      - PropertyController
  /v2/tier2/{shortName}/property/properties/{propertyID}/photos:
    get:
      consumes: []
      deprecated: false
      operationId: PropertyController_GetPropertiesPhotos
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhotoModelResults'
      summary: A collection showing all the photos linked to a specific block, property
        or room
      tags:
      - PropertyController
  /v2/tier2/{shortName}/property/properties/{propertyID}/rooms:
    get:
      consumes: []
      deprecated: false
      operationId: PropertyController_GetPropertiesRooms
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PropertyRoomModelResults'
      summary: A collection of the rooms that belong to this property or block
      tags:
      - PropertyController
  /v2/tier2/{shortName}/property/properties/{propertyID}/tenancies:
    get:
      consumes: []
      deprecated: false
      operationId: PropertyController_GetPropertiesTenancies
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Property
        in: path
        name: propertyID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenancyModelResults'
      summary: A collection of all tenancies associated with this block, property
        or room
      tags:
      - PropertyController
  /v2/tier2/{shortName}/property/structures/{propertyStructureID}/reports/eer:
    get:
      consumes: []
      deprecated: false
      operationId: PropertyController_GetPropertyEERDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the property structure
        in: path
        name: propertyStructureID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the energy efficiency report (EER) graph for a property
      tags:
      - PropertyController
  /v2/tier2/{shortName}/property/structures/{propertyStructureID}/reports/eir:
    get:
      consumes: []
      deprecated: false
      operationId: PropertyController_GetPropertyEIRDownload
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the property structure
        in: path
        name: propertyStructureID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the environmental impact report (EIR) graph for a property
      tags:
      - PropertyController
  /v2/tier2/{shortName}/sales/advertisedsales:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetAdvertisedSales
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the Branch
        in: query
        name: branchID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      - description: Show only development properties?
        in: query
        name: onlyDevelopement
        required: true
        type: boolean
      - description: Show only investment properties?
        in: query
        name: onlyInvestements
        required: true
        type: boolean
      - description: The minimum price to search for
        format: double
        in: query
        name: minimumPrice
        required: false
        type: number
      - description: The maximum price to search for
        format: double
        in: query
        name: maximumPrice
        required: false
        type: number
      - description: The minimum beds to search for
        format: int32
        in: query
        name: minimumBeds
        required: false
        type: integer
      - description: The minimum bathrooms to search for
        format: int32
        in: query
        name: minimumBathrooms
        required: false
        type: integer
      - description: The minimum ensuite bathrooms to search for
        format: int32
        in: query
        name: minimumEnsuites
        required: false
        type: integer
      - description: The minimum toilets to search for
        format: int32
        in: query
        name: minimumToilets
        required: false
        type: integer
      - description: The minimum reception rooms to search for
        format: int32
        in: query
        name: minimumReception
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesInstructionModelResults'
      summary: Search all sales properties available given a range of search criteria
      tags:
      - SalesController
  /v2/tier2/{shortName}/sales/reports/eer/{salesInstructionID}:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetEER
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the energy efficiency report (EER) graph for a sales instruction
      tags:
      - SalesController
  /v2/tier2/{shortName}/sales/reports/eir/{salesInstructionID}:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetEIR
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Downloads the energy efficiency report (EIR) graph for a sales instruction
      tags:
      - SalesController
  /v2/tier2/{shortName}/sales/salesfeaturetypes:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesFeatureTypeModelResults'
      summary: A collection of all sales feature types linked to a company
      tags:
      - SalesController
      operationId: v2.tier2.shortName.sales.salesfeaturetypes.get
  /v2/tier2/{shortName}/sales/salesfeaturetypes/{salesFeatureTypeID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesFeatureType
        in: path
        name: salesFeatureTypeID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesFeatureTypeModel'
      summary: Get a specific sales feature type given its unique Object ID (OID)
      tags:
      - SalesController
      operationId: v2.tier2.shortName.sales.salesfeaturetypes.salesFeatureTypeID.get
  /v2/tier2/{shortName}/sales/salesinstructions:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesInstructionModelResults'
      summary: A collection of all sales instructions linked to a company
      tags:
      - SalesController
      operationId: v2.tier2.shortName.sales.salesinstructions.get
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesInstructionModel'
      summary: Get a specific sales instruction given its unique Object ID (OID)
      tags:
      - SalesController
      operationId: v2.tier2.shortName.sales.salesinstructions.salesInstructionID.get
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/features:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetSalesInstructionsFeatures
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesFeatureModelResults'
      summary: A collection of all features linked to a sales instruction
      tags:
      - SalesController
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/floorplans:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetSalesInstructionsFloorPlans
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhotoModelResults'
      summary: A collection of floor plans linked to an instruction
      tags:
      - SalesController
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/photos:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetSalesInstructionsPhotos
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PhotoModelResults'
      summary: A collection of photos linked to an instruction
      tags:
      - SalesController
  /v2/tier2/{shortName}/sales/salesinstructions/{salesInstructionID}/rooms:
    get:
      consumes: []
      deprecated: false
      operationId: SalesController_GetSalesInstructionsRooms
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the SalesInstruction
        in: path
        name: salesInstructionID
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PropertyRoomModelResults'
      summary: A collection of rooms linked to an instruction
      tags:
      - SalesController
  /v2/tier2/{shortName}/staff/staff:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The index of the first item to return
        format: int32
        in: query
        name: offset
        required: true
        type: integer
      - description: The maximum number of items to return (up to 1000 per request)
        format: int32
        in: query
        name: count
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationStaffModelResults'
      summary: A collection of all the staff members linked to a specific company
      tags:
      - StaffController
      operationId: v2.tier2.shortName.staff.staff.get
  /v2/tier2/{shortName}/staff/staff/{applicationStaffID}:
    get:
      consumes: []
      deprecated: false
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The unique ID of the ApplicationStaff
        in: path
        name: applicationStaffID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationStaffModel'
      summary: Get a specific application staff given its unique Object ID (OID)
      tags:
      - StaffController
      operationId: v2.tier2.shortName.staff.staff.applicationStaffID.get
  /v2/tier2/{shortName}/viewing/bookings:
    get:
      consumes: []
      deprecated: false
      operationId: ViewingController_GetBookings
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The preferred date for a viewing
        format: date-time
        in: query
        name: preferredDate
        required: true
        type: string
      - collectionFormat: multi
        description: An array of unique IDs of properties to view
        in: query
        items:
          type: string
        name: propertyIDsToView
        required: true
        type: array
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/ViewingBookingModel'
            type: array
      summary: Gets a list of available viewing slots for one or more properties
      tags:
      - ViewingController
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      deprecated: false
      operationId: ViewingController_MakeBooking
      parameters:
      - description: The unique client short-name
        in: path
        name: shortName
        required: true
        type: string
      - description: The forename of the prospect
        in: query
        name: forename
        required: true
        type: string
      - description: The surname of the prospect
        in: query
        name: surname
        required: true
        type: string
      - description: The mobile phone number of the prospect
        in: query
        name: mobilePhone
        required: true
        type: string
      - description: The email address of the prospect
        in: query
        name: emailAddress
        required: true
        type: string
      - collectionFormat: multi
        description: An array of unique IDs of properties to view
        in: query
        items:
          type: string
        name: propertyIDsToView
        required: true
        type: array
      - description: The prospect's selected viewing slot
        in: body
        name: selectedViewingSlot
        required: true
        schema:
          $ref: '#/definitions/ViewingBookingModel'
      - description: Whether the prospect wants a shared property
        in: query
        name: wantRoomInSharedProperty
        required: false
        type: boolean
      - description: The minimum rent amount the prospect is looking for
        format: double
        in: query
        name: alertMinRent
        required: false
        type: number
      - description: The maximum rent amount the prospect is looking for
        format: double
        in: query
        name: alertMaxRent
        required: false
        type: number
      - description: The minimum number of beds the prospect is looking for
        format: int32
        in: query
        name: alertNumberOfBeds
        required: false
        type: integer
      - description: The unique ID of the area the prospect is looking for
        in: query
        name: alertAreaID
        required: false
        type: string
      - description: The tenanct type the prospect is looking for
        enum:
        - Employed
        - SelfEmployed
        - Unemployed
        - Student
        - OwnMeans
        - Retired
        - Company
        - Council
        in: query
        name: alertTenantType
        required: false
        type: string
      - description: Whether to subscribe the prospect to email alerts
        in: query
        name: subscribeToEmailAlerts
        required: false
        type: boolean
      - description: Whether to subscribe the prospect to SMS alerts
        in: query
        name: subscribeToSMSAlerts
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: boolean
      summary: Book an appointment for a viewing slot returned from the GET verb
      tags:
      - ViewingController
produces:
- application/json
- text/json
- application/xml
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:21:\"ApplicationStaffModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Holds
  the information about a member of staff.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"ContactEMail\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  user's email contact.\";s:4:\"type\";s:6:\"string\";}s:13:\"ContactMobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  user's mobile contact.\";s:4:\"type\";s:6:\"string\";}s:11:\"DateOfBirth\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  user's date of birth.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:8:\"Forename\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  user's forename.\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  global reference to this user.\";s:4:\"type\";s:6:\"string\";}s:9:\"IsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Is
  this staff member enabled?\";s:4:\"type\";s:7:\"boolean\";}s:9:\"ManagedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  branch linked to this user\";s:4:\"type\";s:6:\"string\";}s:10:\"Middlename\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's middlename.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:7:\"Surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  user's surname.\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  user's title.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ApplicationStaffModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Holds
  results from a paged query returning ApplicationStaffModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApplicationStaffModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AreaModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Stores
  the information about a single property area.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  branch that manages this area.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  property area name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:11:\"ShowOnSites\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Show
  the area on sites?\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AreaModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Holds
  results from a paged query returning AreaModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AreaModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BranchModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Defines
  a single branch of a client.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Branch
  address line 1.\";s:4:\"type\";s:6:\"string\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Branch
  address line 2.\";s:4:\"type\";s:6:\"string\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Branch
  address line 3.\";s:4:\"type\";s:6:\"string\";}s:8:\"Address4\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Branch
  address line 4.\";s:4:\"type\";s:6:\"string\";}s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  relevant company name, if not the one specified on the branch then the one on company.\";s:4:\"type\";s:6:\"string\";}s:6:\"County\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:12:\"EMailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Branch
  email address.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:8:\"FaxPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Branch
  fax phone number.\";s:4:\"type\";s:6:\"string\";}s:9:\"LandPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Branch
  land phone number.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  branch name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:8:\"Postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Branch
  address postcode.\";s:4:\"type\";s:6:\"string\";}s:10:\"WebAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Branch
  web address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BranchModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Holds
  results from a paged query returning BranchModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BranchModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CompanyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  search code for the ApplicationCompany storage object.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"CompanyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Company
  name\";s:4:\"type\";s:6:\"string\";}s:19:\"CompanyRegistration\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Company
  registration number\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:20:\"MarketingCompanyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Company
  Marketing Name\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:9:\"ShortName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  unique identifier assigned to the client\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CountyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Stores
  the information about a single property County. A County can have a number of areas
  linked to it.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  property county name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CountyModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Holds
  results from a paged query returning CountyModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CountyModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DiaryAllocationModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Represents
  a single diary allocation, capable of holding a number\r\n            of appointments
  associated with a member of staff.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"AppointmentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  diary appointment type.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:3:\"End\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  end date/time of this allocation.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:5:\"Staff\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  staff member holding this allocation.\";s:4:\"type\";s:6:\"string\";}s:5:\"Start\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  start date/time of this allocation.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DiaryAllocationModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Holds
  results from a paged query returning DiaryAllocationModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DiaryAllocationModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DiaryAppointmentModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  a single diary appointment for a staff member.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"AppointmentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  diary appointment type.\";s:4:\"type\";s:6:\"string\";}s:9:\"Cancelled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  the appointment has been cancelled.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  appointment comments text.\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  date/time this appointment was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  staff member that created this appointment.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:3:\"End\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  end date/time of this appointment.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:8:\"RemindAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  date/time to remind the staff member of this appointment.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"RemindBefore\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  number of minutes before the appointment start date/time to remind the staff member.
  -1 means don't remind.\";s:4:\"enum\";a:17:{i:0;s:3:\"Min\";i:1;s:4:\"Min2\";i:2;s:4:\"Min5\";i:3;s:5:\"Min10\";i:4;s:5:\"Min15\";i:5;s:5:\"Min30\";i:6;s:5:\"Min45\";i:7;s:4:\"Hour\";i:8;s:5:\"Hour2\";i:9;s:5:\"Hour3\";i:10;s:5:\"Hour6\";i:11;s:6:\"Hour12\";i:12;s:3:\"Day\";i:13;s:4:\"Day2\";i:14;s:4:\"Day3\";i:15;s:4:\"Week\";i:16;s:10:\"NoReminder\";}s:4:\"type\";s:6:\"string\";}s:5:\"Staff\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  staff member holding this appointment.\";s:4:\"type\";s:6:\"string\";}s:5:\"Start\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  start date/time of this appointment.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  appointment subject text.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DiaryAppointmentModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Holds
  results from a paged query returning DiaryAppointmentModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DiaryAppointmentModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DiaryAppointmentTypeModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  a diary appointment type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  appointment type name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemType\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  appointment system type.\";s:4:\"enum\";a:7:{i:0;s:7:\"Viewing\";i:1;s:12:\"ViewAndValue\";i:2;s:17:\"OpeningInspection\";i:3;s:17:\"InterimInspection\";i:4;s:17:\"ClosingInspection\";i:5;s:14:\"SalesAppraisal\";i:6;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DiaryAppointmentTypeModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Holds
  results from a paged query returning DiaryAppointmentTypeModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DiaryAppointmentTypeModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"PhotoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Stores
  a photo related to a property structure.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:8:\"FileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  file name.\";s:4:\"type\";s:6:\"string\";}s:14:\"InspectionItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  inspection item the photo is assigned to (if applicable).\";s:4:\"type\";s:6:\"string\";}s:17:\"InterimInspection\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  inspection the photo is assigned to (if applicable).\";s:4:\"type\";s:6:\"string\";}s:13:\"InventoryItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  inventory item the photo is assigned to (if applicable).\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  photo name.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:11:\"PhotoNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  photo ordering number\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"PhotoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  photo type.\";s:4:\"enum\";a:5:{i:0;s:5:\"Photo\";i:1;s:3:\"Map\";i:2;s:9:\"FloorPlan\";i:3;s:7:\"SiteMap\";i:4;s:11:\"AerialPhoto\";}s:4:\"type\";s:6:\"string\";}s:8:\"Property\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  property the photo is assigned to.\";s:4:\"type\";s:6:\"string\";}s:4:\"Room\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  room the photo is assigned to. (If applicable)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PhotoModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Holds
  results from a paged query returning PhotoModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PhotoModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PropertyFacilityModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Stores
  the information about a single property facility.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Display
  Name\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"PropertyFacilityModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Holds
  results from a paged query returning PropertyFacilityModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PropertyFacilityModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PropertyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"Stores
  the 'Sales' type fields for property ownable as a stepping stone to a full on BO
  when we finally get the go ahead to write sales!!\";s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"Area\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  area the property is located in.\";s:4:\"type\";s:6:\"string\";}s:6:\"Branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  branch the block, property or room is assigned to\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  block, property or room description.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:11:\"FullAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  full address of a block, property or room, formatted with line breaks such that
  it may be used on a letter directly.\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  global reference to this block, property or room\";s:4:\"type\";s:6:\"string\";}s:9:\"MainPhoto\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  the main photo, if there is one.\";s:4:\"type\";s:6:\"string\";}s:14:\"ManagedByStaff\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  staff memeber that manages the block, property or room\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:14:\"PropertySource\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  block, property or room source type\";s:4:\"type\";s:6:\"string\";}s:12:\"PropertyType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  block or property type.\";s:4:\"enum\";a:26:{i:0;s:5:\"House\";i:1;s:13:\"FlatApartment\";i:2;s:8:\"Bungalow\";i:3;s:4:\"Land\";i:4;s:14:\"HouseFlatShare\";i:5;s:13:\"GarageParking\";i:6;s:18:\"CommercialProperty\";i:7;s:5:\"Block\";i:8;s:13:\"TerracedHouse\";i:9;s:15:\"EndTerraceHouse\";i:10;s:17:\"SemiDetachedHouse\";i:11;s:13:\"DetachedHouse\";i:12;s:20:\"SemiDetachedBungalow\";i:13;s:9:\"TownHouse\";i:14;s:7:\"Cottage\";i:15;s:17:\"ServicedApartment\";i:16;s:6:\"Studio\";i:17;s:9:\"Apartment\";i:18;s:4:\"Barn\";i:19;s:9:\"FarmHouse\";i:20;s:9:\"Penthouse\";i:21;s:12:\"BuildingPlot\";i:22;s:16:\"DetachedBungalow\";i:23;s:12:\"LinkDetached\";i:24;s:19:\"MidTerracedBungalow\";i:25;s:15:\"LandResidential\";}s:4:\"type\";s:6:\"string\";}s:8:\"RoomName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  room name (if applicable).\";s:4:\"type\";s:6:\"string\";}s:8:\"VideoURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"URL
  of the video linked to the property\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PropertyModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Holds
  results from a paged query returning PropertyModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PropertyModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PropertyRoomModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  single room (bedroom) property structure.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:4:\"Area\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  area the property is located in.\";s:4:\"type\";s:6:\"string\";}s:6:\"Branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  branch the block, property or room is assigned to\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  block, property or room description.\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:11:\"FullAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  full address of a block, property or room, formatted with line breaks such that
  it may be used on a letter directly.\";s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  global reference to this block, property or room\";s:4:\"type\";s:6:\"string\";}s:17:\"HeightCentimeters\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the CentiMeter part of the room Height.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"HeightMeters\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Gets
  the Meter part of the room Height.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"LengthCentimeters\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the CentiMeter part of the room Length.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"LengthMeters\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Gets
  the Meter part of the room Length.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"MainPhoto\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  the main photo, if there is one.\";s:4:\"type\";s:6:\"string\";}s:14:\"ManagedByStaff\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  staff memeber that manages the block, property or room\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:14:\"PropertySource\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  block, property or room source type\";s:4:\"type\";s:6:\"string\";}s:9:\"RoomFloor\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  and sets the room floor.\";s:4:\"enum\";a:9:{i:0;s:8:\"Basement\";i:1;s:6:\"Ground\";i:2;s:5:\"First\";i:3;s:6:\"Second\";i:4;s:5:\"Third\";i:5;s:6:\"Fourth\";i:6;s:5:\"Fifth\";i:7;s:9:\"SixthPlus\";i:8;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";}s:8:\"RoomName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  room name (if applicable).\";s:4:\"type\";s:6:\"string\";}s:16:\"WidthCentiMeters\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Gets
  the CentiMeter part of the room width.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"WidthMeters\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Gets
  the Meter part of the room width.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"PropertyRoomModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Holds
  results from a paged query returning PropertyRoomModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PropertyRoomModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SalesFeatureModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  feature comment\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  feature type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SalesFeatureModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Holds
  results from a paged query returning SalesFeatureModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SalesFeatureModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SalesFeatureTypeModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the feature type\";s:4:\"type\";s:6:\"string\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"SalesFeatureTypeModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Holds
  results from a paged query returning SalesFeatureTypeModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SalesFeatureTypeModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SalesInstructionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":49:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Address
  1 of the property to be sold\";s:4:\"type\";s:6:\"string\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Address
  2 of the property to be sold\";s:4:\"type\";s:6:\"string\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Address
  3 of the property to be sold\";s:4:\"type\";s:6:\"string\";}s:8:\"Address4\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Address
  4 of the property to be sold\";s:4:\"type\";s:6:\"string\";}s:13:\"AddressNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Address
  number of the property to be sold\";s:4:\"type\";s:6:\"string\";}s:4:\"Area\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  area linked to the instruction\";s:4:\"type\";s:6:\"string\";}s:9:\"Bathrooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Number
  of bathrooms linked to the instruction\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"BathroomsEnsuite\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"How
  many of the bathrooms are ensuite?\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Bedrooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Number
  of bedrooms linked to the instruction\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ContractType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  contract type\";s:4:\"enum\";a:6:{i:0;s:7:\"Pending\";i:1;s:10:\"SoleAgency\";i:2;s:17:\"SoleSellingRights\";i:3;s:15:\"JointSoleAgency\";i:4;s:11:\"MultiAgency\";i:5;s:8:\"SubAgent\";}s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Address
  country of the property to be sold\";s:4:\"enum\";a:200:{i:0;s:11:\"Afghanistan\";i:1;s:7:\"Albania\";i:2;s:7:\"Algeria\";i:3;s:7:\"Andorra\";i:4;s:6:\"Angola\";i:5;s:17:\"AntiguaAndBarbuda\";i:6;s:9:\"Argentina\";i:7;s:7:\"Armenia\";i:8;s:9:\"Australia\";i:9;s:7:\"Austria\";i:10;s:10:\"Azerbaijan\";i:11;s:7:\"Bahamas\";i:12;s:7:\"Bahrain\";i:13;s:10:\"Bangladesh\";i:14;s:8:\"Barbados\";i:15;s:7:\"Belarus\";i:16;s:7:\"Belgium\";i:17;s:6:\"Belize\";i:18;s:5:\"Benin\";i:19;s:6:\"Bhutan\";i:20;s:7:\"Bolivia\";i:21;s:20:\"BosniaAndHerzegovina\";i:22;s:8:\"Botswana\";i:23;s:6:\"Brazil\";i:24;s:6:\"Brunei\";i:25;s:8:\"Bulgaria\";i:26;s:11:\"BurkinaFaso\";i:27;s:7:\"Burundi\";i:28;s:8:\"Cambodia\";i:29;s:8:\"Cameroon\";i:30;s:6:\"Canada\";i:31;s:9:\"CapeVerde\";i:32;s:22:\"CentralAfricanRepublic\";i:33;s:4:\"Chad\";i:34;s:5:\"Chile\";i:35;s:5:\"China\";i:36;s:8:\"Colombia\";i:37;s:7:\"Comoros\";i:38;s:16:\"CongoBrazzaville\";i:39;s:28:\"CongoDemocraticRepublicOfThe\";i:40;s:9:\"CostaRica\";i:41;s:11:\"CoteDIvoire\";i:42;s:7:\"Croatia\";i:43;s:4:\"Cuba\";i:44;s:6:\"Cyprus\";i:45;s:13:\"CzechRepublic\";i:46;s:7:\"Denmark\";i:47;s:8:\"Djibouti\";i:48;s:8:\"Dominica\";i:49;s:17:\"DominicanRepublic\";i:50;s:19:\"EastTimorTimorTimur\";i:51;s:7:\"Ecuador\";i:52;s:5:\"Egypt\";i:53;s:10:\"ElSalvador\";i:54;s:16:\"EquatorialGuinea\";i:55;s:7:\"Eritrea\";i:56;s:7:\"Estonia\";i:57;s:8:\"Ethiopia\";i:58;s:4:\"Fiji\";i:59;s:7:\"Finland\";i:60;s:6:\"France\";i:61;s:5:\"Gabon\";i:62;s:9:\"GambiaThe\";i:63;s:7:\"Georgia\";i:64;s:7:\"Germany\";i:65;s:5:\"Ghana\";i:66;s:6:\"Greece\";i:67;s:7:\"Grenada\";i:68;s:9:\"Guatemala\";i:69;s:6:\"Guinea\";i:70;s:12:\"GuineaBissau\";i:71;s:6:\"Guyana\";i:72;s:5:\"Haiti\";i:73;s:8:\"Honduras\";i:74;s:7:\"Hungary\";i:75;s:7:\"Iceland\";i:76;s:5:\"India\";i:77;s:9:\"Indonesia\";i:78;s:4:\"Iran\";i:79;s:4:\"Iraq\";i:80;s:7:\"Ireland\";i:81;s:6:\"Israel\";i:82;s:5:\"Italy\";i:83;s:7:\"Jamaica\";i:84;s:5:\"Japan\";i:85;s:6:\"Jordan\";i:86;s:10:\"Kazakhstan\";i:87;s:5:\"Kenya\";i:88;s:8:\"Kiribati\";i:89;s:10:\"KoreaNorth\";i:90;s:10:\"KoreaSouth\";i:91;s:6:\"Kuwait\";i:92;s:10:\"Kyrgyzstan\";i:93;s:4:\"Laos\";i:94;s:6:\"Latvia\";i:95;s:7:\"Lebanon\";i:96;s:7:\"Lesotho\";i:97;s:7:\"Liberia\";i:98;s:5:\"Libya\";i:99;s:13:\"Liechtenstein\";i:100;s:9:\"Lithuania\";i:101;s:10:\"Luxembourg\";i:102;s:33:\"MacedoniaFormerYugoslavRepublicOf\";i:103;s:10:\"Madagascar\";i:104;s:6:\"Malawi\";i:105;s:8:\"Malaysia\";i:106;s:8:\"Maldives\";i:107;s:4:\"Mali\";i:108;s:5:\"Malta\";i:109;s:15:\"MarshallIslands\";i:110;s:10:\"Mauritania\";i:111;s:9:\"Mauritius\";i:112;s:6:\"Mexico\";i:113;s:27:\"MicronesiaFederatedStatesOf\";i:114;s:7:\"Moldova\";i:115;s:6:\"Monaco\";i:116;s:8:\"Mongolia\";i:117;s:7:\"Morocco\";i:118;s:10:\"Mozambique\";i:119;s:7:\"Myanmar\";i:120;s:7:\"Namibia\";i:121;s:5:\"Nauru\";i:122;s:5:\"Nepal\";i:123;s:11:\"Netherlands\";i:124;s:10:\"NewZealand\";i:125;s:9:\"Nicaragua\";i:126;s:5:\"Niger\";i:127;s:7:\"Nigeria\";i:128;s:6:\"Norway\";i:129;s:4:\"Oman\";i:130;s:8:\"Pakistan\";i:131;s:5:\"Palau\";i:132;s:6:\"Panama\";i:133;s:14:\"PapuaNewGuinea\";i:134;s:8:\"Paraguay\";i:135;s:4:\"Peru\";i:136;s:11:\"Philippines\";i:137;s:6:\"Poland\";i:138;s:8:\"Portugal\";i:139;s:5:\"Qatar\";i:140;s:7:\"Romania\";i:141;s:6:\"Russia\";i:142;s:6:\"Rwanda\";i:143;s:18:\"SaintKittsAndNevis\";i:144;s:10:\"SaintLucia\";i:145;s:28:\"SaintVincentAndTheGrenadines\";i:146;s:5:\"Samoa\";i:147;s:9:\"SanMarino\";i:148;s:18:\"SaoTomeAndPrincipe\";i:149;s:11:\"SaudiArabia\";i:150;s:7:\"Senegal\";i:151;s:19:\"SerbiaAndMontenegro\";i:152;s:10:\"Seychelles\";i:153;s:11:\"SierraLeone\";i:154;s:9:\"Singapore\";i:155;s:8:\"Slovakia\";i:156;s:8:\"Slovenia\";i:157;s:14:\"SolomonIslands\";i:158;s:7:\"Somalia\";i:159;s:11:\"SouthAfrica\";i:160;s:5:\"Spain\";i:161;s:8:\"SriLanka\";i:162;s:5:\"Sudan\";i:163;s:8:\"Suriname\";i:164;s:9:\"Swaziland\";i:165;s:6:\"Sweden\";i:166;s:11:\"Switzerland\";i:167;s:5:\"Syria\";i:168;s:6:\"Taiwan\";i:169;s:10:\"Tajikistan\";i:170;s:8:\"Tanzania\";i:171;s:8:\"Thailand\";i:172;s:4:\"Togo\";i:173;s:5:\"Tonga\";i:174;s:17:\"TrinidadAndTobago\";i:175;s:7:\"Tunisia\";i:176;s:6:\"Turkey\";i:177;s:12:\"Turkmenistan\";i:178;s:6:\"Tuvalu\";i:179;s:6:\"Uganda\";i:180;s:7:\"Ukraine\";i:181;s:18:\"UnitedArabEmirates\";i:182;s:13:\"UnitedKingdom\";i:183;s:12:\"UnitedStates\";i:184;s:7:\"Uruguay\";i:185;s:10:\"Uzbekistan\";i:186;s:7:\"Vanuatu\";i:187;s:11:\"VaticanCity\";i:188;s:9:\"Venezuela\";i:189;s:7:\"Vietnam\";i:190;s:13:\"WesternSahara\";i:191;s:5:\"Yemen\";i:192;s:6:\"Zambia\";i:193;s:8:\"Zimbabwe\";i:194;s:14:\"UnknownCountry\";i:195;s:8:\"HongKong\";i:196;s:6:\"Jersey\";i:197;s:14:\"ChannelIslands\";i:198;s:7:\"Bermuda\";i:199;s:24:\"BritishOverseasTerritory\";}s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  instruction description\";s:4:\"type\";s:6:\"string\";}s:14:\"DevelopmentOpp\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Is
  the instruction a development opportunity?\";s:4:\"type\";s:7:\"boolean\";}s:10:\"Directions\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Directions
  linked to the instruction\";s:4:\"type\";s:6:\"string\";}s:13:\"EPCCurrentEER\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Current
  EER value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"EPCCurrentEI\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Current
  EI value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"EPCPotentialEER\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Potential
  EER value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"EPCPotentialEI\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Potential
  EI value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:20:\"HasElectricitySupply\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Does
  the instruction have an electrical supply linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:12:\"HasGasSupply\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Does
  the instruction have an gas supply linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:13:\"HasWaterMeter\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Does
  the instruction have a water meter linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:13:\"InvestmentOpp\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Is
  the instruction a investment opportunity?\";s:4:\"type\";s:7:\"boolean\";}s:8:\"Kitchens\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Number
  of kitchens linked to the property instruction\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:19:\"OutsideSpaceBalcony\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Does
  the instruction have an outside balcony linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:26:\"OutsideSpaceCommunalGarden\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Does
  the instruction have a communal garden linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:24:\"OutsideSpaceConservatory\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Does
  the instruction have a conservatory linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:18:\"OutsideSpaceGarden\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Does
  the instruction have a garden linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:23:\"OutsideSpaceLargeGarden\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Does
  the instruction have a large garden linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:17:\"OutsideSpacePatio\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Does
  the instruction have a patio linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:23:\"OutsideSpaceRoofTerrace\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Does
  the instruction have a roof terrace linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:29:\"OutsideSpaceSouthFacingGarden\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Does
  the instruction have a south facing garden?\";s:4:\"type\";s:7:\"boolean\";}s:16:\"ParkingAllocated\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Is
  there any parking allocation linked to the instruction?\";s:4:\"type\";s:7:\"boolean\";}s:14:\"ParkingCarport\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Does
  the instruction have a carport linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:19:\"ParkingDoubleGarage\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Does
  the instruction have a double garage linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:13:\"ParkingGarage\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Does
  the instruction have a garage linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:14:\"ParkingOffRoad\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Is
  there off road parking linked to the instruction?\";s:4:\"type\";s:7:\"boolean\";}s:13:\"ParkingOnRoad\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Is
  there on road parking linked to the instruction?\";s:4:\"type\";s:7:\"boolean\";}s:13:\"ParkingPermit\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Is
  a parking permit required?\";s:4:\"type\";s:7:\"boolean\";}s:18:\"ParkingSecureGated\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Is
  there any secured gate parking linked to the instruction?\";s:4:\"type\";s:7:\"boolean\";}s:19:\"ParkingTripleGarage\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Does
  the instruction have a triple garage linked to it?\";s:4:\"type\";s:7:\"boolean\";}s:8:\"Postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Postcode
  of the property to be sold\";s:4:\"type\";s:6:\"string\";}s:5:\"Price\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  price of the property to be sold\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"PropertyOwnableType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  property type\";s:4:\"enum\";a:26:{i:0;s:5:\"House\";i:1;s:13:\"FlatApartment\";i:2;s:8:\"Bungalow\";i:3;s:4:\"Land\";i:4;s:14:\"HouseFlatShare\";i:5;s:13:\"GarageParking\";i:6;s:18:\"CommercialProperty\";i:7;s:5:\"Block\";i:8;s:13:\"TerracedHouse\";i:9;s:15:\"EndTerraceHouse\";i:10;s:17:\"SemiDetachedHouse\";i:11;s:13:\"DetachedHouse\";i:12;s:20:\"SemiDetachedBungalow\";i:13;s:9:\"TownHouse\";i:14;s:7:\"Cottage\";i:15;s:17:\"ServicedApartment\";i:16;s:6:\"Studio\";i:17;s:9:\"Apartment\";i:18;s:4:\"Barn\";i:19;s:9:\"FarmHouse\";i:20;s:9:\"Penthouse\";i:21;s:12:\"BuildingPlot\";i:22;s:16:\"DetachedBungalow\";i:23;s:12:\"LinkDetached\";i:24;s:19:\"MidTerracedBungalow\";i:25;s:15:\"LandResidential\";}s:4:\"type\";s:6:\"string\";}s:14:\"ReceptionRooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Number
  of reception rooms linked to the instruction\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"State\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  current instruction state\";s:4:\"enum\";a:9:{i:0;s:15:\"MarketAppraisal\";i:1;s:13:\"LostAppraisal\";i:2;s:10:\"Instructed\";i:3;s:10:\"Advertised\";i:4;s:10:\"UnderOffer\";i:5;s:18:\"ContractsExchanged\";i:6;s:9:\"Completed\";i:7;s:13:\"FallenThrough\";i:8;s:9:\"Withdrawn\";}s:4:\"type\";s:6:\"string\";}s:6:\"Tenure\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Instruction
  tenure\";s:4:\"enum\";a:7:{i:0;s:8:\"Freehold\";i:1;s:9:\"Leasehold\";i:2;s:10:\"Commonhold\";i:3;s:15:\"ShareOfFreehold\";i:4;s:14:\"FlyingFreehold\";i:5;s:13:\"ShareTransfer\";i:6;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";}s:8:\"VideoURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  URL of the video linked to the Sales Instruction\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"SalesInstructionModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Holds
  results from a paged query returning SalesInstructionModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SalesInstructionModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TenancyModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:397:\"Represents
  a single tenancy on a property structure. This class may\r\n            be considered
  to be the context of the tenancy strategy pattern. The\r\n            strategy is
  the tenancy service, that dictates the algorithm applied\r\n            to the tenancy.
  This class therefore holds the raw data of a tenancy,\r\n            and ignores
  any tenancy service (fully managed, let only) parameters.\";s:10:\"properties\";O:8:\"stdClass\":27:{s:13:\"AdvertiseFrom\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  date to advertise this tenancy from.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Area\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  area containing the instruction.\";s:4:\"type\";s:6:\"string\";}s:12:\"BondRequired\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  total bond required.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  branch the tenancy is assigned to..\";s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  unique identifier defining the object and change revision.\";s:4:\"type\";s:6:\"string\";}s:9:\"Furnished\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  property furnished type.\";s:4:\"enum\";a:3:{i:0;s:11:\"Unfurnished\";i:1;s:13:\"PartFurnished\";i:2;s:9:\"Furnished\";}s:4:\"type\";s:6:\"string\";}s:15:\"GlobalReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  global reference for a tenancy.\";s:4:\"type\";s:6:\"string\";}s:15:\"IsShareProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Is
  this property a shared property.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"IsStudentProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Is
  this property a student property.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"IsTenancyAdvertised\";O:8:\"stdClass\":2:{s:11:\"description\";s:221:\"Gets
  a value indicating whether this tenancy is being advertised. Note\r\n            that
  this will only return true while the tenancy has a valid advertise\r\n            date.
  It will not return true in the proposed phase.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"IsTenancyProposed\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Is
  the tenancy a proposed tenancy?\";s:4:\"type\";s:7:\"boolean\";}s:14:\"MaximumTenants\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  maximum number of tenants to advertise for.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"MinimumTenants\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  minimum number of tenants to advertise for.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique Object ID (OID).\";s:4:\"type\";s:6:\"string\";}s:14:\"RentAdvertised\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  advertised amount of rent for the property.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"RentRecurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  rent schedule recurrence\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"RentSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  tenancy rent schedule\";s:4:\"enum\";a:5:{i:0;s:4:\"Once\";i:1;s:5:\"Daily\";i:2;s:6:\"Weekly\";i:3;s:7:\"Monthly\";i:4;s:6:\"Yearly\";}s:4:\"type\";s:6:\"string\";}s:15:\"TenancyProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  property linked to this tenancy.\";s:4:\"type\";s:6:\"string\";}s:17:\"TenantSystemTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  specific tenant type list, or empty if for all types.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:8:\"Employed\";i:1;s:12:\"SelfEmployed\";i:2;s:10:\"Unemployed\";i:3;s:7:\"Student\";i:4;s:8:\"OwnMeans\";i:5;s:7:\"Retired\";i:6;s:7:\"Company\";i:7;s:7:\"Council\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"TermMaximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  instruction maximum term.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"TermMinimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  minimum term.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"TermStart\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  instruction start date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"UtilityCouncilTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Who's
  responsible for council tax bills.\";s:4:\"enum\";a:2:{i:0;s:6:\"Tenant\";i:1;s:8:\"Landlord\";}s:4:\"type\";s:6:\"string\";}s:18:\"UtilityElectricity\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Who's
  responsible for electricity bills.\";s:4:\"enum\";a:2:{i:0;s:6:\"Tenant\";i:1;s:8:\"Landlord\";}s:4:\"type\";s:6:\"string\";}s:10:\"UtilityGas\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Who's
  responsible for Gas bills.\";s:4:\"enum\";a:2:{i:0;s:6:\"Tenant\";i:1;s:8:\"Landlord\";}s:4:\"type\";s:6:\"string\";}s:16:\"UtilityTelephone\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Who's
  responsible for telephone bills.\";s:4:\"enum\";a:2:{i:0;s:6:\"Tenant\";i:1;s:8:\"Landlord\";}s:4:\"type\";s:6:\"string\";}s:12:\"UtilityWater\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Who's
  responsible for water bills.\";s:4:\"enum\";a:2:{i:0;s:6:\"Tenant\";i:1;s:8:\"Landlord\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"TenancyModelResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Holds
  results from a paged query returning TenancyModel values\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of results available for all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  resulting data returned from the paged query range\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TenancyModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ViewingBookingModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Represents
  a viewing booking slot\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"End\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  end time of the booking\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"StaffID\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  unique ID of the staff member this booking is with\";s:4:\"type\";s:6:\"string\";}s:9:\"StaffName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  name of the staff member this booking is with\";s:4:\"type\";s:6:\"string\";}s:5:\"Start\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  start time of the booking\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"Start\";i:1;s:3:\"End\";i:2;s:9:\"StaffName\";i:3;s:7:\"StaffID\";}s:4:\"type\";s:6:\"object\";}}"
...
