---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"RESTful API for
  Denner's open data\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:25:\"Denner Public
  Web Service\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DETAIL NET\";s:5:\"email\";s:38:\"support+denner-public-api@detailnet.ch\";}}"
host: denner-public-api-v1.detailnet.ch
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:6:\"UUIDv4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Unique
  identifier\";}s:6:\"Locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Locale\";}s:11:\"Translation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Translated
  text value\";}}}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Web
  URL address\";}s:5:\"Phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Formatted
  phone number\";}s:13:\"PublicCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Country
  code definition from ISO 3166\";s:7:\"pattern\";s:12:\"/^[A-Z]{2}$/\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}}s:11:\"description\";s:7:\"Country\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:97:\"Date;
  Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)\";}s:4:\"Year\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:4:\"Year\";}s:5:\"Price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:12:\"Price
  in CHF\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Quantity\";}s:15:\"ArticleValidity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Date\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Date\";}s:10:\"short_text\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:9:\"long_text\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}}s:11:\"description\";s:90:\"Article
  validity based on dates (from/to) and corresponding texts (short and long version)\";}s:23:\"AvailabilityLimitations\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:5:\"store\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}}s:11:\"description\";s:48:\"Texts
  for information about limited availability\";}s:19:\"PublicArticlePrices\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"sales\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:7:\"instead\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:4:\"base\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:11:\"by_quantity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PublicQuantityPrices\";}}}s:20:\"PublicQuantityPrices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PublicQuantityPrice\";}}s:19:\"PublicQuantityPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Quantity\";}s:5:\"sales\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:7:\"instead\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}}}s:14:\"PublicPackshot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:7:\"cdn_url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}}}s:17:\"PublicArticleWine\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PublicCountry\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/WineType\";}s:4:\"year\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Year\";}s:9:\"fits_with\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:8:\"varietal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:9:\"character\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:6:\"awards\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}}}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}}}s:8:\"WineType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Denner
  wine type code\";s:7:\"minimum\";d:0;}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}}}s:19:\"PublicOnlineArticle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:10:\"article_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Denner
  article code\";s:7:\"pattern\";s:9:\"/^\\d{6}$/\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:6:\"prices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PublicArticlePrices\";}s:10:\"price_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Quantity\";}s:8:\"validity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ArticleValidity\";}s:24:\"availability_limitations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AvailabilityLimitations\";}s:8:\"compared\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Is
  the article's price compared to an offer from an other company?\";}s:12:\"online_group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PublicAssignedOnlineGroup\";}s:8:\"packshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PublicPackshot\";}s:4:\"wine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PublicArticleWine\";}}}s:25:\"PublicAssignedOnlineGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"Denner
  online group code\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Translations\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PublicAssignedOnlineGroup\";}}}s:5:\"Store\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Navision
  store code\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Name\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Street\";}s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Street
  number\";}s:8:\"zip_code\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Zip
  code\";s:7:\"minimum\";d:1000;s:7:\"maximum\";d:9699;}s:11:\"canton_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Canton
  (state) code\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"City\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Country
  code definition from ISO 3166\";s:7:\"pattern\";s:12:\"/^[A-Z]{2}$/\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phone\";}s:7:\"hotline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Phone\";}s:13:\"payment_types\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Payment
  types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentType\";}}s:11:\"credit_card\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Credit
  card can be used for payments?\";}s:9:\"open_from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:10:\"Opening
  on\";}s:7:\"open_to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:10:\"Closing
  on\";}s:15:\"renovation_from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:22:\"Renovation
  starting on\";}s:13:\"renovation_to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:20:\"Renovation
  ending on\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:19:\"Geographic
  latitude\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:20:\"Geographic
  longitude\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Language
  spoken in the store\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Email
  address\";}s:8:\"homepage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}s:13:\"parking_count\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"Reserved
  parking places for customers\";s:7:\"minimum\";d:0;}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StoreChannel\";}s:13:\"opening_times\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Default
  opening times\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}}s:21:\"special_opening_times\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Special
  opening times\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SpecialOpeningTime\";}}s:8:\"services\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"Services
  provided by the store\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StoreService\";}}}}s:11:\"PaymentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Payment
  type\";}s:11:\"OpeningTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"weekday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DayOfWeek\";}s:9:\"open_from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Time\";}s:7:\"open_to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Time\";}}}s:18:\"SpecialOpeningTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Date\";}s:9:\"open_from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Time\";}s:7:\"open_to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Time\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Reason
  for the special opening as displayed to users (localized)\";}s:6:\"closed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Is
  the store closed on this day?\";}}}s:12:\"StoreChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Channel
  title\";}}}s:12:\"StoreService\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UUIDv4\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Service
  title\";}}}s:6:\"Stores\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Store\";}}s:12:\"Translations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Translation\";}}s:20:\"PublicOnlineArticles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PublicOnlineArticle\";}}s:28:\"PublicOnlineArticlesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"online_articles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PublicOnlineArticles\";}}}s:14:\"StoresResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"total_stores\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"The
  number of items on all pages\";}s:6:\"stores\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Stores\";}}}}"
...
