---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:14:\"Webpageanalyse\";s:11:\"description\";s:205:\"We
  offer several endpoints to analyze webpages. Use our API to find similar sites for
  a domain, detect if a domain contains adult content, detect the category of a domain
  or find the Pagerank for a domain.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"webpageanalyse\";s:3:\"url\";s:37:\"http://www.webpageanalyse.com/dev/api\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa5b4de4b051a76d241695_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:4:\"Data\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:56:\"https://market.mashape.com/webpageanalyse/webpageanalyse\";}}"
host: webpageanalyse-webpageanalyse.p.mashape.com
basePath: ""
paths:
  /adult:
    get:
      description: Detect if a domain has adult content or not
      operationId: adult-detection
      produces:
      - application/json
      parameters:
      - name: domain
        in: query
        description: domain to detect if it has adult content or not
        required: true
      - name: key
        in: query
        description: your api key
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /category:
    get:
      description: Categorize a webpage. It can find multiple categories for a webpage.
      operationId: category-detection
      produces:
      - application/json
      parameters:
      - name: domain
        in: query
        description: The domain to categorize
        required: true
      - name: key
        in: query
        description: your api key
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /pagerank:
    get:
      description: Find the Google Pagerank for any domain. Also provides historic
        values for the Pagerank.
      operationId: pagerank
      produces:
      - application/json
      parameters:
      - name: domain
        in: query
        description: The domain to get the page rank for
        required: true
      - name: key
        in: query
        description: your api key
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /simsites:
    get:
      description: Find similar sites for a given domain
      operationId: similar-sites
      produces:
      - application/json
      parameters:
      - name: domain
        in: query
        description: The domain to find similar sites for
        required: true
      - name: key
        in: query
        description: your api key
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":1:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"isAdult\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wpadomainpower\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"runtimeInMs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
