---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:110:\"Assess,
  monitor, manage, and remediate security issues across your AWS infrastructure, applications,
  and data.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"Amazon
  GuardDuty\";s:7:\"version\";s:10:\"2017-11-28\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/guardduty-2017-11-28.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:9:\"guardduty\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"amazonaws_guardduty\";s:4:\"type\";s:7:\"openapi\";}}"
host: guardduty.amazonaws.com
basePath: /
paths:
  /detector:
    get:
      description: Lists detectorIds of all the existing Amazon GuardDuty detector
        resources.
      operationId: ListDetectors
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDetectorsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDetectorsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a single Amazon GuardDuty detector. A detector is an object
        that represents the GuardDuty service. A detector must be created in order
        for GuardDuty to become operational.
      operationId: CreateDetector
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDetectorRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDetectorResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}:
    delete:
      description: Deletes a Amazon GuardDuty detector specified by the detector ID.
      operationId: DeleteDetector
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDetectorRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteDetectorResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Retrieves an Amazon GuardDuty detector specified by the detectorId.
      operationId: GetDetector
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDetectorRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDetectorResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates an Amazon GuardDuty detector specified by the detectorId.
      operationId: UpdateDetector
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateDetectorRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateDetectorResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/filter:
    get:
      description: Returns a paginated list of the current filters.
      operationId: ListFilters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListFiltersRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFiltersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a filter using the specified finding criteria.
      operationId: CreateFilter
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateFilterRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateFilterResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/filter/{filterName}:
    delete:
      description: Deletes the filter specified by the filter name.
      operationId: DeleteFilter
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteFilterRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: filterName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteFilterResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Returns the details of the filter specified by the filter name.
      operationId: GetFilter
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetFilterRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: filterName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetFilterResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the filter specified by the filter name.
      operationId: UpdateFilter
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFilterRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: filterName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFilterResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists Amazon GuardDuty findings for the specified detector ID.
      operationId: ListFindings
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListFindingsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFindingsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings/archive:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Archives Amazon GuardDuty findings specified by the list of finding
        IDs.
      operationId: ArchiveFindings
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ArchiveFindingsRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ArchiveFindingsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings/create:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Generates example findings of types specified by the list of finding
        types. If 'NULL' is specified for findingTypes, the API generates example
        findings of all supported finding types.
      operationId: CreateSampleFindings
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateSampleFindingsRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateSampleFindingsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings/feedback:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Marks specified Amazon GuardDuty findings as useful or not useful.
      operationId: UpdateFindingsFeedback
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFindingsFeedbackRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFindingsFeedbackResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings/get:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes Amazon GuardDuty findings specified by finding IDs.
      operationId: GetFindings
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetFindingsRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetFindingsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings/statistics:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists Amazon GuardDuty findings' statistics for the specified detector
        ID.
      operationId: GetFindingsStatistics
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetFindingsStatisticsRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetFindingsStatisticsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/findings/unarchive:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Unarchives Amazon GuardDuty findings specified by the list of finding
        IDs.
      operationId: UnarchiveFindings
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UnarchiveFindingsRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UnarchiveFindingsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/ipset:
    get:
      description: Lists the IPSets of the GuardDuty service specified by the detector
        ID.
      operationId: ListIPSets
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListIPSetsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListIPSetsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new IPSet - a list of trusted IP addresses that have
        been whitelisted for secure communication with AWS infrastructure and applications.
      operationId: CreateIPSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateIPSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateIPSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/ipset/{ipSetId}:
    delete:
      description: Deletes the IPSet specified by the IPSet ID.
      operationId: DeleteIPSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteIPSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: ipSetId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteIPSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Retrieves the IPSet specified by the IPSet ID.
      operationId: GetIPSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetIPSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: ipSetId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetIPSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the IPSet specified by the IPSet ID.
      operationId: UpdateIPSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateIPSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: ipSetId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateIPSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/master:
    get:
      description: Provides the details for the GuardDuty master account to the current
        GuardDuty member account.
      operationId: GetMasterAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetMasterAccountRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetMasterAccountResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Accepts the invitation to be monitored by a master GuardDuty account.
      operationId: AcceptInvitation
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AcceptInvitationRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AcceptInvitationResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/master/disassociate:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates the current GuardDuty member account from its master
        account.
      operationId: DisassociateFromMasterAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateFromMasterAccountRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateFromMasterAccountResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member:
    get:
      description: Lists details about all member accounts for the current GuardDuty
        master account.
      operationId: ListMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListMembersRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates member accounts of the current AWS account by specifying
        a list of AWS account IDs. The current AWS account can then invite these members
        to manage GuardDuty in their accounts.
      operationId: CreateMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member/delete:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes GuardDuty member accounts (to the current GuardDuty master
        account) specified by the account IDs.
      operationId: DeleteMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member/disassociate:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates GuardDuty member accounts (to the current GuardDuty
        master account) specified by the account IDs.
      operationId: DisassociateMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member/get:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves GuardDuty member accounts (to the current GuardDuty master
        account) specified by the account IDs.
      operationId: GetMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member/invite:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Invites other AWS accounts (created as members of the current AWS
        account by CreateMembers) to enable GuardDuty and allow the current AWS account
        to view and manage these accounts' GuardDuty findings on their behalf as the
        master account.
      operationId: InviteMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/InviteMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/InviteMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member/start:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Re-enables GuardDuty to monitor findings of the member accounts
        specified by the account IDs. A master GuardDuty account can run this command
        after disabling GuardDuty from monitoring these members' findings by running
        StopMonitoringMembers.
      operationId: StartMonitoringMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartMonitoringMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StartMonitoringMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/member/stop:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disables GuardDuty from monitoring findings of the member accounts
        specified by the account IDs. After running this command, a master GuardDuty
        account can run StartMonitoringMembers to re-enable GuardDuty to monitor these
        membersu2019 findings.
      operationId: StopMonitoringMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StopMonitoringMembersRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StopMonitoringMembersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/threatintelset:
    get:
      description: Lists the ThreatIntelSets of the GuardDuty service specified by
        the detector ID.
      operationId: ListThreatIntelSets
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListThreatIntelSetsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListThreatIntelSetsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create a new ThreatIntelSet. ThreatIntelSets consist of known malicious
        IP addresses. GuardDuty generates findings based on ThreatIntelSets.
      operationId: CreateThreatIntelSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateThreatIntelSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateThreatIntelSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /detector/{detectorId}/threatintelset/{threatIntelSetId}:
    delete:
      description: Deletes ThreatIntelSet specified by the ThreatIntelSet ID.
      operationId: DeleteThreatIntelSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteThreatIntelSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: threatIntelSetId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteThreatIntelSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Retrieves the ThreatIntelSet that is specified by the ThreatIntelSet
        ID.
      operationId: GetThreatIntelSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetThreatIntelSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: threatIntelSetId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetThreatIntelSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the ThreatIntelSet specified by ThreatIntelSet ID.
      operationId: UpdateThreatIntelSet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateThreatIntelSetRequest'
      - in: path
        name: detectorId
        required: true
        type: string
      - in: path
        name: threatIntelSetId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateThreatIntelSetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /invitation:
    get:
      description: Lists all GuardDuty membership invitations that were sent to the
        current AWS account.
      operationId: ListInvitations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListInvitationsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListInvitationsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /invitation/count:
    get:
      description: Returns the count of all GuardDuty membership invitations that
        were sent to the current member account except the currently accepted invitation.
      operationId: GetInvitationsCount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetInvitationsCountRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetInvitationsCountResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /invitation/decline:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Declines invitations sent to the current member account by AWS
        account specified by their account IDs.
      operationId: DeclineInvitations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeclineInvitationsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeclineInvitationsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /invitation/delete:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes invitations sent to the current member account by AWS accounts
        specified by their account IDs.
      operationId: DeleteInvitations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteInvitationsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteInvitationsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":191:{s:23:\"AcceptInvitationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"AcceptInvitation
  request body.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"InvitationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InvitationId\";s:11:\"description\";s:72:\"This
  value is used to validate the master account to the member account.\";}s:8:\"MasterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MasterId\";s:11:\"description\";s:81:\"The
  account ID of the master GuardDuty account whose invitation you're accepting.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AcceptInvitationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"AccessKeyDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  IAM access key details (IAM user information) of a user that engaged in the activity
  that prompted GuardDuty to generate a finding.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"Access
  key ID of the user.\";}s:11:\"PrincipalId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  principal ID of the user.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:21:\"The
  name of the user.\";}s:8:\"UserType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:21:\"The
  type of the user.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AccountDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"An
  object containing the member's accountId and email address.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:18:\"Member
  account ID.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:31:\"Member
  account's email address.\";}}s:8:\"required\";a:2:{i:0;s:5:\"Email\";i:1;s:9:\"AccountId\";}s:4:\"type\";s:6:\"object\";}s:14:\"AccountDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  list of account/email pairs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AccountDetail\";}s:4:\"type\";s:5:\"array\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"AWS
  account ID.\";s:4:\"type\";s:6:\"string\";}s:10:\"AccountIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of account IDs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:4:\"type\";s:5:\"array\";}s:6:\"Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Information
  about the activity described in a finding.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"ActionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:32:\"GuardDuty
  Finding activity type.\";}s:16:\"AwsApiCallAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AwsApiCallAction\";s:11:\"description\";s:68:\"Information
  about the AWS_API_CALL action described in this finding.\";}s:16:\"DnsRequestAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DnsRequestAction\";s:11:\"description\";s:67:\"Information
  about the DNS_REQUEST action described in this finding.\";}s:23:\"NetworkConnectionAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/NetworkConnectionAction\";s:11:\"description\";s:74:\"Information
  about the NETWORK_CONNECTION action described in this finding.\";}s:15:\"PortProbeAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PortProbeAction\";s:11:\"description\";s:66:\"Information
  about the PORT_PROBE action described in this finding.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Activate\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Whether
  we should start processing the list immediately or not.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"ArchiveFindingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"ArchiveFindings
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"FindingIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FindingIds\";s:11:\"description\";s:45:\"IDs
  of the findings that you want to archive.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ArchiveFindingsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"AwsApiCallAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Information
  about the AWS_API_CALL action described in this finding.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"Api\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:13:\"AWS
  API name.\";}s:10:\"CallerType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"AWS
  API caller type.\";}s:13:\"DomainDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DomainDetails\";s:11:\"description\";s:40:\"Domain
  information for the AWS API call.\";}s:15:\"RemoteIpDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RemoteIpDetails\";s:11:\"description\";s:40:\"Remote
  IP information of the connection.\";}s:11:\"ServiceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"AWS
  service name whose API was invoked.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Error
  response object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:15:\"The
  error type.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"City\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"City
  information of the remote IP address.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"CityName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:35:\"City
  name of the remote IP address.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Additional
  feedback about the GuardDuty findings.\";s:4:\"type\";s:6:\"string\";}s:9:\"Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Finding
  attribute (for example, accountId) for which conditions and values must be specified
  when querying findings.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Eq\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Eq\";s:11:\"description\";s:90:\"Represents
  the equal condition to be applied to a single field when querying for findings.\";}s:2:\"Gt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:97:\"Represents
  the greater than condition to be applied to a single field when querying for findings.\";}s:3:\"Gte\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:103:\"Represents
  the greater than equal condition to be applied to a single field when querying for
  findings.\";}s:2:\"Lt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:94:\"Represents
  the less than condition to be applied to a single field when querying for findings.\";}s:3:\"Lte\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:100:\"Represents
  the less than equal condition to be applied to a single field when querying for
  findings.\";}s:3:\"Neq\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Neq\";s:11:\"description\";s:94:\"Represents
  the not equal condition to be applied to a single field when querying for findings.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CountBySeverityFindingStatistic\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  count of findings for the given severity.\";s:4:\"type\";s:7:\"integer\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Country
  information of the remote IP address.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:38:\"Country
  code of the remote IP address.\";}s:11:\"CountryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:38:\"Country
  name of the remote IP address.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateDetectorRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"CreateDetector
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Enable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Enable\";s:11:\"description\";s:69:\"A
  boolean value that specifies whether the detector is to be enabled.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDetectorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DetectorId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DetectorId\";s:11:\"description\";s:38:\"The
  unique ID of the created detector.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateFilterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"CreateFilterRequest
  request body.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterAction\";s:11:\"description\";s:81:\"Specifies
  the action that is to be applied to the findings that match the filter.\";}s:11:\"ClientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__stringMin0Max64\";s:11:\"description\";s:45:\"The
  idempotency token for the create request.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FilterDescription\";s:11:\"description\";s:30:\"The
  description of the filter.\";}s:15:\"FindingCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FindingCriteria\";s:11:\"description\";s:71:\"Represents
  the criteria to be used in the filter for querying findings.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:23:\"The
  name of the filter.\";}s:4:\"Rank\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterRank\";s:11:\"description\";s:142:\"Specifies
  the position of the filter in the list of current filters. Also specifies the order
  in which this filter is applied to the findings.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateFilterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:44:\"The
  name of the successfully created filter.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateIPSetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"CreateIPSet
  request body.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Activate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Activate\";s:11:\"description\";s:86:\"A
  boolean value that indicates whether GuardDuty is to start using the uploaded IPSet.\";}s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpSetFormat\";s:11:\"description\";s:47:\"The
  format of the file that contains the IPSet.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:117:\"The
  URI of the file that contains the IPSet. For example (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key)\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:166:\"The
  user friendly name to identify the IPSet. This name is displayed in all findings
  that are triggered by activity that involves IP addresses included in this IPSet.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateIPSetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"IpSetId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/IpSetId\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateMembersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"CreateMembers
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"AccountDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AccountDetails\";s:11:\"description\";s:122:\"A
  list of account ID and email address pairs of the accounts that you want to associate
  with the master GuardDuty account.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateSampleFindingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"CreateSampleFindings
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"FindingTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FindingTypes\";s:11:\"description\";s:51:\"Types
  of sample findings that you want to generate.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateSampleFindingsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"CreateThreatIntelSetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"CreateThreatIntelSet
  request body.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Activate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Activate\";s:11:\"description\";s:95:\"A
  boolean value that indicates whether GuardDuty is to start using the uploaded ThreatIntelSet.\";}s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ThreatIntelSetFormat\";s:11:\"description\";s:56:\"The
  format of the file that contains the ThreatIntelSet.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:127:\"The
  URI of the file that contains the ThreatIntelSet. For example (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:150:\"A
  user-friendly ThreatIntelSet name that is displayed in all finding generated by
  activity that involves IP addresses included in this ThreatIntelSet.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateThreatIntelSetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ThreatIntelSetId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ThreatIntelSetId\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  first time a resource was created. The format will be ISO-8601.\";s:4:\"type\";s:6:\"string\";}s:25:\"DeclineInvitationsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"DeclineInvitations
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:136:\"A
  list of account IDs of the AWS accounts that sent invitations to the current member
  account that you want to decline invitations from.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeclineInvitationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteDetectorRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDetectorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteFilterRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteFilterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteIPSetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteIPSetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteInvitationsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"DeleteInvitations
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:135:\"A
  list of account IDs of the AWS accounts that sent invitations to the current member
  account that you want to delete invitations from.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteInvitationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteMembersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"DeleteMembers
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:79:\"A
  list of account IDs of the GuardDuty member accounts that you want to delete.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteThreatIntelSetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteThreatIntelSetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"DetectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  unique identifier for a detector.\";s:4:\"type\";s:6:\"string\";}s:11:\"DetectorIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  list of detector Ids.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DetectorId\";}s:4:\"type\";s:5:\"array\";}s:14:\"DetectorStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  status of detector.\";s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:36:\"DisassociateFromMasterAccountRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"DisassociateFromMasterAccountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DisassociateMembersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"DisassociateMembers
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:97:\"A
  list of account IDs of the GuardDuty member accounts that you want to disassociate
  from master.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DisassociateMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DnsRequestAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Information
  about the DNS_REQUEST action described in this finding.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";s:11:\"description\";s:39:\"Domain
  information for the DNS request.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  domain name.\";s:4:\"type\";s:6:\"string\";}s:13:\"DomainDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Domain
  information for the AWS API call.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Member
  account's email address.\";s:4:\"type\";s:6:\"string\";}s:6:\"Enable\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  boolean value that specifies whether the detector is to be enabled.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"Eq\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Represents
  the equal condition to be applied to a single field when querying for findings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:4:\"type\";s:5:\"array\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Error
  response object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:15:\"The
  error type.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Feedback\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Finding
  Feedback Value\";s:4:\"enum\";a:2:{i:0;s:6:\"USEFUL\";i:1;s:10:\"NOT_USEFUL\";}s:4:\"type\";s:6:\"string\";}s:12:\"FilterAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  action associated with a filter.\";s:4:\"enum\";a:2:{i:0;s:4:\"NOOP\";i:1;s:7:\"ARCHIVE\";}s:4:\"type\";s:6:\"string\";}s:17:\"FilterDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  filter description\";s:4:\"type\";s:6:\"string\";}s:10:\"FilterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  unique identifier for a filter\";s:4:\"type\";s:6:\"string\";}s:11:\"FilterNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of filter names\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";}s:4:\"type\";s:5:\"array\";}s:10:\"FilterRank\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Relative
  position of filter among list of exisiting filters.\";s:4:\"type\";s:7:\"integer\";}s:7:\"Finding\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Representation
  of a abnormal or suspicious activity.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:89:\"AWS
  account ID where the activity occurred that prompted GuardDuty to generate a finding.\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  ARN of a finding described by the action.\";}s:10:\"Confidence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:34:\"The
  confidence level of a finding.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CreatedAt\";s:11:\"description\";s:48:\"The
  time stamp at which a finding was generated.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  description of a finding.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:69:\"The
  identifier that corresponds to a finding described by the action.\";}s:9:\"Partition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  AWS resource partition.\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:89:\"The
  AWS region where the activity occurred that prompted GuardDuty to generate a finding.\";}s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";s:11:\"description\";s:92:\"The
  AWS resource associated with the activity that prompted GuardDuty to generate a
  finding.\";}s:13:\"SchemaVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"Findings'
  schema version.\";}s:7:\"Service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Service\";s:11:\"description\";s:70:\"Additional
  information assigned to the generated finding by GuardDuty.\";}s:8:\"Severity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:26:\"The
  severity of a finding.\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  title of a finding.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  type of a finding described by the action.\";}s:9:\"UpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UpdatedAt\";s:11:\"description\";s:51:\"The
  time stamp at which a finding was last updated.\";}}s:8:\"required\";a:10:{i:0;s:9:\"AccountId\";i:1;s:13:\"SchemaVersion\";i:2;s:9:\"CreatedAt\";i:3;s:8:\"Resource\";i:4;s:8:\"Severity\";i:5;s:9:\"UpdatedAt\";i:6;s:4:\"Type\";i:7;s:6:\"Region\";i:8;s:2:\"Id\";i:9;s:3:\"Arn\";}s:4:\"type\";s:6:\"object\";}s:15:\"FindingCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  the criteria used for querying findings.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Criterion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__mapOfCondition\";s:11:\"description\";s:105:\"Represents
  a map of finding properties that match specified conditions and values when querying
  findings.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"FindingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  unique identifier for the Finding\";s:4:\"type\";s:6:\"string\";}s:10:\"FindingIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of the Findings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FindingId\";}s:4:\"type\";s:5:\"array\";}s:20:\"FindingStatisticType\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  types of finding statistics.\";s:4:\"enum\";a:1:{i:0;s:17:\"COUNT_BY_SEVERITY\";}s:4:\"type\";s:6:\"string\";}s:21:\"FindingStatisticTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  list of the finding statistics.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FindingStatisticType\";}s:4:\"type\";s:5:\"array\";}s:17:\"FindingStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Finding
  statistics object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"CountBySeverity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/__mapOfCountBySeverityFindingStatistic\";s:11:\"description\";s:69:\"Represents
  a map of severity to count statistic for a set of findings\";}}s:4:\"type\";s:6:\"object\";}s:11:\"FindingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  finding type for the finding\";s:4:\"type\";s:6:\"string\";}s:12:\"FindingTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  list of the finding types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FindingType\";}s:4:\"type\";s:5:\"array\";}s:8:\"Findings\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  list of findings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Finding\";}s:4:\"type\";s:5:\"array\";}s:11:\"GeoLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Location
  information of the remote IP address.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Lat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:42:\"Latitude
  information of remote IP address.\";}s:3:\"Lon\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:43:\"Longitude
  information of remote IP address.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetDetectorRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetDetectorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CreatedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CreatedAt\";}s:11:\"ServiceRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ServiceRole\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DetectorStatus\";}s:9:\"UpdatedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UpdatedAt\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetFilterRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetFilterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterAction\";s:11:\"description\";s:81:\"Specifies
  the action that is to be applied to the findings that match the filter.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FilterDescription\";s:11:\"description\";s:30:\"The
  description of the filter.\";}s:15:\"FindingCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FindingCriteria\";s:11:\"description\";s:71:\"Represents
  the criteria to be used in the filter for querying findings.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:23:\"The
  name of the filter.\";}s:4:\"Rank\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterRank\";s:11:\"description\";s:142:\"Specifies
  the position of the filter in the list of current filters. Also specifies the order
  in which this filter is applied to the findings.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetFindingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"GetFindings
  request body.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"FindingIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FindingIds\";s:11:\"description\";s:46:\"IDs
  of the findings that you want to retrieve.\";}s:12:\"SortCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SortCriteria\";s:11:\"description\";s:50:\"Represents
  the criteria used for sorting findings.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetFindingsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Findings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Findings\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetFindingsStatisticsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"GetFindingsStatistics
  request body.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"FindingCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FindingCriteria\";s:11:\"description\";s:51:\"Represents
  the criteria used for querying findings.\";}s:21:\"FindingStatisticTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/FindingStatisticTypes\";s:11:\"description\";s:40:\"Types
  of finding statistics to retrieve.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GetFindingsStatisticsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"FindingStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FindingStatistics\";s:11:\"description\";s:26:\"Finding
  statistics object.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetIPSetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GetIPSetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpSetFormat\";s:11:\"description\";s:47:\"The
  format of the file that contains the IPSet.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:117:\"The
  URI of the file that contains the IPSet. For example (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key)\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:166:\"The
  user friendly name to identify the IPSet. This name is displayed in all findings
  that are triggered by activity that involves IP addresses included in this IPSet.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpSetStatus\";s:11:\"description\";s:34:\"The
  status of ipSet file uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetInvitationsCountRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetInvitationsCountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"InvitationsCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:35:\"The
  number of received invitations.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetMasterAccountRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetMasterAccountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Master\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Master\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetMembersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"GetMembers
  request body.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:81:\"A
  list of account IDs of the GuardDuty member accounts that you want to describe.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Members\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Members\";}s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetThreatIntelSetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetThreatIntelSetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ThreatIntelSetFormat\";s:11:\"description\";s:33:\"The
  format of the threatIntelSet.\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:127:\"The
  URI of the file that contains the ThreatIntelSet. For example (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:150:\"A
  user-friendly ThreatIntelSet name that is displayed in all finding generated by
  activity that involves IP addresses included in this ThreatIntelSet.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ThreatIntelSetStatus\";s:11:\"description\";s:43:\"The
  status of threatIntelSet file uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"IamInstanceProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  profile information of the EC2 instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"AWS
  EC2 instance profile ARN.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:28:\"AWS
  EC2 instance profile ID.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"InstanceDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  information about the EC2 instance associated with the activity that prompted GuardDuty
  to generate a finding.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:42:\"The
  availability zone of the EC2 instance.\";}s:18:\"IamInstanceProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IamInstanceProfile\";}s:16:\"ImageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:42:\"The
  image description of the EC2 instance.\";}s:7:\"ImageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:33:\"The
  image ID of the EC2 instance.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  ID of the EC2 instance.\";}s:13:\"InstanceState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:30:\"The
  state of the EC2 instance.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  type of the EC2 instance.\";}s:10:\"LaunchTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:36:\"The
  launch time of the EC2 instance.\";}s:17:\"NetworkInterfaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NetworkInterfaces\";s:11:\"description\";s:54:\"The
  network interface information of the EC2 instance.\";}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:33:\"The
  platform of the EC2 instance.\";}s:12:\"ProductCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProductCodes\";s:11:\"description\";s:37:\"The
  product code of the EC2 instance.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:29:\"The
  tags of the EC2 instance.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Error
  response object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:15:\"The
  error type.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Invitation\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Invitation
  from an AWS account to become the current account's master.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"Inviter
  account ID\";}s:12:\"InvitationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InvitationId\";s:11:\"description\";s:73:\"This
  value is used to validate the inviter account to the member account.\";}s:9:\"InvitedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/InvitedAt\";s:11:\"description\";s:42:\"Timestamp
  at which the invitation was sent\";}s:18:\"RelationshipStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  status of the relationship between the inviter and invitee accounts.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"InvitationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"This
  value is used to validate the master account to the member account.\";s:4:\"type\";s:6:\"string\";}s:11:\"Invitations\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  list of invitation descriptions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Invitation\";}s:4:\"type\";s:5:\"array\";}s:20:\"InviteMembersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"InviteMembers
  request body.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"AccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountIds\";s:11:\"description\";s:86:\"A
  list of account IDs of the accounts that you want to invite to GuardDuty as members.\";}s:24:\"DisableEmailNotification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:141:\"A
  boolean value that specifies whether you want to disable email notification to the
  accounts that you\u2019re inviting to GuardDuty as members.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:108:\"The
  invitation message that you want to send to the accounts that you\u2019re inviting
  to GuardDuty as members.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InviteMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"UnprocessedAccounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UnprocessedAccounts\";s:11:\"description\";s:107:\"A
  list of objects containing the unprocessed account and a result string explaining
  why it was unprocessed.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"InvitedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Timestamp
  at which a member has been invited. The format will be ISO-8601.\";s:4:\"type\";s:6:\"string\";}s:11:\"IpSetFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  format of the ipSet.\";s:4:\"enum\";a:6:{i:0;s:3:\"TXT\";i:1;s:4:\"STIX\";i:2;s:7:\"OTX_CSV\";i:3;s:11:\"ALIEN_VAULT\";i:4;s:11:\"PROOF_POINT\";i:5;s:8:\"FIRE_EYE\";}s:4:\"type\";s:6:\"string\";}s:7:\"IpSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  unique identifier for an IP Set\";s:4:\"type\";s:6:\"string\";}s:8:\"IpSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of the IP set IDs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/IpSetId\";}s:4:\"type\";s:5:\"array\";}s:11:\"IpSetStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  status of ipSet file uploaded.\";s:4:\"enum\";a:7:{i:0;s:8:\"INACTIVE\";i:1;s:10:\"ACTIVATING\";i:2;s:6:\"ACTIVE\";i:3;s:12:\"DEACTIVATING\";i:4;s:5:\"ERROR\";i:5;s:14:\"DELETE_PENDING\";i:6;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:11:\"Ipv6Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"IpV6
  address of the EC2 instance.\";s:4:\"type\";s:6:\"string\";}s:13:\"Ipv6Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of EC2 instance IPv6 address information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Ipv6Address\";}s:4:\"type\";s:5:\"array\";}s:20:\"ListDetectorsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"ListDetectorsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DetectorIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DetectorIds\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListFiltersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ListFiltersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"FilterNames\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FilterNames\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListFindingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"ListFindings
  request body.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"FindingCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FindingCriteria\";s:11:\"description\";s:51:\"Represents
  the criteria used for querying findings.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:142:\"You
  can use this parameter to indicate the maximum number of items you want in the response.
  The default value is 50. The maximum value is 50.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:284:\"You
  can use this parameter when paginating results. Set the value of this parameter
  to null on your first call to the ListFindings action. For subsequent calls to the
  action fill nextToken in the request with the value of nextToken from the previous
  response to continue listing data.\";}s:12:\"SortCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SortCriteria\";s:11:\"description\";s:50:\"Represents
  the criteria used for sorting findings.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListFindingsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"FindingIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FindingIds\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListIPSetsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ListIPSetsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"IpSetIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/IpSetIds\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListInvitationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"ListInvitationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Invitations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Invitations\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListMembersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ListMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Members\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Members\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListThreatIntelSetsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ListThreatIntelSetsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:17:\"ThreatIntelSetIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ThreatIntelSetIds\";}}s:4:\"type\";s:6:\"object\";}s:16:\"LocalPortDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Local
  port information of the connection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:36:\"Port
  number of the local connection.\";}s:8:\"PortName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:34:\"Port
  name of the local connection.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  location of the S3 bucket where the list resides. For example (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key)\";s:4:\"type\";s:6:\"string\";}s:6:\"Master\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Contains
  details about the master account.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:17:\"Master
  account ID\";}s:12:\"InvitationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InvitationId\";s:11:\"description\";s:72:\"This
  value is used to validate the master account to the member account.\";}s:9:\"InvitedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/InvitedAt\";s:11:\"description\";s:42:\"Timestamp
  at which the invitation was sent\";}s:18:\"RelationshipStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:70:\"The
  status of the relationship between the master and member accounts.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"MasterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  master account ID.\";s:4:\"type\";s:6:\"string\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:50;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:6:\"Member\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Contains
  details about the member account.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"AccountId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";}s:10:\"DetectorId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DetectorId\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:31:\"Member
  account's email address.\";}s:9:\"InvitedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/InvitedAt\";s:11:\"description\";s:42:\"Timestamp
  at which the invitation was sent\";}s:8:\"MasterId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MasterId\";}s:18:\"RelationshipStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:65:\"The
  status of the relationship between the member and the master.\";}s:9:\"UpdatedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UpdatedAt\";}}s:8:\"required\";a:5:{i:0;s:5:\"Email\";i:1;s:9:\"AccountId\";i:2;s:8:\"MasterId\";i:3;s:9:\"UpdatedAt\";i:4;s:18:\"RelationshipStatus\";}s:4:\"type\";s:6:\"object\";}s:7:\"Members\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  list of member descriptions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}s:4:\"type\";s:5:\"array\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  invitation message that you want to send to the accounts that you\u2019re inviting
  to GuardDuty as members.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  user-friendly name to identify the list.\";s:4:\"type\";s:6:\"string\";}s:3:\"Neq\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Represents
[...]
